
<main id="content" role="main" class="main">


  <!-- Content --><div class="card  mb-3 mb-lg-5">
  <!-- Body -->
  <div class="card-body shadow-none">
    <div class="d-flex align-items-md-center">
      <div class="flex-shrink-0">

        <img alt="" class="img-fluid" src="gif/lod4.gif" style="width: 100%; height:80px">
      </div>

      <div class="flex-grow-1 ms-3">
        <div class="row mx-md-n3">
          <div class="col-md px-md-4">
            <span class="d-block">Total projects</span>
            <span class="badge bg-soft-danger text-danger rounded-pill p-1">
                    <i class="bi-graph-down"></i> -2 late in due
                  </span>
          </div>
          <!-- End Col -->

          <div class="col-md-9 col-lg-10 column-md-divider px-md-4">
            <div class="row justify-content-start mb-2">
              <div class="col-auto">
                <span class="legend-indicator bg-primary"></span>
               Used
              </div>
              <!-- End Col -->

              <div class="col-auto">
                <span class="legend-indicator bg-danger"></span>
             Available
              </div>
              <!-- End Col -->


            </div>
            <!-- End Row -->

            <!-- Progress -->
            <div class="progress rounded-pill">
              <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar bg-danger" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <!-- End Progress -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
    </div>
  </div>

</div>
  <div class="content container-fluid">

    <!-- Stats -->
    <div class="row ">
      <div class="col-6 col-lg-4">
        <!-- Card -->
        <div class="text-center">
          <img class="avatar avatar-xl avatar-4x3 mb-4" src="gif/icon-40.svg"
               alt="Image Description" data-hs-theme-appearance="default" style="min-height: 6rem;">
          <span class="text-cap text-body">Records</span>
          <span class="d-block display-6 text-dark mb-2 text-center">50%</span>

          <div class="row col-divider">
            <div class="col text-end">
                <span class="d-block fw-semibold text-success">
                  <i class="bi-graph-up"></i> 12%
                </span>
              <span class="d-block">Used</span>
            </div>
            <!-- End Col -->

            <div class="col text-start">
              <span class="d-block fw-semibold text-dark">25</span>
              <span class="d-block">Available</span>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Card -->
      </div>

      <div class="col-6 col-lg-4">
        <!-- Card -->
        <div class="text-center">
          <img class="avatar avatar-xl avatar-4x3 mb-4" src="gif/icon-6.svg"
               alt="Image Description" data-hs-theme-appearance="default" style="min-height: 6rem;">
        <span class="text-cap text-body">Cloud</span>
          <span class="d-block display-6 text-dark mb-2 text-center">20%</span>

          <div class="row col-divider">
            <div class="col text-end">
                <span class="d-block fw-semibold text-success">
                  <i class="bi-graph-up"></i> 5.6%
                </span>
              <span class="d-block">Used</span>
            </div>
            <!-- End Col -->

            <div class="col text-start">
              <span class="d-block fw-semibold text-dark">$582.00</span>
              <span class="d-block">Available</span>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Card -->
      </div>

      <div class="col-6 col-lg-4">
        <!-- Card -->
        <div class="text-center">
          <img class="avatar avatar-xl avatar-4x3 mb-4" src="gif/system.svg"
               alt="Image Description" data-hs-theme-appearance="default" style="min-height: 6rem;">
          <span class="text-cap text-body">System</span>
          <span class="d-block display-6 text-dark mb-2 text-center">20%</span>

          <div class="row col-divider">
            <div class="col text-end">
                <span class="d-block fw-semibold text-success">
                  <i class="bi-graph-up"></i> 5.6%
                </span>
              <span class="d-block">Used</span>
            </div>
            <!-- End Col -->

            <div class="col text-start">
              <span class="d-block fw-semibold text-dark">$582.00</span>
              <span class="d-block">Available</span>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Card -->
      </div>
    </div>
    <!-- End Stats -->


    <!-- End Card -->
  </div>

</main>
