<main id="content" role="main" class="main">

  <app-header></app-header> <div class="p-md-5 ">
  <div class="w-lg-75 mx-auto  ">
<app-overview></app-overview>

    <app-others class="mb-5"></app-others>

    <ng-template #noData>
      <div class="text-center mt-3">
        <p>No data available.</p>
      </div>
    </ng-template>
 <ng-template #noData>
      <div class="text-center mt-3">
        <p>No data available.</p>
      </div>
    </ng-template>



<div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="p-1 border-bottom">
          <h5 class="card-header-title">Social accounts</h5>
        </div>

        <!-- Body -->
        <div class=" mt-4">
          <!-- Form -->
          <form>
            <!-- List Group -->
            <div class="list-group list-group-flush list-group-no-gutters">
              <div class="" *ngFor="let stat of statistics">
                <!-- Exclude Average Income and Average Expenses from being displayed -->
                <div class="mb-4" *ngIf="stat.title !== 'Average Income' && stat.title !== 'Average Expenses'">
                  <div class="row">
                    <div class="col-7">
                      <div class="">
                        <div class="row align-items-center">
                          <div class="col-12 mb-sm-0">
                            <div class="row">
                              <div class="col-2">
                                <i [class]="'bi ' + getIconForStat(stat) + ' list-group-icon'" style="width: 30px;"></i>
                              </div>
                              <div class="col-auto">
                                <h6 class="mb-1">{{ stat.title }}</h6>
                              </div>
                            </div>

                            <div class="progress rounded-pill">
                              <div class="progress-bar" role="progressbar" [style.width.%]="stat.value * 100"
                                   [attr.aria-valuenow]="stat.value * 100" aria-valuemin="0" aria-valuemax="100"
                                   [attr.data-bs-original-title]="stat.displayValue" data-bs-toggle="tooltip"
                                   data-bs-placement="top">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <a class="btn btn-white btn-xs w-100 mt-3"
                         onmouseover="this.style.backgroundColor='red'; this.style.color='white';"
                         onmouseout="this.style.backgroundColor=''; this.style.color='';">
                        {{ stat.displayValue }}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Item -->
            </div>
          </form>
          <!-- End Form -->
        </div>
        <div class=" ">
          <!-- Form -->
          <form>
            <!-- List Group -->
            <div class="list-group list-group-flush list-group-no-gutters">
              <div class="" *ngFor="let stat of statistics">
                <!-- Only display stats that are not the ones to be removed, but bring back 'Average Income' -->
                <div class="mb-4" *ngIf="stat.title !== 'Profit Margin' &&
                    stat.title !== 'Savings (Surplus/Deficit)' &&
                    stat.title !== 'Expense-to-Income Ratio' &&
                    stat.title !== 'Debt-to-Income Ratio'">
                  <div class="row">
                    <div class="col-7">
                      <div class="">
                        <div class="row align-items-center">
                          <div class="col-12 mb-sm-0">
                            <div class="row">
                              <div class="col-2">
                                <i [class]="'bi ' + getIconForStat(stat) + ' list-group-icon'" style="width: 30px;"></i>
                              </div>
                              <div class="col-auto">
                                <h6 class="mb-1">{{ stat.title }}</h6>
                              </div>
                            </div>

                            <!-- Only show progress bar if 'progress' exists -->
                            <div *ngIf="stat.progress !== undefined">
                              <div class="progress rounded-pill">
                                <div class="progress-bar" role="progressbar" [style.width.%]="stat.progress"
                                     [attr.aria-valuenow]="stat.progress" aria-valuemin="0" aria-valuemax="100"
                                     [attr.data-bs-original-title]="stat.displayValue" data-bs-toggle="tooltip"
                                     data-bs-placement="top">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <a class="btn btn-white btn-xs w-100 mt-3"
                         onmouseover="this.style.backgroundColor='red'; this.style.color='white';"
                         onmouseout="this.style.backgroundColor=''; this.style.color='';">
                        {{ stat.displayValue }}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Item -->
            </div>
          </form>
          <!-- End Form -->
        </div>


        <!-- End Body -->
      </div>
    </div>
  <div class="col-md-6 mb-3 mb-lg-0">
    <app-expense-totalncome-ratio></app-expense-totalncome-ratio>

  </div>
</div>
    <app-latest-transaction></app-latest-transaction>
  </div>



 </div>
</main>





