<!-- Loading Spinner Section
<div *ngIf="isLoading" class="text-center">
  <app-loading></app-loading>
</div>

&lt;!&ndash; Main Content Section &ndash;&gt;
<div *ngIf="!isLoading">-->
  <div class="container">
    <!-- Form and Table Contents here -->
    <form>
      <div class="input-card input-card-sm">
        <label for="jobTitleForm" class="form-label visually-hidden">Job, title, skills, or company</label>
        <div class="input-group input-group-merge">
          <span class="input-group-prepend input-group-text">
            <i class="bi-search"></i>
          </span>
          <input type="text" class="form-control" id="jobTitleForm" placeholder="PaidBy"
                 (input)="updateSearch('payee', $event)">
        </div>
      </div>

      <div class="table-responsive mb-4">
        <table class="table table-bordered table-hover text-center">
          <thead class="thead-light">
          <tr>
            <th style="min-width: 150px;">Date</th>
            <th style="min-width: 180px;">Payee</th>
            <th style="min-width: 150px;">Amount</th>
            <th style="min-width: 120px;">Payment Method</th>
            <th style="min-width: 180px;">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let account of filteredAccounts$ | async">
            <td>{{ getFormattedDate(account.date) }}</td>
            <td>{{ account.payee }}</td>
            <td>{{ account.amount || 0 | currency:'₦' }}</td>
            <td><span class="badge bg-warning">Pending</span></td>
            <td>
              <div class="row">
                <div class="col-6 d-flex justify-content-start">
                  <button type="button" class="btn btn-sm btn-outline-primary" (click)="openModal(account)">
                    <i class="bi-pencil-fill"></i> View
                  </button>
                </div>
                <div class="col-6 d-flex justify-content-start">
                  <i class="bi-trash" style="font-size: 30px; cursor: pointer; color:red" (click)="openDeletePopup(account)"></i>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
<!--
</div>
-->
