<div class="gradient-x-three-sm-primary" style="background-color: black">
  <div class="container content-space-1">
    <h1 class="mb-1 mt-1 text-white" >AimsTech<span style="color: red"> Datastore</span></h1>
  </div>
</div>
    <div id="cardFullScreenEg" class="card shadow-none overflow-hidden mb-3 mb-lg-5">

  <hr class="my-0">
  <!-- Body -->
  <div class="card-body shadow-none">
    <div class="row no-gutters">
      <div class="col-lg-4">
        <div class="row">
          <div *ngFor="let item of databaseMenu; trackBy: trackByName" class="col-3 col-md-4 mb-3">
            <div class="card mx-auto cardEdit" (click)="showComponent(item.component)" style="cursor: pointer;">
              <img [src]="item.image" class="imgMenu" alt="">
              <h6 class="text-center">{{ item.name }}</h6>
            </div>
          </div>
        </div>
      </div>
      <!-- End Col -->

      <div class="col-lg-8">





        <div class="">

           <app-logs *ngIf="activeComponent === 'logs'"></app-logs>
          <app-users *ngIf="activeComponent === 'users'"></app-users>
          <app-notifications *ngIf="activeComponent === 'notifications'"></app-notifications>
          <app-storage *ngIf="activeComponent === 'storage'"></app-storage>
          <app-firebase *ngIf="activeComponent === 'firebase'"></app-firebase>


        </div>








      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Body -->
</div>
<!-- End Card -->








