<div class="content container-fluid">

<main id="content1" role="main" class="bg-light">
  <!-- Breadcrumb -->

  <div class="navbar-dark bg-black" style="background-image: url(./assets/svg/components/wave-pattern-light.svg);">
    <div class="container content-space-1 content-space-b-lg-2">
      <div class="row align-items-center">
        <div class="col">
          <div class="d-none d-lg-block">
            <h1 class="h2 text-white">Cashbook Records</h1>
          </div>


          <!-- End Breadcrumb -->
        </div>
        <!-- End Col -->

        <div class="col-auto">
          <div class="d-none d-lg-block">
            <a class="btn btn-danger" routerLink="/menu">Close</a>
          </div>

          <!-- Responsive Toggle Button -->
          <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarNav"
                  aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-default">
                <i class="bi-list"></i>
              </span>
            <span class="navbar-toggler-toggled">
                <i class="bi-x"></i>
              </span>
          </button>
          <!-- End Responsive Toggle Button -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
  </div>
  <!-- End Breadcrumb -->

  <!-- Content -->
  <div class="container  content-space-t-lg-0 content-space-b-lg-2 mt-lg-n10">
    <div class="row">


      <div class="col-lg-12">
        <div class="d-grid gap-3 gap-lg-5">
          <!-- Card -->
          <div class="card">
            <div class="container content-space-1 content-space-lg-3">
              <!-- Heading -->
              <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
                <h2>3 comments</h2>
              </div>
              <!-- End Heading -->

              <div class="row justify-content-lg-center">
                <div class="col-lg-8">

                  <div class="row">
                    @for(items of siteMap;track items.name){
                      <div class="col-4 col-md-3">
                        <img [src]="items.logo">
                        <h6 class="text-center">{{items.name | truncateText:10}}</h6>
                      </div>
                    }
                  </div>






                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->
            </div>
            <div class="mt-3 mb-0" style="margin: 10px">

              <!-- End Row -->


              <!-- End Progress -->


            </div>

          </div>
          <!-- End Body -->

          <!-- Footer -->

          <!-- End Footer -->
        </div>
        <!-- End Card -->


      </div>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->

  <!-- End Content -->
</main>



</div>
