
<main id="content1" role="main" >
  <!-- Breadcrumb -->
  <div class="navbar-dark bg-black" style="background-image: url(../../../assets/svg/components/wave-pattern-light.svg);">
    <div class="container content-space-1 content-space-b-lg-2">
      <div class="row align-items-center">
        <div class="col">
          <div class="d-none d-lg-block">
            <h1 class="  text-white">
              Cashbook Pro <span style="color: red; font-family: Consolas,serif"> V1.0 </span></h1>
               </div>


          <!-- End Breadcrumb -->
        </div>
        <!-- End Col -->

        <div class="col-auto">
          <div class="d-none d-lg-block">
            <a class="btn btn-danger" routerLink="/menu">Close</a>
          </div>

          <!-- Responsive Toggle Button -->
          <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-default">
                <i class="bi-list"></i>
              </span>
            <span class="navbar-toggler-toggled">
                <i class="bi-x"></i>
              </span>
          </button>
          <!-- End Responsive Toggle Button -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
  </div>
  <!-- End Breadcrumb -->

  <!-- Content -->
  <div class="container  content-space-t-lg-0 content-space-b-lg-2 mt-lg-n10">
    <div class="row">


      <div class="col-lg-6">
        <!-- Heading -->
        <div class="">

          <p class="text-white">We'd love to talk about how we can help you.</p>
        </div>
        <div class="d-none d-lg-block">
          <img class="img-fluid mt-3" style="max-width: 400px" src="../assets/svg/illustrations/oc-growing.svg" alt="Image Description">
        </div>

      </div>
      <div class="col-lg-6">
        <div class="ps-lg-5">
          <!-- Card -->
          <div class="card">


            <div class="card-body">
              <!-- Form -->
              <form>
                <div class="row gx-3">
                  <div class="col-sm-6">
                    <!-- Form -->
                    <div class="mb-3">
                      <label class="form-label" for="hireUsFormFirstName">First name</label>
                      <input type="text" class="form-control form-control-lg" name="hireUsFormNameFirstName" id="hireUsFormFirstName" placeholder="First name" aria-label="First name">
                    </div>
                    <!-- End Form -->
                  </div>
                  <!-- End Col -->

                  <div class="col-sm-6">
                    <!-- Form -->
                    <div class="mb-3">
                      <label class="form-label" for="hireUsFormLasttName">Last name</label>
                      <input type="text" class="form-control form-control-lg" name="hireUsFormNameLastName" id="hireUsFormLasttName" placeholder="Last name" aria-label="Last name">
                    </div>
                    <!-- End Form -->
                  </div>
                  <!-- End Col -->
                </div>
                <!-- End Row -->

                <div class="row gx-3">
                  <div class="col-sm-6">
                    <!-- Form -->
                    <div class="mb-3">
                      <label class="form-label" for="hireUsFormWorkEmail">Email address</label>
                      <input type="email" class="form-control form-control-lg" name="hireUsFormNameWorkEmail" id="hireUsFormWorkEmail" placeholder="email@site.com" aria-label="email@site.com">
                    </div>
                    <!-- End Form -->
                  </div>
                  <!-- End Col -->

                  <div class="col-sm-6">
                    <!-- Form -->
                    <div class="mb-3">
                      <label class="form-label" for="hireUsFormPhone">Phone <span class="form-label-secondary">(Optional)</span></label>
                      <input type="text" class="form-control form-control-lg" name="hireUsFormNamePhone" id="hireUsFormPhone" placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx">
                    </div>
                    <!-- End Form -->
                  </div>
                  <!-- End Col -->
                </div>
                <!-- End Row -->

                <!-- Form -->
                <div class="mb-3">
                  <label class="form-label" for="hireUsFormDetails">Details</label>
                  <textarea class="form-control form-control-lg" name="hireUsFormNameDetails" id="hireUsFormDetails" placeholder="Tell us about your ..." aria-label="Tell us about your ..." rows="4"></textarea>
                </div>
                <!-- End Form -->

                <div class="d-grid">
                  <button type="submit" class="btn btn-primary btn-lg">Send inquiry</button>
                </div>

                <div class="text-center">
                  <p class="form-text">We'll get back to you in 1-2 business days.</p>
                </div>
              </form>
              <!-- End Form -->
            </div>
          </div>
          <!-- End Card -->
        </div>
      </div>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->

  <!-- End Content -->
</main>




