<div class="row g-1">
  @for (items of data; track items.logo) {
    <div class="col-12  col-md-4 col-lg-2 mb-2">
      <!-- Card -->
      <div class="card card-bordered card-transition shadow-none p-3 ">
        <a class="card-bhody">
          <div class="row g-1">
            <div class="col-3">
              <div class="flex-shrink-0">
                <img class="avatar avatar-sm" [src]="items.logo" alt="Logo">
              </div></div>
            <div class="col-7 d-flex align-items-center"><h6 class="mt-2">{{items.name}}</h6></div>
          </div>




        </a>
      </div>
      <!-- End Card -->
    </div>
  }</div>
