<!-- Card -->
<div class="card mb-3 mb-lg-5">
  <!-- Header -->
  <div class="card-header card-header-content-sm-between">
    <h4 class="card-header-title mb-2 mb-sm-0">Sales <i class="bi-question-circle text-body ms-1"
                                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                                        aria-label="Net sales (gross sales minus discounts and returns) plus taxes and shipping. Includes orders from all sales channels."
                                                        data-bs-original-title="Net sales (gross sales minus discounts and returns) plus taxes and shipping. Includes orders from all sales channels."></i>
    </h4>


  </div>
  <!-- End Header -->

  <!-- Body -->
  <div class="card-body">
    <div class="row col-lg-divider">
      <div class="col-lg-9 mb-5 mb-lg-0">
        <!-- Bar Chart -->


        <div class="row justify-content-center">
          <div class="col-auto">
            <span class="legend-indicator"></span> Income
          </div>
          <!-- End Col -->

          <div class="col-auto">
            <span class="legend-indicator bg-primary"></span> Orders
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>

      <div class="col-lg-3">
        <div class="row">
          <div class="col-6 col-md-12">
            <!-- Stats -->
            <div class="d-flex justify-content-center flex-column" style="min-height: 9rem;">
              <h6 class="card-subtitle">Income</h6>
              <h2 class="d-block  text-dark mb-1 me-3">$97,458.20</h2>
              <span class="d-block text-success">
                      <i class="bi-graph-up me-1"></i> $2,401.02 (3.7%)
                    </span>
            </div>
            <!-- End Stats -->

            <hr class="d-none d-lg-block my-0">
          </div>
          <!-- End Col -->

          <div class="col-6 col-md-12">
            <!-- Stats -->
            <div class="d-flex justify-content-center flex-column" style="min-height: 9rem;">
              <h6 class="card-subtitle">Outcome</h6>
              <h2 class="d-block  text-dark mb-1 me-3">fffffff67,893</h2>
              <span class="d-block text-danger">
                      <i class="bi-graph-down me-1"></i> +3,301 (1.2%)
                    </span>
            </div>
            <!-- End Stats -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
    </div>
    <!-- End Row -->
  </div>
  <!-- End Body -->
</div>
<!-- End Card -->

