<main id="content" role="main" class="main">
  <!-- Content -->
  <div class="bg-dark">
    <div class="content container-fluid" style="height: 25rem;">
      <!-- Page Header -->
      <div class="page-header page-header-light">
        <div class="row align-items-center">
          <div class="col">
            <h1 class="page-header-title">Dashboard</h1>
          </div>
          <!-- End Col -->

          <div class="col-auto">
            <!-- Daterangepicker -->
            <button id="js-daterangepicker-predefined" class="btn btn-ghost-light btn-sm dropdown-toggle">
              <i class="bi-calendar-week"></i>
              <span class="js-daterangepicker-predefined-preview ms-1">Feb 16 - Feb 16, 2025</span>
            </button>
            <!-- End Daterangepicker -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->

        <!-- Nav Scroller -->
        <div class="js-nav-scroller hs-nav-scroller-horizontal">
            <span class="hs-nav-scroller-arrow-prev hs-nav-scroller-arrow-dark-prev" style="display: none;">
              <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                <i class="bi-chevron-left"></i>
              </a>
            </span>

          <span class="hs-nav-scroller-arrow-next hs-nav-scroller-arrow-dark-next" style="display: none;">
              <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                <i class="bi-chevron-right"></i>
              </a>
            </span>

          <!-- Nav -->
          <ul class="nav nav-tabs nav-tabs-light page-header-tabs" id="pageHeaderTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="javascript:;">Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="javascript:;">Status</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="javascript:;">
                Sessions
                <span class="badge bg-warning text-dark rounded-pill ms-1">
                    <i class="bi-exclamation-triangle-fill me-1"></i> Verification required
                  </span>
              </a>
            </li>
          </ul>
          <!-- End Nav -->
        </div>
        <!-- End Nav Scroller -->
      </div>
      <!-- End Page Header -->
    </div>
  </div>
  <!-- End Content -->

  <!-- Content -->
  <div class="content container-fluid" style="margin-top: -17rem;">
    <!-- Card -->
    <div class="card mb-3 mb-lg-5">
      <!-- Header -->


      <!-- Body -->
      <div class="card-body">
        <div class="row align-items-sm-center mb-4">
          <div class="col-sm mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <span class="h1 mb-0">$7,431.14 USD</span>

              <span class="text-success ms-2">
                  <i class="bi-graph-up"></i> 25.3%
                </span>
            </div>
          </div>
          <!-- End Col -->

          <div class="col-sm-auto">
            <!-- Legend Indicators -->
            <div class="row fs-6">
              <div class="col-auto">
                <span class="legend-indicator bg-primary"></span> Income
              </div>
              <div class="col-auto">
                <span class="legend-indicator bg-info"></span> Expenses
              </div>
            </div>
            <!-- End Legend Indicators -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->

      </div>
      <!-- End Body -->

      <!-- End Card Footer -->
    </div>
    <!-- End Card -->

    <div class="row">
      <div class="col-lg-4 mb-3 mb-lg-5">
        <!-- Card -->
        <div class="card h-100">
          <!-- Header -->

          <!-- Body -->
          <div class="card-body text-center">
            <!-- Badge -->
            <div class="h3">
                <span class="badge bg-soft-info text-info rounded-pill">
                  <i class="bi-check-circle-fill me-1"></i> On track
                </span>
            </div>

            <hr>

            <div class="row col-divider">
              <div class="col text-end">
                <span class="d-block h4 mb-0">$72.46</span>
                <span class="d-block">last transaction</span>
              </div>

              <div class="col text-start">
                  <span class="d-block h4 text-success mb-0">
                    <i class="bi-graph-up"></i> 12%
                  </span>
                <span class="d-block">since last visit</span>
              </div>
            </div>
            <!-- End Row -->
          </div>
          <!-- End Body -->
        </div>
        <!-- End Card -->
      </div>

      <div class="col-lg-8 mb-3 mb-lg-5">
        <!-- Card -->
        <div class="card h-100">


          <!-- Body -->
          <div class="card-body card-body-height">
            <ul class="list-group list-group-flush list-group-no-gutters">
              <!-- List Item -->
              <li class="list-group-item">
                <div class="d-flex">
                  <div class="flex-shrink-0">
                    <!-- Avatar -->
                    <div class="avatar avatar-sm avatar-soft-dark avatar-circle">
                      <span class="avatar-initials">B</span>
                    </div>
                    <!-- End Avatar -->
                  </div>

                  <div class="flex-grow-1 ms-3">
                    <div class="row">
                      <div class="col-7 col-md-5 order-md-1">
                        <h5 class="mb-0">Bob Dean</h5>
                        <span class="fs-6 text-body">Transfer to bank account</span>
                      </div>

                      <div class="col-5 col-md-4 order-md-3 text-end mt-2 mt-md-0">
                        <h5 class="mb-0">-$290.00 USD</h5>
                        <span class="fs-6 text-body">15 May, 2020</span>
                      </div>

                      <div class="col-auto col-md-3 order-md-2">
                        <span class="badge bg-soft-warning text-warning rounded-pill">Pending</span>
                      </div>
                    </div>
                    <!-- End Row -->
                  </div>
                </div>
              </li>
              <!-- End List Item -->

              <!-- List Item -->
              <li class="list-group-item">
                <div class="d-flex">
                  <div class="flex-shrink-0">
                    <!-- Avatar -->
                    <img class="avatar avatar-sm avatar-circle" src="./assets/svg/brands/slack-icon.svg" alt="Image Description">
                    <!-- End Avatar -->
                  </div>

                  <div class="flex-grow-1 ms-3">
                    <div class="row">
                      <div class="col-7 col-md-5 order-md-1">
                        <h5 class="mb-0">Slack</h5>
                        <span class="fs-6 text-body">Subscription payment</span>
                      </div>

                      <div class="col-5 col-md-4 order-md-3 text-end mt-2 mt-md-0">
                        <h5 class="mb-0">-$11.00 USD</h5>
                        <span class="fs-6 text-body">12 May, 2020</span>
                      </div>

                      <div class="col-auto col-md-3 order-md-2">
                        <span class="badge bg-soft-success text-success rounded-pill">Completed</span>
                      </div>
                    </div>
                    <!-- End Row -->
                  </div>
                </div>
              </li>
              <!-- End List Item -->

              <!-- List Item -->
              <li class="list-group-item">
                <div class="d-flex">
                  <div class="flex-shrink-0">
                    <!-- Avatar -->
                    <img class="avatar avatar-sm avatar-circle" src="./assets/svg/brands/bank-of-america-icon.svg" alt="Image Description">
                    <!-- End Avatar -->
                  </div>

                  <div class="flex-grow-1 ms-3">
                    <div class="row">
                      <div class="col-7 col-md-5 order-md-1">
                        <h5 class="mb-0">Bank of America</h5>
                        <span class="fs-6 text-body">Withdrawal to bank account</span>
                      </div>

                      <div class="col-5 col-md-4 order-md-3 text-end mt-2 mt-md-0">
                        <h5 class="text-success mb-0">$3500.00 USD</h5>
                        <span class="fs-6 text-body">10 May, 2020</span>
                      </div>

                      <div class="col-auto col-md-3 order-md-2">
                        <span class="badge bg-soft-success text-success rounded-pill">Completed</span>
                      </div>
                    </div>
                    <!-- End Row -->
                  </div>
                </div>
              </li>
              <!-- End List Item -->

              <!-- List Item -->
              <li class="list-group-item">
                <div class="d-flex">
                  <div class="flex-shrink-0">
                    <!-- Avatar -->
                    <img class="avatar avatar-sm avatar-circle" src="./assets/svg/brands/spotify-icon.svg" alt="Image Description">
                    <!-- End Avatar -->
                  </div>

                  <div class="flex-grow-1 ms-3">
                    <div class="row">
                      <div class="col-7 col-md-5 order-md-1">
                        <h5 class="mb-0">Spotify</h5>
                        <span class="fs-6 text-body">Subscription payment</span>
                      </div>

                      <div class="col-5 col-md-4 order-md-3 text-end mt-2 mt-md-0">
                        <h5 class="mb-0">-$10.00 USD</h5>
                        <span class="fs-6 text-body">12 May, 2020</span>
                      </div>

                      <div class="col-auto col-md-3 order-md-2">
                        <span class="badge bg-soft-danger text-danger rounded-pill">Failed</span>
                      </div>
                    </div>
                    <!-- End Row -->
                  </div>
                </div>
              </li>
              <!-- End List Item -->

              <!-- List Item -->
              <li class="list-group-item">
                <div class="d-flex">
                  <div class="flex-shrink-0">
                    <!-- Avatar -->
                    <div class="avatar avatar-sm avatar-soft-dark avatar-circle">
                      <span class="avatar-initials">R</span>
                    </div>
                    <!-- End Avatar -->
                  </div>

                  <div class="flex-grow-1 ms-3">
                    <div class="row">
                      <div class="col-7 col-md-5 order-md-1">
                        <h5 class="mb-0">Rachel Doe</h5>
                        <span class="fs-6 text-body">Transfer to bank account</span>
                      </div>

                      <div class="col-5 col-md-4 order-md-3 text-end mt-2 mt-md-0">
                        <h5 class="text-success mb-0">$290.00 USD</h5>
                        <span class="fs-6 text-body">28 April, 2020</span>
                      </div>

                      <div class="col-auto col-md-3 order-md-2">
                        <span class="badge bg-soft-success text-success rounded-pill">Completed</span>
                      </div>
                    </div>
                    <!-- End Row -->
                  </div>
                </div>
              </li>
              <!-- End List Item -->

              <!-- List Item -->
              <li class="list-group-item">
                <div class="d-flex">
                  <div class="flex-shrink-0">
                    <!-- Avatar -->
                    <img class="avatar avatar-sm avatar-circle" src="./assets/img/160x160/img9.jpg" alt="Image Description">
                    <!-- End Avatar -->
                  </div>

                  <div class="flex-grow-1 ms-3">
                    <div class="row">
                      <div class="col-7 col-md-5 order-md-1">
                        <h5 class="mb-0">Ella Lauda</h5>
                        <span class="fs-6 text-body">Transfer to bank account</span>
                      </div>

                      <div class="col-5 col-md-4 order-md-3 text-end mt-2 mt-md-0">
                        <h5 class="mb-0">-$250.00 USD</h5>
                        <span class="fs-6 text-body">01 May, 2020</span>
                      </div>

                      <div class="col-auto col-md-3 order-md-2">
                        <span class="badge bg-soft-success text-success rounded-pill">Completed</span>
                      </div>
                    </div>
                    <!-- End Row -->
                  </div>
                </div>
              </li>
              <!-- End List Item -->
            </ul>
          </div>
          <!-- End Body -->
        </div>
        <!-- End Card -->
      </div>
    </div>
    <!-- End Row -->

  </div>

</main>
