
  <!-- Card -->
  <div class="card h-100">
    <!-- Header -->
    <div class="card-header card-header-content-between">
      <h4 class="card-header-title">Account Summary</h4>
      <h2 class="display-3 text-center" style="font-family: Consolas,serif"> {{stats}}% </h2>
    </div>
    <!-- End Header -->

    <!-- Body -->
    <div class="card-body text-center">

      <div class="h3">

                <span class="badge bg-soft-info text-info rounded-pill">
                  <i class="bi-check-circle-fill me-1"></i> On track
                </span>
      </div>
      <!-- End Badge -->


      <hr>

      <div #statisticsSection>
<div class="" *ngFor="let stat of statistics; let i = index">
<h6 style="color: red">{{ stat.label }}</h6>
  <h3>{{ stat.animatedValue || 0 }}</h3>
</div>    <!-- End Row -->
    </div>
    </div>
    <!-- End Body -->
  </div>
  <!-- End Card -->
