<!--
<div class="container  ">

  <div class="mx-auto" style="max-width: 35rem;">
    &lt;!&ndash; Card &ndash;&gt;
    <div class="card card-lg mb-5 shadow-none">
      <div class="card-body">
        &lt;!&ndash; Form &ndash;&gt;
        <form class="js-validate needs-validation" novalidate="">
          <div class="text-center">
            <div class="mb-5">
              &lt;!&ndash;<h1 class="display-5">Sign in</h1>&ndash;&gt;
              <p>Don't have an account yet? <a class="link" href="./authentication-signup-basic.html">Sign up here</a></p>
            </div>




          </div>

          &lt;!&ndash; Form &ndash;&gt;
          <div class="mb-4">

            <input type="email" class="form-control form-control-lg" name="email" id="signinSrEmail" tabindex="1" placeholder="email@address.com" aria-label="email@address.com" required="">
            <span class="invalid-feedback">Please enter a valid email address.</span>
          </div>
          &lt;!&ndash; End Form &ndash;&gt;

          &lt;!&ndash; Form &ndash;&gt;
          <div class="mb-4">

            <div class="input-group input-group-merge" data-hs-validation-validate-class="">
              <input type="password" class="js-toggle-password form-control form-control-lg" name="password" id="signupSrPassword" placeholder="8+ characters required" aria-label="8+ characters required" required="" minlength="8">
              <a id="changePassTarget" class="input-group-append input-group-text" href="javascript:;">
                <i id="changePassIcon" class="bi-eye-slash"></i>
              </a>
            </div>

            <span class="invalid-feedback">Please enter a valid password.</span>
          </div>
          &lt;!&ndash; End Form &ndash;&gt;

          &lt;!&ndash; Form Check &ndash;&gt;
          <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" value="" id="termsCheckbox">
            <label class="form-check-label" for="termsCheckbox">
              Remember me
            </label>
          </div>
          &lt;!&ndash; End Form Check &ndash;&gt;

          <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
          </div>
        </form>
        &lt;!&ndash; End Form &ndash;&gt;
      </div>
    </div>
    &lt;!&ndash; End Card &ndash;&gt;


  </div>
</div>
-->
<div class="container  ">
  <div class="flex-grow-1 mx-auto" style="max-width: 35rem;">
    <!-- Heading -->
    <div class="text-center mb-2">

      <p>Login to manage your account.</p>
    </div>
    <!-- End Heading -->

    <!-- Form -->
    <form class="js-validate needs-validation" novalidate="">
      <!-- Form -->
      <div class="mb-4">
        <label class="form-label" for="signupSimpleLoginEmail">Your email</label>
        <input type="email" class="form-control form-control-lg" name="email" id="signupSimpleLoginEmail" placeholder="email@site.com" aria-label="email@site.com" required="">
        <span class="invalid-feedback">Please enter a valid email address.</span>
      </div>
      <!-- End Form -->

      <!-- Form -->
      <div class="mb-4">
        <div class="d-flex justify-content-between align-items-center">
          <label class="form-label" for="signupSimpleLoginPassword">Password</label>

          <a class="form-label-link" href="./page-reset-password-simple.html">Forgot Password?</a>
        </div>

        <div class="input-group input-group-merge" data-hs-validation-validate-class="">
          <input type="password" class="js-toggle-password form-control form-control-lg" name="password" id="signupSimpleLoginPassword" placeholder="8+ characters required" aria-label="8+ characters required" required="" minlength="8" data-hs-toggle-password-options="{
                     &quot;target&quot;: &quot;#changePassTarget&quot;,
                     &quot;defaultClass&quot;: &quot;bi-eye-slash&quot;,
                     &quot;showClass&quot;: &quot;bi-eye&quot;,
                     &quot;classChangeTarget&quot;: &quot;#changePassIcon&quot;
                   }">
          <a id="changePassTarget" class="input-group-append input-group-text" href="javascript:;">
            <i id="changePassIcon" class="bi-eye-slash"></i>
          </a>
        </div>

        <span class="invalid-feedback">Please enter a valid password.</span>
      </div>
      <!-- End Form -->

      <div class="d-grid mb-3">
        <button type="submit" class="btn btn-primary btn-lg">Log in</button>
      </div>

      <div class="text-center">
        <p>Don't have an account yet? <a class="link" href="./page-signup-simple.html">Sign up here</a></p>
      </div>
    </form>
    <!-- End Form -->
  </div>
</div>
