

<div class="navbar-dark bg-primary" style="background-image: url(/custome/footer-bg.png);">

  <div class="container" style="padding: 5rem 0;">
    <div class="w-md-65 w-lg-100 d-flex justify-content-center align-items-center">
      <div>
        <h1 class="display-4 text-white" style="margin-top: 5rem; padding: 0">ABOUT BAGAUDA</h1>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center" style="background-color: 	#8B0000">

    <button  (click)="scrollToElement2()" type="button" class="btn btn-outline-primary btn-custom-hover" style="color: white; font-size: 20px">The Institution</button>
    <button (click)="scrollToElement()"  type="button" class="btn btn-outline-primary btn-custom-hover" style="color: white; font-size: 20px">Vision</button>

    <button (click)="scrollToElement3()"  type="button" class="btn btn-outline-primary btn-custom-hover" style="color: white; font-size: 20px">Mission</button>
     <button type="button" class="btn btn-outline-primary btn-custom-hover" style="color: white; font-size: 20px" routerLink="/core-aspect">Core Aspect</button>
     <button type="button" class="btn btn-outline-primary btn-custom-hover" style="color: white; font-size: 20px" routerLink="/history">History</button>
  </div>


</div>


<div class="overflow-hidden">
  <div class="container content-space-2 content-space-lg-3" #targetElement2>
    <div class="row justify-content-lg-between align-items-md-center">
      <div class="col-md-5 col-lg-5 order-md-1">
        <div class="mb-4">
        <h1 class="text-primary">The Instituation</h1>
        </div>
        <p style="text-align: justify;">
          Bagauda is committed to excellence with its best-in-class teachers and cutting-edge facilities. The school boasts highly qualified instructors with extensive industry experience, ensuring students receive top-tier education in both theory and practice.

          Bagauda also provides access to the best labs and modern equipment, allowing students to gain hands-on experience with the latest technologies in agriculture and other fields. These state-of-the-art resources help students develop real-world skills that are essential for their entrepreneurial journeys.

          At Bagauda, the combination of expert educators and advanced training facilities sets students on the path to becoming innovative leaders and successful entrepreneurs in agriculture and beyond.
        </p>
      </div>

      <div class="col-md-7 order-md-2 mb-10 mb-md-0">
        <div class="image-container">
          <img class="zoomed-img" src="./bagauda school of fishiries/map/map1.jpg" alt="Image Description">

          <!-- SVG Shape -->
          <figure class="position-absolute top-0 start-0 zi-n1 mt-n7 ms-n7" style="width: 12rem;">
            <img class="img-fluid" src="../assets/svg/components/dots-lg.svg" alt="SVG">
          </figure>
          <!-- End SVG Shape -->

          <!-- SVG Shape -->
          <figure class="position-absolute bottom-0 end-0 zi-n1 mb-n7 me-n7" style="width: 12rem;">
            <img class="img-fluid" src="../assets/svg/components/dots-lg.svg" alt="SVG">
          </figure>
          <!-- End SVG Shape -->
        </div>
      </div>


    </div>
  </div>
</div>
<!-- End Testimonials -->

<main id="content" role="main" >

  <div class="navbar-dark  custom-navbar" style="background-image: url(./custome/map_shape.png); background-color:black;">
    <div class="container content-space-2 content-space-b-lg-1">

      <div class="row align-items-center content-space-1">
        <div class="col">
          <p class="lead text-white">Bagauda Instituation of fishiries studies</p>
          <div class="d-flex align-items-center">

            <h1 class="display-4 text-white ">An Exceptional Choice for your Higher Education</h1>
          </div>
        </div>
      </div>
      <!-- End Row -->
    </div>
  </div>
  <!-- End Breadcrumb -->

  <!-- Content Section -->
  <div class="container content-space-0 content-space-t-lg-0 content-space-b-lg-2 mt-n10">
    <div class="row">


      <div class="position-relative ">
        <div class="row gx-0 align-items-md-center">


          <div  class="col-md-6 mb-3 mb-md-0" #targetElement3>
            <!-- Card -->
            <div style="background-color: #B22222" class="card card-lg  ms-md-n2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
              <div class="card-body text-white">

                <h1 class="card-title display-6"><a class="text-white"  >Our Mission</a></h1>
                <p class="card-text text-white" style="font-size: 18px; ">
                  Our institution is committed to advancing knowledge and empowering communities
                  through sustainable fisheries education. We focus on human development and ecological stewardship by providing innovative, research-driven curricula that emphasize science, technology, and environmental conservation. Our goal is to equip students with the expertise to tackle global challenges while preserving aquatic ecosystems. Through professional services, hands-on learning, and community engagement, we aim to restore dignity, promote self-reliance, and support sustainable
                  growth for the black race and beyond.
                </p>

              </div>


            </div>
            <!-- End Card -->
          </div>
          <div  class="col-md-6">
            <!-- Card -->
            <div class="card card-lg  ms-md-n2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" #targetElement>
              <div style=" padding:15px;">

                <h1 class="card-title display-6"><a class="text-dark" >Our Vision</a></h1>
                <p class="card-text" style="font-size: 18px; ">
                  To become a leading global institution in fisheries studies, dedicated to producing skilled professionals who drive sustainable development in fisheries, aquaculture, and marine conservation. Through innovative education, cutting-edge research, and community engagement, we aim to address global challenges such as overfishing and climate change while enhancing food security and protecting aquatic ecosystems. Our goal is to empower future leaders in the field, fostering both technical expertise and responsible stewardship of marine resources.
                </p>

              </div>


            </div>
            <!-- End Card -->
          </div>
        </div>



      </div>
      <!-- CONTENT HERE -->



    </div>
    <!-- End Row -->
  </div>
  <!-- End Content Section -->
</main>










<div class="overflow-hidden">
  <div class="container content-space-2">
    <!-- Heading -->
    <div class="w-100 mx-auto mb-5 mb-md-3">
      <h2>One of the biggest fisheries institution in Nigeria</h2>
    </div>
    <!-- End Heading -->

    <div class="w-md-75 mx-md-auto">
      <div class="row justify-content-lg-center align-items-md-center">
        <div class="col-md-5 mb-7 mb-md-0">
          <!-- List Checked -->
          <ul class="list-checked list-checked-soft-bg-primary list-checked-lg mb-5">
            <h3>
              <li class="list-checked-item">50+ Green House</li>
              <li class="list-checked-item">250+ hectare of lands</li>
              <li class="list-checked-item">5+ Race way ponds</li>
              <li class="list-checked-item">9+ Concrate storage ponds</li>
              <li class="list-checked-item">19+ Fish ponds</li>
              <li class="list-checked-item">2+ nurseries</li>
              <li class="list-checked-item">A boat-building area.</li>
              <li class="list-checked-item">Seed multiplication</li>
            </h3>

          </ul>
          <!-- End List Checked -->

          <a class="link text-center" routerLink="/campus">Explore Our campus <i class="bi-chevron-right small ms-1"></i></a>
        </div>
        <!-- End Col -->
        <div class="col-md-7 mb-3 mb-md-5">
          <!-- Card -->
          <a class="card card-transition h-100 aos-init aos-animate" href="#" data-aos="fade-up">
            <div class="card-pinned">
              <img class="card-img-top" src="./bagauda school of fishiries/fishPounds/pond6.webp" alt="Image Description">

              <span class="card-pinned-top-start">
                <span class="badge bg-primary rounded-pill">Aqua Culture</span>
              </span>
            </div>

            <div class="card-body">

              <p class="" style="text-align: justify;">
                The School of Fisheries Studies in Bagauda, Kano State, features modern infrastructure and facilities that create a conducive learning environment, including well-designed classrooms, studios, and laboratories to enhance interactivity and cognitive learning. Additionally, the campus offers amenities such as a mall, clinic, and cafeteria to ensure students have access to essential services without needing to leave the grounds.
              </p>
            </div>


          </a>
          <!-- End Card -->
        </div>

        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
  </div>
</div>






<div class="container content-space-2">
  <div class="card-group ">
    <div class="col-12 col-lg-8 mt-lg-6">
      <div class="card">
        <img class="card-img-top" src="./custome/map4.jpg" alt="Image Description">

      </div>
    </div>

    <div class="card">
      <div class="card-body bg-primary">

        <p class="card-text lead text-white" >Inspired to Come to our instituation? Applications are invited from suitably qualified candidates for admission into undergraduate degree programmes on a full-time basis. Take the Bold Steps and Begin your Application Today</p>
        <div class="text-center">
          <button type="button" style=" background-color:green;" class="btn btn-primary" routerLink="/admission">Visit the Admission Portal</button>
        </div></div>
      <div class="card-footer">

      </div>
    </div>

  </div>
</div>


<div >



  <div id="content" role="main" >
    <!-- Breadcrumb -->
    <div class="navbar-dark bg-primary custom-navbar"  style="background-image: url(./custome/kanooo.png);  ">
      <div class="row align-items-center content-space-t-2">
      <div class="col">
        <div class="col-12 col-md-6 ">


          <!-- End Socials -->
        </div>
      </div>
      </div>
      <div class="container content-space-2 content-space-b-lg-3">
        <div class="row ">

          <div class="col-12">
            <div class="d-flex align-items-center justify-content-center">
              @for (i of designed; track i.name){
              <ul class="list-inline mb-0">

                <li class="list-inline-item btn btn-ghost-light btn-sm pb-1 pb-lg-5">

                  <img class="px-1" style=" height: 3.8rem" [src]="i.imgURL" alt="Image Description">

                </li>


              </ul>
              }
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex align-items-center justify-content-center">
              <h1 class="display-4 text-white ">Need More Information?</h1><br>
            </div>
          </div>
        </div>
        <div class="row align-items-center  ">
          <div class="col">
            <div class="d-flex align-items-center justify-content-center">
              <p class="text-white "></p>
            </div>
          </div>
        </div>
        <!-- End Row -->
      </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Content Section -->
    <div class="container content-space-0 content-space-t-lg-0 content-space-b-lg-2 mt-n10">
      <div class="row">


        <div class="position-relative ">
          <div class="row gx-0 align-items-md-center">


            <div class="card-group radius mt-n10 text-white">
              <div class="card bg-primary" >
                <div class="card-body text-white">
                  <h2 class="card-title text-white">Email Support</h2>

                  <p class="card-text mt-2 text-white">{{env.contactInfo.email}}</p>

                </div>
              </div>
              <div class="card ">
                <div class="card-body">
                  <h2 class="card-text ">Call us on</h2>
                  <h2 class="card-text ">{{env.contactInfo.phone1}}</h2>
                  <h2 class="card-text ">{{env.contactInfo.phone2}}</h2>

                  <p class="card-text"><small class="text-muted" style="font-size:15px;">During Office Hours, 8:00 a.m. to 4:45 p.m WAT (Mondays – Fridays)</small></p>
                </div>
              </div>
              <div class="card bg-primary ">
                <div class="card-body text-white">
                  <h2 class="card-title">
                    Visit Us</h2>
                  <p class="card-text mb-3 text-white">Admissions & Financial Aid Office,</p>
                  <p class="card-text mb-3 text-white">{{env.contactInfo.address}}</p>

                </div>
              </div>
            </div>
          </div>



        </div>
        <!-- CONTENT HERE -->



      </div>
      <!-- End Row -->
    </div>
    <!-- End Content Section -->
  </div>



</div>








