<div class="container content-space-1">
<div class="row gx-3 mx-n2 mb-7">
  <div class="col-sm-6 col-md-3 mb-3">
    <!-- Card -->
    <div class="card card-bordered card-transition shadow-none h-100">
      <a class="card-body" href="../demo-app-marketplace/app-overview.html">
        <div class="d-flex">
          <div class="flex-shrink-0">
            <img class="avatar avatar-xs" src="../assets/svg/brands/spotify-icon.svg" alt="Logo">
          </div>

          <div class="flex-grow-1 ms-3">
            <div class="d-flex align-items-center">
              <h5 class="card-title mb-0">Spotify</h5>
              <img class="avatar avatar-xss ms-1" src="../assets/svg/illustrations/top-vendor.svg" alt="Image Description" title="Top Vendor">
            </div>
            <p class="card-text text-body small">Entertainment</p>
          </div>
        </div>
      </a>
    </div>
    <!-- End Card -->
  </div>
  <!-- End Col -->

  <div class="col-sm-6 col-md-3 mb-3">
    <!-- Card -->
    <div class="card card-bordered card-transition shadow-none h-100">
      <a class="card-body" href="../demo-app-marketplace/app-overview.html">
        <div class="d-flex">
          <div class="flex-shrink-0">
            <img class="avatar avatar-xs" src="../assets/svg/brands/slack-icon.svg" alt="Logo">
          </div>

          <div class="flex-grow-1 ms-3">
            <div class="d-flex align-items-center">
              <h5 class="card-title mb-0">Slack</h5>
            </div>
            <p class="card-text text-body small">Communication</p>
          </div>
        </div>
      </a>
    </div>
    <!-- End Card -->
  </div>
  <!-- End Col -->

  <div class="col-sm-6 col-md-3 mb-3">
    <!-- Card -->
    <div class="card card-bordered card-transition shadow-none h-100">
      <a class="card-body" href="../demo-app-marketplace/app-overview.html">
        <div class="d-flex">
          <div class="flex-shrink-0">
            <img class="avatar avatar-xs" src="../assets/svg/brands/google-drive-icon.svg" alt="Logo">
          </div>

          <div class="flex-grow-1 ms-3">
            <div class="d-flex align-items-center">
              <h5 class="card-title mb-0">Google Drive</h5>
              <img class="avatar avatar-xss ms-1" src="../assets/svg/illustrations/top-vendor.svg" alt="Image Description" title="Top Vendor">
            </div>
            <p class="card-text text-body small">File management</p>
          </div>
        </div>
      </a>
    </div>
    <!-- End Card -->
  </div>
  <!-- End Col -->

  <div class="col-sm-6 col-md-3 mb-3">
    <!-- Card -->
    <div class="card card-bordered card-transition shadow-none h-100">
      <a class="card-body" href="../demo-app-marketplace/app-overview.html">
        <div class="d-flex">
          <div class="flex-shrink-0">
            <img class="avatar avatar-xs" src="../assets/svg/brands/atlassian-icon.svg" alt="Logo">
          </div>

          <div class="flex-grow-1 ms-3">
            <div class="d-flex align-items-center">
              <h5 class="card-title mb-0">Atlassian</h5>
            </div>
            <p class="card-text text-body small">Developer tools</p>
          </div>
        </div>
      </a>
    </div>
    <!-- End Card -->
  </div>

</div>

<div class="row">
  <app-barchart></app-barchart>
  <!-- End Col -->
  <div class="col-lg-8 mb-3 mb-lg-5"><app-visitors></app-visitors></div>

  <!-- End Col -->
</div>
</div>

