<div class="row">


  <div class="col-12 mb-3 mb-lg-5">
    <!-- Card -->
    <div class="card h-100">
      <!-- Header -->
      <div class="card-header card-header-content-between">
        <h4 class="card-header-title">Events</h4>

        <!-- Nav -->
        <ul class="nav nav-segment" id="eventsTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="this-week-tab" data-bs-toggle="tab" href="#this-week" role="tab" aria-selected="true">
              This week
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="next-week-tab" data-bs-toggle="tab" href="#next-week" role="tab" aria-selected="false" tabindex="-1">
              Next week
            </a>
          </li>
        </ul>
        <!-- End Nav -->
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="card-body card-body-height">
        <!-- Tab Content -->
        <div class="tab-content" id="eventsTabContent">
          <div class="tab-pane fade show active" id="this-week" role="tabpanel" aria-labelledby="this-week-tab">
            <!-- List Group -->
            <ul class="list-group list-group-flush list-group-start-bordered">
              <!-- Item -->
              <li class="list-group-item">
                <a class="list-group-item-action border-primary" href="#">
                  <div class="row">
                    <div class="col-sm mb-2 mb-sm-0">
                      <h2 class="fw-normal mb-1">12:00 - 03:00 <span class="fs-5 text-body text-uppercase">pm</span></h2>
                      <h5 class="text-inherit mb-0">Weekly overview</h5>
                      <span class="text-body small">24 May, 2020</span>
                    </div>

                    <div class="col-sm-auto align-self-sm-end">
                      <!-- Avatar Group -->
                      <div class="avatar-group avatar-group-sm avatar-circle">
                              <span class="avatar">
                                <img class="avatar-img" src="./assets/img/160x160/img9.jpg" alt="Image Description">
                              </span>
                        <span class="avatar">
                                <img class="avatar-img" src="./assets/img/160x160/img3.jpg" alt="Image Description">
                              </span>
                        <span class="avatar avatar-soft-dark">
                                <span class="avatar-initials">A</span>
                              </span>
                        <span class="avatar avatar-soft-info">
                                <span class="avatar-initials">S</span>
                              </span>
                        <span class="avatar">
                                <img class="avatar-img" src="./assets/img/160x160/img5.jpg" alt="Image Description">
                              </span>
                      </div>
                      <!-- End Avatar Group -->
                    </div>
                  </div>
                  <!-- End Row -->
                </a>
              </li>
              <!-- End Item -->

              <!-- Item -->
              <li class="list-group-item">
                <a class="list-group-item-action border-info" href="#">
                  <div class="row">
                    <div class="col-sm mb-2 mb-sm-0">
                      <h2 class="fw-normal mb-1">04:30 - 04:50 <span class="fs-5 text-body text-uppercase">pm</span></h2>
                      <h5 class="text-inherit mb-0">Project tasks</h5>
                      <span class="text-body small">25 May, 2020</span>
                    </div>

                    <div class="col-sm-auto align-self-sm-end">
                      <!-- Avatar Group -->
                      <div class="avatar-group avatar-group-sm avatar-circle">
                              <span class="avatar">
                                <img class="avatar-img" src="./assets/img/160x160/img6.jpg" alt="Image Description">
                              </span>
                        <span class="avatar">
                                <img class="avatar-img" src="./assets/img/160x160/img7.jpg" alt="Image Description">
                              </span>
                        <span class="avatar avatar-soft-danger">
                                <span class="avatar-initials">A</span>
                              </span>
                      </div>
                      <!-- End Avatar Group -->
                    </div>
                  </div>
                </a>
                <!-- End Row -->
              </li>

              <!-- Item -->
              <li class="list-group-item">
                <a class="list-group-item-action border-danger" href="#">
                  <div class="row">
                    <div class="col-sm mb-2 mb-sm-0">
                      <h2 class="fw-normal mb-1">12:00 - 03:00 <span class="fs-5 text-body text-uppercase">pm</span></h2>
                      <h5 class="text-inherit mb-0">Monthly reports</h5>
                      <span class="text-body small">27 May, 2020</span>
                    </div>

                    <div class="col-sm-auto align-self-sm-end">
                      <!-- Avatar Group -->
                      <div class="avatar-group avatar-group-sm avatar-circle">
                              <span class="avatar">
                                <img class="avatar-img" src="./assets/img/160x160/img5.jpg" alt="Image Description">
                              </span>
                        <span class="avatar avatar-soft-dark">
                                <span class="avatar-initials">B</span>
                              </span>
                        <span class="avatar">
                                <img class="avatar-img" src="./assets/img/160x160/img8.jpg" alt="Image Description">
                              </span>
                        <span class="avatar">
                                <img class="avatar-img" src="./assets/img/160x160/img9.jpg" alt="Image Description">
                              </span>
                      </div>
                      <!-- End Avatar Group -->
                    </div>
                  </div>
                  <!-- End Row -->
                </a>
              </li>
              <!-- End Item -->

              <!-- Item -->
              <li class="list-group-item">
                <a class="list-group-item-action border-warning" href="#">
                  <div class="row">
                    <div class="col-sm mb-2 mb-sm-0">
                      <h2 class="fw-normal mb-1">02:00 - 03:00 <span class="fs-5 text-body text-uppercase">pm</span></h2>
                      <h5 class="text-inherit mb-0">Monthly reports to the client</h5>
                      <span class="text-body small">29 May, 2020</span>
                    </div>

                    <div class="col-sm-auto align-self-sm-end">
                      <!-- Avatar Group -->
                      <div class="avatar-group avatar-group-sm avatar-circle">
                              <span class="avatar">
                                <img class="avatar-img" src="./assets/img/160x160/img5.jpg" alt="Image Description">
                              </span>
                        <span class="avatar avatar-soft-dark">
                                <span class="avatar-initials">B</span>
                              </span>
                        <span class="avatar">
                                <img class="avatar-img" src="./assets/img/160x160/img8.jpg" alt="Image Description">
                              </span>
                        <span class="avatar">
                                <img class="avatar-img" src="./assets/img/160x160/img9.jpg" alt="Image Description">
                              </span>
                      </div>
                      <!-- End Avatar Group -->
                    </div>
                  </div>
                  <!-- End Row -->
                </a>
              </li>
              <!-- End Item -->
            </ul>
            <!-- End List Group -->
          </div>

          <div class="tab-pane fade" id="next-week" role="tabpanel" aria-labelledby="next-week-tab">
            <!-- List Group -->
            <ul class="list-group list-group-flush list-group-start-bordered">
              <!-- Item -->
              <li class="list-group-item">
                <a class="list-group-item-action border-info" href="#">
                  <div class="row">
                    <div class="col-sm mb-2 mb-sm-0">
                      <h2 class="fw-normal mb-1">04:30 - 04:50 <span class="fs-5 text-body text-uppercase">pm</span></h2>
                      <h5 class="text-inherit mb-0">Project tasks</h5>
                      <span class="text-body small">30 May, 2020</span>
                    </div>

                    <div class="col-sm-auto align-self-sm-end">
                      <!-- Avatar Group -->
                      <div class="avatar-group avatar-group-sm avatar-circle">
                              <span class="avatar">
                                <img class="avatar-img" src="./assets/img/160x160/img6.jpg" alt="Image Description">
                              </span>
                        <span class="avatar">
                                <img class="avatar-img" src="./assets/img/160x160/img7.jpg" alt="Image Description">
                              </span>
                        <span class="avatar avatar-soft-danger">
                                <span class="avatar-initials">A</span>
                              </span>
                      </div>
                      <!-- End Avatar Group -->
                    </div>
                  </div>
                </a>
                <!-- End Row -->
              </li>

              <!-- Item -->
              <li class="list-group-item">
                <a class="list-group-item-action border-primary" href="#">
                  <div class="row">
                    <div class="col-sm mb-2 mb-sm-0">
                      <h2 class="fw-normal mb-1">12:00 - 03:00 <span class="fs-5 text-body text-uppercase">pm</span></h2>
                      <h5 class="text-inherit mb-0">Weekly overview</h5>
                      <span class="text-body small">1 June, 2020</span>
                    </div>

                    <div class="col-sm-auto align-self-sm-end">
                      <!-- Avatar Group -->
                      <div class="avatar-group avatar-group-sm avatar-circle">
                              <span class="avatar">
                                <img class="avatar-img" src="./assets/img/160x160/img9.jpg" alt="Image Description">
                              </span>
                        <span class="avatar">
                                <img class="avatar-img" src="./assets/img/160x160/img3.jpg" alt="Image Description">
                              </span>
                        <span class="avatar avatar-soft-dark">
                                <span class="avatar-initials">A</span>
                              </span>
                        <span class="avatar avatar-soft-info">
                                <span class="avatar-initials">S</span>
                              </span>
                        <span class="avatar">
                                <img class="avatar-img" src="./assets/img/160x160/img5.jpg" alt="Image Description">
                              </span>
                      </div>
                      <!-- End Avatar Group -->
                    </div>
                  </div>
                  <!-- End Row -->
                </a>
              </li>
              <!-- End Item -->

              <!-- Item -->
              <li class="list-group-item">
                <a class="list-group-item-action border-warning" href="#">
                  <div class="row">
                    <div class="col-sm mb-2 mb-sm-0">
                      <h2 class="fw-normal mb-1">02:00 - 03:00 <span class="fs-5 text-body text-uppercase">pm</span></h2>
                      <h5 class="text-inherit mb-0">Monthly reports to the client</h5>
                      <span class="text-body small">2 June, 2020</span>
                    </div>

                    <div class="col-sm-auto align-self-sm-end">
                      <!-- Avatar Group -->
                      <div class="avatar-group avatar-group-sm avatar-circle">
                              <span class="avatar">
                                <img class="avatar-img" src="./assets/img/160x160/img5.jpg" alt="Image Description">
                              </span>
                        <span class="avatar avatar-soft-dark">
                                <span class="avatar-initials">B</span>
                              </span>
                        <span class="avatar">
                                <img class="avatar-img" src="./assets/img/160x160/img8.jpg" alt="Image Description">
                              </span>
                        <span class="avatar">
                                <img class="avatar-img" src="./assets/img/160x160/img9.jpg" alt="Image Description">
                              </span>
                      </div>
                      <!-- End Avatar Group -->
                    </div>
                  </div>
                  <!-- End Row -->
                </a>
              </li>
              <!-- End Item -->

              <!-- Item -->
              <li class="list-group-item">
                <a class="list-group-item-action border-danger" href="#">
                  <div class="row">
                    <div class="col-sm mb-2 mb-sm-0">
                      <h2 class="fw-normal mb-1">12:00 - 03:00 <span class="fs-5 text-body text-uppercase">pm</span></h2>
                      <h5 class="text-inherit mb-0">Monthly reports</h5>
                      <span class="text-body small">4 June, 2020</span>
                    </div>

                    <div class="col-sm-auto align-self-sm-end">
                      <!-- Avatar Group -->
                      <div class="avatar-group avatar-group-sm avatar-circle">
                              <span class="avatar">
                                <img class="avatar-img" src="./assets/img/160x160/img5.jpg" alt="Image Description">
                              </span>
                        <span class="avatar avatar-soft-dark">
                                <span class="avatar-initials">B</span>
                              </span>
                        <span class="avatar">
                                <img class="avatar-img" src="./assets/img/160x160/img8.jpg" alt="Image Description">
                              </span>
                        <span class="avatar">
                                <img class="avatar-img" src="./assets/img/160x160/img9.jpg" alt="Image Description">
                              </span>
                      </div>
                      <!-- End Avatar Group -->
                    </div>
                  </div>
                  <!-- End Row -->
                </a>
              </li>
              <!-- End Item -->
            </ul>
            <!-- End List Group -->
          </div>
        </div>
        <!-- End Tab Content -->
      </div>
      <!-- End Body -->
    </div>
    <!-- End Card -->
  </div>
  <!-- End Col -->
</div>








