
<div class="container content-space-2 ">

  <div class="row">
    <div class="col-lg-6 mb-9 mb-lg-0">
      <!-- Heading -->
      <div class="mb-5">
        <h1>Get in touch</h1>
        <p>We'd love to talk about how we can help you.</p>
      </div>

    </div>
    <!-- End Col -->
    <div class="col-lg-6">
      <div class="ps-lg-5">
        <!-- Card -->
        <div class="card">
          <div class="card-header border-bottom text-center">
            <h3 class="card-header-title">General Inquiries</h3>
          </div>

          <div class="card-body">
            <!-- Form -->
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
              <div class="row gx-3">
                <div class="col-sm-6">
                  <!-- Full Name -->
                  <div class="mb-3">

                    <input
                      type="text"
                      class="form-control form-control-lg"
                      formControlName="name"
                      id="name"
                      placeholder="Enter Full Name"
                      aria-label="Full Name"
                    />
                    <div *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.invalid" class="text-danger">
                      <small *ngIf="contactForm.get('name')?.hasError('required')">Full Name is required</small>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <!-- Email -->
                  <div class="mb-3">

                    <input
                      type="email"
                      class="form-control form-control-lg"
                      formControlName="email"
                      id="email"
                      placeholder="Enter Email"
                      aria-label="Email"
                    />
                    <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid" class="text-danger">
                      <small *ngIf="contactForm.get('email')?.hasError('required')">Email is required</small>
                      <small *ngIf="contactForm.get('email')?.hasError('email')">Invalid email format</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row gx-3">
                <div class="col-12">
                  <!-- Phone Numbers -->
                  <div class="mb-3" formArrayName="phoneNumbers">

                    <div *ngFor="let phoneCtrl of phoneNumbers.controls; let i = index">
                      <div class="d-flex align-items-center mb-2">
                        <input
                          type="tel"
                          class="form-control form-control-lg"
                          [formControlName]="i"
                          placeholder="Enter Phone Number"
                          aria-label="Phone Number"
                        />
                        <div class="col p-2">
                          <button type="button" class="btn btn-danger btn-sm ml-2" (click)="removePhoneNumber(i)">
                          Remove
                        </button>
                        </div>

                      </div>
                    </div>
                    <button type="button" class="btn btn-success btn-sm mt-2" (click)="addPhoneNumber()">
                      Add Phone Number
                    </button>
                    <div *ngIf="contactForm.get('phoneNumbers')?.invalid && contactForm.get('phoneNumbers')?.touched" class="text-danger">
                      <small *ngIf="contactForm.get('phoneNumbers')?.hasError('required')">At least one phone number is required</small>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12">
                  <!-- Address -->
                  <div class="mb-3">

                    <input
                      type="text"
                      class="form-control form-control-lg"
                      formControlName="address"
                      id="address"
                      placeholder="Enter Address"
                      aria-label="Address"
                    />
                    <div *ngIf="contactForm.get('address')?.touched && contactForm.get('address')?.invalid" class="text-danger">
                      <small *ngIf="contactForm.get('address')?.hasError('required')">Address is required</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <!-- Additional Information -->

                <textarea
                  class="form-control form-control-lg"
                  formControlName="info"
                  id="info"
                  placeholder="Tell us more..."
                  aria-label="Tell us more..."
                  rows="4"
                ></textarea>
                <div *ngIf="contactForm.get('info')?.touched && contactForm.get('info')?.invalid" class="text-danger">
                  <small *ngIf="contactForm.get('info')?.hasError('required')">Information is required</small>
                </div>
              </div>

              <!-- Submit Button -->
              <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-lg" [disabled]="contactForm.invalid">Submit</button>
              </div>

              <div class="text-center">
                <p class="form-text">We'll get back to you shortly.</p>
              </div>
            </form>
            <!-- End Form -->
          </div>
        </div>
        <!-- End Card -->
      </div>
    </div>

    <!-- End Col -->
  </div>
  <!-- End Row -->
</div>
