
<div class="container content-space-2 ">

  <div class="row">
    <div class="col-lg-6 mb-9 mb-lg-0">
      <!-- Heading -->

<app-contact-list></app-contact-list>
    </div>
    <!-- End Col -->
    <div class="col-lg-6">
      <div class="ps-lg-5">
        <div class="">

          <div class="card">

            <div class="card-body">
              <h2 class="card-title" style="color: black; text-align: center">Connect with us</h2>
              <form [formGroup]="GeneralInquiriesMessage" (ngSubmit)="onSubmit()">
                <div class="row gx-3">
                  <!-- Date and Reference Number -->
                  <div class="col-sm-6">
                    <div class="mb-3">
                      <input type="text" formControlName="date" [ngClass]="date?.invalid && (date?.dirty || date?.touched) ? 'is-invalid' : ''"
                             class="form-control form-control-lg border-0" id="transactionDate" placeholder="MM/DD/YYYY" aria-label="Date" readonly>
                      <div *ngIf="date?.invalid && (date?.dirty || date?.touched)" class="text-danger">
                        <div *ngIf="date?.errors?.['required']">Date is required.</div>
                      </div>
                    </div>
                  </div>



                </div>

                <!-- Information -->
                <div class="row gx-3">
                  <div class="col-sm-12">
                    <div class="mb-3">
    <textarea formControlName="additionalInformation"
              [ngClass]="additionalInformation?.invalid && (additionalInformation?.dirty || additionalInformation?.touched) ? 'is-invalid' : ''"
              class="form-control form-control-lg"
              id="transactionInformation"
              placeholder="Additional Information"
              aria-label="Information"></textarea>
                      <div *ngIf="additionalInformation?.invalid && (additionalInformation?.dirty || additionalInformation?.touched)" class="text-danger">
                        <div *ngIf="additionalInformation?.errors?.['required']">Information is required.</div>
                      </div>
                    </div>
                  </div>

                </div>

                <!-- Fullname and phoneNumber -->
                <div class="row gx-3">
                  <div class="col-sm-6">
                    <div class="mb-3">

                      <input type="text" formControlName="name" [ngClass]="name?.invalid && (name?.dirty || name?.touched) ? 'is-invalid' : ''"
                             class="form-control form-control-lg" id="transactionFullname" placeholder="Fullname Name" aria-label="Fullname">
                      <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text-danger">
                        <div *ngIf="name?.errors?.['required']">Full name is required.</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="mb-3">

                      <input type="text" formControlName="phoneNumber" [ngClass]="phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched) ? 'is-invalid' : ''"
                             class="form-control form-control-lg" id="transactionphoneNumber" placeholder="Enter phone Number" aria-label="phoneNumber">
                      <div *ngIf="phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)" class="text-danger">
                        <div *ngIf="phoneNumber?.errors?.['required']">phone Number is required.</div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Payee and Mode of Payment -->
                <div class="row gx-3">
                  <div class="col-sm-6">
                    <div class="mb-3">

                      <input type="text" formControlName="Email" [ngClass]="Email?.invalid && (Email?.dirty || Email?.touched) ? 'is-invalid' : ''"
                             class="form-control form-control-lg" id="transactionPayee" placeholder="Enter Email " aria-label="Payee">
                      <div *ngIf="Email?.invalid && (Email?.dirty || Email?.touched)" class="text-danger">
                        <div *ngIf="Email?.errors?.['required']">Valid Email is required.</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="mb-3">
                      <input type="text" formControlName="socialMedia" [ngClass]="socialMedia?.invalid && (socialMedia?.dirty || socialMedia?.touched) ? 'is-invalid' : ''"
                             class="form-control form-control-lg" id="transactionPaymentMode" placeholder="Social Media Links" aria-label="Payment Mode">
                      <div *ngIf="socialMedia?.invalid && (socialMedia?.dirty || socialMedia?.touched)" class="text-danger">
                        <div *ngIf="socialMedia?.errors?.['required']">Social Media Link</div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Submit Button -->
                <div class="d-grid mb-3">
                  <button type="submit" class="btn btn-dark btn-lg" style="background-color: black">Save Contact</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- End Col -->
  </div>
  <!-- End Row -->
</div>
<!-- Card -->

<!-- End Card -->
