<main id="contents" role="main" class="bg-light">
  <!-- Breadcrumb -->
  <div class="navbar-dark bg-primary" style="background-image: url(./assets/svg/components/wave-pattern-light.svg);">
    <div class="container content-space-1 content-space-b-lg-3">
      <div class="row align-items-center">
        <div class="col">
          <div class="d-none d-lg-block">
            <h1 class="h2 text-white">Personal info</h1>
          </div>

          <!-- Breadcrumb -->

          <!-- End Breadcrumb -->
        </div>
        <!-- End Col -->

        <div class="col-auto">
          <div class="d-none d-lg-block">
            <a class="btn btn-soft-light btn-sm" href="#">Log out</a>
          </div>

          <!-- Responsive Toggle Button -->
          <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-default">
                <i class="bi-list"></i>
              </span>
            <span class="navbar-toggler-toggled">
                <i class="bi-x"></i>
              </span>
          </button>
          <!-- End Responsive Toggle Button -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
  </div>
  <!-- End Breadcrumb -->

  <!-- Content -->
  <div class="container content-space-1 content-space-t-lg-0 content-space-b-lg-2 " style="margin-top: -125px">
    <div class="row">
      <div class="col-lg-3">
      <app-side-bar></app-side-bar>
      </div>
      <!-- End Col -->

      <div class="col-lg-9">

        <div class="d-grid gap-3 gap-lg-5">
          <!-- Card -->
          <div class="card">


            <div class="card-header border-bottom">

            </div>
            <div class="card-body">
              <div class="row">
                @for(item of inBuild; track item.name){


                <div class="col-6 col-md-2 mb-5">
                  <a [routerLink]="item.link">
                    <div class="card mx-auto shadow-none">
                      <img  class=" mx-auto img-fluid rounded-2" style=" width:130px; height:130px;" [src]="item.logo" alt="item.alt" >
                      <h6 class=" text-center mt-2">{{item.name}}</h6>
                    </div>
                  </a>
                </div>
                }
              </div>
              <div class="row">
                @for(item of images; track item.id){
              <div class="col-6 col-md-3 mb-5">
                <a (click)="openModal(item.id)">
                <div class="card mx-auto shadow-none">
                  <img  class=" mx-auto img-fluid rounded-2" style=" width:130px; height:130px;" [src]="item.src" [alt]="item.alt" >
                  <h6 class=" text-center mt-2">{{ item.title }}</h6>
                </div>
                </a>
              </div>
                }
            </div>
            </div>


   <div class="card-footer pt-0">
              <div class="d-flex justify-content-end gap-3">
                <a class="btn btn-white" href="javascript:;">Cancel</a>
                <a class="btn btn-primary" href="javascript:;">Save changes</a>
              </div>
            </div>
            <!-- End Footer -->
          </div>

        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Content -->
</main>


<!-- Buttons to open modals -->

<!-- Modal windows -->
<div *ngIf="isModalOpen" class="modal-overlay">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>{{ modalTitle }}</h2>
    <div class="row">
      @for(items of modalContent; track items.name ){
        <div class="col-4 col-md-3 col-lg-2 mb-2">
          <a [href]="items.link">
            <div class="card custom-card text-center cardPadding shadow-none" >
              <div class="">
                <img class="img-fluid customIMG" [src]="items.image" alt="{{items.name}}">
                <p class="text">{{items.name | truncateText:14}}</p>
              </div>
            </div>

          </a>
        </div>
      }


    </div>
     <!-- <li *ngFor="let item of modalContent">
        {{ item.name }} ({{ item.age }})
      </li>-->

  </div>
</div>
