<!--<div class="gradient-x-three-sm-primary" style="background-color: black">
  <div class="container content-space-1">
    <h1 class="mb-1 mt-1 text-white" >Transaction<span style="color: red"> Records</span></h1>
  </div></div>
<main class="container">


  &lt;!&ndash; End Breadcrumb &ndash;&gt;

  &lt;!&ndash; Card Grid &ndash;&gt;

    <div class="row col-lg-divider">
      <div class="col-lg-3">
        &lt;!&ndash; Navbar &ndash;&gt;
        <div class="navbar-expand-lg">
          &lt;!&ndash; Navbar Toggle &ndash;&gt;

          &lt;!&ndash; End Navbar Toggle &ndash;&gt;

          &lt;!&ndash; Navbar Collapse &ndash;&gt;
          <div id="navbarVerticalNavMenu" class="navbar-collapse collapse" style="">
            <div class="d-grid gap-4 flex-grow-1">
              <div class="nav nav-sm nav-pills nav-vertical">
                <h5 class="nav-subtitle">Explore</h5>
                <a class="nav-link d-flex justify-content-between" href="#">All <span class="badge text-dark border rounded-pill">30+</span></a>
                <a class="nav-link" href="#">Top rated</a>
                <a class="nav-link" href="#">Featured</a>
                <a class="nav-link" href="#">Daily tools</a>
                <a class="nav-link d-flex justify-content-between" href="#">New <span class="badge text-dark border rounded-pill">18</span></a>
                <a class="nav-link" href="#">Channels</a>
              </div>




            </div>
          </div>
          &lt;!&ndash; End Navbar Collapse &ndash;&gt;
        </div>
        &lt;!&ndash; End Navbar &ndash;&gt;
      </div>
      &lt;!&ndash; End Col &ndash;&gt;

      <div class="col-lg-9">
        <div class="ps-lg-2">
          &lt;!&ndash; Search &ndash;&gt;
          <div class="mb-4">


            <form class="mt-2">
              &lt;!&ndash; Input Card &ndash;&gt;
              <div class="input-card border">
                <div class="input-card-form">
                  <label for="searchAppsForm" class="form-label visually-hidden">Search for apps</label>
                  <div class="input-group input-group-merge">
                      <span class="input-group-prepend input-group-text">
                        <i class="bi-search"></i>
                      </span>
                    <input type="text" class="form-control" id="searchAppsForm" placeholder="Search " aria-label="Search for apps">
                  </div>
                </div>
                <button type="button" class="btn btn-primary">
                  <i class="bi-arrow-right"></i>
                </button>
              </div>
              &lt;!&ndash; End Input Card &ndash;&gt;
            </form>
          </div>
          &lt;!&ndash; End Search &ndash;&gt;

          <div class="row gx-3">
            @for (items of settings; track items.name){
            <div class="col-sm-6 col-md-4 mb-3">
              &lt;!&ndash; Card &ndash;&gt;
              <div class="card card-bordered card-transition  h-100 shadow-lg">
                <a class="card-body" [routerLink]="items.link">
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <img class="avatar avatar-lg" [src]="items.logo" alt="Logo">
                    </div>

                    <div class="flex-grow-1 ms-3">
                      <div class="d-flex align-items-center">
                        <h5 class="card-title mb-0">{{items.name}}</h5>
                       </div>
                      <p class="card-text text-body small">{{items.hint}}</p>
                    </div>
                  </div>
                </a>
              </div>
              &lt;!&ndash; End Card &ndash;&gt;
            </div>
            &lt;!&ndash; End Col &ndash;&gt;
            }

          </div>
          &lt;!&ndash; End Row &ndash;&gt;
        </div>
      </div>
      &lt;!&ndash; End Col &ndash;&gt;
    </div>
    &lt;!&ndash; End Row &ndash;&gt;

  &lt;!&ndash; End Card Grid &ndash;&gt;
</main>
&lt;!&ndash; Button 1 &ndash;&gt;-->
<div class="row gx-3">

    <div class="col-sm-6 col-md-4 mb-3" *ngFor="let item of navItems">
      <!-- Card -->
      <div class="card card-bordered card-transition  h-100 shadow-lg">
        <a class="card-body" routerLink="items.link">
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img class="avatar avatar-lg" [src]="item.logo" alt="Logo">
            </div>

            <div class="flex-grow-1 ms-3">
              <div class="d-flex align-items-center">
                <h5 class="card-title mb-0">{{ item.name }}</h5>
              </div>
              <p class="card-text text-body small"> item.description </p>
            </div>
          </div>
          <div class="col-5">
            <a class="btn btn-primary btn-sm w-100" (click)="openModal(item.name)">
              <i class="bi bi-pencil-square me-1"></i> Edit
            </a>
          </div>
        </a>
      </div>
      <!-- End Card -->
    </div>
    <!-- End Col -->


</div>








<!-- ✅ Modal: Edit -->
<div *ngIf="isModalOpen()" class="modal-overlay">
  <div class="modal-content position-relative">
    <div class="card" style=" min-height:90vh; max-height:95vh">

      <div class="card-body">
        <ng-container *ngIf="activeComponent() === 'Add User'">
          <app-payment-setup></app-payment-setup>
        </ng-container>
        <ng-container *ngIf="activeComponent() === 'Payments'">
          <app-payment-setup></app-payment-setup>
        </ng-container>

        <ng-container *ngIf="activeComponent() === 'Display'">
           <app-display-config></app-display-config>
        </ng-container>
        <ng-container *ngIf="activeComponent() === 'Insurance'">
          <app-credited></app-credited>
        </ng-container>
        <ng-container *ngIf="activeComponent() === 'Storage'">
          <app-storage></app-storage>
        </ng-container>
        <ng-container *ngIf="activeComponent() === 'Security'">
          <app-security></app-security>
        </ng-container>
        <ng-container *ngIf="activeComponent() === 'Company'">
          <app-company-profile></app-company-profile>
        </ng-container>


      </div>
    </div>
  </div>
</div>

