<!-- Hero -->
<div class="container content-space-2">
  <div class="row justify-content-md-between align-items-sm-center">
    <div class="col-8 col-sm-6 col-md-5 mb-5 mb-sm-0">
      <img class="img-fluid" src="../assets/svg/illustrations/oc-project-development.svg" alt="Image Description">
    </div>
    <!-- End Col -->

    <div class="col-sm-6">
      <div class="mb-5">
        <h1 class="display-4 mb-3">
          Web Services
          <br>
          <span class="text-primary text-highlight-warning">

          </span>
        </h1>
        <p class="lead">Discover Client Growth via Collaborative Planning and Requirement Understanding. Explore our Case Studies Below.</p>
      </div>

      <div class="d-grid d-md-flex gap-3 align-items-md-center">
        <a class="video-player video-player-btn" >

          Got project for us?<i class="bi-chevron-right small ms-1"></i>
        </a>
        <a class="btn btn-primary" routerLink="/contactUs">Lets Chat</a>

        <!-- Fancybox -->

        <!-- End Fancybox -->
      </div>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->
</div>
<!-- End Hero -->
