 Hero
<div class="gradient-x-overlay-sm-primary position-relative overflow-hidden">
  <div class="container content-space-t-3 content-space-t-lg-4 content-space-b-2">
    <div class="w-lg-65 text-center mx-lg-auto">
       Heading
      <div class="mb-5">
        <h1 class="display-4 mb-3">The <span class="text-primary">#1</span> software development tool.</h1>
        <p class="lead">Front Software is built for every member of your software team to plan, track, and release great software.</p>
      </div>
       End Heading

      <div class="d-grid d-sm-flex justify-content-sm-center align-items-sm-center gap-3">
        <a class="btn btn-primary btn-transition" href="#">Contact sales</a>
        <small>or</small>
        <a class="btn btn-soft-dark btn-transition" href="#">See pricing <i class="bi-chevron-right small ms-1"></i></a>
      </div>
    </div>
  </div>

   Mockup
  <div class="container  ">
    <div class="position-relative w-lg-75 text-center mx-lg-auto">

       SVG Shape
      <figure class="position-absolute top-0 end-0 mt-n10 me-n10" style="width: 12rem;" data-aos="fade-up" data-aos-delay="100" data-aos-offset="-50">
        <img class="img-fluid" src="../assets/svg/components/dots-lg.svg" alt="Image Description">
      </figure>
       End SVG Shape

       SVG Shape
      <figure class="position-absolute bottom-0 start-0 mb-n7 ms-n7" style="width: 10rem;" data-aos="fade-up">
        <img class="img-fluid" src="../assets/svg/components/dots.svg" alt="Image Description">
      </figure>
       End SVG Shape
    </div>
  </div>
   End Mockup

   SVG Background Shape
  <figure class="position-absolute top-0 end-0 zi-n1 mt-n10 me-n10" style="width: 32rem;">
    <svg viewBox="0 0 451 902" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M451 820C247.2 820 82 654.8 82 451C82 247.2 247.2 82 451 82" stroke="white" stroke-width="164" stroke-miterlimit="10"/>
    </svg>
  </figure>
   End SVG Background Shape

   SVG Background Shape
  <figure class="position-absolute bottom-0 start-0 zi-n1 mb-n10 me-n10" style="width: 21rem;">
    <svg viewBox="0 0 451 902" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path opacity="0.125" d="M0 82C203.8 82 369 247.2 369 451C369 654.8 203.8 820 0 820" stroke="url(#paint1_linear)" stroke-width="164" stroke-miterlimit="10"/>
      <defs>
        <linearGradient id="paint1_linear" x1="323.205" y1="785.242" x2="-97.6164" y2="56.3589" gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="white" stop-opacity="0"/>
          <stop offset="1" stop-color="#377dff"/>
        </linearGradient>
      </defs>
    </svg>
  </figure>
   End SVG Background Shape
</div>
 <div class="row">
   <div class="col-md-9 mb-2">
     <div class="container mb-2" id="content">
     <div class="d-grid gap-5">
       <div class="card card-flush card-stretched-vertical ">
         <div class="row">
           <div class="col-md-5">

             <div class="card-pinned"  data-fslightbox="propertyListGallery1">
               <img class="card-img  " style="object-fit: cover;  " src="custome/project%20development.jpg" alt="Image Description">
             </div>
           </div>
           <div class="col-md-7">
             <div class="card-body">
               <div class="row mb-2">
                 <div class="col-md-7">
                   <h3 class="card-title">
                     <div class="text-dark">Product Development</div>
                   </h3>
                 </div>
               </div>
               <p class="card-text" style="text-align: justify">

                 Kibrisorder has been offering comprehensive product development services since 2010, assisting clients in conceptualizing, designing, and implementing innovative eLearning solutions tailored to their specific needs, ultimately streamlining the online learning process and enhancing user engagement and accessibility.

               </p>

               <div class="card-footer">
                 <div class="row align-items-center">
                   <div class="col-lg mb-2 mb-lg-0">
                     <!-- Media -->
                     <div class="d-flex">
                       <div class="flex-grow-1 ms-0">
                         <!--

                         <a class="btn btn-primary btn-transition" style=" width: 30%">Learn More</a>
                         -->

                       </div>
                     </div>
                   </div>
                 </div>
                 <!-- End Row -->
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
     <div class="container mb-2">
       <div class="d-grid gap-5">
         <div class="card card-flush card-stretched-vertical ">
           <div class="row">
             <div class="col-md-5">
               <!-- Card Pinned -->
               <div class="card-pinned"  data-fslightbox="propertyListGallery1">
                 <img class="card-img  " style="object-fit: cover;  " src="custome/elearning.jpg" alt="Image Description">
               </div>
             </div>
             <div class="col-md-7">
               <div class="card-body">
                 <div class="row mb-2">
                   <div class="col-md-7">
                     <h3 class="card-title">
                       <div class="text-dark">eLearning & Education</div>
                     </h3>
                   </div>
                 </div>
                 <p class="card-text" style="text-align: justify">

                   kibrisorder has been providing full-cycle custom eLearning development services to educational institutions and schools since 2010. We deploy innovative eLearning applications, help expand educational offerings online, and make the learning process efficient, interactive, and cost-effective.
                   We create state-of-the-art custom eLearning software inspiring users to learn and enabling unlimited access to knowledge. Our development teams deliver a full range of eLearning solutions to streamline the online learning process.
                 </p>

                 <div class="card-footer">
                   <div class="row align-items-center">
                     <div class="col-lg mb-2 mb-lg-0">
                       <!-- Media -->
                       <div class="d-flex">
                         <div class="flex-grow-1 ms-0">
                           <!--
                           <a class="btn btn-primary btn-transition" style=" width: 30%">Learn More</a>
                           -->
                         </div>
                       </div>
                     </div>
                   </div>
                   <!-- End Row -->
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="container mb-2">
       <div class="d-grid gap-5">
         <div class="card card-flush card-stretched-vertical ">
           <div class="row">
             <div class="col-md-5">
               <!-- Card Pinned -->
               <div class="card-pinned"  data-fslightbox="propertyListGallery1">
                 <img class="card-img  " style="object-fit: cover;  " src="custome/media.jpg" alt="Image Description">
               </div>
             </div>
             <div class="col-md-7">
               <div class="card-body">
                 <div class="row mb-2">
                   <div class="col-md-7">
                     <h3 class="card-title">
                       <div class="text-dark">Media & Entertainment IT Solutions</div>
                     </h3>
                   </div>
                 </div>
                 <p class="card-text" style="text-align: justify">
                   Kibrisorder is a leading provider of IT solutions for media and entertainment companies. As an entertainment  app development company with years of experience in the industry, we understand the unique challenges businesses in this field face. Since a company focused on innovation, quality, and customer satisfaction, we help organizations succeed in the rapidly evolving media and entertainment industry by delivering IT solutions that meet their unique needs.  </p>

                 <div class="card-footer">
                   <div class="row align-items-center">
                     <div class="col-lg mb-2 mb-lg-0">
                       <!-- Media -->
                       <div class="d-flex">
                         <div class="flex-grow-1 ms-0">
                           <!--
                           <a class="btn btn-primary btn-transition" style=" width: 30%">Learn More</a>
                           -->
                         </div>
                       </div>
                     </div>
                   </div>
                   <!-- End Row -->
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="container mb-2">
       <div class="d-grid gap-5">
         <div class="card card-flush card-stretched-vertical ">
           <div class="row">
             <div class="col-md-5">
               <!-- Card Pinned -->
               <div class="card-pinned"  data-fslightbox="propertyListGallery1">
                 <img class="card-img  " style="object-fit: cover;  " src="custome/blockchaintech.jpg" alt="Image Description">
               </div>
             </div>
             <div class="col-md-7">
               <div class="card-body">
                 <div class="row mb-2">
                   <div class="col-md-7">
                     <h3 class="card-title">
                       <div class="text-dark">Blockchain Technology</div>
                     </h3>
                   </div>
                 </div>
                 <p class="card-text" style="text-align: justify">This superb one bedroom flat rests a stones throw from Kennington tube station and Elephant and Castle train station as well as the leafy Paisley Park.
                   This superb one bedroom flat rests a stones throw from Kennington tube station and Elephant and Castle train station as well as the leafy Paisley Park.
                   This superb one bedroom flat rests a stones throw from Kennington tube station and Elephant and Castle train station as well as the leafy Paisley Park.
                 </p>

                 <div class="card-footer">
                   <div class="row align-items-center">
                     <div class="col-lg mb-2 mb-lg-0">
                       <!-- Media -->
                       <div class="d-flex">
                         <div class="flex-grow-1 ms-0">
                           <!--
                           <a class="btn btn-primary btn-transition" style=" width: 30%">Learn More</a>
                           -->
                         </div>
                       </div>
                     </div>
                   </div>
                   <!-- End Row -->
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="container mb-2">
       <div class="d-grid gap-5">
         <div class="card card-flush card-stretched-vertical ">
           <div class="row">
             <div class="col-md-5">
               <!-- Card Pinned -->
               <div class="card-pinned"  data-fslightbox="propertyListGallery1">
                 <img class="card-img  " style="object-fit: cover;  "   src="custome/finance2.jpg" alt="Image Description">
               </div>
             </div>
             <div class="col-md-7">
               <div class="card-body">
                 <div class="row mb-2">
                   <div class="col-md-7">
                     <h3 class="card-title">
                       <div class="text-dark">Finance</div>
                     </h3>
                   </div>
                 </div>
                 <p class="card-text" style="text-align: justify">
                   With a team of highly skilled software engineers, financial domain experts, and technology enthusiasts, Kibrisorder collaborates closely with its clients to deliver custom financial software that meets their unique business requirements. By combining state-of-the-art approaches in the industry with bleeding-edge technologies, the company empowers financial institutions to stay ahead in a rapidly evolving digital landscape.
                 </p>

                 <div class="card-footer">
                   <div class="row align-items-center">
                     <div class="col-lg mb-2 mb-lg-0">
                       <!-- Media -->
                       <div class="d-flex">
                         <div class="flex-grow-1 ms-0">
                           <!--
                           <a class="btn btn-primary btn-transition" style=" width: 30%">Learn More</a>
                           -->
                         </div>
                       </div>
                     </div>
                   </div>
                   <!-- End Row -->
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div>
     <h1>System Information</h1>
     <p>OS: {{ os }}</p>
     <p>Platform: {{ platform }}</p>
     <p>Browser: {{ browser }}</p>
     <p>Browser Version: {{ browserVersion }}</p>
     <p>Device: {{ device }}</p>
     <p>Screen Resolution: {{ screenResolution }}</p>
     <p>Language: {{ language }}</p>
     <p>Timezone: {{ timezone }}</p>
   </div>
 </div>

