<div class="overflow-hidden">
  <div class="container content-space-t-3 content-space-b-1">
    <div class="row justify-content-lg-between align-items-md-center">
      <div class="col-md-6 col-lg-5 mb-7 mb-md-0">
        <!-- Heading -->
        <div class="mb-5">
          <span class="text-cap">Who we are? We are kibrisorder!</span>
          <h1 class="display-4 mb-3">Industries we Focus on.</h1>
          <p class="lead">We strive to understand your needs and create a custom software solution that helps grow your business.</p>
        </div>
        <!-- End Title & Description -->

        <div class="d-grid d-sm-flex gap-3">
          <a class="btn btn-primary btn-transition" routerLink="/caseStudy">Case studies</a>
         <!-- <a class="btn btn-link" routerLink="#content">Learn more <i class="bi-chevron-right small ms-1"></i></a>-->
        </div>
      </div>
      <!-- End Col -->
      <div class="card card-stretched-vertical mb-10">
        <div class="row gx-0">
          <div class="col-lg-8">
            <div class="shape-container overflow-hidden">
              <img class="card-img" src="./assets/img/900x450/img2.jpg" alt="Image Description">

              <!-- Shape -->
              <div class="shape shape-end d-none d-lg-block zi-1">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 100.1 1920" height="101%">
                  <path fill="#fff" d="M0,1920c0,0,93.4-934.4,0-1920h100.1v1920H0z"></path>
                </svg>
              </div>
              <!-- End Shape -->

              <!-- Shape -->
              <div class="shape shape-bottom d-lg-none zi-1" style="margin-bottom: -.25rem">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
                  <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"></path>
                </svg>
              </div>
              <!-- End Shape -->
            </div>
          </div>
          <!-- End Col -->

          <div class="col-lg-4">
            <!-- Card Body -->
            <div class="card-body">
              <h3 class="card-title">
                <a class="text-dark" href="./blog-article.html">How Google Assistant now helps you record stories for kids</a>
              </h3>

              <p class="card-text">Google is constantly updating its consumer AI, Google Assistant, with new features.</p>

              <!-- Card Footer -->
              <div class="card-footer">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0 avatar-group avatar-group-xs">
                    <a class="avatar avatar-xs avatar-circle" href="#" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Aaron Larsson" data-bs-original-title="Aaron Larsson">
                      <img class="avatar-img" src="./assets/img/160x160/img3.jpg" alt="Image Description">
                    </a>
                    <a class="avatar avatar-xs avatar-circle" href="#" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="John O'nolan" data-bs-original-title="John O'nolan">
                      <img class="avatar-img" src="./assets/img/160x160/img4.jpg" alt="Image Description">
                    </a>
                  </div>

                  <div class="flex-grow-1">
                    <div class="d-flex justify-content-end">
                      <p class="card-text">July 15</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Card Footer -->
            </div>
            <!-- End Card Body -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <div class="col-md-6 d-none d-lg-block">
        <div class="position-relative">
          <img class="img-fluid rounded-2" src="1920x1080/img6.jpg" alt="Image Description">
          <div class="position-absolute top-0 end-0 w-100 h-100 bg-soft-primary rounded-2 zi-n1 mt-5 me-n5"></div>
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
</div>

<div class="container content-space-1" id="content">
  <div class="d-grid gap-5">
    <div class="card card-flush card-stretched-vertical ">
      <div class="row">
        <div class="col-md-4">

          <div class="card-pinned"  data-fslightbox="propertyListGallery1">
            <img class="card-img rounded-circle" style="object-fit: cover; height: 16rem; width: 16rem" src="custome/project%20development.jpg" alt="Image Description">
          </div>
             </div>
       <div class="col-md-8">
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-md-7">
                <h3 class="card-title">
                  <div class="text-dark">Product Development</div>
                </h3>
              </div>
            </div>
            <p class="card-text" style="text-align: justify">

              Kibrisorder has been offering comprehensive product development services since 2010, assisting clients in conceptualizing, designing, and implementing innovative eLearning solutions tailored to their specific needs, ultimately streamlining the online learning process and enhancing user engagement and accessibility.

            </p>

            <div class="card-footer">
              <div class="row align-items-center">
                <div class="col-lg mb-2 mb-lg-0">
                  <!-- Media -->
                  <div class="d-flex">
                    <div class="flex-grow-1 ms-0">
                      <!--

                      <a class="btn btn-primary btn-transition" style=" width: 30%">Learn More</a>
                      -->

                    </div>
                  </div>
                </div>
              </div>
              <!-- End Row -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container content-space-1">
  <div class="d-grid gap-5">
    <div class="card card-flush card-stretched-vertical ">
      <div class="row">
        <div class="col-md-4">
          <!-- Card Pinned -->
          <div class="card-pinned"  data-fslightbox="propertyListGallery1">
            <img class="card-img rounded-circle" style="object-fit: cover; height: 16rem; width: 16rem" src="custome/elearning.jpg" alt="Image Description">
          </div>
             </div>
       <div class="col-md-8">
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-md-7">
                <h3 class="card-title">
                  <div class="text-dark">eLearning & Education</div>
                </h3>
              </div>
            </div>
            <p class="card-text" style="text-align: justify">

              kibrisorder has been providing full-cycle custom eLearning development services to educational institutions and schools since 2010. We deploy innovative eLearning applications, help expand educational offerings online, and make the learning process efficient, interactive, and cost-effective.
              We create state-of-the-art custom eLearning software inspiring users to learn and enabling unlimited access to knowledge. Our development teams deliver a full range of eLearning solutions to streamline the online learning process.
            </p>

            <div class="card-footer">
              <div class="row align-items-center">
                <div class="col-lg mb-2 mb-lg-0">
                  <!-- Media -->
                  <div class="d-flex">
                    <div class="flex-grow-1 ms-0">
                      <!--
                      <a class="btn btn-primary btn-transition" style=" width: 30%">Learn More</a>
                      -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Row -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container content-space-1">
  <div class="d-grid gap-5">
    <div class="card card-flush card-stretched-vertical ">
      <div class="row">
        <div class="col-md-4">
          <!-- Card Pinned -->
          <div class="card-pinned"  data-fslightbox="propertyListGallery1">
            <img class="card-img rounded-circle" style="object-fit: cover; height: 16rem; width: 16rem" src="custome/media.jpg" alt="Image Description">
          </div>
             </div>
       <div class="col-md-8">
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-md-7">
                <h3 class="card-title">
                  <div class="text-dark">Media & Entertainment IT Solutions</div>
                </h3>
              </div>
            </div>
            <p class="card-text" style="text-align: justify">
              Kibrisorder is a leading provider of IT solutions for media and entertainment companies. As an entertainment  app development company with years of experience in the industry, we understand the unique challenges businesses in this field face. Since a company focused on innovation, quality, and customer satisfaction, we help organizations succeed in the rapidly evolving media and entertainment industry by delivering IT solutions that meet their unique needs.  </p>

            <div class="card-footer">
              <div class="row align-items-center">
                <div class="col-lg mb-2 mb-lg-0">
                  <!-- Media -->
                  <div class="d-flex">
                    <div class="flex-grow-1 ms-0">
                      <!--
                      <a class="btn btn-primary btn-transition" style=" width: 30%">Learn More</a>
                      -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Row -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container content-space-1">
  <div class="d-grid gap-5">
    <div class="card card-flush card-stretched-vertical ">
      <div class="row">
        <div class="col-md-4">
          <!-- Card Pinned -->
          <div class="card-pinned"  data-fslightbox="propertyListGallery1">
            <img class="card-img rounded-circle" style="object-fit: cover; height: 16rem; width: 16rem" src="custome/blockchaintech.jpg" alt="Image Description">
          </div>
             </div>
       <div class="col-md-8">
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-md-7">
                <h3 class="card-title">
                  <div class="text-dark">Blockchain Technology</div>
                </h3>
              </div>
            </div>
            <p class="card-text" style="text-align: justify">This superb one bedroom flat rests a stones throw from Kennington tube station and Elephant and Castle train station as well as the leafy Paisley Park.
              This superb one bedroom flat rests a stones throw from Kennington tube station and Elephant and Castle train station as well as the leafy Paisley Park.
              This superb one bedroom flat rests a stones throw from Kennington tube station and Elephant and Castle train station as well as the leafy Paisley Park.
            </p>

            <div class="card-footer">
              <div class="row align-items-center">
                <div class="col-lg mb-2 mb-lg-0">
                  <!-- Media -->
                  <div class="d-flex">
                    <div class="flex-grow-1 ms-0">
                      <!--
                      <a class="btn btn-primary btn-transition" style=" width: 30%">Learn More</a>
                      -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Row -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container content-space-1">
  <div class="d-grid gap-5">
    <div class="card card-flush card-stretched-vertical ">
      <div class="row">
        <div class="col-md-4">
          <!-- Card Pinned -->
          <div class="card-pinned"  data-fslightbox="propertyListGallery1">
            <img class="card-img rounded-circle" style="object-fit: cover; height: 16rem; width: 16rem"   src="custome/finance2.jpg" alt="Image Description">
          </div>
             </div>
       <div class="col-md-8">
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-md-7">
                <h3 class="card-title">
                  <div class="text-dark">Finance</div>
                </h3>
              </div>
            </div>
            <p class="card-text" style="text-align: justify">
              With a team of highly skilled software engineers, financial domain experts, and technology enthusiasts, Kibrisorder collaborates closely with its clients to deliver custom financial software that meets their unique business requirements. By combining state-of-the-art approaches in the industry with bleeding-edge technologies, the company empowers financial institutions to stay ahead in a rapidly evolving digital landscape.
            </p>

            <div class="card-footer">
              <div class="row align-items-center">
                <div class="col-lg mb-2 mb-lg-0">
                  <!-- Media -->
                  <div class="d-flex">
                    <div class="flex-grow-1 ms-0">
                      <!--
                      <a class="btn btn-primary btn-transition" style=" width: 30%">Learn More</a>
                      -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Row -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

