<main id="content" role="main">
  <!-- Gallery -->
  <div class="position-relative bg-img-start"
       style="background-image: url(../../../../assets/svg/components/card-11.svg);">
    <div class="container content-space-t-3 content-space-t-lg-5 content-space-b-md-2 position-relative zi-2">
      <div class=" text-center mx-md-auto mb-9">


        <h1 class="display-2">Why invest in <span class="text-primary text-highlight-warning">
                    <span class="js-typedjs"></span>
                  </span></h1>
        <p class="lead w-md-75 w-lg-50 mx-auto">Unlock the potential of your investments amidst the Mediterranean allure
          - Discover why North Cyprus is your gateway to lucrative returns.</p>

        <!-- End Heading -->

      </div>

      <div class="row gx-2">
        <div class="d-none d-md-block col-md-4 align-self-end mb-2">
          <div class="ms-md-8">
            <img style="height: 18rem; width: 20rem; object-fit: cover" class="img-fluid rounded-2"
                 src="/assets/tibet-realty/home/k3.jpg" alt="Image Description">
          </div>
        </div>
        <!-- End Col -->

        <div class="col-12 col-md-8 mb-2">
          <!-- Video Block -->
          <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
            <img class="img-fluid video-player-preview rounded-2" src="/assets/tibet-realty/cities/famagusta.png"
                 alt="Image">

            <!-- Play Button -->
            <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
               data-hs-video-player-options="{
                   &quot;videoId&quot;: &quot;d4eDWc8g0e0&quot;,
                   &quot;parentSelector&quot;: &quot;#youTubeVideoPlayer&quot;,
                   &quot;targetSelector&quot;: &quot;#youTubeVideoIframe&quot;,
                   &quot;isAutoplay&quot;: true
                 }">

            </a>
            <!-- End Play Button -->

            <!-- Video Iframe -->
            <div class="ratio ratio-16x9">
              <div id="youTubeVideoIframe"></div>
            </div>
            <!-- End Video Iframe -->
          </div>
          <!-- End Video Block -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-md-8 mb-2">
          <img class="img-fluid rounded-2" src="/assets/tibet-realty/cities/kyrenia.jpg"
               style="width: 50rem; height: 25rem; object-fit: cover" alt="Image Description">
        </div>
        <!-- End Col -->

        <div class="col-6 col-md-4 mb-2">
          <div class="me-md-8">
            <img class="img-fluid rounded-2" src="/assets/tibet-realty/cities/lefke.jpg"
                 style="height: 18rem; object-fit: cover" alt="Image Description">
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>

    <!-- Shape -->
    <div class="shape shape-bottom zi-1">
      <svg width="3000" height="500" viewBox="0 0 3000 500" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 500H3000V0L0 500Z" fill="#fff"></path>
      </svg>
    </div>
    <!-- End Shape -->
  </div>
  <!-- End Gallery -->

  <!-- Icon Blocks -->
  <div class="container">
    <div class=" content-space-1 content-space-lg-1">
      <!-- Heading -->
      <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <span class="d-block small font-weight-bold text-cap mb-2">Tibet realty co.</span>
        <h2>Top reasond to invest in North Cyprus</h2>
      </div>
      <!-- End Heading -->

      <div class="row">
        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
          <!-- Icon Blocks -->
          <div class="d-flex">
            <div class="flex-shrink-0">
              <span>—</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h4>Fast Return on Investment</h4>
              <p>North Cyprus offers a fast return on investment, with a thriving real estate market that continues to
                attract investors from around the globe.</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
          <!-- Icon Blocks -->
          <div class="d-flex">
            <div class="flex-shrink-0">
              <span>—</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h4>Low Tax System</h4>
              <p>Enjoy the benefits of a low tax system, making North Cyprus an attractive destination for investors
                seeking to maximize their returns.</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
          <!-- Icon Blocks -->
          <div class="d-flex">
            <div class="flex-shrink-0">
              <span>—</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h4>Growing Economy</h4>
              <p>With a rapidly growing economy, North Cyprus presents abundant opportunities for investors looking to
                capitalize on emerging markets and burgeoning industries.</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
          <!-- Icon Blocks -->
          <div class="d-flex">
            <div class="flex-shrink-0">
              <span>—</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h4>Excellent Weather</h4>
              <p>Bask in the Mediterranean sunshine all year round, thanks to North Cyprus' excellent weather
                conditions, making it an ideal destination for both leisure and investment.</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
          <!-- Icon Blocks -->
          <div class="d-flex">
            <div class="flex-shrink-0">
              <span>—</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h4>Very Low Crime Rate</h4>
              <p>Experience peace of mind with North Cyprus' very low crime rate, ensuring a safe and secure environment
                for residents and investors alike.</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
          <!-- Icon Blocks -->
          <div class="d-flex">
            <div class="flex-shrink-0">
              <span>—</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h4>Top Ranked Beaches</h4>
              <p>Discover pristine beaches and crystal-clear waters that rank among the best in the world, offering
                unparalleled recreational opportunities and investment potential.</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>
        <div class="col-sm-6 col-md-4 mb-3 mb-sm-0">
          <!-- Icon Blocks -->
          <div class="d-flex">
            <div class="flex-shrink-0">
              <span>—</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h4>Growing Tourist Destination</h4>
              <p>Benefit from North Cyprus' status as a growing tourist destination, attracting visitors seeking sun,
                sea, and culture, driving demand for rental properties and investment opportunities.</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>
        <div class="col-sm-6 col-md-4 mb-3 mb-sm-0">
          <!-- Icon Blocks -->
          <div class="d-flex">
            <div class="flex-shrink-0">
              <span>—</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h4>Long-Term Interest-Free Installments</h4>
              <p>Take advantage of flexible financing options, including long-term interest-free installments, to
                facilitate your investment journey and optimize your financial strategy.</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>
        <div class="col-sm-6 col-md-4">
          <!-- Icon Blocks -->
          <div class="d-flex">
            <div class="flex-shrink-0">
              <span>—</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h4>Easy Residency By Investment</h4>
              <p>Secure residency in North Cyprus through investment, with straightforward processes and attractive
                incentives for investors looking to establish a foothold in this dynamic region.</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>
      </div>
      <div class="w-md-85 text-center mx-md-auto mt-5 mb-5 mb-md-9">

        <p>At Tibet Realty Co., we specialize in connecting investors with premium real estate opportunities in North
          Cyprus. Whether you're seeking high-yield rental properties, luxury residences, or commercial ventures, we're
          here to help you navigate the market and unlock the full potential of your investment. Explore our portfolio
          and start your journey towards success with us today.</p>
      </div>
    </div>
  </div>
  <!-- End Icon Blocks -->

  <!-- Icon Blocks -->
  <div class="container">
    <div class="content-space-1 content-space-lg-1 ">
      <!-- Heading -->
      <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <span class="d-block small font-weight-bold text-cap mb-2">Tibet realty co.</span>
        <h2>Guide to property investments in Cyprus</h2>
      </div>
      <!-- End Heading -->


      <div class="w-md-85  mx-md-auto mt-5 mb-5 mb-md-9">

        <p>If you are considering investing in property in Cyprus, there are a few things you should keep in mind.
          First, you will need to obtain a residence permit if you plan to live on the island permanently. Second, you
          will need to hire a lawyer to help you with the purchase process. Finally, you should be aware of the
          potential risks involved in investing in property in a foreign country.</p>
        <p>Overall, Cyprus is a great place to invest in property. The country has a lot to offer, including affordable
          prices, an excellent climate, friendly people, EU membership, and tax benefits. If you are looking for a good
          place to invest, Cyprus should be at the top of your list.</p>

        <p>Here are some of the best areas to invest in property in Cyprus:</p>
        <ul>
          <li><span>Limassol:</span> Limassol is the largest city in Cyprus and is a major business and financial
            center. The city has a growing population and is home to a number of international companies. Property
            prices in Limassol are rising rapidly and are expected to continue to do so in the future.
          </li>
          <li><span>Paphos:</span> Paphos is a popular tourist destination and is known for its beaches, historical
            sites, and warm climate. Property prices in Paphos are more affordable than in Limassol, but they are still
            rising.
          </li>

          <li><span>Larnaca:</span> Larnaca is a popular tourist destination and is home to an international airport.
            Property prices in Larnaca are more affordable than in Limassol and Paphos, but they are still rising.
          </li>


        </ul>

        <p>If you are considering investing in property in Cyprus, it is important to do your research and find an area
          that is right for you. You should also work with a reputable real estate agent who can help you find the right
          property and negotiate the best price.

        </p>
      </div>
    </div>
  </div>
  <!-- End Icon Blocks -->
  <!-- Icon Blocks -->
  <div class="container">
    <div class=" content-space-1 content-space-lg-1">
      <!-- Heading -->
      <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <span class="d-block small font-weight-bold text-cap mb-2">Tibet realty co.</span>
        <h2>Benefits of buying houses in Cyprus</h2>
      </div>
      <!-- End Heading -->


      <div class="w-md-85  mx-md-auto mt-5 mb-5 mb-md-9">

        <p>Cyprus is a popular destination for property buyers, both for those looking to live there permanently and for those looking to invest. There are many reasons why Cyprus is a good place to buy a house, including:</p>

        <ul>
          <li><span>Affordable prices:</span> Property prices in Cyprus are relatively affordable, especially compared to other European countries. For example, the average price of a house in Cyprus is €250,000, which is significantly lower than the average price of a house in France (€350,000) or Spain (€280,000).
          </li>
          <li><span>Excellent climate:</span> Cyprus has a Mediterranean climate, with warm summers and mild winters. This makes it a great place to live if you enjoy spending time outdoors.
          </li>

          <li><span>Friendly people:</span> The people of Cyprus are known for being friendly and welcoming. This makes it easy to adjust to life on the island, even if you are moving from a different country.
          </li>

          <li><span>EU membership:</span> Cyprus is a member of the European Union, which means that you will have access to the single market and the freedom of movement. This can be a major advantage if you are planning to work or study in Cyprus.
          </li>

          <li><span>Tax benefits: </span> Cyprus has a number of tax benefits for property buyers, including a 10% tax on capital gains and no inheritance tax.</li>

        </ul>

        <p>If you are considering buying a house in Cyprus, there are a few things you should keep in mind. First, you will need to obtain a residence permit if you plan to live on the island permanently. Second, you will need to hire a lawyer to help you with the purchase process. Finally, you should be aware of the potential risks involved in buying property in a foreign country.

        </p>

        <p>Overall, Cyprus is a great place to buy a house. The country has a lot to offer, including affordable prices, an excellent climate, friendly people, EU membership, and tax benefits. If you are looking for a place to live or invest, Cyprus should be at the top of your list.</p>
      </div>
    </div>
  </div>
  <!-- End Icon Blocks -->
</main>




