
<main id="content" role="main" class="main">
  <!-- Content -->
  <div class="content container-fluid">

    <!-- Card -->
    <div class="card">
      <!-- Header -->
      <div class="card-header card-header-content-md-between">
        <div class="mb-2 mb-md-0">
          <form>
            <!-- Search -->
            <div class="input-group input-group-merge input-group-flush">
              <div class="input-group-prepend input-group-text">
                <i class="bi-search"></i>
              </div>
              <input id="datatableSearch" type="search" class="form-control" placeholder="Search users" aria-label="Search users">
            </div>
            <!-- End Search -->
          </form>
        </div>


      </div>
      <!-- End Header -->

      <!-- Table -->
      <div class="table-responsive datatable-custom position-relative"  style="height: 150px">
        <div id="datatable_wrapper" class="dataTables_wrapper no-footer">


          <table id="datatable" class="table table-lg table-borderless table-thead-bordered table-nowrap table-align-middle card-table dataTable no-footer"  aria-describedby="datatable_info">

            <tbody>
































            <tr role="row" class="even">

              <td class="table-column-ps-0">
                <a class="d-flex align-items-center" href="./user-profile.html">
                  <div class="avatar avatar-soft-primary avatar-circle">
                    <span class="avatar-initials">A</span>
                  </div>
                  <div class="ms-3">
                    <span class="d-block h5 text-inherit mb-0">Anne Richard</span>
                    <span class="d-block fs-5 text-body">anneite.com</span>
                  </div>
                </a>
              </td>
              <td>
                <span class="d-block h5 mb-0">Seller</span>
                <span class="d-block fs-5">Branding products</span>
              </td>
              <td>United States</td>
              <td>
                <span class="legend-indicator bg-warning"></span>Pending
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="fs-5 me-2">24%</span>
                  <div class="progress table-progress">
                    <div class="progress-bar" role="progressbar" style="width: 24%" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>Employee</td>
              <td>
                <button type="button" class="btn btn-white btn-sm" data-bs-toggle="modal" data-bs-target="#editUserModal">
                  <i class="bi-pencil-fill me-1"></i> Edit
                </button>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
      <!-- End Table -->

      <!-- Footer -->
      <div class="card-footer">
        <div class="row justify-content-center justify-content-sm-between align-items-sm-center">


          <div class="col-sm-auto">
            <div class="d-flex justify-content-center justify-content-sm-end">
              <!-- Pagination -->
              <nav id="datatablePagination" aria-label="Activity pagination"><div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate"><ul id="datatable_pagination" class="pagination datatable-custom-pagination"><li class="paginate_item page-item disabled"><a class="paginate_button previous page-link" aria-controls="datatable" data-dt-idx="0" tabindex="0" id="datatable_previous"><span aria-hidden="true">Prev</span></a></li><li class="paginate_item page-item active"><a class="paginate_button page-link" aria-controls="datatable" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_item page-item"><a class="paginate_button page-link" aria-controls="datatable" data-dt-idx="2" tabindex="0">2</a></li><li class="paginate_item page-item"><a class="paginate_button next page-link" aria-controls="datatable" data-dt-idx="3" tabindex="0" id="datatable_next"><span aria-hidden="true">Next</span></a></li></ul></div></nav>
            </div>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Footer -->
    </div>
    <!-- End Card -->
  </div>
  <!-- End Content -->


</main>
