<div class=" ">
  <app-heading class="p-3" [text]="'Net balance'"></app-heading>

  <div class="chartjs-custom mb-4" style="height: 20rem;">
    <canvas id="netBalance" width="500" height="350"></canvas>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <span class="legend-indicator"></span> Yesterday
    </div>
    <!-- End Col -->

    <div class="col-auto">
      <span class="legend-indicator bg-primary"></span> Today
    </div>
    <!-- End Col -->
  </div>

</div>

