






<main id="content1" role="main" class="bg-light">
  <!-- Breadcrumb -->
  <div class="navbar-dark bg-black" style="background-image: url(./assets/svg/components/wave-pattern-light.svg);">
    <div class="container content-space-1 content-space-b-lg-2">
      <div class="row align-items-center">
        <div class="col">
          <div class="d-none d-lg-block">
            <h1 class="h2 text-white">Database</h1>
          </div>


          <!-- End Breadcrumb -->
        </div>
        <!-- End Col -->

        <div class="col-auto">
          <div class="d-none d-lg-block">
            <a class="btn btn-danger" routerLink="/menu">Close</a>
          </div>

          <!-- Responsive Toggle Button -->
          <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-default">
                <i class="bi-list"></i>
              </span>

          </button>
          <!-- End Responsive Toggle Button -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
  </div>
  <!-- End Breadcrumb -->

  <!-- Content -->
  <div class="container  content-space-t-lg-0 content-space-b-lg-2 mt-lg-n10">
    <div class="row">


      <div class="col-lg-12">
        <div class="d-grid gap-3 gap-lg-5">

          <div class="container ">
            <div class="w-lg-75 mx-auto">
              <!-- Jobs Link -->

              <!-- Card -->
              <div class="card card-lg">
                <div class="card-body">
                  <!-- Title -->



                  <div class="border-top text-center pt-5 pt-md-9 mb-5 mb-md-9">
                    <h2>Apply for this Job</h2>
                  </div>

                  <!-- Form -->
                  <form id="applyForJob" class="js-validate">
                    <div class="mb-5">
                      <h3>Submit your application</h3>
                    </div>

                    <!-- Form -->
                    <div class="row mb-3">
                      <label for="resumeCVCareersForm" class="col-sm-4 col-form-label">Resume/CV</label>
                      <div class="col-sm-8">
                        <input type="file" class="js-file-attach form-control" id="resumeCVCareersForm" name="resumeCVCareersFormName">
                      </div>
                    </div>
                    <!-- End Form -->

                    <!-- Form -->
                    <div class="row mb-3">
                      <label for="fullNameCareersForm" class="col-sm-4 col-form-label">Full name</label>
                      <div class="col-sm-8">
                        <input type="password" class="form-control" id="fullNameCareersForm" name="fullNameCareersFormName" placeholder="Jacob Williams" aria-label="Jacob Williams">
                      </div>
                    </div>
                    <!-- End Form -->

                    <!-- Form -->
                    <div class="row mb-3">
                      <label for="emailCareersForm" class="col-sm-4 col-form-label">Email</label>
                      <div class="col-sm-8">
                        <input type="password" class="form-control" id="emailCareersForm" name="emailCareersFormName" placeholder="example@site.com" aria-label="example@site.com">
                      </div>
                    </div>
                    <!-- End Form -->

                    <!-- Form -->
                    <div class="row mb-3">
                      <label for="phoneCareersForm" class="col-sm-4 col-form-label">Phone</label>
                      <div class="col-sm-8">
                        <input type="password" class="form-control" id="phoneCareersForm" name="phoneCareersFormName" placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx">
                      </div>
                    </div>
                    <!-- End Form -->

                    <!-- Form -->
                    <div class="row mb-3">
                      <label for="currentCompanyCareersForm" class="col-sm-4 col-form-label">Current company</label>
                      <div class="col-sm-8">
                        <input type="password" class="form-control" id="currentCompanyCareersForm" name="currentCompanyCareersFormName" placeholder="Google" aria-label="Google">
                      </div>
                    </div>
                    <!-- End Form -->




                    <div class="mb-5">
                      <h3>Additional information</h3>
                    </div>

                    <!-- Form -->
                    <div class="mb-3">
                      <label for="additionalInfoCareersForm" class="form-label visually-hidden">Additional information</label>
                      <textarea class="form-control" name="additionalInfoCareersFormName" id="additionalInfoCareersForm" placeholder="Add a cover letter or anything else you want to share." aria-label="Add a cover letter or anything else you want to share." rows="5"></textarea>
                    </div>
                    <!-- End Form -->

                    <div class="d-grid text-center mt-7">
                      <a class="btn btn-primary" href="#">Submit application</a>
                    </div>
                  </form>
                  <!-- End Form -->
                </div>
              </div>
              <!-- End Card -->
            </div>
          </div>
        </div>
        <!-- End Card -->



      </div>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->

  <!-- End Content -->
</main>










