
<main id="content1" role="main" class="bg-light d-none d-sm-block">
  <!-- Breadcrumb -->
  <div class="navbar-dark bg-black" style="background-image: url(../../../assets/svg/components/wave-pattern-light.svg);">

    <div class="container content-space-1 content-space-b-lg-1">


      <div class="row align-items-center">
        <div class="col">
          <div class="d-none d-lg-block">

          </div>


          <!-- End Breadcrumb -->
        </div>
        <!-- End Col -->

        <div class="col-auto">
          <div class="d-none d-lg-block">
            <a class="btn btn-danger" routerLink="/menu">Close</a>
          </div>

          <!-- Responsive Toggle Button -->
          <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-default">
                <i class="bi-list"></i>
              </span>
            <span class="navbar-toggler-toggled">
                <i class="bi-x"></i>
              </span>
          </button>
          <!-- End Responsive Toggle Button -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
  </div>


  <!-- End Content -->
</main>



<div class="container content-space-t-1 position-md-absolute top-0 start-0 end-0">
  <h1 class="h1 d-none d-sm-block" style="font-family: Consolas,serif; color: red">Cashbook pro<span style="color: red; font-family: Consolas,serif"> v1 </span></h1>
  <div class="row justify-content-end">
    <div class="col-md-12 col-lg-8 position-relative zi-2 mb-7 mb-md-2">

      <div id="stickyBlockStartPoint" style="">
        <div class="js-sticky-block"  style="">
          <!-- Card -->
          <div class="card">
            <div class="p-1">
              <!-- Fancybox -->
              <div class="bg-img-start text-center rounded-2 py-10 px-5" style="background-color: black">
              </div>
              <!-- End Fancybox -->
            </div>

            <!-- Card Body -->
            <div class="card-body">






                  <div class="row">
                    @for(items of cryptoWallets; track items.name ){
                      <div class="col-4 col-md-3 col-lg-2 mb-2">
                        <a [href]="items.link">
                          <div class="card custom-card text-center cardPadding shadow-none" >
                            <div class="">
                              <img class="img-fluid customIMG" [src]="items.logo" alt="{{items.name}}">
                              <p class="text">{{items.name | truncateText:10}}</p>
                            </div>
                          </div>

                        </a>
                      </div>
                    }


                  </div>


            </div>
            <!-- End Card Body -->
          </div>
          <!-- End Card -->
        </div>
      </div>
      <!-- End Sticky Block -->
    </div>
    <div class="col-md-4 col-lg-4 position-relative zi-2 mb-7 mb-md-0">
      <!-- Sticky Block -->
      <div id="stickyBlockStartPoint" style="">
        <div class="js-sticky-block" data-hs-sticky-block-options="{
                     &quot;parentSelector&quot;: &quot;#stickyBlockStartPoint&quot;,
                     &quot;breakpoint&quot;: &quot;md&quot;,
                     &quot;startPoint&quot;: &quot;#stickyBlockStartPoint&quot;,
                     &quot;endPoint&quot;: &quot;#stickyBlockEndPoint&quot;,
                     &quot;stickyOffsetTop&quot;: 12,
                     &quot;stickyOffsetBottom&quot;: 12
                   }" style="">
          <!-- Card -->
          <div class="card">
            <div class="p-1">

            </div>

            <!-- Card Body -->
            <div class="card-body">
              <div class="mb-3">
                <span class="card-title h2">$99.99</span>
                <span class="text-muted"><del>$114.99</del></span>
              </div>

              <div class="d-grid mb-2">
                <a class="btn btn-primary btn-transition" href="#">Buy now</a>
              </div>

              <div class="text-center mb-4">
                <p class="card-text small">30-day money-back guarantee</p>
              </div>

              <h4 class="card-title">This course includes</h4>

              <ul class="list-unstyled list-py-1">
                <li><i class="bi-camera-video nav-icon"></i> 46.5 hours on-demand video</li>
                <li><i class="bi-file-text nav-icon"></i> 77 articles</li>
                <li><i class="bi-file-earmark-arrow-down nav-icon"></i> 85 downloadable resources</li>
                <li><i class="bi-stopwatch nav-icon"></i> Full time access</li>
                <li><i class="bi-phone nav-icon"></i> Access on mobile and Tablet</li>
                <li><i class="bi-award nav-icon"></i> Certificate of Completion</li>
              </ul>
            </div>
            <!-- End Card Body -->
          </div>
          <!-- End Card -->
        </div>
      </div>
      <!-- End Sticky Block -->
    </div>
  </div>
</div>

