<div class="navbar-dark bg-dark" style="background-image: url(./assets/svg/components/wave-pattern-light.svg);">
  <div class="container content-space-1 content-space-b-lg-3">
    <div class="row align-items-center">


      <div class="col-auto">
        <div class="d-none d-lg-block">
          <a class="btn btn-soft-light btn-sm" href="#">Log out</a>
        </div>

        <!-- Responsive Toggle Button -->
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-default">
                <i class="bi-list"></i>
              </span>
          <span class="navbar-toggler-toggled">
                <i class="bi-x"></i>
              </span>
        </button>
        <!-- End Responsive Toggle Button -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
</div>
<div class="container content-space-1 content-space-t-lg-0 content-space-b-lg-2 " style="margin-top:-100px;">
  <div class="row">

    <!-- End Col -->

    <div class="col-lg-12">
      <!-- Card -->
      <div class="card">
        <div class="card-header border-bottom">
          <div class=" ">

              <app-stats-loading></app-stats-loading>



          </div>
        </div>

        <!-- Body -->
        <div class="card-body">
          <!-- Form -->
          <div class=" ">
            <div id="container">

              <div class="col">


                <!-- Breadcrumb -->
                <nav aria-label="breadcrumb">
                  <div class=" d-flex justify-content-center">
                    <div class=" mx-auto">
                      <div class=" mx-auto">
                        <h1 class="display-2 mb-0">Aims  <span style="color:red;">Technology</span></h1>
                        <h3 class="  ">Software Solutions</h3>
                      </div>

                    </div>

                  </div>
                </nav>
                <!-- End Breadcrumb -->
              </div>
              <div id="progress-bar">
                <div id="progress-bar-fill" [style.width]="progress + '%'"></div>
              </div>

              <span id="progress-percentage display-5">{{ progress }}%</span>
            </div>

          </div>
          <!-- End Form -->
        </div>
        <!-- End Body -->
      </div>
      <!-- End Card -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->
</div>

