<div class="navbar-dark bg-black" style="background-image: url(./assets/svg/components/wave-pattern-light.svg);">
  <div class="container content-space-1 content-space-b-lg-3">
    <div class="row align-items-center">


      <div class="col-auto">
        <div class="d-none d-lg-block">
          <a class="btn btn-soft-danger btn-sm" href="#">Exit</a>
        </div>

        <!-- Responsive Toggle Button -->
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-default">
                <i class="bi-list"></i>
              </span>
          <span class="navbar-toggler-toggled">
                <i class="bi-x"></i>
              </span>
        </button>
        <!-- End Responsive Toggle Button -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
</div>
<div class="container content-space-1 content-space-t-lg-0 content-space-b-lg-2 " style="margin-top:-100px;">
  <div class="row">

    <!-- End Col -->

    <div class="col-lg-12">
      <!-- Card -->
      <div class="card">
        <div class="card-header border-bottom">
          <div class=" ">

            <app-stats-loading></app-stats-loading>



          </div>
        </div>

        <!-- Body -->
        <div class="card-body">
          <!-- Form -->
          <div class=" ">
            <div id="container">

              <div class="col">


                <!-- Breadcrumb -->
                <nav aria-label="breadcrumb">
                  <div class=" d-flex justify-content-center">
                    <div class=" mx-auto">
                      <div class=" mx-auto">
                        <h1 class="display-2 mb-0">Aims  <span style="color:red;">Technology</span></h1>
                        <h3 class="  ">Software Solutions</h3>
                      </div>

                    </div>

                  </div>
                </nav>
                <!-- End Breadcrumb -->
              </div>

              <div id="progress-bar">
                <div  id="progress-bar-fill" [style.width]="progress() + '%'"></div>
              </div>

              <span id="progress-percentage display-5">{{ progress() }}%</span>
            </div>
            <!-- Card -->
            <div class="">


              <!-- Body -->
              <div class="">
                <!-- Nav Scroller -->
                <div class="js-nav-scroller hs-nav-scroller-horizontal">
      <span class="hs-nav-scroller-arrow-prev" style="display: none;">
        <a class="hs-nav-scroller-arrow-link" href="javascript:;">
          <i class="bi-chevron-left"></i>
        </a>
      </span>

                  <span class="hs-nav-scroller-arrow-next" style="display: none;">
        <a class="hs-nav-scroller-arrow-link" href="javascript:;">
          <i class="bi-chevron-right"></i>
        </a>
      </span>

                  <!-- Nav -->
                  <ul
                    class="nav nav-segment nav-fill mb-7"
                    id="featuresTab"
                    role="tablist"
                    [style.pointerEvents]="progress() < 100 ? 'none' : 'auto'"
                    [style.opacity]="progress() < 100 ? '0.5' : '1'"
                    [title]="progress() < 100 ? 'Please wait, loading in progress...' : ''"
                  >
                    <li class="nav-item" role="presentation" style="margin-right: 5px">
                      <a
                        class="nav-link active"
                        href="#accountOrdersOne"
                        id="accountOrdersOne-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#accountOrdersOne"
                        role="tab"
                        aria-controls="accountOrdersOne"
                        aria-selected="true"
                      >
                        Orders
                      </a>
                    </li>

                    <li class="nav-item" role="presentation">
                      <a
                        class="nav-link"
                        id="accountOrdersTwo-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#accountOrdersTwo"
                        role="tab"
                        aria-controls="accountOrdersTwo"
                        aria-selected="false"
                        routerLink="/login"
                      >
                        Login
                      </a>
                    </li>

                    <li class="nav-item" role="presentation">
                      <a
                        class="nav-link"
                        id="accountOrdersThree-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#accountOrdersThree"
                        role="tab"
                        aria-controls="accountOrdersThree"
                        aria-selected="false"
                        routerLink="/create-user-account"
                      >
                        Create Account
                      </a>
                    </li>
                  </ul>

                  <!-- End Nav -->
                </div>
                <!-- End Nav Scroller -->

                <!-- Tab Content -->
                <div class="tab-content" id="accountOrdersTabContent">
                  <div class="tab-pane fade show active" id="accountOrdersOne" role="tabpanel" aria-labelledby="accountOrdersOne-tab">


                    <ul class="list-unstyled mb-5">
                      <!-- Card -->
                      <li class="card card-bordered shadow-none mb-3">
                        <div class="p-2 p-md-3">

                          <h3>Device Information</h3>
                          <hr>

                          <div class="row p-3 ">
                            <div class="col-md-6 " >
                              <div class="d-grid  ">



                                <table class="table table-nowrap table-vertical-border-striped">
                                  <tbody>
                                  <tr *ngIf="progress() >= 10">
                                    <th scope="row" class="text-dark">Operating System</th>
                                    <td><i class="bi-check-circle text-success me-2"></i>{{ os() }}</td>
                                  </tr>

                                  <tr *ngIf="progress() >= 25">
                                    <th scope="row" class="text-dark">Device</th>
                                    <td><i class="bi-check-circle text-success me-2"></i>{{ device() }}</td>
                                  </tr>

                                  <tr *ngIf="progress() >= 39">
                                    <th scope="row" class="text-dark">Browser</th>
                                    <td><i class="bi-check-circle text-success me-2"></i>{{ browser() }}</td>
                                  </tr>
                                  <tr *ngIf="progress() >= 50">
                                    <th scope="row" class="text-dark">Browser</th>
                                    <td>
                                      <i class="bi-check-circle text-success me-2"></i>  {{ processor() | truncateText:20 }}
                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                                <div class="row g-1">
                                  <div class="col">
                                    <a
                                      class="btn btn-white btn-sm w-100"
                                      (click)="openModal()"
                                      [class.disabled]="progress() < 100"
                                      [style.pointerEvents]="progress() < 100 ? 'none' : 'auto'"
                                      [style.opacity]="progress() < 100 ? '0.5' : '1'"
                                      [style.cursor]="progress() < 100 ? 'not-allowed' : 'pointer'"
                                    >
                                      <i class="bi-basket small me-2"></i> View more
                                    </a>
                                  </div>

                                </div>

                              </div>
                            </div>

                            <div class="col-md-6">
                              <a
                                class="js-create-field form-link"
                                (click)="progress() === 100 && openSocialModal()"
                                [class.disabled]="progress() < 100"
                                [style.pointerEvents]="progress() < 100 ? 'none' : 'auto'"
                                [style.opacity]="progress() < 100 ? '0.5' : '1'"
                              >
                                <i class="bi-plus"></i> Social Media
                              </a>

                              <div class="grid-page">
                                <div class="row">
                                  @for(item of statMenu; track item.name){
                                    <div
                                      class="col-4 col-lg-3 custom-hover"
                                      [style.pointerEvents]="progress() < 100 ? 'none' : 'auto'"
                                      [style.opacity]="progress() < 100 ? '0.5' : '1'"
                                    >
                                      <a [routerLink]="item.link" class="card-link custom-hover">
                                        <img [src]="item.icon" alt="{{ item.name }}" class="card-icon" />
                                        <p style="font-size: 12px">{{item.name}}</p>
                                      </a>
                                    </div>
                                  }
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </li>
                      <!-- End Card -->


                    </ul>

                  </div>

                </div>
                <!-- End Tab Content -->
              </div>
              <!-- End Body -->
            </div>
            <!-- End Card -->
          </div>
          <!-- End Form -->
        </div>
        <!-- End Body -->
      </div>
      <!-- End Card -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->
</div>

<div *ngIf="moduleModalOpen()" class="modal-overlay">
  <div class="modal-content">
    <div class="card h-100">
      <!-- Header -->
      <div class="card-header d-flex justify-content-end gap-2">
        <h2 class="card-header-title me-auto">Course contents</h2>

        <a class="btn btn-ghost-danger btn-sm" (click)="closeModal()">Close</a>
      </div>
      <!-- End Header -->

      <div class="card-body-height p-3">
        <app-system-info [os]="os()" [platform]="platform()" [browserVersion]="browserVersion()"
                         [device]="device()" [browser]="browser()"
                         [screenResolution]="screenResolution()" [memory]="memory()" [processor]="processor()" [timezone]="timezone()" [language]="language()"></app-system-info>
      </div>
      <!-- End Body -->
    </div>
  </div>
</div>

<div *ngIf="socialModal()" class="modal-overlay">
  <div class="modal-content">
    <div class="card h-100">
      <!-- Header -->
      <div class="card-header d-flex justify-content-end gap-2">
        <h2 class="card-header-title me-auto">Course contents</h2>

        <a class="btn btn-ghost-danger btn-sm" (click)="closeSocialModal()">Close</a>
      </div>
      <!-- End Header -->

      <div class="card-body-height p-3">
        <div class="grid-page">
          <div class="row">
            @for(item of socialMediaPlatforms; track item.name){
              <div
                class="col-4 col-lg-2 custom-hover"
                [style.pointerEvents]="progress() < 100 ? 'none' : 'auto'"
                [style.opacity]="progress() < 100 ? '0.5' : '1'"
              >
                <a [routerLink]="item.link" class="card-link custom-hover">
                  <img [src]="item.logo" alt="{{ item.name }}" class="card-icon" />
                  <p style="font-size: 12px">{{item.name}}</p>
                </a>
              </div>
            }
          </div>
        </div>
      </div>
      <!-- End Body -->
    </div>
  </div>
</div>
