<!-- Hero -->
<div class="position-relative bg-dark overflow-hidden" style="background-image: url(../assets/svg/components/wave-pattern-light.svg);">
  <div class="container position-relative zi-2 content-space-t-3 content-space-t-lg-4 content-space-b-2 content-space-b-md-3">
    <div class="row align-items-lg-center">
      <div class="col-lg-5 mb-7 mb-lg-0">
        <!-- Heading -->
        <div class="mb-6">
          <h1 class="display-6 text-white">
            The
            <span class="text-warning">
              <span class="js-typedjs"
                    data-hs-typed-options='{
                      "strings": ["ideal", "fastest", "convenient"],
                      "typeSpeed": 60,
                      "loop": true,
                      "backSpeed": 25,
                      "backDelay": 1500
                    }'></span>
            </span>
            <br>
            pro account for entrepreneurs.
          </h1>

          <p class="lead text-white-70">Much more than a bank, Front is the ideal, fastest and most convenient financial and administrative co-driver to work with peace of mind.</p>
        </div>
        <!-- End Title & Description -->

        <div class="d-grid d-sm-flex gap-3">
          <a class="btn btn-primary btn-transition" href="../page-login-simple.html">Contact sales</a>
          <a class="btn btn-ghost-light btn-transition" href="#">Get started <i class="bi-chevron-right small ms-1"></i></a>
        </div>
      </div>
      <!-- End Col -->

      <div class="col-lg-7">
        <div class="position-relative">
          <!-- Browser Device -->
          <figure class="device-browser">
            <div class="device-browser-header">
              <div class="device-browser-header-btn-list">
                <span class="device-browser-header-btn-list-btn"></span>
                <span class="device-browser-header-btn-list-btn"></span>
                <span class="device-browser-header-btn-list-btn"></span>
              </div>
              <div class="device-browser-header-browser-bar">www.htmlstream.com/front/</div>
            </div>

            <div class="device-browser-frame">
              <img class="device-browser-img" src="../assets/img/1618x1010/img1.jpg" alt="Image Description">
            </div>
          </figure>
          <!-- End Browser Device -->

          <div class="d-none d-sm-block position-absolute bottom-0 end-0 zi-1 mb-n5 me-n5" style="max-width: 20rem;" data-aos="fade-up" data-aos-delay="100">
            <!-- Card -->
            <div class="card bg-warning" style="background-image: url(../assets/svg/components/wave-pattern-light.svg);">
              <div class="card-body">
                <h4 class="card-title">Integrate quickly</h4>
                <p class="card-text text-dark">Front lets you spend your development time on product improvements.</p>

                <!-- Avatar -->
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <img class="avatar avatar-sm avatar-circle" src="../assets/img/160x160/img3.jpg" alt="Image Description">
                  </div>
                  <div class="flex-grow-1 ms-2">
                    <h5 class="card-title mb-0">Raphael Olston</h5>
                    <p class="card-text text-dark small">Business</p>
                  </div>
                </div>
                <!-- End Avatar -->
              </div>
            </div>
            <!-- End Card -->
          </div>
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>

  <!-- Shape -->
  <div class="shape shape-bottom zi-1">
    <svg width="3000" height="500" viewBox="0 0 3000 500" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 500H3000V0L0 500Z" fill="#fff"/>
    </svg>
  </div>
  <!-- End Shape -->
</div>
<!-- End Hero -->
<!-- Hero -->
<div class="gradient-x-overlay-lg-dark-video">
  <!-- Video Background -->
  <div class="js-video-bg video-bg-content"
       data-hs-video-bg-options='{
         "type": "you-tube",
         "videoId": "d4eDWc8g0e0",
         "ratio": 0.75
       }'>
  </div>

  <div class="video-bg-replacer-img" style="background-image: url(../assets/img/1920x1080/img2.jpg);"></div>
  <!-- End Video Background -->

  <div class="position-relative zi-2">
    <!-- Content -->
    <div class="d-md-flex">
      <div class="container d-md-flex align-items-md-center min-vh-md-100 text-center content-space-3 content-space-t-md-4 content-space-t-lg-3">
        <div class="w-lg-75 mx-lg-auto">
          <!-- Heading -->
          <div class="mb-7">
            <h1 class="display-4 text-white mb-3">Change is coming</h1>
            <p class="lead text-white">Attract more visitors, and win more business with Front template.</p>
          </div>
          <!-- End Title & Description -->

          <!-- Input Card -->
          <form>
            <div class="input-card input-card-sm">
              <div class="input-card-form">
                <label for="nameRegisterForm" class="form-label visually-hidden">Enter your name</label>
                <input type="text" class="form-control form-control-lg" id="nameRegisterForm" placeholder="Your name" aria-label="Your name">
              </div>
              <div class="input-card-form">
                <label for="emailRegisterForm" class="form-label visually-hidden">Enter email</label>
                <input type="text" class="form-control form-control-lg" id="emailRegisterForm" placeholder="Your email" aria-label="Your email">
              </div>
              <button type="button" class="btn btn-primary btn-lg">Get started</button>
            </div>
          </form>
          <!-- End Input Card -->
        </div>
      </div>
    </div>
    <!-- End Content -->

    <!-- Clients -->
    <div class="position-absolute bottom-0 start-0 end-0">
      <div class="container py-5">
        <!-- Swiper Slider -->

        <!-- End Swiper Slider -->
      </div>
    </div>
    <!-- End Clients -->
  </div>
</div>
<!-- End Hero -->

<!-- Hero -->
<div class="position-relative overflow-hidden content-space-t-md-3">
  <div class="container">
    <div class="position-relative content-space-t-2 content-space-t-md-0 content-space-t-lg-3 content-space-b-2 content-space-b-md-3 content-space-b-xl-5">
      <div class="row position-relative zi-2 mt-md-n5">
        <div class="col-md-8 mb-7 mb-md-0">
          <!-- Heading -->
          <div class="w-md-75 mb-7">
            <h1 class="display-4">Discover a place you'll
              <span class="text-primary text-highlight-warning">
                <span class="js-typedjs"
                      data-hs-typed-options='{
                        "strings": ["love to live", "enjoy living"],
                        "typeSpeed": 90,
                        "loop": true,
                        "backSpeed": 30,
                        "backDelay": 2500
                      }'></span>
              </span>
            </h1>
          </div>
          <!-- End Heading -->

          <form>
            <!-- Input Card -->
            <div class="input-card">
              <div class="input-card-form">
                <label for="searchLocationForm" class="form-label visually-hidden">Search location</label>
                <div class="input-group input-group-merge">
                  <span class="input-group-prepend input-group-text">
                    <i class="bi-search"></i>
                  </span>
                  <input type="text" class="form-control form-control-lg" id="searchLocationForm" placeholder="Enter location" aria-label="Enter location">
                </div>
              </div>
              <button type="button" class="btn btn-primary btn-lg">Search</button>
            </div>
            <!-- End Input Card -->
          </form>

          <p class="form-text small">Search through over 125,000 listings</p>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->

      <div class="col-md-6 position-md-absolute top-0 end-0">
        <img class="img-fluid" src="images/item15.png" alt="Image Description">

        <!-- SVG Shape -->
        <div class="position-absolute bottom-0 end-0 zi-n1 mb-n10 me-n7" style="width: 12rem;">
          <img class="img-fluid" src="images/item15.png" alt="Image Description">
        </div>
        <!-- End SVG Shape -->
      </div>
    </div>
  </div>

  <div class="col-md-10 position-absolute top-0 start-0 zi-n1 gradient-y-three-sm-primary h-100" style="background-size: calc(1000px + (100vw - 1000px) / 2);"></div>
</div>
<!-- End Hero -->
