<div class="col-lg-3">
  <div class="row">

    <div class="col-6 col-md-12 mb-3 ">
      <!-- Card -->
      <div class="card h-100">
        <div class="card-body">
          <h6 class="card-subtitle mb-2">Total Transactions</h6>

          <div class="row align-items-center gx-2 text-center">
            <div class="col">
              <span class="js-counter display-6 text-dark text-center">200</span>
              <span class="text-body fs-5 ms-1 text-center">from 20,000</span>
            </div>
            <!-- End Col -->


            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>
    <div class="col-6 col-md-12 mb-3">
      <!-- Card -->
      <div class="card h-100">
        <div class="card-body">
          <h6 class="card-subtitle mb-2">Tot al Users</h6>

          <div class="row align-items-center gx-2 text-center">
            <div class="col">
              <span class="js-counter display-6 text-dark text-center" data-value="12">3</span>
              <span class="text-body fs-5 ms-1 text-center">from 50</span>
            </div>


          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>
    <div class="col-6 col-md-12 mb-3 ">
      <!-- Card -->
      <div class="card h-100">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-center">Database Usage</h6>

          <div class="row align-items-center gx-2">
            <div class="col">
              <span class="js-counter display-6 text-dark text-center">900</span>
              <span class="display-5 text-dark">%</span>

            </div>


          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>

  </div>

  <!-- End Navbar -->
</div>
