<div class="container content-space-2 content-space-lg-3">
  <div class="row justify-content-lg-between align-items-md-center">
    <div class="col-md-5 mb-7 mb-md-0">
      <div class="mb-5">
        <h2>Thousands of experts around the world ready to help you.</h2>
        <p>See why leading organizations choose Front Course for Business as their destination for employee learning.</p>
      </div>

      <h4>Learn more about:</h4>

      <!-- List Checked -->
      <ul class="list-checked list-checked-primary">
        <li class="list-checked-item">Unlimited access to the top 3,500+ courses</li>
        <li class="list-checked-item">Fresh content taught by 1,300+ experts – for any learning style</li>
        <li class="list-checked-item">Actionable learning insights <span class="badge bg-warning text-dark rounded-pill ms-1">Beta</span></li>
      </ul>
      <!-- End List Checked -->
    </div>
    <!-- End Col -->

    <div class="col-md-7 col-lg-6">
      <!-- Form -->
      <form class="js-validate needs-validation" novalidate="">
        <!-- Card -->
        <div class="card">
          <div class="card-header bg-primary text-center">
            <h4 class="card-header-title text-white">Try it free for 7 days <span class="badge bg-warning text-dark rounded-pill ms-1">starting at $59</span></h4>
          </div>

          <div class="card-body">
            <div class="row gx-3">
              <div class="col-sm-6">
                <!-- Form -->
                <div class="mb-4">
                  <label class="form-label" for="signupHeroFormFirstName">First name</label>
                  <input type="text" class="form-control form-control-lg" name="signupHeroFormNameFirstName" id="signupHeroFormFirstName" placeholder="First name" aria-label="First name" required="">
                  <span class="invalid-feedback">Please enter your first name</span>
                </div>
                <!-- End Form -->
              </div>
              <!-- End Col -->

              <div class="col-sm-6">
                <!-- Form -->
                <div class="mb-4">
                  <label class="form-label" for="signupHeroFormLasttName">Last name</label>
                  <input type="text" class="form-control form-control-lg" name="signupHeroFormNameLastName" id="signupHeroFormLasttName" placeholder="Last name" aria-label="Last name" required="">
                  <span class="invalid-feedback">Please enter your last name</span>
                </div>
                <!-- End Form -->
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->

            <!-- Form -->
            <div class="mb-4">
              <label class="form-label" for="signupHeroFormWorkEmail">Email address</label>
              <input type="email" class="form-control form-control-lg" name="signupHeroFormNameWorkEmail" id="signupHeroFormWorkEmail" placeholder="email@site.com" aria-label="email@site.com" required="">
              <span class="invalid-feedback">Please enter your email address</span>
            </div>
            <!-- End Form -->

            <div class="row gx-3">
              <div class="col-sm-6">
                <!-- Form -->
                <div class="mb-4">
                  <label class="form-label" for="signupHeroFormSignupPassword">Password</label>
                  <input type="password" class="form-control form-control-lg" name="password" id="signupHeroFormSignupPassword" placeholder="8+ characters required" aria-label="8+ characters required" required="">
                  <span class="invalid-feedback">Your password must include 8+ characters</span>
                </div>
                <!-- End Form -->
              </div>
              <!-- End Col -->

              <div class="col-sm-6">
                <!-- Form -->
                <div class="mb-4" data-hs-validation-validate-class="">
                  <label class="form-label" for="signupHeroFormSignupConfirmPassword">Confirm password</label>
                  <input type="password" class="form-control form-control-lg" name="confirmPassword" id="signupHeroFormSignupConfirmPassword" placeholder="8+ characters required" aria-label="8+ characters required" required="" data-hs-validation-equal-field="#signupHeroFormSignupPassword">
                  <span class="invalid-feedback">Password does not match the confirm password</span>
                </div>
                <!-- End Form -->
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->

            <!-- Check -->
            <div class="form-check mb-4">
              <input type="checkbox" class="form-check-input" id="signupHeroFormPrivacyCheck" name="signupFormPrivacyCheck" required="">
              <label class="form-check-label small" for="signupHeroFormPrivacyCheck"> By submitting this form I have read and acknowledged the <a href="../page-privacy.html">Privacy Policy</a></label>
              <span class="invalid-feedback">Please accept our Privacy Policy.</span>
            </div>
            <!-- End Check -->

            <div class="row align-items-center">
              <div class="col-sm-7 mb-3 mb-sm-0">
                <p class="card-text small">Already have an account? <a class="link" href="../page-login.html">Log In</a></p>
              </div>
              <!-- End Col -->

              <div class="col-sm-5 text-sm-end">
                <button type="submit" class="btn btn-primary btn-lg">Sign up now</button>
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
        </div>
        <!-- End Card -->
      </form>
      <!-- End Form -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->
</div>
