<div class="navbar-dark bg-dark" style="background-image: url(./assets/svg/components/wave-pattern-light.svg);">
  <div class="container content-space-1 content-space-b-lg-3">
    <div class="row align-items-center">
      <div class="col">
        <div class="d-none d-lg-block">
          <h1 class="h2 text-white">Personal info</h1>
        </div>

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light mb-0">
            <li class="breadcrumb-item">Account</li>
            <li class="breadcrumb-item active" aria-current="page">Personal Info</li>
          </ol>
        </nav>
        <!-- End Breadcrumb -->
      </div>
      <!-- End Col -->

      <div class="col-auto">
        <div class="d-none d-lg-block">
          <a class="btn btn-soft-light btn-sm" href="#">Log out</a>
        </div>

        <!-- Responsive Toggle Button -->
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-default">
                <i class="bi-list"></i>
              </span>
          <span class="navbar-toggler-toggled">
                <i class="bi-x"></i>
              </span>
        </button>
        <!-- End Responsive Toggle Button -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
</div>

<div class="container content-space-1 content-space-t-lg-0 content-space-b-lg-2 mt-n10">
  <div class="row">

    <div class="col-lg-12">
      <!-- Card -->
      <div class=" card card-body">


        <div class="border-bottom pb-4 mb-4">
          <div class="row align-items-center">
            <div class="col-sm-6 mb-2 mb-sm-0">
              <h3 class="mb-0">Reviews</h3>
            </div>


            <div class="col-sm-6">
              <!-- Form -->
              <form>
                <div class="input-group input-group-merge">
                  <input type="search" class="form-control" placeholder="Search reviews" aria-label="Search reviews">
                  <div class="input-group-append input-group-text">
                    <i class="bi-search"></i>
                  </div>
                </div>
              </form>
              <!-- End Form -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Heading -->

        <!-- Comment -->
        <ul class="list-comment list-comment-divider mb-7">
          <!-- Item -->
          <li class="list-comment-item">

            <!-- Media -->
            <div class="d-flex align-items-center mb-3">
              <div class="flex-shrink-0">
                <img class="avatar avatar-sm avatar-circle" src="avatar/avatar-svgrepo-com (1).svg" alt="Image Description">
              </div>

              <div class="flex-grow-1 ms-3">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="mb-0">Dave Austin</h5>
                  <span class="d-block small text-muted">April 3, 2019</span>
                </div>
              </div>
            </div>
            <!-- End Media -->

            <div class="mb-5">
              <p>This course helped me in learning python in a very simple and effective way & boosts up my confidence. Concepts have been explained in a crystal clear way.</p>
            </div>



            <!-- Media -->
            <div class="d-flex align-items-center">
              <span class="small me-2">Was this helpful?</span>

              <div class="d-flex gap-2">
                <a class="btn btn-white btn-xs" href="javascript:;">
                  <i class="bi-hand-thumbs-up me-1"></i> Yes <span>(45)</span>
                </a>
                <a class="btn btn-white btn-xs" href="javascript:;">
                  <i class="bi-hand-thumbs-down me-1"></i> No <span>(21)</span>
                </a>
              </div>
            </div>
            <!-- End Media -->
          </li>
          <!-- End Item -->

          <!-- End Item -->
        </ul>
        <!-- End Comment -->

      </div>
      <!-- End Card -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->
</div>
<!-- End Hero -->

<!-- End Content -->
