<!-- Hero -->
<div class="position-relative bg-primary overflow-hidden">
  <div class="container position-relative zi-2 content-space-2 ">
    <div class="w-md-75 w-xl-65 text-center mx-md-auto">
      <!-- Heading -->
      <div class="mb-7">
        <h1 class="display-4 text-white mb-4">Active Users</h1>

      </div>
      <!-- End Title & Description -->


    </div>
  </div>

  <!-- Background Shape -->
  <figure class="position-absolute top-0 start-0 w-65">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1246 1078">
      <g opacity=".4">
        <linearGradient id="doubleEllipseTopLeftID1" gradientUnits="userSpaceOnUse" x1="2073.5078" y1="1.7251" x2="2273.4375" y2="1135.5818" gradientTransform="matrix(-1 0 0 1 2600 0)">
          <stop offset="0.4976" style="stop-color:gulpLighten[#377dff,30]"/>
          <stop offset="1" style="stop-color:#377dff"/>
        </linearGradient>
        <polygon fill="url(#doubleEllipseTopLeftID1)" points="519.8,0.6 0,0.6 0,1078 863.4,1078   "/>
        <linearGradient id="doubleEllipseTopLeftID2" gradientUnits="userSpaceOnUse" x1="1717.1648" y1="3.779560e-05" x2="1717.1648" y2="644.0417" gradientTransform="matrix(-1 0 0 1 2600 0)">
          <stop offset="1.577052e-06" style="stop-color:gulpLighten[#377dff,30]"/>
          <stop offset="1" style="stop-color:#377dff"/>
        </linearGradient>
        <polygon fill="url(#doubleEllipseTopLeftID2)" points="519.7,0 1039.4,0.6 1246,639.1 725.2,644   "/>
      </g>
    </svg>
  </figure>
  <!-- End Background Shape -->

  <!-- Shape -->
  <div class="shape shape-bottom zi-1" style="margin-bottom: -.125rem">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
      <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"></path>
    </svg>
  </div>
  <!-- End Shape -->
</div>
<!-- End Hero -->
<div class="container content-space-1 ">

  <div class="row mb-7">
    <div class="col-6 col-md-3 mb-5 mb-lg-0">
      <!-- Team -->
      <img class="card-img rounded-2" src="avatar/img_2.png" alt="Image Description">
      <div class="card card-sm text-center mt-n7 mx-3">
        <div class="card-body">
          <h6 class="card-title">Christina Kray</h6>
          <p class="card-text">Project Manager</p>
        </div>
      </div>
      <!-- End Team -->
    </div>
    <!-- End Col -->

    <div class="col-6 col-md-3 mb-5 mb-lg-0">
      <!-- Team -->
      <img class="card-img rounded-2" src="avatar/img_2.png" alt="Image Description">
      <div class="card card-sm text-center mt-n7 mx-3">
        <div class="card-body">
          <h6 class="card-title">Jeff Fisher</h6>
          <p class="card-text">CEO, Director</p>
        </div>
      </div>
      <!-- End Team -->
    </div>

  </div>
  <!-- End Row -->

  <!-- Card Info -->
  <div class="text-center">
    <div class="card card-info-link card-sm">
      <div class="card-body">
        Want to work with us? <a class="card-link ms-2" href="./page-hire-us.html">We're hiring <span class="bi-chevron-right small ms-1"></span></a>
      </div>
    </div>
  </div>
  <!-- End Card Info -->
</div>

<!-- End Card -->
<div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3">
  <div class="col mb-3 mb-lg-5">
    <!-- Card -->
    <div class="card h-100">
      <div class="card-pinned">
        <div class="card-pinned-top-end">
          <!-- Dropdown -->
          <div class="dropdown">
            <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm rounded-circle" id="connectionsDropdown1" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi-three-dots-vertical"></i>
            </button>

            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end" aria-labelledby="connectionsDropdown1">
              <a class="dropdown-item" href="#">Share connection</a>
              <a class="dropdown-item" href="#">Block connection</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="#">Delete</a>
            </div>
          </div>
          <!-- End Dropdown -->
        </div>
      </div>

      <!-- Body -->
      <div class="card-body text-center">
        <!-- Avatar -->
        <div class="avatar avatar-xl avatar-soft-primary avatar-circle avatar-centered mb-3">
          <span class="avatar-initials">R</span>
          <span class="avatar-status avatar-sm-status avatar-status-warning"></span>
        </div>
        <!-- End Avatar -->

        <h3 class="mb-1">
          <a class="text-dark" href="#">Rachel Doe</a>
        </h3>

        <div class="mb-3">
          <i class="bi-building me-1"></i>
          <span>Design</span>
        </div>

        <!-- Badges -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a class="badge bg-soft-secondary text-secondary p-2" href="#">UI/UX</a></li>
          <li class="list-inline-item"><a class="badge bg-soft-secondary text-secondary p-2" href="#">Sketch</a></li>
          <li class="list-inline-item"><a class="badge bg-soft-secondary text-secondary p-2" href="#">Figma</a></li>
        </ul>
        <!-- End Badges -->
      </div>
      <!-- End Body -->

      <!-- Footer -->
      <div class="card-footer">
        <div class="row justify-content-between align-items-center">
          <div class="col-auto py-1">
            <a class="fs-6 text-body" href="#">25 connections</a>
          </div>

          <div class="col-auto py-1">
            <!-- Form Check -->
            <div class="form-check form-check-switch">
              <input class="form-check-input" type="checkbox" value="" id="connectionsCheckbox1" checked="">
              <label class="form-check-label btn btn-sm" for="connectionsCheckbox1">
                              <span class="form-check-default">
                                <i class="bi-person-plus-fill"></i> Connect
                              </span>
                <span class="form-check-active">
                                <i class="bi-check-lg me-2"></i> Connected
                              </span>
              </label>
            </div>
            <!-- End Form Check -->
          </div>
        </div>
      </div>
      <!-- End Footer -->
    </div>
    <!-- End Card -->
  </div>
  <!-- End Col -->

  <div class="col mb-3 mb-lg-5">
    <!-- Card -->
    <div class="card h-100">
      <div class="card-pinned">
        <div class="card-pinned-top-end">
          <!-- Dropdown -->
          <div class="dropdown">
            <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm rounded-circle" id="connectionsDropdown2" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi-three-dots-vertical"></i>
            </button>

            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end" aria-labelledby="connectionsDropdown2">
              <a class="dropdown-item" href="#">Share connection</a>
              <a class="dropdown-item" href="#">Block connection</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="#">Delete</a>
            </div>
          </div>
          <!-- End Dropdown -->
        </div>
      </div>

      <!-- Body -->
      <div class="card-body text-center">
        <!-- Avatar -->
        <div class="avatar avatar-xl avatar-circle avatar-centered mb-3">
          <img class="avatar-img" src="./assets/img/160x160/img8.jpg" alt="Image Description">
          <span class="avatar-status avatar-sm-status avatar-status-success"></span>
        </div>
        <!-- End Avatar -->

        <h3 class="mb-1">
          <a class="text-dark" href="#">Isabella Finley</a>
        </h3>

        <div class="mb-3">
          <i class="bi-building me-1"></i>
          <span>FrontApp</span>
        </div>

        <!-- Badges -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a class="badge bg-soft-secondary text-secondary p-2" href="#">Human resources</a></li>
          <li class="list-inline-item"><a class="badge bg-soft-secondary text-secondary p-2" href="#">Support</a></li>
        </ul>
        <!-- End Badges -->
      </div>
      <!-- End Body -->

      <!-- Footer -->
      <div class="card-footer">
        <div class="row justify-content-between align-items-center">
          <div class="col-auto py-1">
            <a class="fs-6 text-body" href="#">79 connections</a>
          </div>
          <!-- End Col -->

          <div class="col-auto py-1">
            <!-- Form Check -->
            <div class="form-check form-check-switch">
              <input class="form-check-input" type="checkbox" value="" id="connectionsCheckbox2" checked="">
              <label class="form-check-label btn btn-sm" for="connectionsCheckbox2">
                              <span class="form-check-default">
                                <i class="bi-person-plus-fill"></i> Connect
                              </span>
                <span class="form-check-active">
                                <i class="bi-check-lg me-2"></i> Connected
                              </span>
              </label>
            </div>
            <!-- End Form Check -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Footer -->
    </div>
    <!-- End Card -->
  </div>
  <!-- End Col -->

  <div class="col mb-3 mb-lg-5">
    <!-- Card -->
    <div class="card h-100">
      <div class="card-pinned">
        <div class="card-pinned-top-end">
          <!-- Dropdown -->
          <div class="dropdown">
            <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm rounded-circle" id="connectionsDropdown3" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi-three-dots-vertical"></i>
            </button>

            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end" aria-labelledby="connectionsDropdown3">
              <a class="dropdown-item" href="#">Share connection</a>
              <a class="dropdown-item" href="#">Block connection</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="#">Delete</a>
            </div>
          </div>
          <!-- End Dropdown -->
        </div>
      </div>

      <!-- Body -->
      <div class="card-body text-center">
        <!-- Avatar -->
        <div class="avatar avatar-xl avatar-circle avatar-centered mb-3">
          <img class="avatar-img" src="./assets/img/160x160/img3.jpg" alt="Image Description">
          <span class="avatar-status avatar-sm-status avatar-status-warning"></span>
        </div>
        <!-- End Avatar -->

        <h3 class="mb-1">
          <a class="text-dark" href="#">David Harrison</a>
        </h3>

        <div class="mb-3">
          <i class="bi-building me-1"></i>
          <span>Unassigned</span>
        </div>

        <!-- Badges -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a class="badge bg-soft-secondary text-secondary p-2" href="#">Marketing</a></li>
        </ul>
        <!-- End Badges -->
      </div>
      <!-- End Body -->

      <!-- Footer -->
      <div class="card-footer">
        <div class="row justify-content-between align-items-center">
          <div class="col-auto py-1">
            <a class="fs-6 text-body" href="#">0 connections</a>
          </div>
          <!-- End Col -->

          <div class="col-auto py-1">
            <!-- Form Check -->
            <div class="form-check form-check-switch">
              <input class="form-check-input" type="checkbox" value="" id="connectionsCheckbox3">
              <label class="form-check-label btn btn-sm" for="connectionsCheckbox3">
                              <span class="form-check-default">
                                <i class="bi-person-plus-fill"></i> Connect
                              </span>
                <span class="form-check-active">
                                <i class="bi-check-lg me-2"></i> Connected
                              </span>
              </label>
            </div>
            <!-- End Form Check -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Footer -->
    </div>
    <!-- End Card -->
  </div>
  <!-- End Col -->

  <div class="col mb-3 mb-lg-5">
    <!-- Card -->
    <div class="card h-100">
      <div class="card-pinned">
        <div class="card-pinned-top-end">
          <!-- Dropdown -->
          <div class="dropdown">
            <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm rounded-circle" id="connectionsDropdown4" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi-three-dots-vertical"></i>
            </button>

            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end" aria-labelledby="connectionsDropdown4">
              <a class="dropdown-item" href="#">Share connection</a>
              <a class="dropdown-item" href="#">Block connection</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="#">Delete</a>
            </div>
          </div>
          <!-- End Dropdown -->
        </div>
      </div>

      <!-- Body -->
      <div class="card-body text-center">
        <!-- Avatar -->
        <div class="avatar avatar-xl avatar-soft-dark avatar-circle avatar-centered mb-3">
          <span class="avatar-initials">B</span>
          <span class="avatar-status avatar-sm-status avatar-status-danger"></span>
        </div>
        <!-- End Avatar -->

        <h3 class="mb-1">
          <a class="text-dark" href="#">Bob Dean</a>
        </h3>

        <div class="mb-3">
          <i class="bi-building me-1"></i>
          <span>Sales</span>
        </div>

        <!-- Badges -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a class="badge bg-soft-secondary text-secondary p-2" href="#">Sales</a></li>
          <li class="list-inline-item"><a class="badge bg-soft-secondary text-secondary p-2" href="#">Legal</a></li>
        </ul>
        <!-- End Badges -->
      </div>
      <!-- End Body -->

      <!-- Footer -->
      <div class="card-footer">
        <div class="row justify-content-between align-items-center">
          <div class="col-auto py-1">
            <a class="fs-6 text-body" href="#">25 connections</a>
          </div>
          <!-- End Col -->

          <div class="col-auto py-1">
            <!-- Form Check -->
            <div class="form-check form-check-switch">
              <input class="form-check-input" type="checkbox" value="" id="connectionsCheckbox4">
              <label class="form-check-label btn btn-sm" for="connectionsCheckbox4">
                              <span class="form-check-default">
                                <i class="bi-person-plus-fill"></i> Connect
                              </span>
                <span class="form-check-active">
                                <i class="bi-check-lg me-2"></i> Connected
                              </span>
              </label>
            </div>
            <!-- End Form Check -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Footer -->
    </div>
    <!-- End Card -->
  </div>
  <!-- End Col -->

  <div class="col mb-3 mb-lg-5">
    <!-- Card -->
    <div class="card h-100">
      <div class="card-pinned">
        <div class="card-pinned-top-end">
          <!-- Dropdown -->
          <div class="dropdown">
            <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm rounded-circle" id="connectionsDropdown5" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi-three-dots-vertical"></i>
            </button>

            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end" aria-labelledby="connectionsDropdown5">
              <a class="dropdown-item" href="#">Share connection</a>
              <a class="dropdown-item" href="#">Block connection</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="#">Delete</a>
            </div>
          </div>
          <!-- End Dropdown -->
        </div>
      </div>

      <!-- Body -->
      <div class="card-body text-center">
        <!-- Avatar -->
        <div class="avatar avatar-xl avatar-circle avatar-centered mb-3">
          <img class="avatar-img" src="./assets/img/160x160/img10.jpg" alt="Image Description">
          <span class="avatar-status avatar-sm-status avatar-status-success"></span>
        </div>
        <!-- End Avatar -->

        <h3 class="mb-1">
          <a class="text-dark" href="#">Amanda Harvey</a>
        </h3>

        <div class="mb-3">
          <i class="bi-building me-1"></i>
          <span>Atlassian</span>
        </div>

        <!-- Badges -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a class="badge bg-soft-secondary text-secondary p-2" href="#">Human resources</a></li>
          <li class="list-inline-item"><a class="badge bg-soft-secondary text-secondary p-2" href="#">Legal</a></li>
        </ul>
        <!-- End Badges -->
      </div>
      <!-- End Body -->

      <!-- Footer -->
      <div class="card-footer">
        <div class="row justify-content-between align-items-center">
          <div class="col-auto py-1">
            <a class="fs-6 text-body" href="#">3 connections</a>
          </div>
          <!-- End Col -->

          <div class="col-auto py-1">
            <!-- Form Check -->
            <div class="form-check form-check-switch">
              <input class="form-check-input" type="checkbox" value="" id="connectionsCheckbox5" checked="">
              <label class="form-check-label btn btn-sm" for="connectionsCheckbox5">
                              <span class="form-check-default">
                                <i class="bi-person-plus-fill"></i> Connect
                              </span>
                <span class="form-check-active">
                                <i class="bi-check-lg me-2"></i> Connected
                              </span>
              </label>
            </div>
            <!-- End Form Check -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Footer -->
    </div>
    <!-- End Card -->
  </div>
  <!-- End Col -->

  <div class="col mb-3 mb-lg-5">
    <!-- Card -->
    <div class="card h-100">
      <div class="card-pinned">
        <div class="card-pinned-top-end">
          <!-- Dropdown -->
          <div class="dropdown">
            <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm rounded-circle" id="connectionsDropdown6" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi-three-dots-vertical"></i>
            </button>

            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end" aria-labelledby="connectionsDropdown6">
              <a class="dropdown-item" href="#">Share connection</a>
              <a class="dropdown-item" href="#">Block connection</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="#">Delete</a>
            </div>
          </div>
          <!-- End Dropdown -->
        </div>
      </div>

      <!-- Body -->
      <div class="card-body text-center">
        <!-- Avatar -->
        <div class="avatar avatar-xl avatar-circle avatar-centered mb-3">
          <img class="avatar-img" src="./assets/img/160x160/img5.jpg" alt="Image Description">
          <span class="avatar-status avatar-sm-status avatar-status-success"></span>
        </div>
        <!-- End Avatar -->

        <h3 class="mb-1">
          <a class="text-dark" href="#">Finch Hoot</a>
        </h3>

        <div class="mb-3">
          <i class="bi-building me-1"></i>
          <span>Dev</span>
        </div>

        <!-- Badges -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a class="badge bg-soft-secondary text-secondary p-2" href="#">JS</a></li>
          <li class="list-inline-item"><a class="badge bg-soft-secondary text-secondary p-2" href="#">Vue.js</a></li>
          <li class="list-inline-item"><a class="badge bg-soft-secondary text-secondary p-2" href="#">HTML5</a></li>
        </ul>
        <!-- End Badges -->
      </div>
      <!-- End Body -->

      <!-- Footer -->
      <div class="card-footer">
        <div class="row justify-content-between align-items-center">
          <div class="col-auto py-1">
            <a class="fs-6 text-body" href="#">7 connections</a>
          </div>
          <!-- End Col -->

          <div class="col-auto py-1">
            <!-- Form Check -->
            <div class="form-check form-check-switch">
              <input class="form-check-input" type="checkbox" value="" id="connectionsCheckbox6" checked="">
              <label class="form-check-label btn btn-sm" for="connectionsCheckbox6">
                              <span class="form-check-default">
                                <i class="bi-person-plus-fill"></i> Connect
                              </span>
                <span class="form-check-active">
                                <i class="bi-check-lg me-2"></i> Connected
                              </span>
              </label>
            </div>
            <!-- End Form Check -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Footer -->
    </div>
    <!-- End Card -->
  </div>
  <!-- End Col -->

  <div class="col mb-3 mb-lg-5">
    <!-- Card -->
    <div class="card h-100">
      <div class="card-pinned">
        <div class="card-pinned-top-end">
          <!-- Dropdown -->
          <div class="dropdown">
            <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm rounded-circle" id="connectionsDropdown7" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi-three-dots-vertical"></i>
            </button>

            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end" aria-labelledby="connectionsDropdown7">
              <a class="dropdown-item" href="#">Share connection</a>
              <a class="dropdown-item" href="#">Block connection</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="#">Delete</a>
            </div>
          </div>
          <!-- End Dropdown -->
        </div>
      </div>

      <!-- Body -->
      <div class="card-body text-center">
        <!-- Avatar -->
        <div class="avatar avatar-xl avatar-circle avatar-centered mb-3">
          <img class="avatar-img" src="./assets/img/160x160/img6.jpg" alt="Image Description">
          <span class="avatar-status avatar-sm-status avatar-status-danger"></span>
        </div>
        <!-- End Avatar -->

        <h3 class="mb-1">
          <a class="text-dark" href="#">Costa Quinn</a>
        </h3>

        <div class="mb-3">
          <i class="bi-building me-1"></i>
          <span>Research team</span>
        </div>

        <!-- Badges -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a class="badge bg-soft-secondary text-secondary p-2" href="#">SEO</a></li>
        </ul>
        <!-- End Badges -->
      </div>
      <!-- End Body -->

      <!-- Footer -->
      <div class="card-footer">
        <div class="row justify-content-between align-items-center">
          <div class="col-auto py-1">
            <a class="fs-6 text-body" href="#">9 connections</a>
          </div>
          <!-- End Col -->

          <div class="col-auto py-1">
            <!-- Form Check -->
            <div class="form-check form-check-switch">
              <input class="form-check-input" type="checkbox" value="" id="connectionsCheckbox7">
              <label class="form-check-label btn btn-sm" for="connectionsCheckbox7">
                              <span class="form-check-default">
                                <i class="bi-person-plus-fill"></i> Connect
                              </span>
                <span class="form-check-active">
                                <i class="bi-check-lg me-2"></i> Connected
                              </span>
              </label>
            </div>
            <!-- End Form Check -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Footer -->
    </div>
    <!-- End Card -->
  </div>
  <!-- End Col -->
</div>
