<!-- Hero -->
<div class="bg-img-start" style="background-image: url(../assets/svg/components/card-11.svg);">
  <div class="container content-space-t-3 content-space-t-lg-5 content-space-b-2">
    <div class="w-md-75 w-lg-50 text-center mx-md-auto">
      <h1>FAQ</h1>
      <p>Search our FAQ for answers to anything you might ask.</p>
    </div>
  </div>
</div>
<!-- End Hero -->

<div class="container content-space-2 content-space-lg-3">
  <!-- Heading -->
  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
    <span class="d-block small font-weight-bold text-cap mb-2">Our Team</span>
    <h2>Trust the professionals</h2>
  </div>
  <!-- End Heading -->

  <div class="row mb-7">
    <div class="col-sm-6 col-md-3 mb-5 mb-lg-0">
      <!-- Team -->
      <img class="card-img rounded-2" src="images/item21.png" alt="Image Description">
      <div class="card card-sm text-center mt-n7 mx-3">
        <div class="card-body">
          <h4 class="card-title">Christina Kray</h4>
          <p class="card-text">Project Manager</p>
        </div>
      </div>
      <!-- End Team -->
    </div>
    <!-- End Col -->

    <div class="col-sm-6 col-md-3 mb-5 mb-lg-0">
      <!-- Team -->
      <img class="card-img rounded-2" src="images/item21.png" alt="Image Description">
      <div class="card card-sm text-center mt-n7 mx-3">
        <div class="card-body">
          <h4 class="card-title">Jeff Fisher</h4>
          <p class="card-text">CEO, Director</p>
        </div>
      </div>
      <!-- End Team -->
    </div>
    <!-- End Col -->

    <div class="col-sm-6 col-md-3 mb-5 mb-sm-0">
      <!-- Team -->
      <img class="card-img rounded-2" src="./assets/img/400x500/img30.jpg" alt="Image Description">
      <div class="card card-sm text-center mt-n7 mx-3">
        <div class="card-body">
          <h4 class="card-title">Lida Reidy</h4>
          <p class="card-text">Marketer</p>
        </div>
      </div>
      <!-- End Team -->
    </div>
    <!-- End Col -->

    <div class="col-sm-6 col-md-3">
      <!-- Team -->
      <img class="card-img rounded-2" src="./assets/img/400x500/img27.jpg" alt="Image Description">
      <div class="card card-sm text-center mt-n7 mx-3">
        <div class="card-body">
          <h4 class="card-title">Amy Forren</h4>
          <p class="card-text">Lead Designer</p>
        </div>
      </div>
      <!-- End Team -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->

  <!-- Card Info -->
  <div class="text-center">
    <div class="card card-info-link card-sm">
      <div class="card-body">
        Want to work with us? <a class="card-link ms-2" href="./page-hire-us.html">We're hiring <span class="bi-chevron-right small ms-1"></span></a>
      </div>
    </div>
  </div>
  <!-- End Card Info -->
</div>
<div class="card">
  <div class="card-header">
    <h5 class="card-header-title">Your team</h5>
  </div>

  <!-- Table -->
  <div class="table-responsive">
    <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
      <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Access</th>
        <th style="width: 5%;"></th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img class="avatar avatar-sm avatar-circle" src="../assets/img/160x160/img8.jpg" alt="Image Description">
            </div>

            <div class="flex-grow-1 ms-3">
              <a class="d-inline-block link-dark" href="#">
                <h6 class="text-hover-primary mb-0">Amanda Harvey <img class="avatar avatar-xss ms-1" src="../assets/svg/illustrations/top-vendor.svg" alt="Image Description" data-bs-toggle="tooltip" data-bs-placement="top" title="Verified user"></h6>
              </a>
              <small class="d-block">amandamail.com</small>
            </div>
          </div>
        </td>
        <td>
          <!-- Select -->
          <select class="js-select form-select form-select-sm">
            <option value="memberStatusLabelActive1" selected data-option-template='<span class="d-flex align-items-center"><span class="legend-indicator bg-success me-2"></span> Active</span>'>Active</option>
            <option value="memberStatusLabelInactive1" data-option-template='<span class="d-flex align-items-center"><span class="legend-indicator bg-danger me-2"></span> Inactive</span>'>Inactive</option>
          </select>
          <!-- End Select -->
        </td>
        <td>
          <!-- Select -->
          <select class="js-select form-select form-select-sm">
            <option value="memberStatusLabelAdmin1" selected>Admin</option>
            <option value="memberStatusLabelCanEdit1">Can edit</option>
            <option value="memberStatusLabelCanView1">Can view</option>
          </select>
          <!-- End Select -->
        </td>
        <td>
          <a class="text-body" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" title="Locked">
            <i class="bi-lock-fill"></i>
          </a>
        </td>
      </tr>

      <tr>
        <td>
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img class="avatar avatar-sm avatar-circle" src="../assets/img/160x160/img7.jpg" alt="Image Description">
            </div>

            <div class="flex-grow-1 ms-3">
              <a class="d-inline-block link-dark" href="#">
                <h6 class="text-hover-primary mb-0">Anne Richard</h6>
              </a>
              <small class="d-block">annemail.com</small>
            </div>
          </div>
        </td>
        <td>
          <!-- Select -->
          <select class="js-select form-select form-select-sm">
            <option value="memberStatusLabelActive2" data-option-template='<span class="d-flex align-items-center"><span class="legend-indicator bg-success me-2"></span> Active</span>'>Active</option>
            <option value="memberStatusLabelInactive2" selected data-option-template='<span class="d-flex align-items-center"><span class="legend-indicator bg-danger me-2"></span> Inactive</span>'>Inactive</option>
          </select>
          <!-- End Select -->
        </td>
        <td>
          <!-- Select -->
          <select class="js-select form-select form-select-sm">
            <option value="memberStatusLabelAdmin2">Admin</option>
            <option value="memberStatusLabelCanEdit2" selected>Can edit</option>
            <option value="memberStatusLabelCanView2">Can view</option>
          </select>
          <!-- End Select -->
        </td>
        <td>
          <a class="text-body" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove member">
            <i class="bi-trash"></i>
          </a>
        </td>
      </tr>

      <tr>
        <td>
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
                <span class="avatar avatar-sm avatar-warning avatar-circle">
                  <span class="avatar-initials">FH</span>
                </span>
            </div>

            <div class="flex-grow-1 ms-3">
              <a class="d-inline-block link-dark" href="#">
                <h6 class="text-hover-primary mb-0">Finch Hoot</h6>
              </a>
              <small class="d-block">finchmail.com</small>
            </div>
          </div>
        </td>
        <td>
          <!-- Select -->
          <select class="js-select form-select form-select-sm">
            <option value="memberStatusLabelActive4" selected data-option-template='<span class="d-flex align-items-center"><span class="legend-indicator bg-success me-2"></span> Active</span>'>Active</option>
            <option value="memberStatusLabelInactive4" data-option-template='<span class="d-flex align-items-center"><span class="legend-indicator bg-danger me-2"></span> Inactive</span>'>Inactive</option>
          </select>
          <!-- End Select -->
        </td>
        <td>
          <!-- Select -->
          <select class="js-select form-select form-select-sm">
            <option value="memberStatusLabelAdmin4">Admin</option>
            <option value="memberStatusLabelCanEdit4">Can edit</option>
            <option value="memberStatusLabelCanView4" selected>Can view</option>
          </select>
          <!-- End Select -->
        </td>
        <td>
          <a class="text-body" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove member">
            <i class="bi-trash"></i>
          </a>
        </td>
      </tr>

      <tr>
        <td>
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img class="avatar avatar-sm avatar-circle" src="../assets/img/160x160/img3.jpg" alt="Image Description">
            </div>

            <div class="flex-grow-1 ms-3">
              <a class="d-inline-block link-dark" href="#">
                <h6 class="text-hover-primary mb-0">David Harrison <span class="badge badge-soft-info badge-pill ms-1">New</span></h6>
              </a>
              <small class="d-block">davidmail.com</small>
            </div>
          </div>
        </td>
        <td>
          <!-- Select -->
          <select class="js-select form-select form-select-sm">
            <option value="memberStatusLabelActive3" selected data-option-template='<span class="d-flex align-items-center"><span class="legend-indicator bg-success me-2"></span> Active</span>'>Active</option>
            <option value="memberStatusLabelInactive3" data-option-template='<span class="d-flex align-items-center"><span class="legend-indicator bg-danger me-2"></span> Inactive</span>'>Inactive</option>
          </select>
          <!-- End Select -->
        </td>
        <td>
          <!-- Select -->
          <select class="js-select form-select form-select-sm">
            <option value="memberStatusLabelAdmin3">Admin</option>
            <option value="memberStatusLabelCanEdit3" selected>Can edit</option>
            <option value="memberStatusLabelCanView3">Can view</option>
          </select>
          <!-- End Select -->
        </td>
        <td>
          <a class="text-body" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove member">
            <i class="bi-trash"></i>
          </a>
        </td>
      </tr>

      <tr>
        <td>
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
                <span class="avatar avatar-sm avatar-danger avatar-circle">
                  <span class="avatar-initials">SD</span>
                </span>
            </div>

            <div class="flex-grow-1 ms-3">
              <a class="d-inline-block link-dark" href="#">
                <h6 class="text-hover-primary mb-0">Sean Dean</h6>
              </a>
              <small class="d-block">bobmail.com</small>
            </div>
          </div>
        </td>
        <td>
          <!-- Select -->
          <select class="js-select form-select form-select-sm">
            <option value="memberStatusLabelActive5" data-option-template='<span class="d-flex align-items-center"><span class="legend-indicator bg-success me-2"></span> Active</span>'>Active</option>
            <option value="memberStatusLabelInactive5" selected data-option-template='<span class="d-flex align-items-center"><span class="legend-indicator bg-danger me-2"></span> Inactive</span>'>Inactive</option>
          </select>
          <!-- End Select -->
        </td>
        <td>
          <!-- Select -->
          <select class="js-select form-select form-select-sm">
            <option value="memberStatusLabelAdmin5">Admin</option>
            <option value="memberStatusLabelCanEdit5" selected>Can edit</option>
            <option value="memberStatusLabelCanView5">Can view</option>
          </select>
          <!-- End Select -->
        </td>
        <td>
          <a class="text-body" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove member">
            <i class="bi-trash"></i>
          </a>
        </td>
      </tr>

      <tr>
        <td>
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img class="avatar avatar-sm avatar-circle" src="../assets/img/160x160/img6.jpg" alt="Image Description">
            </div>

            <div class="flex-grow-1 ms-3">
              <a class="d-inline-block link-dark" href="#">
                <h6 class="text-hover-primary mb-0">Sam Kart <img class="avatar avatar-xss ms-1" src="../assets/svg/illustrations/top-vendor.svg" alt="Image Description" data-bs-toggle="tooltip" data-bs-placement="top" title="Verified user"></h6>
              </a>
              <small class="d-block">sammail.com</small>
            </div>
          </div>
        </td>
        <td>
          <!-- Select -->
          <select class="js-select form-select form-select-sm">
            <option value="memberStatusLabelActive6" data-option-template='<span class="d-flex align-items-center"><span class="legend-indicator bg-success me-2"></span> Active</span>'>Active</option>
            <option value="memberStatusLabelInactive6" selected data-option-template='<span class="d-flex align-items-center"><span class="legend-indicator bg-danger me-2"></span> Inactive</span>'>Inactive</option>
          </select>
          <!-- End Select -->
        </td>
        <td>
          <!-- Select -->
          <select class="js-select form-select form-select-sm">
            <option value="memberStatusLabelAdmin6">Admin</option>
            <option value="memberStatusLabelCanEdit6">Can edit</option>
            <option value="memberStatusLabelCanView6" selected>Can view</option>
          </select>
          <!-- End Select -->
        </td>
        <td>
          <a class="text-body" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove member">
            <i class="bi-trash"></i>
          </a>
        </td>
      </tr>

      <tr>
        <td>
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img class="avatar avatar-sm avatar-circle" src="../assets/img/160x160/img10.jpg" alt="Image Description">
            </div>

            <div class="flex-grow-1 ms-3">
              <a class="d-inline-block link-dark" href="#">
                <h6 class="text-hover-primary mb-0">Ella Marley</h6>
              </a>
              <small class="d-block">ellamail.com</small>
            </div>
          </div>
        </td>
        <td>
          <!-- Select -->
          <select class="js-select form-select form-select-sm">
            <option value="memberStatusLabelActive7" selected data-option-template='<span class="d-flex align-items-center"><span class="legend-indicator bg-success me-2"></span> Active</span>'>Active</option>
            <option value="memberStatusLabelInactive7" data-option-template='<span class="d-flex align-items-center"><span class="legend-indicator bg-danger me-2"></span> Inactive</span>'>Inactive</option>
          </select>
          <!-- End Select -->
        </td>
        <td>
          <!-- Select -->
          <select class="js-select form-select form-select-sm">
            <option value="memberStatusLabelAdmin7">Admin</option>
            <option value="memberStatusLabelCanEdit7" selected>Can edit</option>
            <option value="memberStatusLabelCanView7">Can view</option>
          </select>
          <!-- End Select -->
        </td>
        <td>
          <a class="text-body" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove member">
            <i class="bi-trash"></i>
          </a>
        </td>
      </tr>

      <tr>
        <td>
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
                <span class="avatar avatar-sm avatar-dark avatar-circle">
                  <span class="avatar-initials">RD</span>
                </span>
            </div>

            <div class="flex-grow-1 ms-3">
              <a class="d-inline-block link-dark" href="#">
                <h6 class="text-hover-primary mb-0">Rachel Doe <span class="badge badge-soft-info badge-pill ms-1">New</span></h6>
              </a>
              <small class="d-block">rachelmail.com</small>
            </div>
          </div>
        </td>
        <td>
          <!-- Select -->
          <select class="js-select form-select form-select-sm">
            <option value="memberStatusLabelActive8" selected data-option-template='<span class="d-flex align-items-center"><span class="legend-indicator bg-success me-2"></span> Active</span>'>Active</option>
            <option value="memberStatusLabelInactive8" data-option-template='<span class="d-flex align-items-center"><span class="legend-indicator bg-danger me-2"></span> Inactive</span>'>Inactive</option>
          </select>
          <!-- End Select -->
        </td>
        <td>
          <!-- Select -->
          <select class="js-select form-select form-select-sm">
            <option value="memberStatusLabelAdmin8">Admin</option>
            <option value="memberStatusLabelCanEdit8" selected>Can edit</option>
            <option value="memberStatusLabelCanView8">Can view</option>
          </select>
          <!-- End Select -->
        </td>
        <td>
          <a class="text-body" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove member">
            <i class="bi-trash"></i>
          </a>
        </td>
      </tr>

      <tr>
        <td>
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
                <span class="avatar avatar-sm avatar-primary avatar-circle">
                  <span class="avatar-initials">BH</span>
                </span>
            </div>

            <div class="flex-grow-1 ms-3">
              <a class="d-inline-block link-dark" href="#">
                <h6 class="text-hover-primary mb-0">Brian Halligan</h6>
              </a>
              <small class="d-block">brianmail.com</small>
            </div>
          </div>
        </td>
        <td>
          <!-- Select -->
          <select class="js-select form-select form-select-sm">
            <option value="memberStatusLabelActive9" selected data-option-template='<span class="d-flex align-items-center"><span class="legend-indicator bg-success me-2"></span> Active</span>'>Active</option>
            <option value="memberStatusLabelInactive9" data-option-template='<span class="d-flex align-items-center"><span class="legend-indicator bg-danger me-2"></span> Inactive</span>'>Inactive</option>
          </select>
          <!-- End Select -->
        </td>
        <td>
          <!-- Select -->
          <select class="js-select form-select form-select-sm">
            <option value="memberStatusLabelAdmin9">Admin</option>
            <option value="memberStatusLabelCanEdit9">Can edit</option>
            <option value="memberStatusLabelCanView9" selected>Can view</option>
          </select>
          <!-- End Select -->
        </td>
        <td>
          <a class="text-body" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove member">
            <i class="bi-trash"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- End Table -->

  <!-- Footer -->
  <div class="card-footer border-top">
    <div class="d-flex justify-content-end gap-3">
      <a class="btn btn-white" href="javascript:;">Cancel</a>
      <a class="btn btn-primary" href="javascript:;">Save changes</a>
    </div>
  </div>
  <!-- End Footer -->
</div>
<!-- End Card -->
