<main id="content" role="main" class="bg-light">
  <!-- Breadcrumb -->
  <div class="navbar-dark bg-dark" style="background-image: url(./assets/svg/components/wave-pattern-light.svg);">
    <div class="container content-space-1 content-space-b-lg-3">
      <div class="row align-items-center">
        <div class="col">
          <div class="d-none d-lg-block">
            <h1 class="h2 text-white">Personal info</h1>
          </div>

          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light mb-0">
              <li class="breadcrumb-item">Account</li>
              <li class="breadcrumb-item active" aria-current="page">Personal Info</li>
            </ol>
          </nav>
          <!-- End Breadcrumb -->
        </div>
        <!-- End Col -->

        <div class="col-auto">
          <div class="d-none d-lg-block">
            <a class="btn btn-soft-light btn-sm" href="#">Log out</a>
          </div>

          <!-- Responsive Toggle Button -->
          <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-default">
                <i class="bi-list"></i>
              </span>
            <span class="navbar-toggler-toggled">
                <i class="bi-x"></i>
              </span>
          </button>
          <!-- End Responsive Toggle Button -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
  </div>
  <!-- End Breadcrumb -->

  <!-- Content Section -->
  <div class="container content-space-1 content-space-t-lg-0 content-space-b-lg-2 mt-lg-n10">
    <div class="row">
      <div class="col-lg-3">
        <!-- Navbar -->
        <div class="navbar-expand-lg navbar-light">
          <div id="sidebarNav" class="collapse navbar-collapse navbar-vertical">
            <!-- Card -->
            <div class="card flex-grow-1 mb-5">
              <div class="card-body">
                <!-- Avatar -->
                <div class="d-none d-lg-block text-center mb-5">
                  <div class="avatar avatar-xxl avatar-circle mb-3">
                    <img class="avatar-img" src="./assets/img/160x160/img9.jpg" alt="Image Description">
                    <img class="avatar-status avatar-lg-status" src="./assets/svg/illustrations/top-vendor.svg" alt="Image Description" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Verified user" data-bs-original-title="Verified user">
                  </div>

                  <h4 class="card-title mb-0">Natalie Curtis</h4>
                  <p class="card-text small">nataliePayment Methodxample.com</p>
                </div>
                <!-- End Avatar -->

                <!-- Nav -->
                <span class="text-cap">Account</span>

                <!-- List -->
                <ul class="nav nav-sm nav-tabs nav-vertical mb-4">
                  <li class="nav-item">
                    <a class="nav-link " href="./account-overview.html">
                      <i class="bi-person-badge nav-icon"></i> Personal info
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="./account-security.html">
                      <i class="bi-shield-shaded nav-icon"></i> Security
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="./account-notifications.html">
                      <i class="bi-bell nav-icon"></i> Notifications
                      <span class="badge bg-soft-dark text-dark rounded-pill nav-link-badge">1</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="./account-preferences.html">
                      <i class="bi-sliders nav-icon"></i> Preferences
                    </a>
                  </li>
                </ul>
                <!-- End List -->

                <span class="text-cap">Shopping</span>

                <!-- List -->
                <ul class="nav nav-sm nav-tabs nav-vertical mb-4">
                  <li class="nav-item">
                    <a class="nav-link " href="./account-orders.html">
                      <i class="bi-basket nav-icon"></i> Your orders
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="./account-wishlist.html">
                      <i class="bi-heart nav-icon"></i> Wishlist
                      <span class="badge bg-soft-dark text-dark rounded-pill nav-link-badge">2</span>
                    </a>
                  </li>
                </ul>
                <!-- End List -->

                <span class="text-cap">Billing</span>

                <!-- List -->
                <ul class="nav nav-sm nav-tabs nav-vertical">
                  <li class="nav-item">
                    <a class="nav-link active" href="./account-payments.html">
                      <i class="bi-credit-card nav-icon"></i> Payments
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="./account-address.html">
                      <i class="bi-geo-alt nav-icon"></i> Address
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="./account-teams.html">
                      <i class="bi-people nav-icon"></i> Teams
                      <span class="badge bg-soft-dark text-dark rounded-pill nav-link-badge">+2 new users</span>
                    </a>
                  </li>
                </ul>
                <!-- End List -->

                <div class="d-lg-none">
                  <div class="dropdown-divider"></div>

                  <!-- List -->
                  <ul class="nav nav-sm nav-tabs nav-vertical">
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <i class="bi-box-arrow-right nav-icon"></i> Log out
                      </a>
                    </li>
                  </ul>
                  <!-- End List -->
                </div>
                <!-- End Nav -->
              </div>
            </div>
            <!-- End Card -->
          </div>
        </div>
        <!-- End Navbar -->
      </div>
      <!-- End Col -->

      <div class="col-lg-9">
        <div class="d-grid gap-3 gap-lg-5">
          <!-- Card -->
          <div class="card">
            <!-- Header -->
            <div class="card-header d-flex justify-content-between align-items-center border-bottom">
              <h5 class="card-header-title">Overview</h5>

              <a class="btn btn-ghost-secondary btn-sm" href="#">
                <i class="bi-file-earmark-arrow-down me-1"></i> Download .CSV
              </a>
            </div>
            <!-- End Header -->

            <!-- Body -->
            <div class="card-body">
              <div class="row">
                <div class="col-md mb-4 mb-md-0">
                  <div class="mb-4">
                    <span class="card-subtitle">Your plan (billed yearly):</span>
                    <h5>Starter - April 2020</h5>
                  </div>

                  <div>
                    <span class="card-subtitle">Total per year</span>
                    <h3 class="text-primary">$264 USD</h3>
                  </div>
                </div>
                <!-- End Col -->

                <div class="col-md-auto">
                  <div class="d-grid d-md-flex gap-3">
                    <a class="btn btn-white btn-sm" href="#">Cancel subscription</a>
                    <a class="btn btn-primary btn-sm btn-transition" href="./page-pricing.html">Update plan</a>
                  </div>
                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->
            </div>
            <!-- End Body -->

            <hr class="my-3">

            <!-- Body -->
            <div class="card-body">
              <div class="row align-items-center flex-grow-1 mb-2">
                <div class="col">
                  <h4 class="card-header-title">Storage usage</h4>
                </div>
                <!-- End Col -->

                <div class="col-auto">
                  <span class="text-dark fw-semibold">4.27 GB</span> used of 6 GB
                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->

              <!-- Progress -->
              <div class="progress rounded-pill mb-3">
                <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar" role="progressbar" style="width: 25%; opacity: .6" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <!-- End Progress -->

              <!-- Legend Indicators -->
              <div class="list-inline">
                <div class="list-inline-item">
                  <span class="legend-indicator bg-primary"></span>Personal usage space
                </div>
                <div class="list-inline-item">
                  <span class="legend-indicator bg-primary opacity"></span>Shared space
                </div>
                <div class="list-inline-item">
                  <span class="legend-indicator"></span>Unused space
                </div>
              </div>
              <!-- End Legend Indicators -->
            </div>
            <!-- End Body -->
          </div>
          <!-- End Card -->

          <!-- Card -->
          <div class="card">
            <div class="card-header border-bottom">
              <h5 class="card-header-title">Payment method</h5>
            </div>

            <!-- Body -->
            <div class="card-body">
              <div class="mb-4">
                <p>Cards will be charged either at the end of the month or whenever your balance exceeds the usage threshold. All major credit / debit cards accepted.</p>
              </div>

              <!-- List Group -->
              <ul class="list-group mb-5">
                <!-- Item -->
                <li class="list-group-item">
                  <div class="mb-2">
                    <h5>Maria Williams <span class="badge bg-primary ms-1">Primary</span></h5>
                  </div>

                  <!-- Media -->
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <img class="avatar avatar-sm" src="./assets/svg/brands/mastercard.svg" alt="Image Description">
                    </div>

                    <div class="flex-grow-1 ms-3">
                      <div class="row">
                        <div class="col-sm mb-3 mb-sm-0">
                          <span class="d-block text-dark">MasterCard •••• 4242</span>
                          <small class="d-block text-muted">Checking - Expires 12/22</small>
                        </div>
                        <!-- End Col -->

                        <div class="col-sm-auto">
                          <div class="d-flex gap-3">
                            <a class="btn btn-white btn-xs" href="javascript:;" data-bs-toggle="modal" data-bs-target="#accountEditCardModal">
                              <i class="bi-pencil-fill me-1"></i> Edit
                            </a>
                            <button type="button" class="btn btn-white btn-xs">
                              <i class="bi-trash me-1"></i> Delete
                            </button>
                          </div>
                        </div>
                        <!-- End Col -->
                      </div>
                      <!-- End Row -->
                    </div>
                  </div>
                  <!-- End Media -->
                </li>
                <!-- End Item -->

                <!-- Item -->
                <li class="list-group-item">
                  <div class="mb-2">
                    <h5>Maria Williams <span class="text-danger small ms-1">Expired</span></h5>
                  </div>

                  <!-- Media -->
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <img class="avatar avatar-sm" src="./assets/svg/brands/visa.svg" alt="Image Description">
                    </div>

                    <div class="flex-grow-1 ms-3">
                      <div class="row">
                        <div class="col-sm mb-3 mb-sm-0">
                          <span class="d-block text-dark">Visa •••• 9016</span>
                          <small class="d-block text-muted">Debit - Expires 04/20</small>
                        </div>
                        <!-- End Col -->

                        <div class="col-sm-auto">
                          <div class="d-flex gap-3">
                            <a class="btn btn-white btn-xs" href="javascript:;" data-bs-toggle="modal" data-bs-target="#accountEditCardModal">
                              <i class="bi-pencil-fill me-1"></i> Edit
                            </a>
                            <button type="button" class="btn btn-white btn-xs">
                              <i class="bi-trash me-1"></i> Delete
                            </button>
                          </div>
                        </div>
                        <!-- End Col -->
                      </div>
                      <!-- End Row -->
                    </div>
                  </div>
                  <!-- End Media -->
                </li>
                <!-- End Item -->
              </ul>
              <!-- End List Group -->

              <!-- Card -->
              <a class="card card-dashed card-centered" href="javascript:;" data-bs-toggle="modal" data-bs-target="#accountAddCardModal">
                <div class="card-body card-dashed-body py-8">
                  <img class="avatar avatar-lg avatar-4x3 mb-2" src="./assets/svg/illustrations/oc-add-card.svg" alt="Image Description">
                  <span class="d-block"><i class="bi-plus"></i> Add a new card</span>
                </div>
              </a>
              <!-- End Card -->
            </div>
            <!-- End Body -->
          </div>
          <!-- End Card -->

          <!-- Card -->
          <div class="card">
            <!-- Header -->
            <div class="card-header">
              <h5 class="card-header-title">Order history</h5>
            </div>
            <!-- End Header -->

            <!-- Table -->
            <div class="table-responsive">
              <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle">
                <thead class="thead-light">
                <tr>
                  <th>Reference</th>
                  <th>Status</th>
                  <th>Amount</th>
                  <th>Updated</th>
                  <th>Invoice</th>
                  <th></th>
                </tr>
                </thead>

                <tbody>
                <tr>
                  <td><a href="#">#3682303</a></td>
                  <td><span class="badge bg-soft-warning text-warning">Pending</span></td>
                  <td>$264</td>
                  <td>22/04/2020</td>
                  <td><a class="btn btn-white btn-xs" href="./page-invoice.html"><i class="bi-file-earmark-arrow-down-fill me-1"></i> PDF</a></td>
                  <td><a class="btn btn-white btn-xs" href="javascript:;" data-bs-toggle="modal" data-bs-target="#accountInvoiceReceiptModal"><i class="bi-eye-fill me-1"></i> Quick view</a></td>
                </tr>

                <tr>
                  <td><a href="#">#2333234</a></td>
                  <td><span class="badge bg-soft-success text-success">Successful</span></td>
                  <td>$264</td>
                  <td>22/04/2019</td>
                  <td><a class="btn btn-white btn-xs" href="./page-invoice.html"><i class="bi-file-earmark-arrow-down-fill me-1"></i> PDF</a></td>
                  <td><a class="btn btn-white btn-xs" href="javascript:;" data-bs-toggle="modal" data-bs-target="#accountInvoiceReceiptModal"><i class="bi-eye-fill me-1"></i> Quick view</a></td>
                </tr>

                <tr>
                  <td><a href="#">#9834283</a></td>
                  <td><span class="badge bg-soft-success text-success">Successful</span></td>
                  <td>$264</td>
                  <td>22/04/2018</td>
                  <td><a class="btn btn-white btn-xs" href="./page-invoice.html"><i class="bi-file-earmark-arrow-down-fill me-1"></i> PDF</a></td>
                  <td><a class="btn btn-white btn-xs" href="javascript:;" data-bs-toggle="modal" data-bs-target="#accountInvoiceReceiptModal"><i class="bi-eye-fill me-1"></i> Quick view</a></td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- End Table -->
          </div>
          <!-- End Card -->
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Content Section -->
</main>
