<main id="content" role="main">
  <!-- Page Header -->
  <div class="container content-space-t-2">
    <div class="w-lg-75 mx-lg-auto">
      <div class="page-header">
        <!-- Media -->
        <div class="d-sm-flex mb-3">
          <div class="flex-shrink-0 mb-2 mb-sm-0">
            <a href="../demo-jobs/employer.html">
              <img class="avatar avatar-lg mb-3" src="../assets/svg/brands/capsule-icon.svg" alt="Image Description">
            </a>
          </div>

          <div class="flex-grow-1 ms-sm-4">
            <div class="row">
              <div class="col">
                <h1 class="page-header-title h2">UX/UI Designer</h1>
              </div>
              <!-- End Col -->

              <div class="col-auto">
                <!-- Checkbbox Bookmark -->
                <div class="form-check form-check-bookmark">
                  <input class="form-check-input" type="checkbox" value="" id="jobsPageHeaderBookmarkCheck">
                  <label class="form-check-label" for="jobsPageHeaderBookmarkCheck">
                      <span class="form-check-bookmark-default">
                        <i class="bi-star me-1"></i> Save this job
                      </span>
                    <span class="form-check-bookmark-active">
                        <i class="bi-star-fill me-1"></i> Saved
                      </span>
                  </label>
                </div>
                <!-- End Checkbbox Bookmark -->
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->

            <ul class="list-inline list-separator d-flex align-items-center mb-2">
              <li class="list-inline-item">
                <a class="link" href="../demo-jobs/employer.html">Capsule</a>
              </li>

              <li class="list-inline-item">
                <!-- Rating -->
                <a class="d-flex gap-1" href="../demo-jobs/employer.html">
                  <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="14">
                  <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="14">
                  <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="14">
                  <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="14">
                  <img src="../assets/svg/illustrations/star-half.svg" alt="Review rating" width="14">
                  <span class="ms-1">2,391 reviews</span>
                </a>
                <!-- End Rating -->
              </li>
            </ul>

            <ul class="list-inline list-separator small text-body mb-2">
              <li class="list-inline-item">Posted 7 hours ago</li>
              <li class="list-inline-item">Oxford, England, United Kingdom</li>
              <li class="list-inline-item">Full time</li>
            </ul>
          </div>
        </div>
        <!-- End Media -->
      </div>
    </div>
  </div>
  <!-- End Page Header -->

  <!-- Content -->
  <div class="container content-space-1 content-space-b-lg-3">
    <div class="w-lg-75 mx-lg-auto">
      <!-- Card -->
      <div class="card card-bordered mb-10">
        <div class="card-body">
          <div class="row align-items-sm-center">
            <div class="col-sm mb-2 mb-sm-0">
              <h5 class="card-title text-uppercase">
                <i class="bi-lightning-charge-fill me-1"></i> Send us mail instead
              </h5>
              <p class="card-text small">Save time by importing your resume.</p>
            </div>
            <!-- End Col -->

            <div class="col-sm-auto">
              <!-- Dropdown -->
              <div class="dropdown">
                <a class="btn btn-primary" href="#" id="jobImportResumeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-dropdown-animation="">
                  My mail <i class="bi-chevron-down small ms-1"></i>
                </a>

                <div class="dropdown-menu" aria-labelledby="jobImportResumeDropdown" style="opacity: 1;">
                  <a class="dropdown-item" href="#">
                    <img class="avatar avatar-xss avatar-4x3 me-2" src="../assets/vendor/bootstrap-icons/icons/laptop.svg" alt="Image Description"> My Computer
                  </a>
                  <a class="dropdown-item" href="#">
                    <img class="avatar avatar-xss avatar-4x3 me-2" src="../assets/svg/brands/dropbox-icon.svg" alt="Image Description"> Dropbox
                  </a>
                  <a class="dropdown-item" href="#">
                    <img class="avatar avatar-xss avatar-4x3 me-2" src="../assets/svg/brands/google-drive-icon.svg" alt="Image Description"> Google Drive
                  </a>
                </div>
              </div>
              <!-- End Dropdown -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->

      <!-- Form -->
      <form>
        <div class="mb-4">
          <h3>Personal information</h3>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <!-- Form -->
            <div class="mb-4">
              <label class="form-label" for="applyForJobFirstName">First name</label>
              <input type="text" class="form-control" name="applyForJobNameFirstName" id="applyForJobFirstName" placeholder="First name" aria-label="First name">
            </div>
            <!-- End Form -->
          </div>

          <div class="col-sm-6">
            <!-- Form -->
            <div class="mb-4">
              <label class="form-label" for="applyForJobLasttName">User Name</label>
              <input type="text" class="form-control" name="applyForJobNameLastName" id="applyForJobLasttName" placeholder="User name" aria-label="User name">
            </div>
            <!-- End Form -->
          </div>
        </div>
        <!-- End Form -->

        <!-- Form -->
        <div class="mb-4">
          <label class="form-label" for="applyForJobEmail">Email address</label>
          <input type="email" class="form-control" name="applyForJobNameEmail" id="applyForJobEmail" placeholder="email@site.com" aria-label="email@site.com">
        </div>
        <!-- End Form -->

        <!-- Form -->





        <hr class="my-7">

        <div class="mb-4">
          <h3>Message</h3>
        </div>

        <!-- Form -->
        <div class="mb-4">

          <textarea class="form-control" name="applyForJobSummaryName" id="applyForJobSummary" placeholder="Message" aria-label="Message" rows="6"></textarea>
        </div>
        <!-- End Form -->


        <hr class="my-7">




        <div class="d-grid mt-5">
          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
      </form>
      <!-- End Form -->
    </div>
  </div>
  <!-- Content -->
</main>
