<main id="content" role="main">
  <div class="position-relative bg-img-start" style="background-image: url(../assets/svg/components/cardn-11.svg); overflow: hidden">
    <div class="container content-space-t-1 content-space-b-1 content-space-b-lg-2">
      <div class="row justify-content-lg-between align-items-lg-center pt-lg-5">
        <div class="col-md-8 col-lg-5">
          <!-- Heading -->
          <div class="mb-5">
            <h1 class="display-5 mb-3 mt-2">Technology Stack</h1>
            <p class="lead">
              Kibrisorder renders full-cycle software development and comprehensive expertise in cutting-edge technologies. We deliver technically sophisticated turnkey solutions which empower businesses with new opportunities and create competitive advantages.
            </p>
          </div>
          <!-- End Title & Description -->

          <!-- Form -->
          <form class="mb-7">
            <!-- Input Group -->
            <div class="row gx-2">

              <div class="col-sm-auto">
                <div class="d-grid">
                  <a routerLink="/hireUs" class="btn btn-primary btn-lg" type="button" id="emailAddOn">Hire Us Now</a>
                </div>
              </div>

            </div>
            <!-- End Input Group -->
          </form>
          <!-- End Form -->
          <!-- End Row -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>

    <!-- Gallery -->
    <div class="col-lg-6 d-none d-lg-block position-lg-absolute bottom-0 end-0 transform-rotate-n22deg me-lg-n10">
      <div class="row gx-3 align-items-end">
        <div class="col">
          <div class="d-grid gap-3">
            <div  >
              <img class="img-fluid shadow-lg rounded-2" src="homepage/angular.png" alt="Image Description">
            </div>
            <div   >
              <img class="img-fluid shadow-lg rounded-2" src="homepage/flutter.png" alt="Image Description">
            </div>
          </div>
        </div>
        <!-- End Col -->

        <div class="col">
          <div class="d-grid gap-3">
            <div  data-aos-delay="200" >
              <img class="img-fluid shadow-lg rounded-2" src="homepage/js.png" alt="Image Description">
            </div>
            <div  data-aos-delay="300" >
              <img class="img-fluid shadow-lg rounded-2" src="homepage/ios.png" alt="Image Description">
            </div>
          </div>
        </div>
        <!-- End Col -->

        <div class="col">
          <div class="d-grid gap-3">
            <div  data-aos-delay="400" >
              <img class="img-fluid shadow-lg rounded-2" src="homepage/python1.png" alt="Image Description">
            </div>
            <div  data-aos-delay="500" >
              <img class="img-fluid shadow-lg rounded-2" src="homepage/m.net.png" alt="Image Description">
            </div>
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Gallery -->
  </div>

  <!-- frontend -->
  <div class=" container w-lg-85 mx-lg-auto mb-5 ">
    <h1 class="  text-primary mb-3 " ><span class="text-primary text-highlight-warning" > Front-End</span>
    </h1>
  </div>
  <div class="container">
    <div class="w-lg-85 mx-lg-auto mb-5">
      <!-- Card -->
      <div >
        <div class="card-body">
          <div class="row col-md-divider align-items-md-center">
            <div class="col">
              <!-- Media -->
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-4x3" src="homepage/angular.png" alt="Image Description">
                </div>

                <div class="flex-grow-1 ms-3">
                  <h6 class="card-title">
                    <h2 class="text-primary mt-3 " >Angular</h2>
                  </h6>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-md-12">
              <p style="text-align: justify">
                Angular, Angular material, KendoUI, Ant Design, PrimeNG, Bootstrap, DevExtreme, Nebular, Ag Grid;
                NgRx, NGXS, MobX, Akita;
                D3.js, ngx-translate, Formly, Nx, cytoscape.js, Ionic, Angular CDK, Chart.js   </p>

            </div>

            <!-- End Col -->


            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>

  </div>
  <div class="container">
    <div class="w-lg-85 mx-lg-auto mb-5">
      <!-- Card -->
      <div >
        <div class="card-body">
          <div class="row col-md-divider align-items-md-center">
            <div class="col">
              <!-- Media -->
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-4x3" src="homepage/reactl.png" alt="Image Description">

                </div>

                <div class="flex-grow-1 ms-3">
                  <h6 class="card-title">
                    <h2 class="text-dark mt-3 " >React</h2>
                  </h6>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-md-12">
              <p style="text-align: justify">
                React, React Redux, React Admin, React-Draggable, Immutable, Reselect, Redux, Redux-Thunk, Redux-Saga, Redux-Persist, Redux-Intl, Redux-Form, Formik, RxJS, Nx, React-i18n, React-Native, React-Navigation, React-Router-DOM, Three.JS, Styled-Components, NextJS
              </p>

            </div>

            <!-- End Col -->


            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>

  </div>
  <div class="container">
    <div class="w-lg-85 mx-lg-auto mb-5">
      <!-- Card -->
      <div >
        <div class="card-body">
          <div class="row col-md-divider align-items-md-center">
            <div class="col">
              <!-- Media -->
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-4x3" src="homepage/ts.jpeg" alt="Image Description">

                </div>

                <div class="flex-grow-1 ms-3">
                  <h6 class="card-title">
                    <h2 class="text-dark mt-3" >TypeScript</h2>
                  </h6>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-md-12">
              <p style="text-align: justify">
                Webpack, Parcel, ESLint, Prettier, Jest, Cypress, Postman, Swagger/OpenAPI, React, Angular, Vue.js, Express.js, NestJS, TypeORM, RxJS, Axios, Lodash, D3.js, GraphQL<br>
                Libraries and Framework:
                React, Angular, Vue.js, Express.js, NestJS, TypeORM, RxJS, Axios, Lodash, D3.js, GraphQL
                 </p>

            </div>

            <!-- End Col -->


            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>

  </div>



  <!-- Backend -->
  <div class=" container w-lg-85 mx-lg-auto mb-5 mt-10 ">
    <h1 class="  text-primary mb-3 " ><span class="text-primary text-highlight-warning" > Back-End</span>
    </h1>
  </div>
  <div class="container">
    <div class="w-lg-85 mx-lg-auto mb-5">
      <!-- Card -->
      <div >
        <div class="card-body">
          <div class="row col-md-divider align-items-md-center">
            <div class="col">
              <!-- Media -->
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-4x3" src="homepage/python1.png" alt="Image Description">
                </div>

                <div class="flex-grow-1 ms-3">
                  <h6 class="card-title">
                    <h2 class="text-dark mt-3" >Python</h2>
                  </h6>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-md-12">
              <p style="text-align: justify">
                Django, Django Rest Framework, Flask, FastAPI, AsyncIo, AioHttp, Tornado, Celery, Microservices Architecture, Docker/Kubernetes, PostgreSQL, MySQL, MongoDB, Redis, DynamoDB, REST API, GraphQL, Web Socket, Swagger, JWT, OAuth
            </div>

            <!-- End Col -->


            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>

  </div>
  <div class="container">
    <div class="w-lg-85 mx-lg-auto mb-5">
      <!-- Card -->
      <div >
        <div class="card-body">
          <div class="row col-md-divider align-items-md-center">
            <div class="col">
              <!-- Media -->
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-4x3" src="homepage/m.net.png" alt="Image Description">

                </div>

                <div class="flex-grow-1 ms-3">
                  <h6 class="card-title">
                    <h2 class="text-dark mt-3" >.Net</h2>
                  </h6>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-md-12">
              <p style="text-align: justify">
                NET Core, ASP.NET Core MVC, ASP.NET Web API, ASP.NET MVC, ASP.NET Web forms
                  </p>

            </div>

            <!-- End Col -->


            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>

  </div>
  <div class="container">
    <div class="w-lg-85 mx-lg-auto mb-5">
      <!-- Card -->
      <div >
        <div class="card-body">
          <div class="row col-md-divider align-items-md-center">
            <div class="col">
              <!-- Media -->
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-4x3" src="homepage/js.png" alt="Image Description">

                </div>

                <div class="flex-grow-1 ms-3">
                  <h6 class="card-title">
                    <h2 class="text-dark mt-3" >Node.js</h2>
                  </h6>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-md-12">
              <p style="text-align: justify">
                NestJS, Koa, Express, RxJS, MongoDB, PostgreSQL, MySQL, GraphQL, Mongoose, TypeORM, Sequelize, Passport, Knex, AWS (Lamda, EC2, RDS)
                  </p>

            </div>

            <!-- End Col -->


            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>

  </div>
  <div class="container">
    <div class="w-lg-85 mx-lg-auto mb-5">
      <!-- Card -->
      <div >
        <div class="card-body">
          <div class="row col-md-divider align-items-md-center">
            <div class="col">
              <!-- Media -->
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-4x3" src="technologies/java.svg" alt="Image Description">

                </div>

                <div class="flex-grow-1 ms-3">
                  <h6 class="card-title">
                    <h2 class="text-dark mt-3" >Java</h2>
                  </h6>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-md-12">
              <p style="text-align: justify">
                Java SE/EE, Kotlin, Scala, Groovy, RxJava, Spring Framework (Core, Data, Boot, Batch, Cloud, Security, Retry, MVC, AOP, Reactor), MapStruct, Lombok, Feign, WebFlux, Vert.x, jOOQ, Hibernate, JPA2, QueryDSL, Kafka, RabbitMQ, ActiveMQ, IBM MQ, Apache Spark, Apache NiFi, Apache Camel, Flyway, Liquibase, Keycloak, Microservices Architecture, ELK, Prometheus, Grafana, Splunk, AppDynamics, Docker, Kubernetes, OpenShift, REST, WebSockets, RSocket, SOAP, GraphQL, GWT, DB (Oracle, PostgreSQL, MySQL, MongoDB, Cassandra), Lucene, Solr, ElasticSearch, Redis, Ehcache, Hazelcast, Caffeine, Camunda, Activiti, Zeebe, jBPM, Flowable, JUnit, TestNG, Mockito, Cucumber
                  </p>

            </div>

            <!-- End Col -->


            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>

  </div>



  <!-- mobile-->
  <div class=" container w-lg-85 mx-lg-auto mb-5 mt-10 ">
    <h1 class="  text-primary mb-3 " ><span class="text-primary text-highlight-warning" > Mobile</span>
    </h1>
  </div>
  <div class="container">
    <div class="w-lg-85 mx-lg-auto mb-5">
      <!-- Card -->
      <div >
        <div class="card-body">
          <div class="row col-md-divider align-items-md-center">
            <div class="col">
              <!-- Media -->
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-4x3" src="technologies/andriod.svg" alt="Image Description">

                </div>

                <div class="flex-grow-1 ms-3">
                  <h6 class="card-title">
                    <h2 class="text-dark mt-3" >Andriod</h2>
                  </h6>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-md-12">
              <p style="text-align: justify">
                Java, Kotlin, MVP, MVVM, Clean Architecture, Multi-module architecture AAC (ViewModel, LiveData, Lifecycle, Navigation Component, Paging), Dagger2 + Hilt, Toothpick, Moxy, Cicerone, RxJava 2, Coroutines, Retrofit, kotlinx Serialization, ViewBinding, DataBinding, JUnit, Mockito, MockK, Robolectric, detekt, ktlint
                  </p>

            </div>

            <!-- End Col -->


            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>

  </div>
  <div class="container">
    <div class="w-lg-85 mx-lg-auto mb-5">
      <!-- Card -->
      <div >
        <div class="card-body">
          <div class="row col-md-divider align-items-md-center">
            <div class="col">
              <!-- Media -->
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-4x3" src="homepage/ios.png" alt="Image Description">

                </div>

                <div class="flex-grow-1 ms-3">
                  <h6 class="card-title">
                    <h2 class="text-dark mt-3" >iOS</h2>
                  </h6>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-md-12">
              <p style="text-align: justify">
                Objective-C, Swift, MVP, MVVM, Clean Swift SnapKit, XIB, SwiftUI, GCD, RxSwift, Combine, Swinject, Alamofire, URLSession, AVFoundation, MapKit + CoreLocation, WatchKit, WatchConnectivity, XCTest, SwiftLint, Apple TV, iPad app
                  </p>

            </div>

            <!-- End Col -->


            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>

  </div>
  <div class="container">
    <div class="w-lg-85 mx-lg-auto mb-5">
      <!-- Card -->
      <div >
        <div class="card-body">
          <div class="row col-md-divider align-items-md-center">
            <div class="col">
              <!-- Media -->
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-4x3" src="homepage/reactl.png" alt="Image Description">

                </div>

                <div class="flex-grow-1 ms-3">
                  <h6 class="card-title">
                    <h2 class="text-dark mt-3" >React Native</h2>
                  </h6>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-md-12">
              <p style="text-align: justify">
                JavaScript, React, React Native, React Navigation, Redux, Redux-Saga, Redux-Persist, Redux-Offline, Redux-Thunk, RxJS, TypeScript, Apollo GraphQL, StyleSheet, React-Form-Hook, Firebase, Hasura, i18n, Styled-Components
                </p>

            </div>

            <!-- End Col -->


            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>

  </div>
  <div class="container">
    <div class="w-lg-85 mx-lg-auto mb-5">
      <!-- Card -->
      <div >
        <div class="card-body">
          <div class="row col-md-divider align-items-md-center">
            <div class="col">
              <!-- Media -->
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-4x3" src="homepage/flutter.png" alt="Image Description">

                </div>

                <div class="flex-grow-1 ms-3">
                  <h6 class="card-title">
                    <h2 class="text-dark mt-3" >Flutter</h2>
                  </h6>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-md-12">
              <p style="text-align: justify">
                Dart, Bloc, Clean Architecture, Multi-Package architecture Flutter, Flutter Web, Dart async, RxDart, Dart Streams, Navigator 2.0, GetIt, Dio, GraphQL, linter (effective dart style), Mocktail, Bloc Test
                </p>

            </div>

            <!-- End Col -->


            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>

  </div>



  <!-- Data Managment -->
  <div class=" container w-lg-85 mx-lg-auto mb-5 mt-10 ">
    <h1 class="  text-primary mb-3 " ><span class="text-primary text-highlight-warning" > Data Managment</span>
    </h1>
  </div>
  <div class="container">
    <div class="w-lg-85 mx-lg-auto mb-5">
      <!-- Card -->
      <div >
        <div class="card-body">
          <div class="row col-md-divider align-items-md-center">
            <div class="col">
              <!-- Media -->
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-4x3" src="technologies/nosql.png" alt="Image Description">

                </div>

                <div class="flex-grow-1 ms-3">
                  <h6 class="card-title">

                    <h2 class="text-dark mt-3" >NoSQL</h2>
                  </h6>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-md-12">
              <p style="text-align: justify">
                MongoDB, Apache CouchDB, Apache Cassandra, Elasticsearch, Amazon DynamoDB, Azure DocumentDB, Azure Table storage, Azure Blob storage, Firebase, Neo4j, HBase
              </p>

            </div>

            <!-- End Col -->


            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>

  </div>
  <div class="container">
    <div class="w-lg-85 mx-lg-auto mb-5">
      <!-- Card -->
      <div >
        <div class="card-body">
          <div class="row col-md-divider align-items-md-center">
            <div class="col">
              <!-- Media -->
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-4x3" src="technologies/rdmbs.jpg" alt="Image Description">

                </div>

                <div class="flex-grow-1 ms-3">
                  <h6 class="card-title">

                    <h2 class="text-dark mt-3" >RDBMS</h2>
                  </h6>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-md-12">
              <p style="text-align: justify">
                PostgreSQL, Oracle, Amazon RDS, Amazon Aurora, Azure SQL Database, H2
              </p>

            </div>

            <!-- End Col -->


            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>

  </div>


  <!-- Cloud and Platforms -->
  <div class=" container w-lg-85 mx-lg-auto mb-5 mt-10 ">
    <h1 class="  text-primary mb-3 " ><span class="text-primary text-highlight-warning" > Cloud & platforms</span>
    </h1>
  </div>
  <div class="container">
    <div class="w-lg-85 mx-lg-auto mb-5">
      <!-- Card -->
      <div >
        <div class="card-body">
          <div class="row col-md-divider align-items-md-center">
            <div class="col">
              <!-- Media -->
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-4x3" src="technologies/amazon.png" alt="Image Description">

                </div>

                <div class="flex-grow-1 ms-3">
                  <h6 class="card-title">

                    <h2 class="text-dark mt-3" >Amazon Web Services (AWS)</h2>
                  </h6>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-md-12">
              <p style="text-align: justify">
                Amazon Elastic Compute Cloud (EC2), Amazon Simple Storage Service (S3), Amazon Elastic Container Service (Amazon ECS), DynamoDB, Relational Database Service (RDS), AWS Lambda, ElastiCache, CloudSearch
              </p>

            </div>

            <!-- End Col -->


            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>

  </div>
  <div class="container">
    <div class="w-lg-85 mx-lg-auto mb-5">
      <!-- Card -->
      <div >
        <div class="card-body">
          <div class="row col-md-divider align-items-md-center">
            <div class="col">
              <!-- Media -->
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-4x3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTw3HApB4bsvabXW3L14cV-LhFo0L71QmEESJN3vW9Ow&s" alt="Image Description">

                </div>

                <div class="flex-grow-1 ms-3">
                  <h6 class="card-title">

                    <h2 class="text-dark mt-3" >Microsoft Azure</h2>
                  </h6>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-md-12">
              <p style="text-align: justify">
                Azure Virtual Machines, Azure Web Apps, Azure Functions, Azure Blob Storage, Azure Notification Hub, Azure AI, Azure IoT Hub, Azure Event Hub, Azure Tables, Azure Queue, Azure DevOps Pipelines, Azure Content Delivery Network, Azure Application Insights, Azure Kubernetes, Azure SQL
               </p>

            </div>

            <!-- End Col -->


            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>

  </div>
  <div class="container">
    <div class="w-lg-85 mx-lg-auto mb-5">
      <!-- Card -->
      <div >
        <div class="card-body">
          <div class="row col-md-divider align-items-md-center">
            <div class="col">
              <!-- Media -->
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-4x3" src="technologies/google-icon.svg" alt="Image Description">

                </div>

                <div class="flex-grow-1 ms-3">
                  <h6 class="card-title">

                    <h2 class="text-dark mt-3" >Google Cloud Platform (GCP)</h2>
                  </h6>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-md-12">
              <p style="text-align: justify">
                Google Compute Engine, Google App Engine, Google Kubernetes Engine, Google Cloud Functions, Google Cloud SQL, Google Cloud Storage, Google Cloud Datastore, Google Cloud Bigtable
              </p>

            </div>

            <!-- End Col -->


            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>

  </div>



  <div class=" container w-lg-85 mx-lg-auto mb-5 mt-10 ">
    <h1 class="  text-primary mb-3 " ><span class="text-primary text-highlight-warning" > Management Tools</span>
    </h1>
  </div>
  <div class="container">
    <div class="w-lg-85 mx-lg-auto mb-5">
      <!-- Card -->
      <div >
        <div class="card-body">
          <div class="row col-md-divider align-items-md-center">
            <div class="col">
              <!-- Media -->
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-4x3" src="technologies/managment.svg" alt="Image Description">

                </div>

                <div class="flex-grow-1 ms-3">
                  <h6 class="card-title">
                    <h2 class="text-dark mt-3" >Management, planning and reporting tools</h2>
                  </h6>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-md-12">
              <p style="text-align: justify">
                Jira, Trello, Microsoft Teams, Slack, MS Project, VersionOne, Mantis, Trac, Redmine, Zoom, Replicon
                </p>

            </div>

            <!-- End Col -->


            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>

  </div>

</main>













