<table class="table table-nowrap table-vertical-border-striped">


  <tbody>
  <tr>
    <th scope="row" class="text-dark">Operating System</th>
    <td class=" "><i class="bi-check-circle text-success me-2"></i>{{ os }}</td>

  </tr>

  <tr>
    <th scope="row" class="text-dark">Platform</th>
    <td class=" "><i class="bi-check-circle text-success me-2"></i>{{ platform }}</td>

  </tr>
  <tr>
    <th scope="row" class="text-dark">Browser Version</th>
    <td class=" "><i class="bi-check-circle text-success me-2"></i>{{ browserVersion }}</td>

  </tr>
  <tr>
    <th scope="row" class="text-dark">Device</th>
    <td class=" "><i class="bi-check-circle text-success me-2"></i>{{ device }}</td>

  </tr>
  <tr>
    <th scope="row" class="text-dark">Browser</th>
    <td class=" "><i class="bi-check-circle text-success me-2"></i>{{ browser }}</td>

  </tr>
  <tr>
    <th scope="row" class="text-dark">Screen Resolution</th>
    <td class=" "><i class="bi-check-circle text-success me-2"></i>{{ screenResolution }}</td>

  </tr>

  <tr>
    <th scope="row" class="text-dark">Memory</th>
    <td class=" "><i class="bi-check-circle text-success me-2"></i>{{ memory }}</td>

  </tr>

  <tr>
    <th scope="row" class="text-dark">Processor</th>
    <td class=" "><i class="bi-check-circle text-success me-2"></i>{{ processor }}</td>

  </tr>

  <tr>
    <th scope="row" class="text-dark">Timezone</th>
    <td class=" "><i class="bi-check-circle text-success me-2"></i>{{ timezone }}</td>

  </tr>

  <tr>
    <th scope="row" class="text-dark">Language</th>
    <td class=" "><i class="bi-check-circle text-success me-2"></i>{{ language }}</td>

  </tr>
  </tbody>
</table>
