<!-- Hero -->
<div class="position-relative bg-img-start" style="background-image: url(/homepage/backroundimage1.jpeg);">
  <div class="container content-space-t-3 content-space-t-lg-5 content-space-b-2 content-space-b-lg-3 position-relative zi-2">
    <div class="row justify-content-lg-between align-items-md-center">
      <div class="col-md-6 col-lg-5 mb-10 mb-md-0">
        <div class="mb-5">
          <h1 class="display-6 text-white">Your software development company</h1>
          <p class=" text-white" style="text-align:left">Aims Technology can cover the entire software development process, from product vision discussion to applications design and software enhancement. Our multi-skilled experienced team facilitates businesses worldwide on their way to digital transformation and helps companies take full advantage of IT innovations.</p>
        </div>

        <div class="d-flex align-items-center gap-2 mb-8">
          <a class="btn btn-white text-primary btn-transition me-2" routerLink="/hireUs">
            Hire us for software development <i class="bi-chevron-right small ms-1"></i>
          </a>


          <!-- End Fancybox -->
        </div>
      </div>
      <!-- End Col -->

      <div class="col-md-6">
        <div class="row justify-content-end">
          <div class="col-3 mb-4">
            <!-- Logo -->
            <div class="d-block avatar avatar-lg rounded-circle shadow-sm p-3 mt-n3 ms-5" >
              <img class="avatar-img" src="homepage/angular.png" alt="Image Description">
            </div>
            <!-- End Logo -->
          </div>
          <div class="col-4 mb-4">
            <!-- Logo -->
            <div class="d-block avatar avatar-xl rounded-circle shadow-sm p-4 mx-auto mt-5" >
              <img class="avatar-img" src="homepage/python1.png" alt="Image Description">
            </div>
            <!-- End Logo -->
          </div>
          <div class="col-4 mb-4">
            <!-- Logo -->
            <div class="d-block avatar avatar-xl rounded-circle shadow-sm p-4 ms-auto"  >
              <img class="avatar-img" src="homepage/reactl.png" alt="Image Description">
            </div>
            <!-- End Logo -->
          </div>
        </div>

        <div class="row">
          <div class="col-3 offset-1 my-4">
            <!-- Logo -->
            <div class="d-block avatar avatar-xl rounded-circle shadow-sm p-4 ms-auto"  >
              <img class="avatar-img" src="homepage/js.png" alt="Image Description">
            </div>
            <!-- End Logo -->
          </div>
          <div class="col-3 offset-2 my-4">
            <!-- Logo -->
            <div class="d-block avatar avatar-xl rounded-circle shadow-sm p-4 ms-auto"  >
              <img class="avatar-img" src="homepage/m.net.png" alt="Image Description">
            </div>
            <!-- End Logo -->
          </div>
        </div>

        <div class="row d-none d-md-flex">
          <div class="col-6">
            <!-- Logo -->
            <div class="d-block avatar avatar-lg rounded-circle shadow-sm p-3 ms-auto" >
              <img class="avatar-img" src="homepage/flutter.png" alt="Image Description">
            </div>
            <!-- End Logo -->
          </div>
          <div class="col-6 mt-6">
            <!-- Logo -->
            <div class="d-block avatar avatar-xl rounded-circle shadow-sm p-4 ms-auto" >
              <img class="avatar-img" src="homepage/ios.png" alt="Image Description">
            </div>
            <!-- End Logo -->
          </div>
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>

  <!-- Shape -->
  <div class="shape shape-bottom zi-1">
    <svg width="3000" height="500" viewBox="0 0 3000 500" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 500H3000V0L0 500Z" fill="#fff"/>
    </svg>
  </div>
  <!-- End Shape -->
</div>
<!-- End Hero -->

<div class=" content-space-1">
  <div class="d-grid gap-5">
    <p class="text-dark"  style=" font-size: 40px; margin-top:0; margin-bottom: 0; text-align: center;">IT solution services offered by Aims Technology</p>
    <div  class="card shadow-none card-stretched-vertical mb-3 mt-2">
      <div class="row">
        <div class="col-md-4">
          <img class="card-img" src="/custom-development-banner_dd607219d30f59a3904953bac6515df1.jpg" alt="Image Description" >

        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-md-7">
                <h3 class="card-title" >
                  <p class="text-dark">Web Development</p>
                </h3>
              </div>
              <p class="card-text">
                By seamlessly integrating state-of-the-art back-end and front-end technologies, our development process yields solutions that provide unparalleled scalability, real-time responsiveness, and efficiency. This drives your business towards unprecedented levels of growth and achievement, ensuring a competitive edge in today's dynamic market landscape.</p>



            </div>
          </div>
        </div>

      </div>

    </div>
    <div  class="p-3 shadow-none  mb-3 mt-2">
      <div class="row">
        <div class="col-md-6">
          <img class="card-img" style="object-fit: cover" src="services/Picture1.png" alt="Image Description" >

        </div>
        <div class="col-md-6">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-md-7">
                <h3 class="card-title" >
                  <p class="text-dark">Mobile App Development</p>
                </h3>
              </div>
              <p class="card-text">
                By leveraging state-of-the-art backend and frontend technologies, our mobile app development process delivers highly scalable, efficient, and real-time responsive solutions, empowering your business with remarkable success and fostering unparalleled user satisfaction. With meticulous attention to detail and strategic execution, we ensure your app surpasses competition, offering seamless experiences that drive growth in today's mobile-driven market.</p>



            </div>
          </div>
        </div>

      </div>

    </div>
    <div  class="p-3 shadow-none card-stretched-vertical mb-3 mt-2">
      <div class="row">
        <div class="col-md-4">
          <img class="card-img" src="services/Picture2.jpg" alt="Image Description" >

        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-md-7">
                <h3 class="card-title" >
                  <p class="text-dark">Product Design</p>
                </h3>
              </div>
              <p class="card-text">At our firm, we specialize in giving a unique voice to every aspect of your business. Our design philosophy revolves around the belief that design is integral to every product. With a dedicated team focused on user experience throughout the customer journey, we ensure that your product not only looks good but also delivers exceptional functionality and satisfaction at every touchpoint.</p>



            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>







