
<div class="card h-100">
  <!-- Header -->
  <div class="card-header card-header-content-between">
    <h4 class="card-header-title">Latest transactions</h4>


    <!-- End Dropdown -->
  </div>
  <!-- End Header -->

  <!-- Body -->
  <div class="card-body card-body-height" style="max-height: 300px; overflow-y: auto;">
    <ul class="list-group list-group-flush list-group-no-gutters">
      <!-- List Item -->
      <li class="list-group-item">
        <div class="d-flex">
          <div class="flex-shrink-0">
            <!-- Avatar -->
            <div class="avatar avatar-sm avatar-soft-dark avatar-circle">
              <span class="avatar-initials">B</span>
            </div>
            <!-- End Avatar -->
          </div>

          <div class="flex-grow-1 ms-3">
            <div class="row">
              <div class="col-7 col-md-5 order-md-1">
                <h5 class="mb-0">Bob Dean</h5>
                <span class="fs-6 text-body">Transfer to bank account</span>
              </div>

              <div class="col-5 col-md-4 order-md-3 text-end mt-2 mt-md-0">
                <h5 class="mb-0">-$290.00 USD</h5>
                <span class="fs-6 text-body">15 May, 2020</span>
              </div>

              <div class="col-auto col-md-3 order-md-2">
                <span class="badge bg-soft-warning text-warning rounded-pill">Pending</span>
              </div>
            </div>
            <!-- End Row -->
          </div>
        </div>
      </li>
      <!-- End List Item -->

      <!-- List Item -->
      <li class="list-group-item">
        <div class="d-flex">
          <div class="flex-shrink-0">
            <!-- Avatar -->
            <img class="avatar avatar-sm avatar-circle" src="./assets/svg/brands/slack-icon.svg" alt="Image Description">
            <!-- End Avatar -->
          </div>

          <div class="flex-grow-1 ms-3">
            <div class="row">
              <div class="col-7 col-md-5 order-md-1">
                <h5 class="mb-0">Slack</h5>
                <span class="fs-6 text-body">Subscription payment</span>
              </div>

              <div class="col-5 col-md-4 order-md-3 text-end mt-2 mt-md-0">
                <h5 class="mb-0">-$11.00 USD</h5>
                <span class="fs-6 text-body">12 May, 2020</span>
              </div>

              <div class="col-auto col-md-3 order-md-2">
                <span class="badge bg-soft-success text-success rounded-pill">Completed</span>
              </div>
            </div>
            <!-- End Row -->
          </div>
        </div>
      </li>
      <!-- End List Item -->

      <!-- List Item -->
      <li class="list-group-item">
        <div class="d-flex">
          <div class="flex-shrink-0">
            <!-- Avatar -->
            <img class="avatar avatar-sm avatar-circle" src="./assets/svg/brands/bank-of-america-icon.svg" alt="Image Description">
            <!-- End Avatar -->
          </div>

          <div class="flex-grow-1 ms-3">
            <div class="row">
              <div class="col-7 col-md-5 order-md-1">
                <h5 class="mb-0">Bank of America</h5>
                <span class="fs-6 text-body">Withdrawal to bank account</span>
              </div>

              <div class="col-5 col-md-4 order-md-3 text-end mt-2 mt-md-0">
                <h5 class="text-success mb-0">$3500.00 USD</h5>
                <span class="fs-6 text-body">10 May, 2020</span>
              </div>

              <div class="col-auto col-md-3 order-md-2">
                <span class="badge bg-soft-success text-success rounded-pill">Completed</span>
              </div>
            </div>
            <!-- End Row -->
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="d-flex">
          <div class="flex-shrink-0">
            <!-- Avatar -->
            <img class="avatar avatar-sm avatar-circle" src="./assets/svg/brands/bank-of-america-icon.svg" alt="Image Description">
            <!-- End Avatar -->
          </div>

          <div class="flex-grow-1 ms-3">
            <div class="row">
              <div class="col-7 col-md-5 order-md-1">
                <h5 class="mb-0">Bank of America</h5>
                <span class="fs-6 text-body">Withdrawal to bank account</span>
              </div>

              <div class="col-5 col-md-4 order-md-3 text-end mt-2 mt-md-0">
                <h5 class="text-success mb-0">$3500.00 USD</h5>
                <span class="fs-6 text-body">10 May, 2020</span>
              </div>

              <div class="col-auto col-md-3 order-md-2">
                <span class="badge bg-soft-success text-success rounded-pill">Completed</span>
              </div>
            </div>
            <!-- End Row -->
          </div>
        </div>
      </li>
      <!-- End List Item -->
    </ul>
  </div>

  <!-- End Body -->
</div>
