<main id="content" role="main" class="main">
  <div class="position-fixed top-0 end-0 start-0 bg-img-start" style="height: 32rem; background-image: url(bg/card-6.svg);">
    <!-- Shape -->
    <div class="shape shape-bottom zi-1">
      <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1921 273">
        <polygon fill="#fff" points="0,273 1921,273 1921,0 "></polygon>
      </svg>
    </div>
    <!-- End Shape -->
  </div>

  <!-- Content -->
  <div class="container py-5 py-sm-7">
    <div class="mx-auto" style="max-width: 30rem;">
      <!-- Card -->
      <div class="card card-lg mb-5">
        <div class="card-body text-center">
          <div class="mb-4">
            <img class="avatar avatar-xxl avatar-4x3" src="logos/img_1.png" alt="Image Description" data-hs-theme-appearance="default">
          </div>

          <div class="mb-5">
            <h1 class="display-6">2-step Verification</h1>
            <p class="mb-0">We sent a verification code to your email.</p>
            <p>Enter the code from the email in the field below.</p>
          </div>

          <div class="row gx-2 gx-sm-3">
            <div class="col">
              <!-- Form -->
              <div class="mb-4">
                <input type="text" class="form-control form-control-single-number" name="code1" [(ngModel)]="verificationCode[0]" maxlength="1" (input)="focusNext($event, 'code2')" autocomplete="off" autocapitalize="off" spellcheck="false" autofocus>
              </div>
              <!-- End Form -->
            </div>

            <div class="col">
              <!-- Form -->
              <div class="mb-4">
                <input type="text" class="form-control form-control-single-number" name="code2" [(ngModel)]="verificationCode[1]" maxlength="1" (input)="focusNext($event, 'code3')" autocomplete="off" autocapitalize="off" spellcheck="false">
              </div>
              <!-- End Form -->
            </div>

            <div class="col">
              <!-- Form -->
              <div class="mb-4">
                <input type="text" class="form-control form-control-single-number" name="code3" [(ngModel)]="verificationCode[2]" maxlength="1" (input)="focusNext($event, 'code4')" autocomplete="off" autocapitalize="off" spellcheck="false">
              </div>
              <!-- End Form -->
            </div>

            <div class="col">
              <!-- Form -->
              <div class="mb-4">
                <input type="text" class="form-control form-control-single-number" name="code4" [(ngModel)]="verificationCode[3]" maxlength="1" (input)="onSubmit()" autocomplete="off" autocapitalize="off" spellcheck="false">
              </div>
              <!-- End Form -->
            </div>
          </div>

          <!-- Submit Button is now not needed, since 'onSubmit()' is triggered automatically on input -->
          <!-- The "Verify my account" button is removed -->

          <div class="text-center">
            <p>Haven't received it? <a href="#">Resend a new code.</a></p>
          </div>
        </div>
      </div>
      <!-- End Card -->

      <!-- Footer -->

      <!-- End Footer -->
    </div>
  </div>
  <!-- End Content -->
</main>
