
<div class="card">
  <div class="card-header">
    <h5 class="card-header-title">Contacts Saved</h5>
  </div>

  <!-- Table -->
  <div class="table-responsive">
    <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
      <thead class="thead-light">
      <tr>
        <th>Date</th>
        <th></th>
        <th></th>
        <th></th>

      </tr>
      </thead>

      <tbody *ngFor="let inquiry of inquiries$ | async">
      <tr>

        <td>
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img class="avatar avatar-sm avatar-circle" [src]="getRandomAvatar()" alt="Image Description">
            </div>

            <div class="flex-grow-1 ms-3">
              <a class="d-inline-block link-dark" href="#">
                <h6 class="text-hover-primary mb-0">{{ inquiry.name }} <img class="avatar avatar-xss ms-1" src="avatar/verified.svg" alt="Image Description" data-bs-toggle="tooltip" data-bs-placement="top" title="Verified user"></h6>
              </a>
              <small class="d-block">{{ inquiry.Email }}</small>
            </div>
          </div>
        </td>


        <td>
          <h6>{{ inquiry.phoneNumber }}</h6>
        </td>


        <td>

          <div class="d-flex justify-content-end gap-3">
            <a (click)="deleteInquiry(inquiry.id)" class="btn btn-danger" href="javascript:;">Delete</a>
            <a class="btn btn-primary" href="javascript:;">View</a>
          </div>


        </td>
      </tr>

      </tbody>
    </table>
  </div>
  <!-- End Table -->

  <!-- Footer -->
  <div class="card-footer border-top">

  </div>
  <!-- End Footer -->
</div>
<p>Total Text Length: {{ totalTextLength() }} characters</p>
<p>Memory Usage: {{ memorySize() | number: '1.0-2' }} KB</p>
<p>Available Storage: {{ availableStorage() }} bytes</p>
<p>Total Memory: {{ totalStorage }} bytes</p>
