<div class="card">

  <!-- Table -->
  <div class="table-responsive">
    <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle">
      <thead class="thead-light">
      <tr>
        <th>Date</th>
        <th>Reference</th>
        <th>Account Name</th>
        <th>Amount</th>
        <th>Payment Mode</th>
        <th>Description</th>

      </tr>
      </thead>

      <tbody>
      <tr>
        <td><a href="#">#3682303</a></td>
        <td><span class="badge bg-soft-warning text-warning">Pending</span></td>
        <td>$264</td>
        <td>22/04/2020</td>
        <td><a class="btn btn-white btn-xs" href="./page-invoice.html"><i class="bi-file-earmark-arrow-down-fill me-1"></i> PDF</a></td>
        <td><a class="btn btn-white btn-xs" href="javascript:;" data-bs-toggle="modal" data-bs-target="#accountInvoiceReceiptModal"><i class="bi-eye-fill me-1"></i> Quick view</a></td>
      </tr>


      </tbody>
    </table>
  </div>
  <!-- End Table -->
</div>
