<main id="content" role="main">
  <!-- Hero -->
  <div class="overflow-hidden">
    <div class="container  ">
      <div class="row justify-content-lg-between align-items-md-center">
        <div class="col-md-6 col-lg-5 mb-7 mb-md-0">
          <!-- Heading -->
          <div class="mb-5">
            <span class="text-cap">Who we are?</span>
            <h1 class="display-4 mb-3">Design agency that inspires</h1>

            <p class="lead">Our team aims to deliver the most outstanding work in every pixel.</p>
          </div>
          <!-- End Title & Description -->

          <div class="d-grid d-sm-flex gap-3">
            <a class="btn btn-primary btn-transition" href="#caseStudies">Case studies</a>
            <a class="btn btn-link" href="#">Learn more <i class="bi-chevron-right small ms-1"></i></a>
          </div>
        </div>
        <!-- End Col -->

        <div class="col-md-6">
          <div class="position-relative">
            <img class="img-fluid rounded-2" src="aims/oc-hi-five.svg" alt="Image Description">
            <div class="position-absolute top-0 end-0 w-100 h-100 bg-soft-primary rounded-2 zi-n1 mt-5 me-n5"></div>
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
  </div>

  <div class="container content-space-2 content-space-b-lg-3">
    <div class="w-lg-75 mx-lg-auto">
      <div class="text-center my-4">
        <h1 class="display-1">FAQ</h1>
        <h6>Search our FAQ for answers to anything you might ask.</h6>
      </div>
      <div class="d-grid gap-10">
        <div class="d-grid gap-3">

          <!-- Accordion -->
          @for(item of qas; track item;let  i = $index){
            <div ngbAccordion class="accordion accordion-flush accordion-lg" id="accordionFAQBasics">
            <!-- Accordion Item -->
            <div ngbAccordionItem class="accordion-item" [collapsed]="i !==0">
              <div ngbAccordionHeader class="accordion-header" id="headingBasicsOne">
                <button ngbAccordionButton class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBasicsOne" aria-expanded="false" aria-controls="collapseBasicsOne">
                  {{item.question}}
                </button>
              </div>
              <div ngbAccordionCollapse id="collapseBasicsOne" class="accordion-collapse collapse" aria-labelledby="headingBasicsOne" data-bs-parent="#accordionFAQBasics" style="">
                <div ngbAccordionBody class="accordion-body">
                  <p [innerHTML]="item.answer | replaceLineBreaks"></p>
                </div>
              </div>
            </div>
            <!-- End Accordion Item -->


          </div>}
          <!-- End Accordion -->
        </div>


      </div>
    </div>
  </div>
  <!-- End FAQ -->
</main>
