<u><h4>System logs</h4></u>


<div class="row">
  <div class="col-lg-4">
    <!-- Body -->
    <div class="card card-centered bg-light h-100 rounded-0 shadow-none">
      <div class="card-body text-center">
        <div class="mb-3">
          <img class="avatar avatar-xxl avatar-4x3" src="./assets/svg/illustrations/oc-chatting.svg" alt="Image Description" data-hs-theme-appearance="default">
          <img class="avatar avatar-xxl avatar-4x3" src="./assets/svg/illustrations-light/oc-chatting.svg" alt="Image Description" data-hs-theme-appearance="dark">
        </div>

        <span class="display-3 d-block text-dark">256.4</span>

        <span class="d-block">
          — Total hours
          <span class="badge bg-soft-dark text-dark rounded-pill ms-1">+7 today</span>
        </span>
      </div>
    </div>
    <!-- End Body -->
  </div>
  <!-- End Col -->

  <div class="col-lg-8">
    <!-- Body -->
    <div class="card-body card-body-height" style="max-height: 250px; overflow-y: auto;">
      <ul class="list-group list-group-flush list-group-no-gutters">
        <!-- List Item -->
        <li class="list-group-item">
          <div class="row align-items-center">
            <div class="col-sm mb-3 mb-sm-0">
              <a class="d-flex align-items-center" href="./user-profile.html">
                <div class="flex-shrink-0">
                  <div class="avatar avatar-sm avatar-circle">
                    <img class="avatar-img" src="./assets/img/160x160/img10.jpg" alt="Image Description">
                  </div>
                </div>
                <div class="flex-grow-1 ms-2">
                  <h5 class="text-inherit">Amanda Harvey</h5>
                </div>
              </a>
            </div>
            <!-- End Col -->

            <div class="col">
              <span class="text-cap text-body small mb-0">Days</span>
              <span class="fw-semibold text-dark">38</span>
            </div>
            <!-- End Col -->

            <div class="col">
              <span class="text-cap text-body small mb-0">Hours</span>
              <span class="fw-semibold text-dark">45:12</span>
            </div>
            <!-- End Col -->

            <div class="col">
              <span class="text-cap text-body small mb-0">Tasks</span>
              <span class="fw-semibold text-dark">35</span>
            </div>
            <!-- End Col -->
          </div>
        </li>
        <!-- End List Item -->

        <!-- List Item -->
        <li class="list-group-item">
          <div class="row align-items-center">
            <div class="col-sm mb-3 mb-sm-0">
              <a class="d-flex align-items-center" href="./user-profile.html">
                <div class="flex-shrink-0">
                  <div class="avatar avatar-sm avatar-circle">
                    <img class="avatar-img" src="./assets/img/160x160/img8.jpg" alt="Image Description">
                  </div>
                </div>
                <div class="flex-grow-1 ms-2">
                  <h5 class="text-inherit">Linda Bates</h5>
                </div>
              </a>
            </div>
            <!-- End Col -->

            <div class="col">
              <span class="text-cap text-body small mb-0">Days</span>
              <span class="fw-semibold text-dark">14</span>
            </div>
            <!-- End Col -->

            <div class="col">
              <span class="text-cap text-body small mb-0">Hours</span>
              <span class="fw-semibold text-dark">16:29</span>
            </div>
            <!-- End Col -->

            <div class="col">
              <span class="text-cap text-body small mb-0">Tasks</span>
              <span class="fw-semibold text-dark">9</span>
            </div>
            <!-- End Col -->
          </div>
        </li>
        <!-- End List Item -->
      </ul>
    </div>
    <!-- End Body -->
  </div>
  <!-- End Col -->
</div>
