<main id="content" role="main">
  <!-- Hero -->
  <div class="position-relative">
    <!-- Swiper Main Slider -->
    <div class="js-swiper-blog-journal-hero swiper swiper-fade swiper-initialized swiper-horizontal swiper-pointer-events swiper-watch-progress swiper-backface-hidden">
      <div class="swiper-wrapper" id="swiper-wrapper-10e277623537a7100f" aria-live="off" style="transition-duration: 0ms;"><div class="js-swiper-slide-preload swiper-slide d-flex gradient-x-overlay-sm-dark bg-img-start swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev" style="background-image: url(&quot;./assets/img/1920x1080/img4.jpg&quot;); min-height: 40rem; width: 1263px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;" data-swiper-slide-index="2" role="group" aria-label="3 / 3">
        <!-- Container -->
        <div class="container d-flex align-items-center" style="min-height: 40rem;">
          <div class="w-lg-50 me-3">
            <!-- Media -->
            <div class="d-flex align-items-center mb-3">
              <div class="flex-shrink-0">
                <div class="avatar avatar-circle">
                  <img class="avatar-img" src="./assets/img/160x160/img4.jpg" alt="Image Description">
                </div>
              </div>
              <div class="flex-grow-1 ms-3">
                <a class="text-white" href="./blog-article.html">Jeff Fisher</a>
              </div>
            </div>
            <!-- End Media -->

            <div class="mb-5">
              <h2 class="h1 text-white">How Google Assistant now helps you record stories</h2>
            </div>

            <a class="btn btn-primary btn-transition" href="./blog-article.html">Read article <i class="bi-chevron-right small ms-1"></i></a>
          </div>
        </div>
        <!-- End Container -->
      </div>
        <div class="js-swiper-slide-preload swiper-slide d-flex gradient-x-overlay-sm-dark bg-img-start swiper-slide-duplicate-active" style="background-image: url(&quot;./assets/img/1920x1080/img3.jpg&quot;); min-height: 40rem; width: 1263px; opacity: 1; transform: translate3d(-1263px, 0px, 0px); transition-duration: 0ms;" data-swiper-slide-index="0" role="group" aria-label="1 / 3">
          <!-- Container -->
          <div class="container d-flex align-items-center" style="min-height: 40rem;">
            <div class="w-lg-50 me-3">
              <!-- Media -->
              <div class="d-flex align-items-center mb-3">
                <div class="flex-shrink-0">
                  <div class="avatar avatar-circle">
                    <img class="avatar-img" src="./assets/img/160x160/img10.jpg" alt="Image Description">
                  </div>
                </div>

                <div class="flex-grow-1 ms-3">
                  <a class="text-white" href="./blog-article.html">Christina Kray</a>
                </div>
              </div>
              <!-- End Media -->

              <div class="mb-5">
                <h2 class="h1 text-white">Front Interview with a Lead Designer of the Hubble</h2>
              </div>

              <a class="btn btn-primary btn-transition" href="./blog-article.html">Read article <i class="bi-chevron-right small ms-1"></i></a>
            </div>
          </div>
          <!-- End Container -->
        </div>

        <div class="js-swiper-slide-preload swiper-slide d-flex gradient-x-overlay-sm-dark bg-img-start" style="background-image: url(&quot;./assets/img/1920x1080/img5.jpg&quot;); min-height: 40rem; width: 1263px; opacity: 1; transform: translate3d(-2526px, 0px, 0px); transition-duration: 0ms;" data-swiper-slide-index="1" role="group" aria-label="2 / 3">
          <!-- Container -->
          <div class="container d-flex align-items-center" style="min-height: 40rem;">
            <div class="w-lg-50 me-3">
              <!-- Media -->
              <div class="d-flex align-items-center mb-3">
                <div class="flex-shrink-0">
                  <div class="avatar avatar-circle">
                    <img class="avatar-img" src="./assets/img/160x160/img10.jpg" alt="Image Description">
                  </div>
                </div>

                <div class="flex-grow-1 ms-3">
                  <a class="text-white" href="./blog-article.html">Christina Kray</a>
                </div>
              </div>
              <!-- End Media -->

              <div class="mb-5">
                <h2 class="h1 text-white">Front Corporate - let's work together</h2>
              </div>

              <a class="btn btn-primary btn-transition" href="./blog-article.html">Read article <i class="bi-chevron-right small ms-1"></i></a>
            </div>
          </div>
          <!-- End Container -->
        </div>

        <div class="js-swiper-slide-preload swiper-slide d-flex gradient-x-overlay-sm-dark bg-img-start swiper-slide-prev swiper-slide-duplicate-next" style="background-image: url(&quot;./assets/img/1920x1080/img4.jpg&quot;); min-height: 40rem; width: 1263px; opacity: 1; transform: translate3d(-3789px, 0px, 0px); transition-duration: 0ms;" data-swiper-slide-index="2" role="group" aria-label="3 / 3">
          <!-- Container -->
          <div class="container d-flex align-items-center" style="min-height: 40rem;">
            <div class="w-lg-50 me-3">
              <!-- Media -->
              <div class="d-flex align-items-center mb-3">
                <div class="flex-shrink-0">
                  <div class="avatar avatar-circle">
                    <img class="avatar-img" src="./assets/img/160x160/img4.jpg" alt="Image Description">
                  </div>
                </div>
                <div class="flex-grow-1 ms-3">
                  <a class="text-white" href="./blog-article.html">Jeff Fisher</a>
                </div>
              </div>
              <!-- End Media -->

              <div class="mb-5">
                <h2 class="h1 text-white">How Google Assistant now helps you record stories</h2>
              </div>

              <a class="btn btn-primary btn-transition" href="./blog-article.html">Read article <i class="bi-chevron-right small ms-1"></i></a>
            </div>
          </div>
          <!-- End Container -->
        </div>
        <div class="js-swiper-slide-preload swiper-slide d-flex gradient-x-overlay-sm-dark bg-img-start swiper-slide-duplicate swiper-slide-visible swiper-slide-active" style="background-image: url(&quot;./assets/img/1920x1080/img3.jpg&quot;); min-height: 40rem; width: 1263px; opacity: 1; transform: translate3d(-5052px, 0px, 0px); transition-duration: 0ms;" data-swiper-slide-index="0" role="group" aria-label="1 / 3">
          <!-- Container -->
          <div class="container d-flex align-items-center" style="min-height: 40rem;">
            <div class="w-lg-50 me-3">
              <!-- Media -->
              <div class="d-flex align-items-center mb-3">
                <div class="flex-shrink-0">
                  <div class="avatar avatar-circle">
                    <img class="avatar-img" src="./assets/img/160x160/img10.jpg" alt="Image Description">
                  </div>
                </div>

                <div class="flex-grow-1 ms-3">
                  <a class="text-white" href="./blog-article.html">Christina Kray</a>
                </div>
              </div>
              <!-- End Media -->

              <div class="mb-5">
                <h2 class="h1 text-white">Front Interview with a Lead Designer of the Hubble</h2>
              </div>

              <a class="btn btn-primary btn-transition" href="./blog-article.html">Read article <i class="bi-chevron-right small ms-1"></i></a>
            </div>
          </div>
          <!-- End Container -->
        </div></div>

      <!-- Swiper Pagination -->
      <div class="js-swiper-blog-journal-hero-pagination swiper-pagination swiper-pagination-light swiper-pagination-vertical swiper-pagination-middle-y-end me-3 d-lg-none swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span></div>


      <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
    <!-- End Swiper Main Slider -->

    <!-- Swiper Thumbs Slider -->
    <div class="d-none d-lg-block container translate-middle-y position-absolute top-50 start-0 end-0 zi-2">
      <div class="translate-middle-y position-absolute top-50 end-0">
        <div class="js-swiper-blog-journal-hero-thumbs swiper swiper-initialized swiper-vertical swiper-pointer-events swiper-watch-progress swiper-backface-hidden swiper-thumbs" style="opacity: 1; max-width: 13rem;">
          <div class="swiper-wrapper" id="swiper-wrapper-5f68461f6e66d204" aria-live="polite" style="transition-duration: 0ms;">
            <!-- Slide -->
            <div class="swiper-slide swiper-pagination-progress swiper-pagination-progress-light py-3 swiper-slide-visible swiper-slide-active swiper-slide-thumb-active" role="group" aria-label="1 / 3" style="height: 100px;">
              <p class="text-white">Front Interview with a Lead Designer of the Hubble</p>

              <div class="swiper-pagination-progress-body">
                <div class="js-swiper-pagination-progress-body-helper swiper-pagination-progress-body-helper" style="transition-duration: 3000ms;"></div>
              </div>
            </div>
            <!-- End Slide -->

            <!-- Slide -->
            <div class="swiper-slide swiper-pagination-progress swiper-pagination-progress-light py-3 swiper-slide-visible swiper-slide-next" role="group" aria-label="2 / 3" style="height: 100px;">
              <p class="text-white">Front Corporate - let's work together</p>

              <div class="swiper-pagination-progress-body">
                <div class="js-swiper-pagination-progress-body-helper swiper-pagination-progress-body-helper" style="transition-duration: 3000ms;"></div>
              </div>
            </div>
            <!-- End Slide -->

            <!-- Slide -->
            <div class="swiper-slide swiper-pagination-progress swiper-pagination-progress-light py-3 swiper-slide-visible" role="group" aria-label="3 / 3" style="height: 100px;">
              <p class="text-white">How Google Assistant now helps you record stories</p>

              <div class="swiper-pagination-progress-body">
                <div class="js-swiper-pagination-progress-body-helper swiper-pagination-progress-body-helper" style="transition-duration: 3000ms;"></div>
              </div>
            </div>
            <!-- End Slide -->
          </div>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
      </div>
    </div>
    <!-- End Swiper Thumbs Slider -->
  </div>
  <!-- End Hero -->

  <!-- Card Grid -->
  <div class="container content-space-2 content-space-lg-3">
    <div class="row justify-content-lg-between">
      <div class="col-lg-8 mb-10 mb-lg-0">
        <div class="d-grid gap-7 mb-7">
          <!-- Card -->
          <div class="card card-flush card-stretched-vertical">
            <div class="row">
              <div class="col-sm-5">
                <img class="card-img" src="./assets/img/400x500/img7.jpg" alt="Image Description">
              </div>
              <!-- End Col -->

              <div class="col-sm-7">
                <!-- Card Body -->
                <div class="card-body">
                  <div class="mb-2">
                    <a class="card-link" href="#">Business</a>
                  </div>

                  <h3 class="card-title">
                    <a class="text-dark" href="./blog-article.html">Front becomes an official Instagram Marketing Partner</a>
                  </h3>

                  <p class="card-text">Great news we're eager to share.</p>

                  <!-- Card Footer -->
                  <div class="card-footer">
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        <a class="avatar avatar-circle" href="./blog-author-profile.html">
                          <img class="avatar-img" src="./assets/img/160x160/img3.jpg" alt="Image Description">
                        </a>
                      </div>

                      <div class="flex-grow-1 ms-3">
                        <a class="card-link link-dark" href="./blog-author-profile.html">Aaron Larsson</a>
                        <p class="card-text small">Feb 15, 2021</p>
                      </div>
                    </div>
                  </div>
                  <!-- End Card Footer -->
                </div>
                <!-- End Card Body -->
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
          <!-- End Card -->

          <!-- Card -->
          <div class="card card-flush card-stretched-vertical">
            <div class="row">
              <div class="col-sm-5">
                <img class="card-img" src="./assets/img/400x500/img5.jpg" alt="Image Description">
              </div>
              <!-- End Col -->

              <div class="col-sm-7">
                <!-- Card Body -->
                <div class="card-body">
                  <div class="mb-2">
                    <a class="card-link" href="#">Announcements</a>
                  </div>

                  <h3 class="card-title">
                    <a class="text-dark" href="./blog-article.html">Announcing a free plan for small teams</a>
                  </h3>

                  <p class="card-text">At Wake, our mission has always been focused on bringing openness.</p>

                  <!-- Card Footer -->
                  <div class="card-footer">
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        <a class="avatar avatar-circle" href="./blog-author-profile.html">
                          <img class="avatar-img" src="./assets/img/160x160/img9.jpg" alt="Image Description">
                        </a>
                      </div>

                      <div class="flex-grow-1 ms-3">
                        <a class="card-link link-dark" href="./blog-author-profile.html">Hanna Wolfe</a>
                        <p class="card-text small">Feb 4, 2021</p>
                      </div>
                    </div>
                  </div>
                  <!-- End Card Footer -->
                </div>
                <!-- End Card Body -->
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
          <!-- End Card -->

          <!-- Card -->
          <div class="card card-flush card-stretched-vertical">
            <div class="row">
              <div class="col-sm-5">
                <img class="card-img" src="./assets/img/400x500/img4.jpg" alt="Image Description">
              </div>
              <!-- End Col -->

              <div class="col-sm-7">
                <!-- Card Body -->
                <div class="card-body">
                  <div class="mb-2">
                    <a class="card-link" href="#">Business</a>
                  </div>

                  <h3 class="card-title">
                    <a class="text-dark" href="./blog-article.html">Enjoy $1,000 worth of perks with Front for Business</a>
                  </h3>

                  <p class="card-text">There are many reasons people choose to join Front for Business.</p>

                  <!-- Card Footer -->
                  <div class="card-footer">
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        <a class="avatar avatar-circle" href="./blog-author-profile.html">
                          <img class="avatar-img" src="./assets/img/160x160/img8.jpg" alt="Image Description">
                        </a>
                      </div>

                      <div class="flex-grow-1 ms-3">
                        <a class="card-link link-dark" href="./blog-author-profile.html">Andrea Gard</a>
                        <p class="card-text small">Jan 27, 2021</p>
                      </div>
                    </div>
                  </div>
                  <!-- End Card Footer -->
                </div>
                <!-- End Card Body -->
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
          <!-- End Card -->

          <!-- Card -->
          <div class="card card-flush card-stretched-vertical">
            <div class="row">
              <div class="col-sm-5">
                <img class="card-img" src="./assets/img/400x500/img8.jpg" alt="Image Description">
              </div>
              <!-- End Col -->

              <div class="col-sm-7">
                <!-- Card Body -->
                <div class="card-body">
                  <div class="mb-2">
                    <a class="card-link" href="#">Business</a>
                  </div>

                  <h3 class="card-title">
                    <a class="text-dark" href="./blog-article.html">What CFR (Conversations, Feedback, Recognition) really is about</a>
                  </h3>

                  <p class="card-text">For a lot of people these days, Measure What Matters.</p>

                  <!-- Card Footer -->
                  <div class="card-footer">
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        <a class="avatar avatar-circle" href="./blog-author-profile.html">
                          <img class="avatar-img" src="./assets/img/160x160/img3.jpg" alt="Image Description">
                        </a>
                      </div>

                      <div class="flex-grow-1 ms-3">
                        <a class="card-link link-dark" href="./blog-author-profile.html">Aaron Larsson</a>
                        <p class="card-text small">Jan 21, 2021</p>
                      </div>
                    </div>
                  </div>
                  <!-- End Card Footer -->
                </div>
                <!-- End Card Body -->
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
          <!-- End Card -->

          <!-- Card -->
          <div class="card card-flush card-stretched-vertical">
            <div class="row">
              <div class="col-sm-5">
                <img class="card-img" src="./assets/img/400x500/img6.jpg" alt="Image Description">
              </div>
              <!-- End Col -->

              <div class="col-sm-7">
                <!-- Card Body -->
                <div class="card-body">
                  <div class="mb-2">
                    <a class="card-link" href="#">Community</a>
                  </div>

                  <h3 class="card-title">
                    <a class="text-dark" href="./blog-article.html">Do millennials care about saving?</a>
                  </h3>

                  <p class="card-text">Over the last few years, numerous studies have appeared to confirm a troubling pattern – millennials don't save, they don't care about their financial futures.</p>

                  <!-- Card Footer -->
                  <div class="card-footer">
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        <a class="avatar avatar-circle" href="./blog-author-profile.html">
                          <img class="avatar-img" src="./assets/img/160x160/img9.jpg" alt="Image Description">
                        </a>
                      </div>

                      <div class="flex-grow-1 ms-3">
                        <a class="card-link link-dark" href="./blog-author-profile.html">Hanna Wolfe</a>
                        <p class="card-text small">Jan 15, 2021</p>
                      </div>
                    </div>
                  </div>
                  <!-- End Card Footer -->
                </div>
                <!-- End Card Body -->
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
          <!-- End Card -->

          <!-- Card -->
          <a class="card card-transition align-items-start flex-wrap flex-row bg-img-start" href="./blog-article.html" style="background-image: url(./assets/img/900x450/img1.jpg); min-height: 25rem;">
            <!-- Card Header -->
            <div class="card-header w-100">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                    <span class="avatar avatar-sm avatar-circle">
                      <img class="avatar-img" src="./assets/img/160x160/img3.jpg" alt="Image Description">
                    </span>
                </div>

                <div class="flex-grow-1 ms-3">
                  <h4 class="card-title text-white mb-0">Aaron Larsson</h4>
                  <p class="card-text text-white-70 small">Jan 09, 2020</p>
                </div>
              </div>
            </div>
            <!-- End Card Header -->

            <!-- Card Footer -->
            <div class="card-footer mt-auto">
              <h3 class="h2 text-white">Facebook is creating a news section in Watch to feature breaking news</h3>
              <p class="text-white-70">Facebook launched the Watch platform in August</p>
            </div>
            <!-- End Card Footer -->
          </a>
          <!-- End Card -->

          <!-- Card -->
          <div class="card card-flush card-stretched-vertical">
            <div class="row">
              <div class="col-sm-5">
                <img class="card-img" src="./assets/img/400x500/img21.jpg" alt="Image Description">
              </div>
              <!-- End Col -->

              <div class="col-sm-7">
                <!-- Card Body -->
                <div class="card-body">
                  <div class="mb-2">
                    <a class="card-link" href="#">Business</a>
                  </div>

                  <h3 class="card-title">
                    <a class="text-dark" href="./blog-article.html">Front accounts - let's work together</a>
                  </h3>

                  <p class="card-text">Are you an accountant? Are you a company formation advisor? Would you like to partner with one of the world's most popular and fastest-growing Fintech startups?</p>

                  <!-- Card Footer -->
                  <div class="card-footer">
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        <a class="avatar avatar-circle" href="./blog-author-profile.html">
                          <img class="avatar-img" src="./assets/img/160x160/img9.jpg" alt="Image Description">
                        </a>
                      </div>

                      <div class="flex-grow-1 ms-3">
                        <a class="card-link link-dark" href="./blog-author-profile.html">Hanna Wolfe</a>
                        <p class="card-text small">Jan 06, 2021</p>
                      </div>
                    </div>
                  </div>
                  <!-- End Card Footer -->
                </div>
                <!-- End Card Body -->
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
          <!-- End Card -->

          <!-- Card -->
          <div class="card card-flush card-stretched-vertical">
            <div class="row">
              <div class="col-sm-5">
                <img class="card-img" src="./assets/img/400x500/img3.jpg" alt="Image Description">
              </div>
              <!-- End Col -->

              <div class="col-sm-7">
                <!-- Card Body -->
                <div class="card-body">
                  <div class="mb-2">
                    <a class="card-link" href="#">Community</a>
                  </div>

                  <h3 class="card-title">
                    <a class="text-dark" href="./blog-article.html">Let's revolutionise global payments. Together</a>
                  </h3>

                  <p class="card-text">Front is changing the way money moves around the world.</p>

                  <!-- Card Footer -->
                  <div class="card-footer">
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        <a class="avatar avatar-circle" href="./blog-author-profile.html">
                          <img class="avatar-img" src="./assets/img/160x160/img8.jpg" alt="Image Description">
                        </a>
                      </div>

                      <div class="flex-grow-1 ms-3">
                        <a class="card-link link-dark" href="./blog-author-profile.html">Andrea Gard</a>
                        <p class="card-text small">Jan 06, 2021</p>
                      </div>
                    </div>
                  </div>
                  <!-- End Card Footer -->
                </div>
                <!-- End Card Body -->
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
          <!-- End Card -->
        </div>

        <!-- Sticky Block End Point -->
        <div id="stickyBlockEndPoint"></div>

        <!-- Pagination -->
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">
                    <i class="bi-chevron-double-left small"></i>
                  </span>
              </a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">
                    <i class="bi-chevron-double-right small"></i>
                  </span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End Pagination -->
      </div>
      <!-- End Col -->

      <div class="col-lg-3">
        <div class="mb-7">
          <div class="mb-3">
            <h3>Newsletter</h3>
          </div>

          <!-- Form -->
          <form>
            <div class="mb-2">
              <input type="text" class="form-control" placeholder="Enter email" aria-label="Enter email">
            </div>
            <div class="d-grid">
              <button type="button" class="btn btn-primary">Subscribe</button>
            </div>
          </form>
          <!-- End Form -->

          <p class="form-text">Get special offers on the latest developments from Front.</p>
        </div>

        <div class="mb-7">
          <div class="mb-3">
            <h3>Productivity</h3>
          </div>

          <!-- List Group -->
          <ul class="list-group list-group-lg">
            <!-- Item -->
            <li class="list-group-item">
              <a href="#">
                <div class="row align-items-center">
                  <div class="col">
                    <h5 class="mb-1">Here's how to dodge distractions</h5>
                    <p class="text-body small mb-0">Feb 08, 2020</p>
                  </div>
                  <!-- End Col -->

                  <div class="col-auto">
                    <i class="bi-chevron-right"></i>
                  </div>
                  <!-- End Col -->
                </div>
                <!-- End Row -->
              </a>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="list-group-item">
              <a href="#">
                <div class="row align-items-center">
                  <div class="col">
                    <h5 class="mb-1">Ideas to stay productive</h5>
                    <p class="text-body small mb-0">Feb 09, 2020</p>
                  </div>
                  <!-- End Col -->

                  <div class="col-auto">
                    <i class="bi-chevron-right"></i>
                  </div>
                  <!-- End Col -->
                </div>
                <!-- End Row -->
              </a>
            </li>
            <!-- End Item -->

            <!-- Item -->
            <li class="list-group-item">
              <a href="#">
                <div class="row align-items-center">
                  <div class="col">
                    <h5 class="mb-1">Classic design principles</h5>
                    <p class="text-body small mb-0">Feb 10, 2020</p>
                  </div>
                  <!-- End Col -->

                  <div class="col-auto">
                    <i class="bi-chevron-right"></i>
                  </div>
                  <!-- End Col -->
                </div>
                <!-- End Row -->
              </a>
            </li>
            <!-- End Item -->
          </ul>
          <!-- End List Group -->
        </div>

        <!-- Sticky Block Start Point -->
        <div id="stickyBlockStartPoint" style=""></div>

        <div class="js-sticky-block" data-hs-sticky-block-options="{
                 &quot;parentSelector&quot;: &quot;#stickyBlockStartPoint&quot;,
                 &quot;targetSelector&quot;: &quot;#header&quot;,
                 &quot;breakpoint&quot;: &quot;md&quot;,
                 &quot;startPoint&quot;: &quot;#stickyBlockStartPoint&quot;,
                 &quot;endPoint&quot;: &quot;#stickyBlockEndPoint&quot;,
                 &quot;stickyOffsetTop&quot;: 80
               }" style="">
          <div class="mb-7">
            <div class="mb-3">
              <h3>Front culture</h3>
            </div>

            <div class="d-grid gap-2">
              <!-- Card -->
              <a class="d-block" href="./blog-article.html">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <div class="avatar avatar-lg">
                      <img class="avatar-img" src="./assets/img/320x320/img1.jpg" alt="Image Description">
                    </div>
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <h5 class="text-inherit mb-0">Announcing a free plan for small teams</h5>
                  </div>
                </div>
              </a>
              <!-- End Card -->

              <!-- Card -->
              <a class="d-block" href="./blog-article.html">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <div class="avatar avatar-lg">
                      <img class="avatar-img" src="./assets/img/320x320/img10.jpg" alt="Image Description">
                    </div>
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <h5 class="text-inherit mb-0">Mapping the first family tree for Front office</h5>
                  </div>
                </div>
              </a>
              <!-- End Card -->

              <!-- Card -->
              <a class="d-block" href="./blog-article.html">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <div class="avatar avatar-lg">
                      <img class="avatar-img" src="./assets/img/320x320/img9.jpg" alt="Image Description">
                    </div>
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <h5 class="text-inherit mb-0">Felling eyeing first major Classic win in 2018</h5>
                  </div>
                </div>
              </a>
              <!-- End Card -->
            </div>
          </div>

          <div class="mb-7">
            <div class="mb-3">
              <h3>Tags</h3>
            </div>

            <a class="btn btn-soft-secondary btn-xs mb-1" href="#">Business</a>
            <a class="btn btn-soft-secondary btn-xs mb-1" href="#">Adventure</a>
            <a class="btn btn-soft-secondary btn-xs mb-1" href="#">Community</a>
            <a class="btn btn-soft-secondary btn-xs mb-1" href="#">Announcements</a>
            <a class="btn btn-soft-secondary btn-xs mb-1" href="#">Tutorials</a>
            <a class="btn btn-soft-secondary btn-xs mb-1" href="#">Resources</a>
            <a class="btn btn-soft-secondary btn-xs mb-1" href="#">Classic</a>
            <a class="btn btn-soft-secondary btn-xs mb-1" href="#">Photography</a>
            <a class="btn btn-soft-secondary btn-xs mb-1" href="#">Interview</a>
          </div>
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Card Grid -->
</main>
