


<div class="container">
  <h1 class="text-center">INVOICE</h1>
</div>

<div class="container">
  <div class="card mt-5">
    <div class="card-header">
      Invoice Details
    </div>


    <div class="card-body">
      <div class="col-6"></div>
      <!-- Customer Name -->
      <div class="row mb-4">
        <div style="text-align: right" class="col-3"><h4 class="card-title">Customer Name</h4></div>
        <div class="col-6">
          <ng-container *ngIf="!isEditing">
            <p class="card-text" style="font-size: 18px">{{ invoice?.customerName }}</p>
          </ng-container>
          <ng-container *ngIf="isEditing">
            <input type="text" [(ngModel)]="invoice.customerName" class="form-control mb-3" />
          </ng-container>
        </div>
      </div>

      <!-- Invoice No -->
      <div class="row mb-4">
        <div style="text-align: right" class="col-3"><h4 class="card-title">Invoice No</h4></div>
        <div class="col-6">
          <ng-container *ngIf="!isEditing">
            <p class="card-text" style="font-size: 18px">{{ invoice?.invoice }}</p>
          </ng-container>
          <ng-container *ngIf="isEditing">
            <input type="text" [(ngModel)]="invoice.invoice" class="form-control mb-3" />
          </ng-container>
        </div>
      </div>

      <!-- Amount Paid -->
      <div class="row mb-4">
        <div style="text-align: right" class="col-3"><h4 class="card-title">Amount Paid</h4></div>
        <div class="col-6">
          <ng-container *ngIf="!isEditing">
            <p class="card-text" style="font-size: 18px">{{ invoice?.amountPaid | currency: '₦' }}</p>
          </ng-container>
          <ng-container *ngIf="isEditing">
            <input type="number" [(ngModel)]="invoice.amountPaid" class="form-control mb-3" />
          </ng-container>
        </div>
      </div>

      <!-- Balance Outstanding -->
      <div class="row mb-4">
        <div class="row">
        <div style="text-align: right" class="col-auto"><h4 class="card-title">Balance Outstanding</h4></div>
        <div style="text-align: right" class="col-auto"><h4 class="card-title"> {{ calculateOutstandingBalance() | currency: '₦' }}</h4></div>
        </div>

       <!-- <div class="col-6">
          <ng-container *ngIf="!isEditing">
            <p class="card-text" style="font-size: 18px">{{ invoice?.balanceOutstanding | currency: '₦' }}</p>
          </ng-container>
          <ng-container *ngIf="isEditing">
            <input type="number" [(ngModel)]="invoice.balanceOutstanding" class="form-control mb-3" />
          </ng-container>
        </div>-->
      </div>

      <!-- Items List -->
      <div class="row mb-4">
        <div style="text-align: right" class="col-3"><h4 class="card-title">Items</h4></div>
        <div class="col-6">
          <table class="table">
            <thead>
            <tr>
              <th>Name</th>
              <th>Quantity</th>
              <th>Price</th>
              <th *ngIf="isEditing">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of invoice?.items; let i = index">
              <td>
                <ng-container *ngIf="!isEditing">
                  {{ item.name }}
                </ng-container>
                <ng-container *ngIf="isEditing">
                  <input type="text" [(ngModel)]="item.name" class="form-control" />
                </ng-container>
              </td>
              <td>
                <ng-container *ngIf="!isEditing">
                  {{ item.quantity }}
                </ng-container>
                <ng-container *ngIf="isEditing">
                  <input type="number" [(ngModel)]="item.quantity" class="form-control" />
                </ng-container>
              </td>
              <td>
                <ng-container *ngIf="!isEditing">
                  {{ item.price | currency: '₦' }}
                </ng-container>
                <ng-container *ngIf="isEditing">
                  <input type="number" [(ngModel)]="item.price" class="form-control" />
                </ng-container>
              </td>
              <td *ngIf="isEditing">
                <button type="button" class="btn btn-danger" (click)="removeItem(i)">Remove</button>
              </td>
            </tr>
            </tbody>
          </table>
          <button *ngIf="isEditing" type="button" class="btn btn-success" (click)="addItem()">Add New Item</button>
        </div>
      </div>


      <!-- Total Cost -->
      <div class="row mb-4">
        <div class="row">
        <div class="col-auto" style="text-align: right" ><h4 class="card-title">Total Cost</h4></div>
        <div class="col-auto" style="text-align: right" ><h4 class="card-title">{{ calculateTotalCost() | currency: '₦' }}</h4></div>
        </div>
      </div>

      <!-- Action Buttons -->
      <div class="row mt-5">
        <div class="col-auto">
          <button style="width: 150px" type="button" class="btn btn-primary" routerLink="/addInvoice" >Add New</button>
        </div>
        <div class="col-auto">
          <button style="width: 150px" type="button" class="btn btn-primary" (click)="toggleEdit()">
            {{ isEditing ? 'Cancel' : 'Edit' }}
          </button>
        </div>
        <div class="col-auto">
          <button style="width: 150px" type="button" class="btn btn-danger" (click)="deleteInvoice()">Delete</button>
        </div>
        <div class="col-auto" *ngIf="isEditing">
          <button style="width: 150px" type="button" class="btn btn-success" (click)="updateInvoice()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
