
<!--
<div class="wrapper content-space-3 content-space-md-1 ">
    <div  class="wrap">



      <div  style="height: 110px"  class="btn-big red"> <i  class="bi-phone-fill" style="font-size: 80px"></i><span class="label bottom">Dashboard</span></div>
      <div style="height: 110px" class="btn-big blue"><i class="fa fa-calendar fa-2x"></i><span class="label bottom">cashbook</span></div>
      <div style="height: 110px" class="btn-small orange"><i class="fa fa-windows fa-2x"></i><span class="label bottom">settings</span></div>
      <div style="height: 110px" class="btn-big blue"><i class="fa fa-user fa-2x"></i><span class="label bottom">Apps</span></div>
      <div style="height: 110px" class="btn-big purple"><i class="fa fa-user fa-2x"></i><span class="label bottom">Aims</span></div>


      <div style="height: 110px" class="btn-big blue"><i class="fa fa-user fa-2x"></i><span class="label bottom">Tribalance</span></div>
      <div style="height: 110px" class="btn-big yellow"><i class="fa fa-user fa-2x"></i><span class="label bottom">Company</span></div>
      <div style="height: 110px" class="btn-big blue"><i class="fa fa-user fa-2x"></i><span class="label bottom">Statistics</span></div>
      <div style="height: 110px" class="btn-big red"><i class="fa fa-user fa-2x"></i><span class="label bottom">Public site</span></div>
      <div style="height: 110px" class="btn-small green last"><i class="fa fa-umbrella fa-2x"></i><span class="label bottom">Application</span></div>
      <div style="height: 110px" class="btn-small red-light"><i class="fa fa-wrench fa-2x"></i><span class="label bottom">Setting</span></div>
      <div style="height: 110px" class="btn-small red-light"><i class="fa fa-wrench fa-2x"></i><span class="label bottom">Setting</span></div>
      <div style="height: 110px" class="btn-big photo"><img src="http://lorempixel.com/200/95/animals" /><span class="label bottom">Photos</span></div>
      <div style="height: 110px" class="btn-big purple"><i class="fa fa-video-camera fa-2x"></i><span class="label bottom">Backup</span></div>
      <div style="height: 110px" class="btn-big gray"><i class="fa fa-music fa-2x"></i><span class="label bottom">Invoice</span></div>
      <div style="height: 110px" class="btn-big blue"><i class="fa fa-calendar fa-2x"></i><span class="label bottom">Sitemap</span></div>
      <div style="height: 110px" class="btn-small blue"><i class="fa fa-twitter fa-2x"></i><span class="label bottom">Twitter</span></div>
      <div style="height: 110px" class="btn-small green"><i class="fa fa-twitter fa-2x"></i><span class="label bottom">Vault</span></div>

      <div style="height: 110px"  class="btn-small red-light"><i class="fa fa-google-plus fa-2x"></i><span class="label bottom">Google+</span></div>
      <div style="height: 110px" class="btn-small blue-nav"><i class="fa fa-facebook fa-2x"></i><span class="label bottom">Facebook</span></div>
      <div style="height: 110px" class="btn-small redish"><i class="fa fa-fighter-jet fa-2x"></i><span class="label bottom">Logs</span></div>
      <div style="height: 110px" class="btn-big yellow"><i class="fa fa-lock fa-2x"></i><span class="label bottom">Notifications</span></div>
  </div>
</div>
-->

