<!--
<div class="wrapper">
  <div class="wrap">

    <h1 class="Start">Startup</h1>

    <div class="btn-big red"><i class="fa fa-envelope fa-2x"></i><span class="label bottom">Mail</span></div>
    <div class="btn-big blue"><i class="fa fa-calendar fa-2x"></i><span class="label bottom">Calendar</span></div>
    <div class="btn-small orange"><i class="fa fa-windows fa-2x"></i><span class="label bottom">Store</span></div>
    <div class="btn-big blue"><i class="fa fa-user fa-2x"></i><span class="label bottom">User</span></div>
    <div class="btn-small green last"><i class="fa fa-umbrella fa-2x"></i><span class="label bottom">Application</span></div>
    <div class="btn-small red-light"><i class="fa fa-wrench fa-2x"></i><span class="label bottom">Setting</span></div>
    <div class="btn-big photo"><img src="http://lorempixel.com/200/95/animals" /><span class="label bottom">Photos</span></div>
    <div class="btn-big purple"><i class="fa fa-video-camera fa-2x"></i><span class="label bottom">Videos</span></div>
    <div class="btn-big gray"><i class="fa fa-music fa-2x"></i><span class="label bottom">Music</span></div>
    <div class="btn-small green-bright last"><i class="fa fa-gamepad fa-2x"></i><span class="label bottom">Games</span></div>
    <div class="btn-small blue"><i class="fa fa-twitter fa-2x"></i><span class="label bottom">Twitter</span></div>
    <div class="btn-small red-light"><i class="fa fa-google-plus fa-2x"></i><span class="label bottom">Google+</span></div>
    <div class="btn-small blue-nav"><i class="fa fa-facebook fa-2x"></i><span class="label bottom">Facebook</span></div>
    <div class="btn-small redish"><i class="fa fa-fighter-jet fa-2x"></i><span class="label bottom">Fighter Jet</span></div>
    <div class="btn-big yellow"><i class="fa fa-lock fa-2x"></i><span class="label bottom">Security</span></div>
  </div>
</div>
-->



dddd
