<main id="content" role="main" class="flex-grow-1">
  <!-- Form -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 col-xl-4 d-none d-lg-flex justify-content-center align-items-center min-vh-lg-100 position-relative bg-black" style="background-image: url(./assets/svg/components/wave-pattern-light.svg);">
        <div class="flex-grow-1 p-5">
          <!-- Blockquote -->
          <figure class="text-center">
            <div class="mb-4">
             <h1 class="text-white">Aims Technology</h1>
                  </div>


            <figcaption class="blockquote-footer blockquote-light">
              <div class="mb-3">
                <img class="avatar avatar-circle" src="./assets/icons/304865473_3229004084044283_625833330753792895_n.jpg" style="width: 40px; height: 50px" alt="Image Description">
              </div>

             Adamu Adamu Salisu
              <span class="blockquote-footer-source">C.E.O / Founder | Aims Technology</span>
              <button type="button" class="btn btn-outline-light mt-3" routerLink="/coming-soon" style="border-radius: 5px">Profile</button>    </figcaption>
          </figure>
          <!-- End Blockquote -->

          <!-- Clients -->
          <div class="position-absolute start-0 end-0 bottom-0 text-center p-5">
            <div class="row justify-content-center">
              <div class="col text-center py-3">
                <img class="avatar avatar-lg avatar-4x3" src="./assets/svg/brands/fitbit-white.svg" alt="Logo">
              </div>
              <!-- End Col -->

              <div class="col text-center py-3">
                <img class="avatar avatar-lg avatar-4x3" src="./assets/svg/brands/business-insider-white.svg" alt="Logo">
              </div>
              <!-- End Col -->

              <div class="col text-center py-3">
                <img class="avatar avatar-lg avatar-4x3" src="./assets/svg/brands/capsule-white.svg" alt="Logo">
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
          <!-- End Clients -->
        </div>
      </div>
      <!-- End Col -->

      <div class="col-lg-7 col-xl-8 d-flex justify-content-center align-items-center min-vh-lg-100">
        <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
          <!-- Heading -->
          <div class="text-center mb-5 mb-md-7">
            <h1 class="h2">Welcome back</h1>
            <p>Login to manage your account.</p>
          </div>
          <!-- End Heading -->

          <!-- Form -->
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="js-validate needs-validation" novalidate>
            <!-- Username Field -->
            <div class="mb-4">
              <label class="form-label" for="username">Username</label>
              <input type="text" class="form-control form-control-lg" formControlName="username" id="username" placeholder="Enter your username" required>
              <span class="invalid-feedback" *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">Please enter a valid username.</span>
            </div>

            <!-- Password Field -->
            <div class="mb-4">
              <label class="form-label" for="password">Password</label>
              <div class="input-group input-group-merge">
                <input type="password" class="form-control form-control-lg" formControlName="password" id="password" placeholder="8+ characters required" minlength="8" required>
                <span class="invalid-feedback" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">Please enter a valid password.</span>
              </div>
            </div>

            <!-- Submit Button -->
            <div class="d-grid mb-3">
              <button type="submit" class="btn btn-primary btn-lg" [disabled]="loginForm.invalid">Log in</button>
            </div>

            <!-- Sign-up Link -->
            <div class="text-center">
              <p>Don't have an account yet? <a class="link" routerLink="/signup">Sign up here</a></p>
            </div>
          </form>

          <!-- End Form -->
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Form -->
</main>
