

<!-- Show loading when data is not yet available -->
<app-loading *ngIf="!(logs$ | async); else showTable"></app-loading>




<main id="content" role="main" class="main">
  <ng-template #showTable>
  <!-- Content -->
  <div class="content container-fluid">

    <div class="gradient-x-three-sm-primary">
      <div class="container content-space-2">
        <form>
          <!-- Input Card --><h1>System Logs</h1>
          <div class="input-card input-card-sm mb-3"  >
            <div class="input-card-form">
              <label for="jobTitleForm" class="form-label visually-hidden">Job, title, skills, or company</label>
              <div class="input-group input-group-merge">
                <span class="input-group-prepend input-group-text">
                  <i class="bi-search"></i>
                </span>
                <input
                  type="text"
                  class="form-control"
                  [ngModel]="searchQuery()"
                (ngModelChange)="searchQuery.set($event)"
                placeholder="Search logs"
                />

              </div>
            </div>



                               </div>
          <div class="row g-1">
            <div class="col-6 col-md-auto">    <button type="button" class="btn btn-primary mx-1 mb-2 mb-md-0 w-100">Download all logs</button></div>
            <div class="col-6 col-md-auto"> <button type="button" class="btn btn-primary  mx-1 mb-2 mb-md-0 w-100" (click)="deleteAllLogs()">Delete all Logs </button></div>
            <div class="col-md-auto">  <button type="button" class="btn btn-primary w-100 mx-1 mb-2 mb-md-0"  (click)="filterLogs()" >BackUp Data </button></div>
          </div>
        </form>

        <div class="row align-items-center">
          <div class="col-md-auto mb-3 mb-lg-0">
            <h6 class="mb-1">Limit search to:</h6>
          </div>
          <!-- End Col -->

          <div class="col-md mb-3 mb-lg-0">
            <!-- Check -->
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="jobSearchToCheckbox1" value="option1" checked="">
              <label class="form-check-label" for="jobSearchToCheckbox1">Date</label>
            </div>
            <!-- End Check -->

            <!-- Check -->
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="jobSearchToCheckbox2" value="option2">
              <label class="form-check-label" for="jobSearchToCheckbox2">User</label>
            </div>
            <!-- End Check -->

            <!-- Check -->
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="jobSearchToCheckbox3" value="option3">
              <label class="form-check-label" for="jobSearchToCheckbox3">Activity</label>
            </div>
            <!-- End Check -->


          </div>

        </div>
        <div *ngIf="deletingInProgress()">
          <p>Deleting... {{ deletedDocs() }} of {{ totalDocs() }} documents deleted.</p>
          <progress [value]="deletedDocs()" [max]="totalDocs()"></progress>
        </div>
      </div>
    </div>
    <!-- Card -->
    <div class="card">

      <!-- Table -->
      <div class="table-responsive datatable-custom position-relative">
        <div style="max-height: 400px; overflow-y: auto;">
          <table class="table table-lg table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
            <thead class="thead-light">
            <tr>
              <th>Time</th>
              <th>User</th>
              <th>Status</th>
              <th>Device</th>
              <th>Action</th>
              <th>Edit</th>
            </tr>
            </thead>
            <tbody *ngIf="logs$ | async as logs; else loading">
            <tr *ngFor="let log of logs">
              <td>
                <span class="d-block h5 mb-0">{{ log.time }}</span>
                <span class="d-block fs-5">{{ log.date }}</span>
              </td>
              <td>{{ log.user }}</td>
              <td>
                <span class="legend-indicator bg-warning"></span>Success
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="fs-5 me-2">24%</span>
                  <div class="progress table-progress">
                    <div class="progress-bar" role="progressbar" style="width: 24%" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>{{ log.action }}</td>
              <td>
                <button (click)="deleteLog(log.id)" type="button" class="btn btn-white btn-sm" data-bs-toggle="modal" data-bs-target="#editUserModal">
                  <i class="bi-pencil-fill me-1"></i> Delete
                </button>
              </td>
            </tr>
            </tbody>
          </table>

          <!-- Loading Placeholder -->
          <ng-template #loading>
            <app-loading></app-loading>
          </ng-template>

        </div>
      </div>
      <!-- End Table -->
    </div>


    <!-- End Card -->
  </div>
  <!-- End Content -->

</ng-template>

  <!-- Confirmation Modal -->


</main>
