<!--
<body>
<main id="content" role="main" class="bg-light">
  &lt;!&ndash; Breadcrumb &ndash;&gt;
  <div class="navbar-dark bg-dark" style="background-image: url(./assets/svg/components/wave-pattern-light.svg);">
    <div class="container content-space-1 content-space-b-lg-1">
      <div class="row align-items-center">



      </div>
      &lt;!&ndash; End Row &ndash;&gt;
    </div>
  </div>
  &lt;!&ndash; End Breadcrumb &ndash;&gt;

  &lt;!&ndash; Content Section &ndash;&gt;
  <div class="container content-space-1 content-space-t-lg-0 content-space-b-lg-2 mt-n10">
    <div class="row">
      <div class="col-lg-3">
      <app-server></app-server>

      </div>

      <div class="col-lg-9">
        &lt;!&ndash; Card &ndash;&gt;
        <div class="card card-body mb-2 mb-lg-2">
          <div class="row col-lg-divider gx-lg-6">
            <div class="col-lg-3">
            <app-income></app-income>
            </div>
            <div class="col-lg-3">
            <app-expensis></app-expensis>
            </div>

            <div class="col-lg-3">
              &lt;!&ndash; Media &ndash;&gt;
              <app-balance></app-balance>
              &lt;!&ndash; End Media &ndash;&gt;
            </div>
            &lt;!&ndash; End Col &ndash;&gt;

            <div class="col-lg-3">
              &lt;!&ndash; Media &ndash;&gt;
              <app-stats></app-stats>
              &lt;!&ndash; End Media &ndash;&gt;
            </div>
            &lt;!&ndash; End Col &ndash;&gt;
          </div>
          &lt;!&ndash; End Row &ndash;&gt;
        </div>





        &lt;!&ndash; Card &ndash;&gt;
        <div id="cardFullScreenEg" class="card overflow-hidden ">

          <div class="card">
           &lt;!&ndash; Body &ndash;&gt;            &lt;!&ndash; Body &ndash;&gt;
            <div class="card-body" style="">
              <div class="row align-items-center flex-grow-1 mb-2">
                <div class="col">
                  <h4 class="card-header-title">Storage usage</h4>
                </div>
                &lt;!&ndash; End Col &ndash;&gt;

                <div class="col-auto">
                  <span class="text-dark fw-semibold">4.27 MB</span> used of 200 MB
                </div>
                &lt;!&ndash; End Col &ndash;&gt;
              </div>
              &lt;!&ndash; End Row &ndash;&gt;

              &lt;!&ndash; Progress &ndash;&gt;
              <div class="progress rounded-pill mb-3">
                &lt;!&ndash; First progress bar &ndash;&gt;
                <div class="progress-bar"
                     role="progressbar"
                     [style.width]="progress1 + '%'"
                     [attr.aria-valuenow]="progress1"
                     aria-valuemin="0"
                     aria-valuemax="100">
                </div>

                &lt;!&ndash; Second progress bar &ndash;&gt;
                <div class="progress-bar"
                     role="progressbar"
                     [style.width]="progress2 + '%'"
                     [attr.aria-valuenow]="progress2"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     [style.opacity]="opacity2">
                </div>
              </div>

              &lt;!&ndash; End Progress &ndash;&gt;

              &lt;!&ndash; Legend Indicators &ndash;&gt;
              <div class="list-inline">
                <div class="list-inline-item">
                  <span class="legend-indicator bg-primary"></span>Personal usage space
                </div>

                <div class="list-inline-item">
                  <span class="legend-indicator"></span>Unused space
                </div>
              </div>
              &lt;!&ndash; End Legend Indicators &ndash;&gt;
            </div>
            &lt;!&ndash; End Body &ndash;&gt;
            <div class="card-body">

              <div class="row">
                <div class="col-md mb-1 mb-md-0">
                <h1> Chart</h1>
                </div>
                &lt;!&ndash; End Col &ndash;&gt;


                &lt;!&ndash; End Col &ndash;&gt;
              </div>
              <canvas id="myCanvas" width="750" height="500"></canvas>

            </div>
            &lt;!&ndash; End Body &ndash;&gt;

            <hr class="my-3">


          </div>
        </div>
        &lt;!&ndash; End Card &ndash;&gt;


      </div>
      &lt;!&ndash; End Row &ndash;&gt;


    </div>
    &lt;!&ndash; End Card &ndash;&gt;
  </div>

</main>
</body>




-->
<!--<div class="wrapper">
  <div class="wrap">

    <h1 class="Start">Startup</h1>

    <div class="btn-big red"><i class="fa fa-envelope fa-2x"></i><span class="label bottom">Mail</span></div>
    <div class="btn-big blue"><i class="fa fa-calendar fa-2x"></i><span class="label bottom">Calendar</span></div>
    <div class="btn-small orange"><i class="fa fa-windows fa-2x"></i><span class="label bottom">Store</span></div>
    <div class="btn-big blue"><i class="fa fa-user fa-2x"></i><span class="label bottom">User</span></div>
    <div class="btn-small green last"><i class="fa fa-umbrella fa-2x"></i><span class="label bottom">Application</span></div>
    <div class="btn-small red-light"><i class="fa fa-wrench fa-2x"></i><span class="label bottom">Setting</span></div>
    <div class="btn-big photo"><img src="http://lorempixel.com/200/95/animals" /><span class="label bottom">Photos</span></div>
    <div class="btn-big purple"><i class="fa fa-video-camera fa-2x"></i><span class="label bottom">Videos</span></div>
    <div class="btn-big gray"><i class="fa fa-music fa-2x"></i><span class="label bottom">Music</span></div>
    <div class="btn-small green-bright last"><i class="fa fa-gamepad fa-2x"></i><span class="label bottom">Games</span></div>
    <div class="btn-small blue"><i class="fa fa-twitter fa-2x"></i><span class="label bottom">Twitter</span></div>
    <div class="btn-small red-light"><i class="fa fa-google-plus fa-2x"></i><span class="label bottom">Google+</span></div>
    <div class="btn-small blue-nav"><i class="fa fa-facebook fa-2x"></i><span class="label bottom">Facebook</span></div>
    <div class="btn-small redish"><i class="fa fa-fighter-jet fa-2x"></i><span class="label bottom">Fighter Jet</span></div>
    <div class="btn-big yellow"><i class="fa fa-lock fa-2x"></i><span class="label bottom">Security</span></div>
  </div>
</div>-->

<div class="content container ">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-end">
      <div class="col-sm mb-2 mb-sm-0">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-no-gutter">
            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Users</a></li>
            <li class="breadcrumb-item active" aria-current="page">Overview</li>
          </ol>
        </nav>

        <h1 class="page-header-title">Users</h1>
      </div>
      <!-- End Col -->

      <div class="col-sm-auto">
        <a class="btn btn-primary" href="./users-add-user.html">
          <i class="bi-person-plus-fill me-1"></i> Add user
        </a>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Page Header -->

  <!-- Stats -->

  <!-- End Stats -->

  <!-- Card -->
  <div class="card">
    <!-- Header -->

    <div class="table-responsive datatable-custom position-relative">
      <div id="datatable_wrapper" class="dataTables_wrapper no-footer">


        <table id="datatable"
               class="table table-lg table-borderless table-thead-bordered table-nowrap table-align-middle card-table dataTable no-footer"
               data-hs-datatables-options="{
                   &quot;columnDefs&quot;: [{
                      &quot;targets&quot;: [0, 7],
                      &quot;orderable&quot;: false
                    }],
                   &quot;order&quot;: [],
                   &quot;info&quot;: {
                     &quot;totalQty&quot;: &quot;#datatableWithPaginationInfoTotalQty&quot;
                   },
                   &quot;search&quot;: &quot;#datatableSearch&quot;,
                   &quot;entries&quot;: &quot;#datatableEntries&quot;,
                   &quot;pageLength&quot;: 15,
                   &quot;isResponsive&quot;: false,
                   &quot;isShowPaging&quot;: false,
                   &quot;pagination&quot;: &quot;datatablePagination&quot;
                 }" role="grid" aria-describedby="datatable_info">
          <thead class="thead-light">
          <tr role="row">
            <th class="table-column-pe-0 sorting_disabled" rowspan="1" colspan="1" aria-label="




                " style="width: 24px;">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="datatableCheckAll">
                <label class="form-check-label" for="datatableCheckAll"></label>
              </div>
            </th>
            <th class="table-column-ps-0 sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                aria-label="Name: activate to sort column ascending" style="width: 184.469px;">Name
            </th>
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                aria-label="Position: activate to sort column ascending" style="width: 122.5px;">Position
            </th>
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                aria-label="Country: activate to sort column ascending" style="width: 106.302px;">Country
            </th>
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                aria-label="Status: activate to sort column ascending" style="width: 89.969px;">Status
            </th>
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                aria-label="Portfolio: activate to sort column ascending" style="width: 125.115px;">Portfolio
            </th>
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                aria-label="Role: activate to sort column ascending" style="width: 64.688px;">Role
            </th>
            <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 77.167px;"></th>
          </tr>
          </thead>

          <tbody>
          <div class="wrapper">
            <div class="wrap">

              <h1 class="Start">Startup</h1>

              <div class="btn-big red"><i class="fa fa-envelope fa-2x"></i><span class="label bottom">Mail</span></div>
              <div class="btn-big blue"><i class="fa fa-calendar fa-2x"></i><span class="label bottom">Calendar</span></div>
              <div class="btn-small orange"><i class="fa fa-windows fa-2x"></i><span class="label bottom">Store</span></div>
              <div class="btn-big blue"><i class="fa fa-user fa-2x"></i><span class="label bottom">User</span></div>
              <div class="btn-small green last"><i class="fa fa-umbrella fa-2x"></i><span class="label bottom">Application</span></div>
              <div class="btn-small red-light"><i class="fa fa-wrench fa-2x"></i><span class="label bottom">Setting</span></div>
              <div class="btn-big photo"><img src="http://lorempixel.com/200/95/animals" /><span class="label bottom">Photos</span></div>
              <div class="btn-big purple"><i class="fa fa-video-camera fa-2x"></i><span class="label bottom">Videos</span></div>
              <div class="btn-big gray"><i class="fa fa-music fa-2x"></i><span class="label bottom">Music</span></div>
              <div class="btn-small green-bright last"><i class="fa fa-gamepad fa-2x"></i><span class="label bottom">Games</span></div>
              <div class="btn-small blue"><i class="fa fa-twitter fa-2x"></i><span class="label bottom">Twitter</span></div>
              <div class="btn-small red-light"><i class="fa fa-google-plus fa-2x"></i><span class="label bottom">Google+</span></div>
              <div class="btn-small blue-nav"><i class="fa fa-facebook fa-2x"></i><span class="label bottom">Facebook</span></div>
              <div class="btn-small redish"><i class="fa fa-fighter-jet fa-2x"></i><span class="label bottom">Fighter Jet</span></div>
              <div class="btn-big yellow"><i class="fa fa-lock fa-2x"></i><span class="label bottom">Security</span></div>
            </div>
          </div>

          <tr role="row" class="odd">
            <td class="table-column-pe-0">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="datatableCheckAll1">
                <label class="form-check-label" for="datatableCheckAll1"></label>
              </div>
            </td>
            <td class="table-column-ps-0">
              <a class="d-flex align-items-center" href="./user-profile.html">
                <div class="avatar avatar-circle">
                  <img class="avatar-img" src="./assets/img/160x160/img10.jpg" alt="Image Description">
                </div>
                <div class="ms-3">
                  <span class="d-block h5 text-inherit mb-0">Amanda Harvey <i class="bi-patch-check-fill text-primary"
                                                                              data-bs-toggle="tooltip"
                                                                              data-bs-placement="top"
                                                                              aria-label="Top endorsed"
                                                                              data-bs-original-title="Top endorsed"></i></span>
                  <span class="d-block fs-5 text-body">amandasite.com</span>
                </div>
              </a>
            </td>
            <td>
              <span class="d-block h5 mb-0">Director</span>
              <span class="d-block fs-5">Human resources</span>
            </td>
            <td>United Kingdom</td>
            <td>
              <span class="legend-indicator bg-success"></span>Active
            </td>
            <td>
              <div class="d-flex align-items-center">
                <span class="fs-5 me-2">72%</span>
                <div class="progress table-progress">
                  <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0"
                       aria-valuemax="100"></div>
                </div>
              </div>
            </td>
            <td>Employee</td>
            <td>
              <button type="button" class="btn btn-white btn-sm" data-bs-toggle="modal" data-bs-target="#editUserModal">
                <i class="bi-pencil-fill me-1"></i> Edit
              </button>
            </td>
          </tr>

          </tbody>
        </table>

      </div>
    </div>
    <!-- End Table -->

    <!-- Footer -->
    <div class="card-footer">
      <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
        <div class="col-sm mb-2 mb-sm-0">
          <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
            <span class="me-2">Showing:</span>

            <!-- Select -->
            <div class="tom-select-custom">
              <select id="datatableEntries"
                      class="js-select form-select form-select-borderless w-auto tomselected ts-hidden-accessible"
                      autocomplete="off" data-hs-tom-select-options="{
                            &quot;searchInDropdown&quot;: false,
                            &quot;hideSearch&quot;: true
                          }" tabindex="-1">
                <option value="10">10</option>

                <option value="20">20</option>
                <option value="15" selected="">15</option>
              </select>
              <div
                class="ts-wrapper js-select form-select form-select-borderless w-auto single plugin-change_listener plugin-hs_smart_position input-hidden full has-items">
                <div class="ts-control">
                  <div data-value="15" class="item" data-ts-item="">15</div>
                </div>
                <div class="tom-select-custom">
                  <div class="ts-dropdown single plugin-change_listener plugin-hs_smart_position"
                       style="display: none;">
                    <div role="listbox" tabindex="-1" class="ts-dropdown-content"
                         id="datatableEntries-ts-dropdown"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Select -->

            <span class="text-secondary me-2">of</span>

            <!-- Pagination Quantity -->
            <span id="datatableWithPaginationInfoTotalQty">24</span>
          </div>
        </div>
        <!-- End Col -->

        <div class="col-sm-auto">
          <div class="d-flex justify-content-center justify-content-sm-end">
            <!-- Pagination -->
            <nav id="datatablePagination" aria-label="Activity pagination">
              <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                <ul id="datatable_pagination" class="pagination datatable-custom-pagination">
                  <li class="paginate_item page-item disabled"><a class="paginate_button previous page-link"
                                                                  aria-controls="datatable" data-dt-idx="0" tabindex="0"
                                                                  id="datatable_previous"><span
                    aria-hidden="true">Prev</span></a></li>
                  <li class="paginate_item page-item active"><a class="paginate_button page-link"
                                                                aria-controls="datatable" data-dt-idx="1"
                                                                tabindex="0">1</a></li>
                  <li class="paginate_item page-item"><a class="paginate_button page-link" aria-controls="datatable"
                                                         data-dt-idx="2" tabindex="0">2</a></li>
                  <li class="paginate_item page-item"><a class="paginate_button next page-link"
                                                         aria-controls="datatable" data-dt-idx="3" tabindex="0"
                                                         id="datatable_next"><span aria-hidden="true">Next</span></a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Footer -->
  </div>
  <!-- End Card -->
</div>

<style>

  body {
    background: #000;
    color: #fff;
    font-weight: 300;
    font-size: 1.5em;
    font-family: 'Lato', Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
  }

  .description {
    line-height: 40px;
  }

  a {
    color: #b5a4fb;
    text-decoration: none;
  }

  a:hover, a:focus {
    color: #000;
  }

  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  a, button {
    outline: none;
  }

  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table;
  }

  .clearfix:after {
    clear: both;
  }


  .header {
    background: #004050;
    color: #fff;

    text-align: center;
  }

  /* To Navigation Style */
  .cctop {
    background: #056c86;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75em;
    line-height: 3.2;
  }

  .cctop a {
    display: inline-block;
    padding: 0 1.5em;
    text-decoration: none;
    letter-spacing: 1px;
  }

  .cctop span.right {
    float: right;
  }

  .cctop span.right a {
    display: block;
    float: left;
  }

  /* Header Style */

  .ccheader {
    margin: 0 auto;
    padding: 2em;
    text-align: center;
  }

  .ccheader h1 {
    font-size: 2.625em;
    font-weight: 300;
    line-height: 1.3;
    margin: 0;
  }

  .ccheader h1 span {
    display: block;
    padding: 0 0 0.6em 0.1em;
    font-size: 60%;
    opacity: 0.7;
  }


  /* Demo Buttons Style */
  .codeconvey-demo {
    padding-top: 1em;
    font-size: 0.8em;
  }

  .codeconvey-demo a {
    display: inline-block;
    margin: 0.5em;
    padding: 0.7em 1.1em;
    outline: none;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
  }

  .codeconvey-demo a:hover,
  .codeconvey-demo a.current-demo,
  .codeconvey-demo a.current-demo:hover {
    border-color: #333;
    color: #333;
  }

  /* Wrapper Style */

  .wrapper {
    margin: 0 auto;
    padding-left: 12%;
    padding-right: 12%;
  }

  .heading {
    font-size: 4em;
    font-weight: 300;
    margin-bottom: .5em;
  }

  .wrap {
    width: 1500px;
    height: 300px;
    margin: 70px 0px;
    float: left;
  }

  .fa {
    color: #FFFFFF;
  }

  div[class^="btn"] {
    float: left;
    margin: 0 10px 10px 0;
    height: 95px;
    position: relative;
    cursor: pointer;
    transition: all .4s ease;
    user-drag: element;
    border: solid 2px transparent;
    text-align: center;
    line-height: 100px;
  }

  div[class^="btn"]:hover {
    opacity: 0.7;
  }

  div[class^="btn"]:active {
    transform: scale(.98, .98);
  }

  .btn-big {
    width: 400px;
  }

  .btn-small {
    width: 145px;
  }

  .last {
    margin-right: 0 !important;
  }

  .Start {
    color: white;
    font: normal 50px 'Yanone Kaffeesatz', sans-serif;
    margin-bottom: 20px;
    cursor: pointer;
    user-select: none;
    transition: all .3s ease;
  }

  .Start:hover {
    text-shadow: 0 0 4px white;
  }

  .space {
    margin-bottom: 110px;
  }

  .label {
    position: absolute;
    color: white;
    font: 500 12px sans-serif;
    left: 10px;
    user-select: none;
  }

  .bottom {
    bottom: 5px;
  }

  .top {
    top: 5px;
  }

  .red {
    background: #df0024;
  }

  .blue {
    background: #00a9ec;
  }

  .orange {
    background: #ff9000;
  }

  .green {
    background: #0e5d30;
  }

  .purple {
    background: #8b0189;
  }

  .red-light {
    background: #ce4e4e;
  }

  .photo {
    background: url('http://lorempixel.com/200/95/people');
    background-position: -2px -2px;
  }

  .gray {
    background: #5f5f5f;
    animation: flip 6s linear infinite;
    transform: rotateX(0deg);
  }

  .green-bright {
    background: #78d204;
  }

  .blue-nav {
    background: #25478e;
  }

  .redish {
    background: #fe0000;
  }

  .yellow {
    background: #d0d204;
  }


  div[class^="icon"] {
    width: 45px;
    height: 45px;
    margin: 20px auto;
    background-size: 45px 45px;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    cursor: pointer;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.3);
    background: #007491;
  }

  ::-webkit-scrollbar-thumb {
    background: #002f3b;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  ::selection {
    background: mintcream;
  }

  keyframes flip {
    0% {
      transform: rotateX(0deg);
    }

    15% {
      transform: rotateX(360deg);
    }

    100% {
      transform: rotateX(360deg);
    }
  }

  .photo img {
    top: -4px;
    left: -4px;
    position: absolute;
    opacity: 0;
    animation: fade 8s ease-in-out infinite 8s;
    z-index: 0;
    border: solid 2px transparent;
    transition: all .3s ease;
  }

  .photo img:hover {
    border: solid 2px mintcream;
  }

  keyframes fade {
    0% {
      opacity: 0;
    }

    10% {
      opacity: 1;
    }

    50% {
      opacity: 1;
    }

    60% {
      opacity: 0;
    }
  }</style>
