<body>
<main id="content" role="main" class="bg-light">
  <!-- Breadcrumb -->
  <div class="navbar-dark bg-dark" style="background-image: url(./assets/svg/components/wave-pattern-light.svg);">
    <div class="container content-space-1 content-space-b-lg-1">
      <div class="row align-items-center">



      </div>
      <!-- End Row -->
    </div>
  </div>
  <!-- End Breadcrumb -->

  <!-- Content Section -->
  <div class="container content-space-1 content-space-t-lg-0 content-space-b-lg-2 mt-n10">
    <div class="row">
      <div class="col-lg-3">
      <app-server></app-server>

      </div>

      <div class="col-lg-9">
        <!-- Card -->
        <div class="card card-body mb-2 mb-lg-2">
          <div class="row col-lg-divider gx-lg-6">
            <div class="col-lg-3">
            <app-income></app-income>
            </div>
            <div class="col-lg-3">
            <app-expensis></app-expensis>
            </div>

            <div class="col-lg-3">
              <!-- Media -->
              <app-balance></app-balance>
              <!-- End Media -->
            </div>
            <!-- End Col -->

            <div class="col-lg-3">
              <!-- Media -->
              <app-stats></app-stats>
              <!-- End Media -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>





        <!-- Card -->
        <div id="cardFullScreenEg" class="card overflow-hidden ">

          <div class="card">
           <!-- Body -->            <!-- Body -->
            <div class="card-body" style="">
              <div class="row align-items-center flex-grow-1 mb-2">
                <div class="col">
                  <h4 class="card-header-title">Storage usage</h4>
                </div>
                <!-- End Col -->

                <div class="col-auto">
                  <span class="text-dark fw-semibold">4.27 MB</span> used of 200 MB
                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->

              <!-- Progress -->
              <div class="progress rounded-pill mb-3">
                <!-- First progress bar -->
                <div class="progress-bar"
                     role="progressbar"
                     [style.width]="progress1 + '%'"
                     [attr.aria-valuenow]="progress1"
                     aria-valuemin="0"
                     aria-valuemax="100">
                </div>

                <!-- Second progress bar -->
                <div class="progress-bar"
                     role="progressbar"
                     [style.width]="progress2 + '%'"
                     [attr.aria-valuenow]="progress2"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     [style.opacity]="opacity2">
                </div>
              </div>

              <!-- End Progress -->

              <!-- Legend Indicators -->
              <div class="list-inline">
                <div class="list-inline-item">
                  <span class="legend-indicator bg-primary"></span>Personal usage space
                </div>

                <div class="list-inline-item">
                  <span class="legend-indicator"></span>Unused space
                </div>
              </div>
              <!-- End Legend Indicators -->
            </div>
            <!-- End Body -->
            <div class="card-body">
              <div class="col-md-auto">
                <div class="d-grid d-md-flex gap-3">

                </div>
              </div>
              <div class="row">
                <div class="col-md mb-1 mb-md-0">
                <h1> Chart</h1>
                </div>
                <!-- End Col -->


                <!-- End Col -->
              </div>
              <!-- End Row -->
            </div>
            <!-- End Body -->

            <hr class="my-3">


          </div>
        </div>
        <!-- End Card -->


      </div>
      <!-- End Row -->


    </div>
    <!-- End Card -->
  </div>

</main>
</body>



