
  <!-- Card -->
  <div class="card h-100">
    <!-- Header -->
    <div class="card-header card-header-content-sm-between">
     <ul class="nav nav-segment nav-fill" id="expensesTab" role="tablist">
        <li class="nav-item" data-bs-toggle="chart-bar" data-datasets="thisWeek" data-trigger="click"
            data-action="toggle" role="presentation">
          <a class="nav-link active" href="javascript:;" data-bs-toggle="tab" aria-selected="true" role="tab">This
            week</a>
        </li>
        <li class="nav-item" data-bs-toggle="chart-bar" data-datasets="lastWeek" data-trigger="click"
            data-action="toggle" role="presentation">
          <a class="nav-link" href="javascript:;" data-bs-toggle="tab" aria-selected="false" tabindex="-1"
             role="tab">Last week</a>
        </li>
      </ul>
      <!-- End Nav -->
    </div>
    <!-- End Header -->

    <!-- Body -->
    <div class="card-body">
      <div class="row mb-1">
        <div class="col-sm mb-2 mb-sm-0">
          <div class="d-flex align-items-center">

          </div>
        </div>
        <!-- End Col -->

        <div class="col-sm-auto align-self-sm-end">
          <div class="row fs-6 text-body">
            <div class="col-auto">
              <span class="legend-indicator bg-primary"></span> New
            </div>
            <!-- End Col -->

            <div class="col-auto">
              <span class="legend-indicator"></span> Overdue
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
      <canvas id="myCanvas" width="600" height="400"></canvas>


    </div>
    <!-- End Body -->
  </div>
  <!-- End Card -->
