<div class="container content-space-1 content-space-lg-1">
  <!-- Heading -->
  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">

    <h2>PRINCIPAL OFFICERS</h2>
  </div>
  <!-- End Heading -->

  <div class="row mb-7">
    <div class="col-sm-6 col-md-3 mb-5 mb-lg-0">
      <!-- Team -->
      <img class="card-img rounded-2" src="./assets/custome/svgcover.png" alt="Image Description">
      <div class="card card-sm text-center mt-n7 mx-3">
        <div class="card-body">
          <h4 class="card-title">Christina Kray</h4>
          <p class="card-text">Project Manager</p>
        </div>
      </div>
      <!-- End Team -->
    </div>
    <!-- End Col -->

    <div class="col-sm-6 col-md-3 mb-5 mb-lg-0">
      <!-- Team -->
      <img class="card-img rounded-2" src="./assets/custome/svgcover.png" alt="Image Description">
      <div class="card card-sm text-center mt-n7 mx-3">
        <div class="card-body">
          <h4 class="card-title">Jeff Fisher</h4>
          <p class="card-text">CEO, Director</p>
        </div>
      </div>
      <!-- End Team -->
    </div>
    <!-- End Col -->

    <div class="col-sm-6 col-md-3 mb-5 mb-sm-0">
      <!-- Team -->
      <img class="card-img rounded-2" src="./assets/custome/svgcover.png" alt="Image Description">
      <div class="card card-sm text-center mt-n7 mx-3">
        <div class="card-body">
          <h4 class="card-title">Lida Reidy</h4>
          <p class="card-text">Marketer</p>
        </div>
      </div>
      <!-- End Team -->
    </div>
    <!-- End Col -->

    <div class="col-sm-6 col-md-3">
      <!-- Team -->
      <img class="card-img rounded-2" src="./assets/custome/svgcover.png" alt="Image Description">
      <div class="card card-sm text-center mt-n7 mx-3">
        <div class="card-body">
          <h4 class="card-title">Amy Forren</h4>
          <p class="card-text">Lead Designer</p>
        </div>
      </div>
      <!-- End Team -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->

</div>

