
<body>
<div class="container">
  <div class="row g-1 mb-1">
    <div class="col-3 ">
      <button class="windowsbutton btn-small">Login</button>
    </div>
    <div class="col-3">
      <button class="windowsbutton btn-small">Login</button>
    </div>
    <div class="col-3">
      <button class="windowsbutton btn-small">Login</button>
    </div>
    <div class="col-3">
      <button class="windowsbutton btn-small">Login</button>
    </div>
  </div>

  <div class="row g-1">
    <div class="col-6">
      <button class="windowsbutton btn-big">Login</button>
    </div>
    <div class="col-6">
      <div class="row g-1">
        <div class="col-6 mb-1">
          <button class="windowsbutton btn-small">Login</button>
        </div>
        <div class="col-6 mb-1">
          <button class="windowsbutton btn-small">Login</button>
        </div>
        <div class="col-6 mb-1">
          <button class="windowsbutton btn-small">Login</button>
        </div>
        <div class="col-6 mb-1">
          <button class="windowsbutton btn-small">Login</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-1">
    <div class="col-12">
      <button class="windowsbutton btn-big">Login</button>
    </div>
  </div>

  <div class="row g-1 mb-1">
    <div class="col-4">
      <button class="windowsbutton btn-small">Login</button>
    </div>
    <div class="col-4">
      <button class="windowsbutton btn-small">Login</button>
    </div>
    <div class="col-4">
      <button class="windowsbutton btn-small">Login</button>
    </div>
  </div>

  <div class="row g-1">
    <div class="col-8">
      <div class="row g-1">
        <div class="col-3 mb-1">
          <button class="windowsbutton btn-xSmall">Login</button>
        </div>
        <div class="col-3 mb-1">
          <button class="windowsbutton btn-xSmall">Login</button>
        </div>
        <div class="col-3 mb-1">
          <button class="windowsbutton btn-xSmall">Login</button>
        </div>
        <div class="col-3 mb-1">
          <button class="windowsbutton">Login</button>
        </div>
        <div class="col-3 mb-1">
          <button class="windowsbutton">Login</button>
        </div>
        <div class="col-3 mb-1">
          <button class="windowsbutton">Login</button>
        </div>
        <div class="col-3 mb-1">
          <button class="windowsbutton">Login</button>
        </div>
        <div class="col-3 mb-1">
          <button class="windowsbutton">Login</button>
        </div>
      </div>
    </div>
    <div class="col-4 ">
      <button class="windowsbutton btn-small">Login</button>
    </div>
  </div>
</div>
</body>


