#container {

  text-align: center;
}
#progress-bar {
  width: 100%;
  height: 20px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
}
#progress-bar-fill {
  height: 100%;
  background-color: black;
  transition: width 0.5s ease-in-out;
}









.windowsbutton {
  width: 100%; /* Make the button fill the div */
   /* Optional: add padding for better button appearance */
  font-size: 16px; /* Optional: adjust font size */
  background-color: #007bff; /* Optional: button background color */
  color: white; /* Optional: text color */
  border: none; /* Optional: remove border */
  cursor: pointer; /* Optional: change the cursor on hover */
}

/* Optional: Style for hover effect */
.windowsbutton:hover {
  background-color: #0056b3; /* Change background color on hover */
}
.btn-small{
  height:80px;
}
.btn-big{
  height:230px;
}


.btn-xSmall{
  height:50px;
}


html, body {
  height: 100%;
  margin: 0; /* Remove any default margin */
}
