]
<div class=" container mt-5">

  <div class="row">
    <div class="col-lg-8 mb-5 mb-lg-0">
      <!-- Card -->
      <div class="card card-lg ">
        <!-- Hero -->
        <div  class="position-relative  overflow-hidden" style="  background-image: url(../assets/svg/components/wave-pattern-light.svg); background-color: black">
          <div class="container position-relative zi-2 content-space-2 content-space-md-3">
            <h1 class="text-center display-2 mb-2 text-white" style="margin-top: -30px">Sahiz Group</h1>

            <h5 class="text-center text-white" style="margin-top: -2px">A88 Bukar Abba Danladi Nasidi Estate Mariri Kano</h5>
            <h5 class="text-center text-white" style="margin-top: -1px">A88 Bukar Abba Danladi Nasidi Estate Mariri Kano</h5>

          </div>

          <!-- Shape -->
          <div class="shape shape-bottom zi-1">
            <svg width="3000" height="500" viewBox="0 0 3000 500" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 500H3000V0L0 500Z" fill="#fff"/>
            </svg>
          </div>
          <!-- End Shape -->
        </div>
        <!-- End Hero -->
        <div class="">
          <div class="" style="background: url(../assets/svg/illustrations/master-adobe-ai-book.svg) right bottom no-repeat;">
          <div class=" px-1">


            <div class="card-body">

              <table class="table table-borderless table-thead-bordered">
                <thead class="">
                <tr class="">

                  <th scope="col" style="width: 70px"></th>
                  <th scope="col"></th>

                </tr>
                </thead>
                <tbody>
                <tr class="">

                  <td class="text-end">DATE</td>
                  <td class="">000000000</td>

                </tr>
                <tr class="">

                  <td class="text-end">Payee</td>
                  <td class="">000000000</td>

                </tr>
                <tr class="">

                  <td class="text-end">Amount</td>
                  <td class="">000000000</td>

                </tr>
                <tr class="">

                  <td class="text-end">Mark</td>
                  <td class="">000000000</td>

                </tr>
                <tr class="">

                  <td class="text-end">Description</td>
                  <td class="">000000000</td>

                </tr>

                </tbody>
              </table>
              <!-- End Table -->

            </div>
            <div class="row">
              <div class="col-6 card-body">

                <h6>Payment Information</h6>
                <h6>Payment Method:Bank </h6>

              </div>
              <div class="col-6 card-body">
                <h1> Thank You</h1>
              </div>

            </div>
            <h6 class="text-center mb-5">Sign________________________________________ </h6>
          </div>
        </div>
        </div>

      </div>
      <!-- End Card -->

    </div>


  </div>






</div>

