<div class="row justify-content-center" #statisticsSection>
  <div class="col-6 col-md-3 d-flex justify-content-center" *ngFor="let stat of statistics; let i = index">
    <!-- Stats -->
    <div class="d-lg-flex align-items-center justify-content-center mx-auto">
      <div class="flex-shrink-0">

      </div>

      <div class="flex-grow-1 ms-lg-3 text-center">
        <i [class]="stat.classStyle"></i>
        <span class="d-block fs-6">{{ stat.label || 0 }}</span>
        <div class="d-flex align-items-center justify-content-center">
          <h3 class="mb-0">{{ stat.animatedValue || 0 }}</h3>
        </div>
      </div>
    </div>
    <!-- End Stats -->
  </div>
</div>












