
<div class="col-12 mb-2">
  <!-- Card -->
  <div class="card  card-bordered shadow-none h-100" *ngIf="income$ | async as docs; else noData">
    <div class="text-primary p-3" *ngFor="let doc of docs">
      <h3 class="card-title ">Income </h3>
      <div class="progress" style="height: 15px;">
        <div class="progress-bar bg-dark" role="progressbar"
             [style.width.%]="creditPercentage"
             [attr.aria-valuenow]="creditPercentage"
             aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>

      <div class="row mt-2">

        <div class="col-auto d-flex justify-content-center"><h2 style="font-family: Arial, sans-serif; font-size: 24px;">{{ creditPercentage | number:'1.2-2' }}
          %</h2></div>
        <div class="col-auto ms-auto">
          <h2 style="font-family: Arial, sans-serif; font-size: 24px;">
            {{ doc.totalAmount | currency:'₦':'symbol':'1.2-2' }}
          </h2>
        </div>
      </div>
    </div>


  </div>
  <!-- End Card -->
</div>  <ng-template #noData>
  <div class="text-center mt-3">
    <p>No data available.</p>
  </div>
</ng-template>
<div class="col-12 mb-2">
  <!-- Card -->
  <div class="card  card-bordered shadow-none h-100" *ngIf="expenses$ | async as docs; else noData">
    <div class="text-primary p-3" *ngFor="let doc of docs">
      <h3 class="card-title ">Expenses </h3>
      <div class="progress" style="height: 15px;">
        <div class="progress-bar bg-dark" role="progressbar"
             [style.width.%]="debitPercentage"
             [attr.aria-valuenow]="debitPercentage"
             aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>

      <div class="row mt-2">

        <div class="col-auto d-flex justify-content-center"><h2 style="font-family: Arial, sans-serif; font-size: 24px;">{{debitPercentage | number:'1.2-2' }}%</h2></div>
        <div class="col-auto ms-auto">
          <h2 style="font-family: Arial, sans-serif; font-size: 24px;">
            {{ doc.totalAmount | currency:'₦':'symbol':'1.2-2' }}
          </h2>
        </div>
      </div>
    </div>


  </div>
  <!-- End Card -->
</div>  <ng-template #noData>
  <div class="text-center mt-3">
    <p>No data available.</p>
  </div>
</ng-template>

