
<div class="col-12 ">
  <div class="card    shadow-none p-2  mb-1" *ngIf="income$ | async as docs; else noData">
    <div class="text-primary " *ngFor="let doc of docs">

      <div class="progress" style="height: 5px;">
        <div class="progress-bar bg-dark" role="progressbar"
             [style.width.%]="creditPercentage"
             [attr.aria-valuenow]="creditPercentage"
             aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-4 ">
          <h6 class="card-title ">Income </h6>
        </div>
        <div class="col-6">
          <h5 style="font-family: Arial, sans-serif;  ">
            {{ doc.totalAmount | currency:'₦':'symbol':'1.2-2' }}
          </h5>
        </div>
        <div class="col-2 d-flex justify-content-center">
          <h5 style="font-family: Arial, sans-serif; ">{{ creditPercentage | number:'1.2-2' }}%</h5>
        </div>

      </div>
    </div>


  </div>
  <div class="card    shadow-none p-2 mb-1 " *ngIf="expenses$ | async as docs; else noData">
    <div class="text-primary " *ngFor="let doc of docs">

      <div class="progress" style="height: 5px;">
        <div class="progress-bar bg-dark" role="progressbar"
             [style.width.%]="debitPercentage"
             [attr.aria-valuenow]="debitPercentage"
             aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-4"><h6 class="card-title ">Expenses </h6></div>
        <div class="col-6">
          <h5 style="font-family: Arial, sans-serif; ">
            {{ doc.totalAmount | currency:'₦':'symbol':'1.2-2' }}
          </h5>
        </div>
        <div class="col-2 d-flex justify-content-center"><h5 style="font-family: Arial, sans-serif; ">{{debitPercentage | number:'1.2-2' }}%</h5></div>


      </div>
    </div>


  </div>
</div>










<ng-template #noData>
  <div class="text-center mt-3">
    <p>No data available.</p>
  </div>
</ng-template>
<ng-template #noData>
  <div class="text-center mt-3">
    <p>No data available.</p>
  </div>
</ng-template>
