<!--
<main id="content" role="main">

  <div class="border-bottom">
    <div class="container content-space-2">
      <div class="row">
        <div class="col-md-4 mb-7 mb-md-0">
          &lt;!&ndash; Icon Block &ndash;&gt;
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img class="avatar avatar-4x3" src="../assets/svg/illustrations/oc-protected-card.svg" alt="Image Description">
            </div>
            <div class="flex-grow-1 ms-4">
              <h4 class="mb-1">Secure checkout</h4>
              <p class="small mb-0">Guaranteed safe checkout</p>
            </div>
          </div>
          &lt;!&ndash; End Icon Block &ndash;&gt;
        </div>
        &lt;!&ndash; End Col &ndash;&gt;

        <div class="col-md-4 mb-7 mb-md-0">
          &lt;!&ndash; Icon Block &ndash;&gt;
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img class="avatar avatar-4x3" src="../assets/svg/illustrations/oc-return.svg" alt="Image Description">
            </div>
            <div class="flex-grow-1 ms-4">
              <h4 class="mb-1">30 Days return</h4>
              <p class="small mb-0">We offer you a full refund within 30 days of purchase.</p>
            </div>
          </div>
          &lt;!&ndash; End Icon Block &ndash;&gt;
        </div>
        &lt;!&ndash; End Col &ndash;&gt;

        <div class="col-md-4">
          &lt;!&ndash; Icon Block &ndash;&gt;
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img class="avatar avatar-4x3" src="../assets/svg/illustrations/oc-truck.svg" alt="Image Description">
            </div>
            <div class="flex-grow-1 ms-4">
              <h4 class="mb-1">Free shipping</h4>
              <p class="small mb-0">Automatically receive free standard shipping on every order.</p>
            </div>
          </div>
          &lt;!&ndash; End Icon Block &ndash;&gt;
        </div>
        &lt;!&ndash; End Col &ndash;&gt;
      </div>
      &lt;!&ndash; End Row &ndash;&gt;
    </div>
  </div>
  &lt;!&ndash; End Icon Blocks &ndash;&gt;

  &lt;!&ndash; Card Grid &ndash;&gt;
  <div class="container content-space-2 content-space-lg-3">
    &lt;!&ndash; Heading &ndash;&gt;
    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
      <h2>The better way to shop with Front top-products</h2>
    </div>
    &lt;!&ndash; End Heading &ndash;&gt;

    <div class="row mb-2">
      <div class="col-sm-6 col-md-4 mb-4">
        &lt;!&ndash; Card &ndash;&gt;
        <div class="card card-bordered shadow-none overflow-hidden">
          <div class="card-body d-flex align-items-center border-bottom p-0">
            <div class="w-65 border-end">
              <img class="img-fluid" src="../assets/img/380x400/img3.jpg" alt="Image Description">
            </div>
            <div class="w-35">
              <div class="border-bottom">
                <img class="img-fluid" src="../assets/img/380x360/img8.jpg" alt="Image Description">
              </div>
              <img class="img-fluid" src="../assets/img/380x360/img7.jpg" alt="Image Description">
            </div>
          </div>

          <div class="card-footer text-center">
            <h3 class="card-title">T-shirts</h3>
            <p class="card-text text-muted small">Starting from $29.99</p>
            <a class="btn btn-outline-primary btn-sm btn-transition rounded-pill px-6" href="#">View all</a>
          </div>
        </div>
        &lt;!&ndash; End Card &ndash;&gt;
      </div>
      &lt;!&ndash; End Col &ndash;&gt;

      <div class="col-sm-6 col-md-4 mb-4">
        &lt;!&ndash; Card &ndash;&gt;
        <div class="card card-bordered shadow-none overflow-hidden">
          <div class="card-body d-flex align-items-center border-bottom p-0">
            <div class="w-65 border-end">
              <img class="img-fluid" src="../assets/img/380x400/img4.jpg" alt="Image Description">
            </div>
            <div class="w-35">
              <div class="border-bottom">
                <img class="img-fluid" src="../assets/img/380x360/img6.jpg" alt="Image Description">
              </div>
              <img class="img-fluid" src="../assets/img/380x360/img5.jpg" alt="Image Description">
            </div>
          </div>

          <div class="card-footer text-center">
            <h3 class="card-title">Tech covers</h3>
            <p class="card-text text-muted small">Starting from $399.99</p>
            <a class="btn btn-outline-primary btn-sm btn-transition rounded-pill px-6" href="#">View all</a>
          </div>
        </div>
        &lt;!&ndash; End Card &ndash;&gt;
      </div>
      &lt;!&ndash; End Col &ndash;&gt;

      <div class="col-sm-6 col-md-4 mb-4">
        &lt;!&ndash; Card &ndash;&gt;
        <div class="card card-bordered shadow-none overflow-hidden">
          <div class="card-body d-flex align-items-center border-bottom p-0">
            <div class="w-65 border-end">
              <img class="img-fluid" src="../assets/img/380x400/img2.jpg" alt="Image Description">
            </div>
            <div class="w-35">
              <div class="border-bottom">
                <img class="img-fluid" src="../assets/img/380x360/img4.jpg" alt="Image Description">
              </div>
              <img class="img-fluid" src="../assets/img/380x360/img3.jpg" alt="Image Description">
            </div>
          </div>

          <div class="card-footer text-center">
            <h3 class="card-title">Caps</h3>
            <p class="card-text text-muted small">Starting from $13.99</p>
            <a class="btn btn-outline-primary btn-sm btn-transition rounded-pill px-6" href="#">View all</a>
          </div>
        </div>
        &lt;!&ndash; End Card &ndash;&gt;
      </div>
      &lt;!&ndash; End Col &ndash;&gt;
    </div>
    &lt;!&ndash; End Row &ndash;&gt;

    <div class="text-center">
      <p class="small">Limited time only, while stocks last.</p>
    </div>
  </div>
  &lt;!&ndash; End Card Grid &ndash;&gt;

  &lt;!&ndash; Card Grid &ndash;&gt;
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0">
        &lt;!&ndash; Card &ndash;&gt;
        <div class="card card-lg bg-img-start" style="background-image: url(../assets/img/900x900/img3.jpg); min-height: 30rem;">
          <div class="card-body">
            <span class="card-subtitle text-danger">Limited time only</span>
            <h2 class="card-title display-4">70% OFF</h2>

            <div class="w-md-65">
              &lt;!&ndash; Countdown &ndash;&gt;
              <div class="js-countdown row mb-5">
                <div class="col-4 text-center">
                  <div class="border border-dark rounded-2 p-2 mb-1">
                    <span class="js-cd-days h2">364</span>
                  </div>

                  <h5 class="card-title">Days</h5>
                </div>
                &lt;!&ndash; End Col &ndash;&gt;

                <div class="col-4 text-center">
                  <div class="border border-dark rounded-2 p-2 mb-1">
                    <span class="js-cd-hours h2">23</span>
                  </div>

                  <h5 class="card-title">Hours</h5>
                </div>
                &lt;!&ndash; End Col &ndash;&gt;

                <div class="col-4 text-center">
                  <div class="border border-dark rounded-2 p-2 mb-1">
                    <span class="js-cd-minutes h2">59</span>
                  </div>

                  <h5 class="card-title">Mins</h5>
                </div>
                &lt;!&ndash; End Col &ndash;&gt;

                <div class="col-4 d-none text-center">
                  <div class="border border-dark rounded-2 p-2 mb-1">
                    <span class="js-cd-seconds h2">46</span>
                  </div>

                  <h5 class="card-title">Sec</h5>
                </div>
                &lt;!&ndash; End Col &ndash;&gt;
              </div>
              &lt;!&ndash; End Row &ndash;&gt;
            </div>

            <a class="btn btn-light btn-sm btn-transition rounded-pill px-6" href="#">Shop</a>
          </div>
        </div>
        &lt;!&ndash; End Card &ndash;&gt;
      </div>

      <div class="col-md-6">
        &lt;!&ndash; Card &ndash;&gt;
        <div class="card card-lg bg-img-start" style="background-image: url(../assets/img/900x900/img4.jpg); min-height: 30rem;">
          <div class="card-body">
            <div class="mb-4">
              <h2 class="card-title text-white">$109.99</h2>
              <h3 class="card-title text-white">Nakto 26 Bicycle</h3>
              <p class="card-text text-white">NAKTO bicycles to save the environment and bring fun to our friends!</p>
            </div>

            <a class="btn btn-light btn-sm btn-transition rounded-pill px-6" href="#">Shop</a>
          </div>
        </div>
        &lt;!&ndash; End Card &ndash;&gt;
      </div>
    </div>
  </div>
  &lt;!&ndash; End Card Grid &ndash;&gt;

  &lt;!&ndash; Card Grid &ndash;&gt;
  <div class="container content-space-2 content-space-lg-3">
    &lt;!&ndash; Title &ndash;&gt;
    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
      <h2>Our Categories</h2>
    </div>
    &lt;!&ndash; End Title &ndash;&gt;

    <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mb-3">
      @for(items of shops; track items.name){


      <div class="col mb-4">
        &lt;!&ndash; Card &ndash;&gt;
        <div class="card card-bordered shadow-none text-center h-100">
          <div class="card-pinned">
            <img class="card-img-top shopBG" [src]="items.cover" alt="Image Description">



            <div class="card-pinned-top-end">
              <button type="button" class="btn btn-outline-secondary btn-xs btn-icon rounded-circle" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Save for later" data-bs-original-title="Save for later">
                <i class="bi-heart"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <div class="mb-1">
              <a class="link-sm link-secondary" href="#">{{items.name}}</a>
            </div>
             <h4 class="card-text text-dark">{{items.name}}</h4>
          </div>

        </div>
        &lt;!&ndash; End Card &ndash;&gt;
      </div>
      &lt;!&ndash; End Col &ndash;&gt;

      }

    </div>
    &lt;!&ndash; End Row &ndash;&gt;

    <div class="text-center">
      <a class="btn btn-outline-primary btn-transition rounded-pill" href="#">View all products</a>
    </div>
  </div>
  &lt;!&ndash; End Card Grid &ndash;&gt;

  &lt;!&ndash; Subscribe &ndash;&gt;
  <div class="bg-light">
    <div class="container content-space-2">
      <div class="w-md-75 w-lg-50 text-center mx-md-auto">
        <div class="row justify-content-lg-between">
          &lt;!&ndash; Heading &ndash;&gt;
          <div class="mb-5">
            <span class="text-cap">Subscribe</span>
            <h2>Get the latest from Front</h2>
          </div>
          &lt;!&ndash; End Heading &ndash;&gt;

          <form>
            &lt;!&ndash; Input Card &ndash;&gt;
            <div class="input-card input-card-pill input-card-sm border mb-3">
              <div class="input-card-form">
                <label for="subscribeForm" class="form-label visually-hidden">Enter email</label>
                <input type="text" class="form-control form-control-lg" id="subscribeForm" placeholder="Enter email" aria-label="Enter email">
              </div>
              <button type="button" class="btn btn-primary btn-lg rounded-pill">Subscribe</button>
            </div>
            &lt;!&ndash; End Input Card &ndash;&gt;
          </form>

          <p class="small">You can unsubscribe at any time. Read our <a href="#">privacy policy</a></p>
        </div>
      </div>
    </div>
  </div>
  &lt;!&ndash; End Subscribe &ndash;&gt;

  &lt;!&ndash; Clients &ndash;&gt;
  <div class="container content-space-2">
    <div class="row">
      <div class="col text-center py-3">
        <img class="avatar avatar-lg avatar-4x3" src="../assets/svg/brands/hollister-dark.svg" alt="Logo">
      </div>
      &lt;!&ndash; End Col &ndash;&gt;

      <div class="col text-center py-3">
        <img class="avatar avatar-lg avatar-4x3" src="../assets/svg/brands/levis-dark.svg" alt="Logo">
      </div>
      &lt;!&ndash; End Col &ndash;&gt;

      <div class="col text-center py-3">
        <img class="avatar avatar-lg avatar-4x3" src="../assets/svg/brands/new-balance-dark.svg" alt="Logo">
      </div>
      &lt;!&ndash; End Col &ndash;&gt;

      <div class="col text-center py-3">
        <img class="avatar avatar-lg avatar-4x3" src="../assets/svg/brands/puma-dark.svg" alt="Logo">
      </div>
      &lt;!&ndash; End Col &ndash;&gt;

      <div class="col text-center py-3">
        <img class="avatar avatar-lg avatar-4x3" src="../assets/svg/brands/nike-dark.svg" alt="Logo">
      </div>
      &lt;!&ndash; End Col &ndash;&gt;

      <div class="col text-center py-3">
        <img class="avatar avatar-lg avatar-4x3" src="../assets/svg/brands/tnf-dark.svg" alt="Logo">
      </div>
      &lt;!&ndash; End Col &ndash;&gt;
    </div>
    &lt;!&ndash; End Row &ndash;&gt;
  </div>
  &lt;!&ndash; End Clients &ndash;&gt;
</main>
-->


<div class="position-relative overflow-hidden content-space-t-md-4">
  <div class="container">
    <div class="position-relative content-space-t-3 content-space-t-md-0 content-space-t-lg-3 content-space-b-2 content-space-b-md-3 content-space-b-xl-5">
      <div class="row position-relative zi-2 mt-md-n5">
        <div class="col-md-8 mb-7 mb-md-0">
          <!-- Heading -->
<!--          <div #statisticsSection class="w-md-75 mb-7" *ngFor="let stat of statistics; let i = index">
            <h1 class="display-4">{{ stat.animatedValue || 0 }} +
              <span class="text-primary text-highlight-warning">
                    <span class="js-typedjs" data-hs-typed-options="{
                            &quot;strings&quot;: [&quot;love to live&quot;, &quot;enjoy living&quot;],
                            &quot;typeSpeed&quot;: 90,
                            &quot;loop&quot;: true,
                            &quot;backSpeed&quot;: 30,
                            &quot;backDelay&quot;: 2500
                          }">Products</span><span class="typed-cursor typed-cursor&#45;&#45;blink" aria-hidden="true">|</span>
                  </span>
            </h1>
          </div>-->
          <!-- End Heading -->

          <form>
            <!-- Input Card -->
            <div class="input-card">
              <div class="input-card-form">
                <label for="searchLocationForm" class="form-label visually-hidden">Search location</label>
                <div class="input-group input-group-merge">
                      <span class="input-group-prepend input-group-text">
                        <i class="bi-search"></i>
                      </span>
                  <input type="text" class="form-control form-control-lg" id="searchLocationForm" placeholder="Enter location" aria-label="Enter location">
                </div>
              </div>
              <button type="button" class="btn btn-primary btn-lg">Search</button>
            </div>
            <!-- End Input Card -->
          </form>

          <p class="form-text small">Search through over 125,000 listings</p>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->

      <div class="col-md-6 position-md-absolute top-0 end-0">
        <img class="img-fluid" src="../assets/img/900x900/img20.jpg" alt="Image Description">

        <!-- SVG Shape -->
        <div class="position-absolute bottom-0 end-0 zi-n1 mb-n10 me-n7" style="width: 12rem;">
          <img class="img-fluid" src="../assets/svg/components/dots-lg.svg" alt="Image Description">
        </div>
        <!-- End SVG Shape -->
      </div>
    </div>
  </div>

  <div class="col-md-10 position-absolute top-0 start-0 zi-n1 gradient-y-three-sm-primary h-100" style="background-size: calc(1000px + (100vw - 1000px) / 2);"></div>
</div>
<div class="container">
  <h2 class="display-4 text-center">Electronics</h2>
  <h2 class="display-5 text-center">Store</h2>


<div class="row">

  <div class="col-8">
    <div class="row">

@for(items of electronics; track items.name){


      <div class="col-4 mb-4">
        <div class="card ">
          <img [src]="items.image" class="img-fluid" [alt]="items.name">
      <div class="card-body">
       <h6>{{items.name}}</h6>
      </div>
        </div>

      </div>
}

    </div>
  </div>
  <div class="col-4">
    @for(items of shops; track items){


    <div class="row mb-2">


      <div class="col-4 ">
        <img  style="width: 90px; height: 80px; border-radius: 12px" class="img-fluid food" [src]="items.cover" alt="">

      </div>



      <div class="col-7">
        <h3 class="mt-4">{{items.name}}</h3>
      </div>


    </div>
    }
  </div>




</div>



</div>


