
<main id="content" role="main" class="bg-light">
  <!-- Breadcrumb -->
  <div class="navbar-dark bg-dark" style="background-image: url(./assets/svg/components/wave-pattern-light.svg);">
    <div class="container content-space-1 content-space-b-lg-3">
      <div class="row align-items-center">
        <div class="col">
          <div class="d-none d-lg-block">
            <h1 class="h2 text-white">Personal info</h1>
          </div>

          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light mb-0">
              <li class="breadcrumb-item">Account</li>
              <li class="breadcrumb-item active" aria-current="page">Personal Info</li>
            </ol>
          </nav>
          <!-- End Breadcrumb -->
        </div>
        <!-- End Col -->

        <div class="col-auto">
          <div class="d-none d-lg-block">
            <a class="btn btn-soft-light btn-sm" href="#">Log out</a>
          </div>

          <!-- Responsive Toggle Button -->
          <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-default">
                <i class="bi-list"></i>
              </span>
            <span class="navbar-toggler-toggled">
                <i class="bi-x"></i>
              </span>
          </button>
          <!-- End Responsive Toggle Button -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
  </div>
  <!-- End Breadcrumb -->

  <!-- Content -->
  <div class="container  mt-n10">
    <div class="row">

      <div class="col">
        <div class="">
          <div class=" justify-content-center align-items-md-center mx-auto mt-3 ">
            <div class=" mx-auto  ">
              <!-- Profile Cover -->
              <div class="profile-cover">
                <div class="profile-cover-img-wrapper">
                  <img class="profile-cover-img" src="bg/img2.jpg" alt="Image Description">
                </div>
              </div>
              <!-- End Profile Cover -->

              <!-- Profile Header -->
              <div class="text-center mb-5 mx-auto">
                <!-- Avatar -->
                <div class="avatar avatar-xxl avatar-circle profile-cover-avatar mx-auto">
                  <img class="avatar-img" src="bg/logo.png" alt="Image Description">
                  <span class="avatar-status avatar-status-success"></span>
                </div>
                <!-- End Avatar -->

                <h1 class="page-header-title">{{companyName}} <i class="bi-patch-check-fill fs-2 text-primary" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Top endorsed" data-bs-original-title="Top endorsed"></i></h1>

                <!-- List -->
                <ul class="list-inline list-px-2">
                  <li class="list-inline-item">
                    <i class="bi-building me-1"></i>
                    <span>Htmlstream</span>
                  </li>

                  <li class="list-inline-item">
                    <i class="bi-geo-alt me-1"></i>
                    <a href="#">{{address}}</a>
                    <a href="#">{{LGA}}</a>
                  </li>

                  <li class="list-inline-item">
                    <i class="bi-calendar-week me-1"></i>
                    <span>{{founded}}</span>
                  </li>
                </ul>
                <!-- End List -->
              </div>
              <!-- End Profile Header -->

              <!-- Nav -->

              <!-- End Nav -->
              <app-case-study></app-case-study>

              <!-- End Row -->
            </div>
          </div>


        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Content -->
</main>


