

  <!-- End Alert -->

  <!-- Step Timeline -->

  <!-- End Step Timeline -->

<main id="content" role="main" class="bg-light">
  <!-- Breadcrumb -->
  <div class="navbar-dark bg-primary" style="background-image: url(./assets/svg/components/wave-pattern-light.svg);">
    <div class="content-space-b-2 ">
      <div class="row text-center d-sm-block d-md-none text-white">
        <div class="col-4">
          <ul class="step d-flex">
            <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-dark">
          <i class="bi-calendar3 justify-content-center"></i>
        </span>
            </div>
          </ul>
          <h5 clas="text-white">Income</h5>
          <h6>NGN23,OOO,OOO</h6>
        </div>
        <div class="col-4">
          <ul class="step">
            <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-dark">
          <i class="bi-calendar3"></i>
        </span>
            </div>
          </ul>
          <h5>Income</h5>
          <h6>NGN23,OOO,OOO</h6>
        </div>
        <div class="col-4">
          <ul class="step">
            <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-dark">
          <i class="bi-calendar3"></i>
        </span>
            </div>
          </ul>
          <h5>Income</h5>
          <h6>NGN23,OOO,OOO</h6>
        </div>
      </div>

      <div class="col-md-6 d-none d-lg-block">
      <div class="row align-items-center ">
        <ul class="step step-md step-centered  ">


          <li class="step-item mt-3">
            <div class="step-content-wrapper">
              <span class="step-icon step-icon-danger">28%</span>
              <div class="step-content">
                <h5 class="text-white">Income</h5>
                <p class="text-white">NGN23,000,000</p>

              </div>
            </div>
          </li>
          <li class="step-item mt-3">
            <div class="step-content-wrapper">
              <span class="step-icon step-icon-success">28%</span>
              <div class="step-content">
                <h5 class="text-white">Expenses</h5>
                <p class="text-white">NGN23,000,000</p>

              </div>
            </div>
          </li>
          <li class="step-item mt-3">
            <div class="step-content-wrapper">
              <span class="spinner-grow" style="width: 3rem; height: 3rem;"><button class="btn  " type="button" disabled>
  <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" ></span>

</button>
 </span>
              <div class="step-content">
                <h5 class="text-white">Balance</h5>
                <p class="text-white">NGN23,000,000</p>

              </div>
            </div>
          </li>


        </ul>

        <!-- End Col -->
      </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumb -->

  <!-- Content Section -->
  <div class="container content-space-1 content-space-t-lg-0 content-space-b-lg-2 mt-n10">
    <div class="row">
      <div class="col-lg-5">
        <!-- Navbar -->
        <div class="navbar-expand-lg navbar-light">

          <div id="sidebarNav" class="collapse navbar-collapse navbar-vertical">
            <!-- Card -->
            <div class="card flex-grow-1 mb-5">
              <div class="card-header d-sm-flex justify-content-sm-between align-items-sm-center border-bottom">
                <h5 class="card-header-title">Latest transactions</h5>
                <span>2 items</span>
              </div>

              <div class="card-body">
             <ul class="list-group list-group-flush list-group-no-gutters">
               <app-heading-small [text]="'Credited'"></app-heading-small>

               <li class="list-group-item" *ngIf="credit$ | async as accounts; "  >
                 <div class="d-flex mb-3" *ngFor="let account of accounts">
                   <div class="flex-grow-1 ms-3">
                     <div class="row">
                       <div class="col-7 col-md-5 order-md-1">
                         <h5 class="mb-0">{{ account.payee }}</h5>
                         <span class="fs-6 text-body">Subscription payment</span>
                       </div>

                       <div class="col-5 col-md-4 order-md-3 text-end mt-2 mt-md-0">
                         <h5 class="mb-0"><span>{{ account.amount | currency:'NGN' }}</span>
                         </h5>
                         <span class="fs-6 text-body">{{ account.date }}</span>
                       </div>

                       <div class="col-auto col-md-3 order-md-2">
                         <span class="badge bg-soft-success text-success rounded-pill">Completed</span>
                       </div>
                     </div>
                     <!-- End Row -->
                   </div>
                   <hr>
                 </div>
               </li>


               <app-heading-small [text]="'Debited'"></app-heading-small>
               <li class="list-group-item" *ngIf="debit$ | async as accounts"  >
                 <div class="d-flex mb-3" *ngFor="let account of accounts">
                   <div class="flex-grow-1 ms-3">
                     <div class="row">
                       <div class="col-7 col-md-5 order-md-1">
                         <h5 class="mb-0">{{ account.payee }}</h5>
                         <span class="fs-6 text-body">Subscription payment</span>
                       </div>

                       <div class="col-5 col-md-4 order-md-3 text-end mt-2 mt-md-0">
                         <h5 class="mb-0"><span>{{ account.amount | currency:'NGN' }}</span>
                         </h5>
                         <span class="fs-6 text-body">{{ account.date }}</span>
                       </div>

                       <div class="col-auto col-md-3 order-md-2">
                         <span class="badge bg-soft-success text-success rounded-pill">Completed</span>
                       </div>
                     </div>
                     <!-- End Row -->
                   </div>
                   <hr>
                 </div>
               </li>


             </ul>
           </div>
            </div>
            <!-- End Card -->
          </div>
        </div>
        <!-- End Navbar -->
      </div>
      <!-- End Col -->

      <div class="col-lg-7">
        <!-- Card -->
        <div class="card">
          <div class="card-header d-sm-flex justify-content-sm-between align-items-sm-center border-bottom">
            <h5 class="card-header-title">Cashbook</h5>
            <span>2 items</span>
          </div>

          <!-- Body -->
          <div class="card-body">
            <hr class="my-0">
            <app-credit class="mt-5"></app-credit>
          </div>
          <!-- End Body -->

          <a class="card-footer card-link text-center border-top" href="#">Continue shopping</a>
        </div>
        <!-- End Card -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Content Section -->
</main>





