
<div class=" container mt-5">

  <div class="row">
    <div class="col-lg-8 mb-5 mb-lg-0">
      <!-- Card -->
      <div class="card card-lg mb-5">
        <div class="card-body">
          <h2 class="text-center">Alh SIDI jinjiri Investment LTD</h2>
          <div class="row justify-content-lg-between">

            <!-- End Col -->
            <div class="row align-items-md-center gx-md-5">
              <div class="col-md-auto mb-3 mb-md-0">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <img class="avatar avatar-xl avatar-4x3" src="/gif/loading1.gif" alt="Image Description" data-hs-theme-appearance="dark">
                  </div>

                  <div class="flex-grow-1 ms-5">
                    <h4 class="display-3 text-dark mb-0">4.84</h4>
                      </div>
                </div>
              </div>
              <!-- End Col -->

              <div class="col-md">
                <!-- List -->
                <ul class="list-unstyled list-py-1 mb-0">
                  <!-- Review Ratings -->
                  <li class="d-flex align-items-center fs-6">
                    <span class="me-3">5 star</span>
                    <div class="progress flex-grow-1">
                      <div class="progress-bar" role="progressbar" style="width: 82%;" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span class="ms-3">4</span>
                  </li>
                  <!-- End Review Ratings -->

                  <!-- Review Ratings -->
                  <li class="d-flex align-items-center fs-6">
                    <span class="me-3">4 star</span>
                    <div class="progress flex-grow-1">
                      <div class="progress-bar" role="progressbar" style="width: 18%;" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span class="ms-3">3</span>
                  </li>
                  <!-- End Review Ratings -->

                  <!-- Review Ratings -->
                  <li class="d-flex align-items-center fs-6">
                    <span class="me-3">3 star</span>
                    <div class="progress flex-grow-1">
                      <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span class="ms-3">0</span>
                  </li>
                  <!-- End Review Ratings -->

                  <!-- Review Ratings -->
                  <li class="d-flex align-items-center fs-6">
                    <span class="me-3">2 star</span>
                    <div class="progress flex-grow-1">
                      <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span class="ms-3">0</span>
                  </li>
                  <!-- End Review Ratings -->


                </ul>
                <!-- End List -->
              </div>
              <!-- End Col -->
            </div>

            <!-- End Col -->
          </div>
          <!-- End Row -->


          <!-- End Row -->

          <!-- Table -->
          <div class="table-responsive">
            <table class="table table-borderless table-nowrap table-align-middle">
              <thead class="thead-light">
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th class="table-text-end">Amount</th>
              </tr>
              </thead>


            </table>
          </div>
          <!-- End Table -->
          <app-credit class="mt-5"></app-credit>
          <hr class="my-5">




        </div>
      </div>
      <!-- End Card -->

    </div>

    <div class="col-lg-4">
      <!-- Card -->
      <div class="card d-print-none">
        <!-- Header -->

        <!-- End Header -->

        <!-- Body -->
        <div class="card-body">
          <span class="h1 d-block mb-3">175 <span class="h4 text-body">Transactions</span></span>

          <!-- Progress -->
          <div class="progress rounded-pill">
            <div class="progress-bar" role="progressbar" style="width: 76%" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar bg-warning" role="progressbar" style="width: 8%" aria-valuenow="8" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar bg-danger" role="progressbar" style="width: 2%" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <!-- End Progress -->
        </div>
        <!-- End Body -->

        <hr class="my-0">

        <!-- Body -->


        <hr class="my-0">

        <!-- Body -->
        <div class="card-body card-body-height">
          <!-- Tab Content -->
          <div class="tab-content" id="invoicesStatusTabContent">
            <div class="tab-pane fade show active" id="paid" role="tabpanel" aria-labelledby="paid-tab">

              <ul class="list-group list-group-flush list-group-no-gutters">
                <h6 style="margin-top: -10px" class="text-center">Recent Transactions</h6>
                <li class="list-group-item">
                  <div class="mb-1">
                    <h5 class="mb-0">Update subscription method</h5>
                    <span class="fs-5">Rocket Science Group</span>
                  </div>

                  <div class="d-flex justify-content-between">
                    <span class="h4 text-primary">$530.00 USD</span>
                    <span class="fs-5">25 May, 2020</span>
                  </div>
                </li>

                <!-- End List Item -->
              </ul>
              <!-- End List Group -->
            </div>

            <div class="tab-pane fade" id="pending" role="tabpanel" aria-labelledby="pending-tab">
              <!-- List Group -->
              <ul class="list-group list-group-flush list-group-no-gutters">
                <!-- List Item -->
                <li class="list-group-item">
                  <div class="mb-1">
                    <h5 class="mb-0">Marketing campaign for Slack</h5>
                    <span class="fs-5">Slack Technologies</span>
                  </div>

                  <div class="d-flex justify-content-between">
                    <span class="h4 text-primary">$2500.00 USD</span>
                    <span class="fs-5">15 May, 2020</span>
                  </div>
                </li>
                <!-- End List Item -->

                <!-- List Item -->
                <li class="list-group-item">
                  <div class="mb-1">
                    <h5 class="mb-0">Android app</h5>
                    <span class="fs-5">Htmlstream Ltd.</span>
                  </div>

                  <div class="d-flex justify-content-between">
                    <span class="h4 text-primary">$7000.00 USD</span>
                    <span class="fs-5">14 May, 2020</span>
                  </div>
                </li>
                <!-- End List Item -->

                <!-- List Item -->
                <li class="list-group-item">
                  <div class="mb-1">
                    <h5 class="mb-0">Building startup for brand</h5>
                    <span class="fs-5">Htmlstream Ltd.</span>
                  </div>

                  <div class="d-flex justify-content-between">
                    <span class="h4 text-primary">$530.00 USD</span>
                    <span class="fs-5">15 May, 2020</span>
                  </div>
                </li>
                <!-- End List Item -->

                <!-- List Item -->
                <li class="list-group-item">
                  <div class="mb-1">
                    <h5 class="mb-0">Massive dynamic project</h5>
                    <span class="fs-5">Microsoft Corporation</span>
                  </div>

                  <div class="d-flex justify-content-between">
                    <span class="h4 text-primary">$55000.00 USD</span>
                    <span class="fs-5">14 Apr, 2020</span>
                  </div>
                </li>
                <!-- End List Item -->
              </ul>
              <!-- End List Group -->
            </div>

            <div class="tab-pane fade" id="declined" role="tabpanel" aria-labelledby="declined-tab">
              <!-- List Group -->
              <ul class="list-group list-group-flush list-group-no-gutters">
                <!-- List Item -->
                <li class="list-group-item">
                  <div class="mb-1">
                    <h5 class="mb-0">Set up a datatable for Booking.com</h5>
                    <span class="fs-5">United States-based Booking Holdings</span>
                  </div>

                  <div class="d-flex justify-content-between">
                    <span class="h4 text-primary">$7000.00 USD</span>
                    <span class="fs-5">05 May, 2020</span>
                  </div>
                </li>
                <!-- End List Item -->

                <!-- List Item -->
                <li class="list-group-item">
                  <div class="mb-1">
                    <h5 class="mb-0">Redesigning the Spotify main page</h5>
                    <span class="fs-5">Spotify Technology S.A.</span>
                  </div>

                  <div class="d-flex justify-content-between">
                    <span class="h4 text-primary">$530.00 USD</span>
                    <span class="fs-5">04 May, 2020</span>
                  </div>
                </li>
                <!-- End List Item -->

                <!-- List Item -->
                <li class="list-group-item">
                  <div class="mb-1">
                    <h5 class="mb-0">Prosperops</h5>
                    <span class="fs-5">Prosperops</span>
                  </div>

                  <div class="d-flex justify-content-between">
                    <span class="h4 text-primary">$2500.00 USD</span>
                    <span class="fs-5">15 Apr, 2020</span>
                  </div>
                </li>
                <!-- End List Item -->
              </ul>
              <!-- End List Group -->
            </div>
          </div>
          <!-- End Tab Content -->
        </div>
        <!-- End Body -->

        <!-- Card Footer -->
        <a class="card-footer text-center" href="#">
          View all invoices <i class="bi-chevron-right"></i>
        </a>
        <!-- End Card Footer -->
      </div>
      <!-- End Card -->
    </div>
  </div>






</div>

