@if (isLoading()) {

  <h1>yes</h1>

} @else {
<div class="position-relative bg-black overflow-hidden" style="background-image: url(../assets/svg/components/wave-pattern-light.svg);">
  <div class="container position-relative zi-2 content-space-t-1 content-space-t-lg-1 content-space-b-1 content-space-b-md-3">

    <div class="row align-items-lg-center">

      <div class="col-lg-6 mb-7 mb-lg-0">
        <!-- Heading -->
        <div class="mb-6">
          <h1 class="display-6 text-white">
            Aims <span style="color: red">Technology</span>
          </h1>

          <p class="lead text-white-70">Much more than a bank, Front is the ideal, fastest and most convenient financial and administrative co-driver to work with peace of mind.</p>
        </div>
        <!-- End Title & Description -->

        <div class="d-grid d-sm-flex gap-3">
          <a class="btn btn-primary btn-transition" routerLink="/login">Login</a>
          <a class="btn btn-ghost-light btn-transition" href="#">Create Account <i class="bi-chevron-right small ms-1"></i></a>
        </div>
      </div>
      <!-- End Col -->

      <div class="col-lg-6">
        <div class="position-relative">
          <!-- Browser Device -->
          <figure class="device-browser">
            <div class="device-browser-header">
              <div class="device-browser-header-btn-list">
                <span class="device-browser-header-btn-list-btn"></span>
                <span class="device-browser-header-btn-list-btn"></span>
                <span class="device-browser-header-btn-list-btn"></span>
              </div>
              <div class="device-browser-header-browser-bar">www.htmlstream.com/front/</div>
            </div>

            <div class="device-browser-frame d-flex justify-content-center">
              <div class="col-lg-8 ">

                <div class="d-grid gap-3 gap-lg-4">
                  <!-- Card -->
                  <div class="card shadow-none" >

                    <div class="card-body" style="padding-bottom: 1px">
                      <div class=" grid-page">
                        <div class="row">
                          <div class="col-3 col-lg-4 custom-hover" *ngFor="let item of items">
                            <a [routerLink]="item.link" class="card-link custom-hover">
                              <img [src]="item.icon" alt="{{ item.name }}" class="card-icon" />
                              <p style="font-size: 14px" class="text-center">{{ item.name }}</p>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End Body -->

                    <!-- Footer -->

                    <!-- End Footer -->
                  </div>
                  <!-- End Card -->



                </div>
              </div>
            </div>
          </figure>
          <!-- End Browser Device -->
          @if (isLoading()) {

              <h1>yes</h1>

          } @else {
            <h1>n0</h1>
          }
          <div class="d-none d-sm-block position-absolute bottom-0 end-0 zi-1 mb-n5 me-n5" style="max-width: 30rem;" data-aos="fade-up" data-aos-delay="100">
            <!-- Card -->
            <div class="card bg-warning" style="background-image: url(../assets/svg/components/wave-pattern-light.svg);">
              <div class="card-body">
                <h4 class="card-title">Integrate quickly</h4>
                <p class="card-text text-dark">Front lets you spend your development time on product improvements.</p>

                <!-- Avatar -->
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <img class="avatar avatar-sm avatar-circle" src="../assets/img/160x160/img3.jpg" alt="Image Description">
                  </div>
                  <div class="flex-grow-1 ms-2">
                    <h5 class="card-title mb-0">Raphael Olston</h5>
                    <p class="card-text text-dark small">Business</p>
                  </div>
                </div>
                <!-- End Avatar -->
              </div>
            </div>
            <!-- End Card -->
          </div>
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>

  <!-- Shape -->
  <div class="shape shape-bottom zi-1">
    <svg width="3000" height="500" viewBox="0 0 3000 500" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 500H3000V0L0 500Z" fill="#fff"/>
    </svg>
  </div>
  <!-- End Shape -->
</div>
<!-- End Hero -->

}

