

<main id="content" role="main">
  <!-- Hero -->
  <div class="position-relative bg-img-start" style="background-image: url(./assets/svg/components/card-11.svg);">
    <div class="container content-space-t-0 content-space-t-lg-0 content-space-b-1 content-space-b-lg-1 position-relative zi-2">
      <div class="row justify-content-lg-between align-items-md-center">
        <div class="col-md-6 col-lg-6 mb-10 mb-md-0">
          <div class="mb-5">
            <h1 class="display-4 mt-6">Aims<span style="color: red; font-weight: bolder">Technology</span> </h1>
<p class="lead" style="text-align: justify;">At Aims Technology, we specialize in transforming ideas into innovative software solutions. Our team of experienced developers is dedicated to delivering high-quality, scalable applications tailored to meet your unique needs. Whether you require custom software development, mobile app creation, or web solutions, we leverage the latest technologies to ensure your project achieves its goals. Join us on your journey to digital excellence and elevate your business with our cutting-edge solutions.</p>
          </div>

          <div class="d-flex align-items-center gap-2 mb-8">
            <a class="btn btn-primary btn-transition me-2" routerLink="/login">
             Login <i class="bi-chevron-right small ms-1"></i>
            </a>


          </div>
        </div>
        <!-- End Col -->

        <div class="col-md-6">
          <div class="row justify-content-end">
            <div class="col-3 mb-4">
              <!-- Logo -->
              <div class="d-block avatar avatar-lg rounded-circle shadow-sm p-3 mt-n3 ms-5 aos-init aos-animate" data-aos="fade-up">
                <img class="avatar-img" src="./assets/svg/brands/google-icon.svg" alt="Image Description">
              </div>
              <!-- End Logo -->
            </div>
            <div class="col-4 mb-4">
              <!-- Logo -->
              <div class="d-block avatar avatar-xl rounded-circle shadow-sm p-4 mx-auto mt-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="50">
                <img class="avatar-img" src="./assets/svg/brands/atlassian-icon.svg" alt="Image Description">
              </div>
              <!-- End Logo -->
            </div>
            <div class="col-4 mb-4">
              <!-- Logo -->
              <div class="d-block avatar avatar-xl rounded-circle shadow-sm p-4 ms-auto aos-init aos-animate" data-aos="fade-up" data-aos-delay="150">
                <img class="avatar-img" src="./assets/svg/brands/asana-icon.svg" alt="Image Description">
              </div>
              <!-- End Logo -->
            </div>
          </div>

          <div class="row">
            <div class="col-3 offset-1 my-4">
              <!-- Logo -->
              <div class="d-block avatar avatar-xl rounded-circle shadow-sm p-4 ms-auto aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <img class="avatar-img" src="./assets/svg/brands/paypal-icon.svg" alt="Image Description">
              </div>
              <!-- End Logo -->
            </div>
            <div class="col-3 offset-2 my-4">
              <!-- Logo -->
              <div class="d-block avatar avatar-xl rounded-circle shadow-sm p-4 ms-auto aos-init aos-animate" data-aos="fade-up" data-aos-delay="250">
                <img class="avatar-img" src="./assets/svg/brands/dribbble-icon.svg" alt="Image Description">
              </div>
              <!-- End Logo -->
            </div>
          </div>

          <div class="row d-none d-md-flex">
            <div class="col-6">
              <!-- Logo -->
              <div class="d-block avatar avatar-lg rounded-circle shadow-sm p-3 ms-auto aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                <img class="avatar-img" src="./assets/svg/brands/google-adz-icon.svg" alt="Image Description">
              </div>
              <!-- End Logo -->
            </div>
            <div class="col-6 mt-6">
              <!-- Logo -->
              <div class="d-block avatar avatar-xl rounded-circle shadow-sm p-4 ms-auto aos-init aos-animate" data-aos="fade-up" data-aos-delay="350">
                <img class="avatar-img" src="./assets/svg/brands/behance-icon.svg" alt="Image Description">
              </div>
              <!-- End Logo -->
            </div>
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>

    <!-- Shape -->
    <div class="shape shape-bottom zi-1">
      <svg width="3000" height="500" viewBox="0 0 3000 500" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 500H3000V0L0 500Z" fill="#fff"></path>
      </svg>
    </div>
    <!-- End Shape -->
  </div>
  <!-- End Hero -->

</main>





