<body>
<main id="content" role="main" class="bg-light">
  <!-- Breadcrumb -->
  <div class="d-none d-md-block navbar-dark bg-black" style="background-image: url(./assets/svg/components/wave-pattern-light.svg);">
    <div class=" container content-space-1 content-space-b-lg-2">
      <div class="row align-items-center">
        <div class="col">
          <div class="d-none d-lg-block">
            <h1 class=" mb-1 text-white">
              Cashbook Pro <span style="color: red; font-family: Consolas,serif"> V1.0 </span>
            </h1>
          </div>


          <!-- End Breadcrumb -->
        </div>
      </div>
      <!-- End Row -->
    </div>
  </div>
  <!-- End Breadcrumb -->

  <!-- Content -->
  <div class="container  content-space-t-lg-0 content-space-b-lg-2 mt-lg-n10">
    <div class="row">

        <div class="col-lg-6">
        <div class="row">
          <div class="col-12 mb-3" >
            <!-- Card -->
            <div class="card h-100 mt-2" >
              <div class=" container">
                <div class="row">
                  <div class="col-3 mt-2">
                    <div class="card shadow-none " style="padding-bottom: 5px">
                      <div class=" text-center">
                        <img class="imgSettings" src="./assets/icons/wifi.gif">

                        <div class="row align-items-center gx-2">
                          <div class="col">
                            <h6 class=" text-dark" >connected</h6>

                          </div>
                          <!-- End Col -->


                          <!-- End Col -->
                        </div>
                        <!-- End Row -->
                      </div>
                    </div>


                  </div>
                  <div class="col-2 mt-2">
                    <div class="card shadow-none ">
                      <div class=" text-center">
                        <a href="#">
                        <img style="width: 80%"  src="assets/custome/icon-25.svg">
                        </a>

                      </div>
                    </div>


                  </div>
                  <div class="col-2 mt-2">
                    <div class="card shadow-none ">
                      <div class=" text-center">
                        <img style="width: 80%"  src="assets/custome/icon-31.svg">


                      </div>
                    </div>


                  </div>
                  <div class="col-2 mt-2">
                    <div class="card shadow-none ">
                      <div class=" text-center">
                        <img style="width: 80%"  src="assets/custome/icon-37.svg">


                      </div>
                    </div>


                  </div>
                  <div class="col-2 mt-2">
                    <div class="card shadow-none ">
                      <div class=" text-center">
                        <img style="width: 80%"  src="assets/custome/icon-32.svg">


                      </div>
                    </div>


                  </div>
                </div>
                <!-- End Row -->
              </div>
            </div>
            <!-- End Card -->
          </div>



        </div>
        <!-- Navbar -->
        <div class="navbar-expand-sm navbar-light">

          <div id="sidebarNav" class="collapse navbar-collapse navbar-vertical">
            <!-- Card -->
            <div class="card flex-grow-1 mb-2">
              <div class="card-body">
<div class="row text-center">
  <div class="col-4">
    <h4>Cash In</h4>
    <h4>0000</h4>
  </div>
  <div class="col-4">
    <h4>Cash Out</h4>
    <h4>0000</h4>
  </div>
  <div class="col-4">
    <h4>Balance</h4>
    <h4>0000</h4>
  </div>
</div>
                <!-- Nav -->
                <div class="row col-lg-divider">


                  <div class="col-lg-3 custom-hover custom-hover" style="">
                    <!-- Card -->
                    <div class="text-center">
                      <a routerLink="/backupDataPassword">
                      <img class="avatar avatar-lg  mb-0 " src="assets/custome/icon-44.svg" alt="Image Description" data-hs-theme-appearance="default" style="min-height: 6rem;">
                         <span class=" text-body ">Backup Data</span>


                      </a>
                      <!-- End Row -->
                    </div>
                    <!-- End Card -->
                  </div>

                  <div class="col-lg-3 custom-hover"><!-- Card -->

                    <div class="text-center">
                      <a routerLink="/statistics">
                      <img class="avatar avatar-lg mb-1" src="assets/custome/icon-22.svg" alt="Image Description" data-hs-theme-appearance="default" style="min-height: 6rem;">
                      <span class=" text-body">Statistics</span>
                      </a>
                      <!-- End Row -->
                    </div>
                    <!-- End Card -->
                  </div>

                  <div class="col-lg-3 custom-hover">
                    <!-- Card -->
                    <div class="text-center" routerLink='/createUser' style="cursor: pointer;">
                      <img
                        class="avatar avatar-lg mb-1"
                        src="assets/custome/icon-7.svg"
                        alt="Image Description"
                        data-hs-theme-appearance="default"
                        style="min-height: 6rem;"
                      >
                      <span class="text-body">Create User</span>
                      <!-- End Row -->
                    </div>
                    <!-- End Card -->
                  </div>


                  <div class="col-lg-3 custom-hover">
                    <!-- Card -->
                    <div class="text-center">
                      <a routerLink="/database">
                      <img class="avatar avatar-lg  mb-0" src="assets/custome/icon-22.svg" alt="Image Description" data-hs-theme-appearance="default" style="min-height: 6rem;">
                      </a>
                      <span class=" text-body">Database</span>



                      <!-- End Row -->
                    </div>
                    <!-- End Card -->
                  </div>


                </div>


<div class="row">

  <div class="col-3 d-flex justify-content-center align-items-center mt-5"><img style="width: 80%" src="../assets/icons/loading.gif"> </div>
  <div class="col-9">  <div class="col-md">
    <!-- List -->
    <ul class="list-unstyled list-py-1 mb-0 mt-5">
      <!-- Review Ratings -->
      <li class="d-flex align-items-center fs-6">
        <span class="me-3">5 star</span>
        <div class="progress flex-grow-1">
          <div class="progress-bar" role="progressbar" style="width: 82%;" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <span class="ms-3">4</span>
      </li>
      <!-- End Review Ratings -->

      <!-- Review Ratings -->
      <li class="d-flex align-items-center fs-6">
        <span class="me-3">4 star</span>
        <div class="progress flex-grow-1">
          <div class="progress-bar" role="progressbar" style="width: 18%;" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <span class="ms-3">3</span>
      </li>
      <!-- End Review Ratings -->



      <!-- Review Ratings -->
      <li class="d-flex align-items-center fs-6">
        <span class="me-3">2 star</span>
        <div class="progress flex-grow-1">
          <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <span class="ms-3">0</span>
      </li>
      <!-- End Review Ratings -->

      <!-- Review Ratings -->

      <!-- End Review Ratings -->
    </ul>
    <!-- End List -->
  </div></div>
</div>



                <div class="d-lg-none">
                  <div class="dropdown-divider"></div>

                  <!-- List -->
                  <ul class="nav nav-sm nav-tabs nav-vertical">
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <i class="bi-box-arrow-right nav-icon"></i> Log out
                      </a>
                    </li>
                  </ul>
                  <!-- End List -->
                </div>
                <!-- End Nav -->
              </div>
            </div>
            <!-- End Card -->
          </div>
        </div>
        <!-- Card -->
        <div class="">
          <div class="w-lg-100">
            <!-- Card -->
            <div class="card">
              <div class="">
<div class="row">




</div>
              </div>
            </div>
            <!-- End Card -->
          </div>
        </div>

      </div>





      <div class="col-lg-6">

        <div class="d-grid gap-3 gap-lg-4">
          <!-- Card -->
          <div class="card shadow-none" >

            <div class="card-body" style="padding-bottom: 1px">
              <div class=" grid-page">
                <div class="row">
                  <div class="col-4 col-lg-3 custom-hover" *ngFor="let item of items">
                    <a [routerLink]="item.link" class="card-link custom-hover">
                      <img [src]="item.icon" alt="{{ item.name }}" class="card-icon" />
                      <p style="font-size: 14px" class="">{{ item.name }}</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Body -->

            <!-- Footer -->

            <!-- End Footer -->
          </div>
          <!-- End Card -->



        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Content -->
</main>
</body>


