

<main id="content" role="main" class="main">
  <!-- Content -->
  <div class="bg-black">
    <div class="content container-fluid" style="height: 22rem;">
      <!-- Page Header -->
      <div class="page-header page-header-light">
        <div class="row align-items-center">

          <div class="col">

          </div>

          <div class="col-auto">
            <!-- Daterangepicker -->
            <button id="js-daterangepicker-predefined" class="btn btn-ghost-light btn-sm dropdown-toggle">
              <i class="bi-calendar-week"></i>
              <span class="js-daterangepicker-predefined-preview ms-1">Feb 15 - Feb 15, 2025</span>
            </button>
            <!-- End Daterangepicker -->
          </div>
          <!-- End Col -->
        </div>
        <!-- <div class="col">
           <h1 class=" mb-1 text-white">
           Cashbook Pro <span style="color: red; font-family: Consolas,serif"> V1.0 </span>
         </h1></div>-->
        <div class="js-nav-scroller hs-nav-scroller-horizontal">
            <span class="hs-nav-scroller-arrow-prev hs-nav-scroller-arrow-dark-prev" style="display: none;">
              <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                <i class="bi-chevron-left"></i>
              </a>
            </span>

          <span class="hs-nav-scroller-arrow-next hs-nav-scroller-arrow-dark-next" style="display: none;">
              <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                <i class="bi-chevron-right"></i>
              </a>
            </span>

        </div>
        <!-- End Nav Scroller -->
      </div>
      <!-- End Page Header -->
    </div>
  </div>
  <!-- End Content -->

  <!-- Content -->
  <div class="content container-fluid" style="margin-top: -17rem;">
    <!-- Card -->
    <div class="card mb-3 mb-lg-5">
      <!-- Header -->

      <!-- End Header -->

      <!-- Body -->
      <div class="card-body">
        <div class="row ">
          <div class="col-6 col-sm-3 mb-5 mb-lg-0">
            <!-- Stats -->
            <div class="d-lg-flex align-items-md-center">
              <div class="flex-shrink-0">
                <i class="bi-database fs-1 text-primary"></i>
              </div>

              <div class="flex-grow-1 ms-lg-3">
                <span class="d-block fs-6">Database</span>
                <div class="d-flex align-items-center">
                  <h3 class="mb-0">34,413</h3>
                  <span class="badge bg-soft-success text-success ms-2">
                      <i class="bi-graph-up"></i> 12.5%
                    </span>
                </div>
              </div>
            </div>
            <!-- End Stats -->
          </div>
          <div class="col-6 col-sm-3 mb-5 mb-lg-0">
            <!-- Stats -->
            <div class="d-lg-flex align-items-md-center">
              <div class="flex-shrink-0">
                <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>

              <div class="flex-grow-1 ms-lg-3">
                <span class="d-block fs-6">Network Connection</span>
                <div class="d--flex align-items-center">
                  <h3 class="mb-0" *ngIf="isOnline; else offlineTemplate" >online</h3>
                  <div class="network-status">
                  <ng-template #offlineTemplate>
                    <h3 class="mb-0">offline</h3>
                  </ng-template>
                </div>

                  <!-- Other content of your menu component -->

                </div>
              </div>
            </div>
            <!-- End Stats -->
          </div>

          <div class="col-6 col-sm-3">
            <!-- Stats -->
            <div class="d-lg-flex align-items-md-center">
              <div class="flex-shrink-0">
                <i class="bi-clock-history fs-1 text-primary"></i>
              </div>

              <div class="flex-grow-1 ms-lg-3">
                <span class="d-block fs-6">StandBy</span>
                <div class="d--flex align-items-center">
                  <h3 class="mb-0"><app-stand-by></app-stand-by></h3>
                </div>
              </div>
            </div>
            <!-- End Stats -->
          </div>

          <div class="col-6 col-sm-3">
            <!-- Stats -->
            <div class="d-lg-flex align-items-md-center">
              <div class="flex-shrink-0">
                <i class="bi-lock-fill fs-1 text-primary"></i>
              </div>

              <div class="flex-grow-1 ms-lg-3">
                <span class="d-block fs-6">Authorization</span>
                <div class="d--flex align-items-center">
                  <h3 class="mb-0"><app-access-password ></app-access-password></h3>
                </div>
              </div>
            </div>
            <!-- End Stats -->
          </div>
        </div>
        <!-- End Row -->


      </div>
      <!-- End Body -->



    </div>
    <!-- End Card -->

    <div class="row " style="margin-top: -19px">

      <div class="col-lg-4 mb-3 mb-lg-5">
       <!-- <app-balance></app-balance>-->


        <div class="card h-100">

          <div class="card-body ">

            <div class="h3">

                <span class="badge bg-soft-info text-info rounded-pill">
                  <i class="bi-check-circle-fill me-1"></i> On track
                </span>
            </div>
            <!-- End Badge -->

            <div class="row row-cols-2 gx-3">
              <div class="col mb-3">
                <!-- Card -->
                <div class="card card-sm card-bordered shadow-none h-100">
                  <div class="">
                    <h6 class="card-title">About a </h6>
                  </div>

                  <div class="card-footer pt-0">
                    <span class="card-subtitle">43%</span>

                    <div class="progress" style="height: 8px;">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 43%" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <!-- End Card -->
              </div>
              <!-- End Col -->

              <div class="col mb-3">
                <!-- Card -->
                <div class="card card-sm card-bordered shadow-none h-100">
                  <div class="">
                    <h6 class="card-title">About a week</h6>
                  </div>

                  <div class="card-footer pt-0">
                    <span class="card-subtitle">28%</span>

                    <div class="progress" style="height: 8px;">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 28%" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <!-- End Card -->
              </div>
              <!-- End Col -->


              <!-- End Col -->
            </div>
            <hr>

            <app-total-credited class="my-3"></app-total-credited>
            <app-total-debited class="my-3"></app-total-debited>
          </div>
          <!-- End Body -->
        </div>
        <!-- End Card -->
      </div>
      <div class="col-lg-8 mb-3 mb-lg-5">
        <!-- Card -->
        <div class="card h-100">


          <!-- Body -->
          <div class="card-body card-body-height">
            <h4 class="card-header-title mb-3">Latest transactions</h4>
            <div class=" grid-page">
              <div class="row">
                <div class="col-4 col-lg-3 custom-hover" *ngFor="let item of items">
                  <a [routerLink]="item.link" class="card-link custom-hover">
                    <img [src]="item.icon" alt="{{ item.name }}" class="card-icon" />
                    <p style="font-size: 14px" class="">{{ item.name }}</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- End Body -->
        </div>
        <!-- End Card -->
      </div>

    </div>
    <!-- End Row -->


  </div>

</main>



