<main id="content" role="main" class="main">
  @if (isLoading()) {
<app-loading></app-loading>
  } @else {
  <div class="bg-black">
    <div class="content container-fluid" style="height: 22rem;">
      <!-- Page Header -->
      <div class="page-header page-header-light">
        <div class="row align-items-center">

          <div class="col">

          </div>

          <div class="col-auto">

            <button id="js-daterangepicker-predefined" class="btn btn-ghost-light btn-sm dropdown-toggle">
              <i class="bi-calendar-week"></i>
              <span class="js-daterangepicker-predefined-preview ms-1">Feb 15 - Feb 15, 2025</span>
            </button>
            <!-- End Daterangepicker -->
          </div>
          <!-- End Col -->
        </div>

        <div class="js-nav-scroller hs-nav-scroller-horizontal">
            <span class="hs-nav-scroller-arrow-prev hs-nav-scroller-arrow-dark-prev" style="display: none;">
              <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                <i class="bi-chevron-left"></i>
              </a>
            </span>

          <span class="hs-nav-scroller-arrow-next hs-nav-scroller-arrow-dark-next" style="display: none;">
              <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                <i class="bi-chevron-right"></i>
              </a>
            </span>

        </div>
        <!-- End Nav Scroller -->
      </div>
      <!-- End Page Header -->
    </div>
  </div>
  <!-- End Content -->

  <div class="content container-fluid" style="margin-top: -17rem;">
    <!-- Card -->
    <div class="card mb-3 mb-lg-5">
      <!-- Header -->

      <!-- End Header -->

      <!-- Body -->
      <div class="card-body">
        <div class="row ">
          <div class="col-6 col-sm-3 mb-5 mb-lg-0">
            <!-- Stats -->
            <div class="d-lg-flex align-items-md-center">
              <div class="flex-shrink-0">
                <div class="col-6">
                  <!-- Form Switch -->
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="connectedAccounts4" checked="">
                    <label class="form-check-label" for="connectedAccounts4"></label>
                  </div>
                  <!-- End Form Switch -->
                </div>
               <h5 class="text-center">Windows  </h5>
              </div>


            </div>
            <!-- End Stats -->
          </div>
          <div class="col-6 col-sm-3 mb-5 mb-lg-0">
            <!-- Stats -->
            <div class="d-lg-flex align-items-md-center">
              <div class="flex-shrink-0">
                <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>

              <div class="flex-grow-1 ms-lg-3">
                <span class="d-block fs-6">Network Connection</span>
                <div class="d--flex align-items-center">
                  <h3 class="mb-0" *ngIf="isOnline; else offlineTemplate">online</h3>
                  <div class="network-status">
                    <ng-template #offlineTemplate>
                      <h3 class="mb-0">offline</h3>
                    </ng-template>
                  </div>

                  <!-- Other content of your menu component -->

                </div>
              </div>
            </div>
            <!-- End Stats -->
          </div>

          <div class="col-6 col-sm-3">
            <!-- Stats -->
            <div class="d-lg-flex align-items-md-center">
              <div class="flex-shrink-0">
                <i class="bi-clock-history fs-1 text-primary"></i>
              </div>

              <div class="flex-grow-1 ms-lg-3">
                <span class="d-block fs-6">StandBy</span>
                <div class="d--flex align-items-center">
                  <h3 class="mb-0">
                    <app-stand-by></app-stand-by>
                  </h3>
                </div>
              </div>
            </div>
            <!-- End Stats -->
          </div>

          <div class="col-6 col-sm-3">
            <!-- Stats -->
            <div class="d-lg-flex align-items-md-center">
              <div class="flex-shrink-0">
                <i class="bi-lock-fill fs-1 text-primary"></i>
              </div>

              <div class="flex-grow-1 ms-lg-3">
                <span class="d-block fs-6">Authorization</span>
                <div class="d--flex align-items-center">
                  <h3 class="mb-0">
                   <!-- <app-access-password></app-access-password>-->
                  </h3>
                </div>
              </div>
            </div>
            <!-- End Stats -->
          </div>
        </div>
        <!-- End Row -->


      </div>
      <!-- End Body -->


    </div>
    <!-- End Card -->

    <div class="row " style="margin-top: -19px">

      <div class="col-lg-4 mb-3 mb-lg-5">
        <div class="card" style="height: 200px">

          <div class="card-body ">
            <div class="h3">

                <span class="badge bg-soft-info text-info rounded-pill">
                  <i class="bi-check-circle-fill me-1"></i> On track
                </span>
            </div>
            <app-total-credited class="my-3"></app-total-credited>

          </div>
          <!-- End Body -->
        </div>
        <app-integration></app-integration>
      </div>
      <div class="col-lg-8 mb-3 mb-lg-5">
        <app-menu-items></app-menu-items>
      </div>


    </div>
    <!-- End Row -->

    <button (click)="addData()">Add Data</button>

  </div>
  }

</main>


