
<div class="row">
  <div class="col-6" ><img class="mt-3" style="max-width: 90%" [src]="randomImageUrl"></div>
  <div class="col-6"><div class="col-md-12 col-lg-12 aos-init aos-animate" data-aos="fade-up" data-aos-duration="850" data-aos-offset="150" data-disable-parallax-down="lg">
    <h1 class=" display-5 mb-1 text-dark text-center ">
      Aims <span style="color: red; font-family: Consolas,serif"> Technology </span>
    <h2> Download our apps for any devices </h2>
    </h1>

    <div class="d-flex justify-content-between mx-auto mx-md-0" style="max-width: 450px;">
      <div class="pe-3">
        <p class="text-body-secondary mb-2">App Store</p>
        <div class="d-flex mb-3">
          <i class="ai-star-filled text-warning me-1"></i>
          <i class="ai-star-filled text-warning me-1"></i>
          <i class="ai-star-filled text-warning me-1"></i>
          <i class="ai-star-filled text-warning me-1"></i>
          <i class="ai-star-filled text-warning"></i>
        </div>
        <h3 class="h4 mb-1">Editor's Choice</h3>
        <p class="pb-2 pb-sm-3 pb-md-4 pb-xl-5">rating 4.7, 187K+ reviews</p>
        <a class="btn btn-dark btn-lg px-3 py-2" href="#">
          <img class="d-dark-mode-none mx-1" src="assets/img/market/appstore-light.svg" width="136" alt="App Store">
          <img class="d-none d-dark-mode-block mx-1" src="assets/img/market/appstore-dark.svg" width="136" alt="App Store">
        </a>
      </div>
      <div class="border-end"></div>
      <div class="ps-3">
        <p class="text-body-secondary mb-2">Google Play</p>
        <div class="d-flex mb-3">
          <i class="ai-star-filled text-warning me-1"></i>
          <i class="ai-star-filled text-warning me-1"></i>
          <i class="ai-star-filled text-warning me-1"></i>
          <i class="ai-star-filled text-warning me-1"></i>
          <i class="ai-star-filled text-warning"></i>
        </div>
        <h3 class="h4 mb-1">Editor's Choice</h3>
        <p class="pb-2 pb-sm-3 pb-md-4 pb-xl-5">rating 4.7, 187K+ reviews</p>
        <a class="btn btn-dark btn-lg px-3 py-2" href="#">
          <img class="d-dark-mode-none mx-1" src="assets/img/market/googleplay-light.svg" width="135" alt="Google Play">
          <img class="d-none d-dark-mode-block mx-1" src="assets/img/market/googleplay-dark.svg" width="135" alt="Google Play">
        </a>
      </div>
    </div>
  </div></div>
</div>


