

<main id="content1" role="main" class="bg-light">
  <!-- Breadcrumb -->
  <div class="navbar-dark bg-black" style="background-image: url(./assets/svg/components/wave-pattern-light.svg);">
    <div class="container content-space-1 content-space-b-lg-2">
      <div class="row align-items-center">
        <div class="col">
          <div class="d-none d-lg-block">
            <h1 class="h2 text-white">Database</h1>
          </div>


          <!-- End Breadcrumb -->
        </div>
        <!-- End Col -->

        <div class="col-auto">
          <div class="d-none d-lg-block">
            <a class="btn btn-danger" routerLink="/menu">Close</a>
          </div>

          <!-- Responsive Toggle Button -->
          <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-default">
                <i class="bi-list"></i>
              </span>
            <span class="navbar-toggler-toggled">
                <i class="bi-x"></i>
              </span>
          </button>
          <!-- End Responsive Toggle Button -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
  </div>
  <!-- End Breadcrumb -->

  <!-- Content -->
  <div class="container  content-space-t-lg-0 content-space-b-lg-2 mt-lg-n10">
    <div class="row">


      <div class="col-lg-12">
        <div class="d-grid gap-3 gap-lg-5">

          <div class="card container">
            <!-- Header -->
            <div class="">

              <img src="../assets/icons/img.gif" style="width: 120px">
            </div>
            <!-- End Header -->

            <!-- Table -->
            <div class="table-responsive">
              <table  style="font-size: 18px" class="table table-borderless table-thead-bordered table-nowrap table-align-middle">
                <thead class="thead-light">
                <tr>
                  <th style="width: 30%">Collection</th>


                  <th class="text-center" style="width: 20%">Documents / Files</th>
                  <th style="width: 13%">Used</th>
                  <th style="width: 13%">Free</th>
                  <th style="width: 13%">Available</th>


                  <th></th>
                </tr>
                </thead>

                <tbody>

                <tr>
                  <td><a href="#">Transactions</a></td>
                  <td class="text-center">0</td>
                  <td>0%</td>
                  <td>100%</td>
                  <td>20,000 writes</td>
                  <td>   <button type="button" class="btn btn-outline-danger " routerLink="/coming-soon" style="border-radius: 5px">Upgrade</button></td>
                </tr>
                <tr>
                  <td><a href="#">User Account</a></td>
                  <td class="text-center">0</td>
                  <td>0%</td>
                  <td>100%</td>
                  <td>20 Accouts</td>
                  <td>   <button type="button" class="btn btn-outline-danger " routerLink="/coming-soon" style="border-radius: 5px">Upgrade</button></td>
                </tr>
                <tr>
                  <td><a href="#">Logins</a></td>
                  <td class="text-center">0</td>
                  <td>0%</td>
                  <td>100%</td>
                  <td>100,000 uses</td>
                  <td>   <button type="button" class="btn btn-outline-danger " routerLink="/coming-soon" style="border-radius: 5px">Upgrade</button></td>
                </tr>
                <tr>
                  <td><a href="#">Cloud Storage</a></td>
                  <td class="text-center">0</td>
                  <td>0%</td>
                  <td>100%</td>
                  <td>1.00 GB storage</td>
                  <td>   <button type="button" class="btn btn-outline-danger " routerLink="/coming-soon" style="border-radius: 5px">Upgrade</button></td>
                </tr>


                </tbody>
              </table>
            </div>
            <!-- End Table -->
          </div>
        </div>
        <!-- End Card -->



      </div>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->

  <!-- End Content -->
</main>










