<!-- List Directory -->
<div id="openRolesSection" class="container content-space-1">
  <!-- Heading -->
  <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
    <h2>Current opportunities</h2>
    <p>We’re a truly global team with 17 offices around the world.</p>
  </div>
  <!-- End Heading -->

  <!-- Form -->
  <form>
    <div class="row gx-2 gx-md-3 mb-7">


      <div class="col-sm-6 col-md-4 mb-2 mb-sm-0">
        <label class="form-label visually-hidden" for="locationsJobCareers">Select location</label>

        <!-- Select -->
        <select class="form-select form-select-lg" id="locationsJobCareers" aria-label="Select location">
          <option selected>All locations</option>
          <option value="1">London</option>
          <option value="2">San Francisco</option>
          <option value="3">Others</option>
        </select>
        <!-- End Select -->
      </div>
      <!-- End Col -->

      <div class="col-sm-6 col-md-4 mb-2">
        <label class="form-label visually-hidden" for="departmentsJobCareers">Select department</label>

        <!-- Select -->
        <select class="form-select form-select-lg" id="departmentsJobCareers" aria-label="Select department">
          <option selected>All departments</option>
          <option value="1">Software Development</option>
          <option value="2">Sales</option>
          <option value="3">Business strategy</option>
          <option value="4">Design</option>
        </select>
        <!-- End Select -->
      </div>
      <div class="col-sm-6 col-md-4 mb-2 mb-sm-0">
        <label class="form-label visually-hidden" for="locationsJobCareers">Select location</label>

        <!-- Select -->
        <select class="form-select form-select-lg" id="locationsJobCareers" aria-label="Select location">
          <option selected>All locations</option>
          <option value="1">London</option>
          <option value="2">San Francisco</option>
          <option value="3">Others</option>
        </select>
        <!-- End Select -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </form>
  <!-- End Form -->

  <button type="button" class="btn btn-ghost-secondary">
    <i class="bi-bell me-1"></i> Create alert
  </button>
</div>
<!-- End List Directory -->
