
<div class="container">
  <div class="container content-space-2">
    <div class="w-lg-85 mx-lg-auto">
      <!-- Card -->

      <div class="card card-lg mb-5">
        <div class="card-body">
         <h1 class="text-center display-4"> AHIZGroup</h1>

          <div class="row justify-content-lg-between">
            <div class="col-sm order-2 order-sm-1 mb-3">


              <h1 class="h2 text-primary">Front Inc.</h1>
              <div class="mb-2">
                <img class="avatar" src="avatar/img_1.png" alt="Logo" style=" height:120px; width: auto">
              </div>
            </div>
            <!-- End Col -->

            <div class="col-sm-auto order-1 order-sm-2 text-sm-end mb-3">
              <div class="mb-3">
                <span class="d-block">refrence</span>
                <h2>344egeut6656</h2>

              </div>


            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->

          <div class="row justify-content-md-between mb-3">

            <div class="col-md text-md-end">
              <dl class="row">
                <dt class="col-sm-8">Invoice date:</dt>
                <dd class="col-sm-4">03/10/2018</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-8">Due date:</dt>
                <dd class="col-sm-4">03/11/2018</dd>
              </dl>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->

          <!-- Table -->
          <div class="table-responsive">
            <table class="table table-borderless table-nowrap table-align-middle">
              <thead class="thead-light">
              <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th class="table-text-end">Amount</th>
              </tr>
              </thead>

              <tbody>
              <tr>
                <th>Design UX and UI</th>
                <td>1</td>
                <td>5</td>
                <td class="table-text-end">$500</td>
              </tr>

              <tr>
                <th>Web project</th>
                <td>1</td>
                <td>24</td>
                <td class="table-text-end">$1250</td>
              </tr>

              <tr>
                <th>SEO</th>
                <td>1</td>
                <td>6</td>
                <td class="table-text-end">$2000</td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- End Table -->

          <hr class="my-5">

          <div class="row justify-content-md-end mb-3">
            <div class="col-md-8 col-lg-7">
              <dl class="row text-sm-end">
                <dt class="col-sm-6">Subtotal:</dt>
                <dd class="col-sm-6">$2750.00</dd>
                <dt class="col-sm-6">Total:</dt>
                <dd class="col-sm-6">$2750.00</dd>
                <dt class="col-sm-6">Tax:</dt>
                <dd class="col-sm-6">$39.00</dd>
                <dt class="col-sm-6">Amount paid:</dt>
                <dd class="col-sm-6">$2789.00</dd>
                <dt class="col-sm-6">Due balance:</dt>
                <dd class="col-sm-6">$0.00</dd>
              </dl>
              <!-- End Row -->
            </div>
          </div>
          <!-- End Row -->

          <div class="mb-3">
            <h3>Thank you!</h3>
            <p>If you have any questions concerning this invoice, use the following contact information:</p>
          </div>

          <p class="small mb-0">© 2021 Htmlstream.</p>
        </div>
      </div>
      <!-- End Card -->

      <!-- Footer -->
      <div class="d-flex justify-content-end d-print-none gap-3">
        <a class="btn btn-white" href="#">
          <i class="bi-file-earmark-arrow-down me-1"></i> PDF
        </a>

        <a class="btn btn-primary" href="javascript:;" onclick="window.print(); return false;">
          <i class="bi-printer me-1"></i> Print details
        </a>
      </div>
      <!-- End Footer -->
    </div>
  </div>
  <!--div class="row mt-5">

    @for(item of items; track item){

      <div class="col-12 col-md-4">
        {{item.title}}
        <div class="card" >
          <div class="card-body">


            <h2 class="card-text">{{item.amount}}</h2>

            <h6>{{item.detail}}</h6>
          </div>
        </div>
      </div>
    }
  </div>-->
</div>


<div class="container mt-5">
  <div class="mt-3  mb-3">
  <button style="width: 150px" type="button" class="btn btn-primary mx-3 mb-2" routerLink="/addInvoice" >Add New Invoice</button>
  <button style="width: 150px" type="button" class="btn btn-primary mx-3 mb-2" routerLink="/customers" >View Customers</button>
  <button style="width: 170px" type="button" class="btn btn-primary mb-2" routerLink="/addCustomer" >Add New Customer</button>
  </div>
  <table class="table caption-top">
    <thead>
    <tr>
      <th scope="col">SN</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Invoice NO.</th>
      <th scope="col">Amount Paid</th>
      <th scope="col">Balance outstanding</th>
      <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let invoice of paginatedInvoices; let i = index">
      <th scope="row">{{ (currentPage - 1) * itemsPerPage + (i + 1) }}</th>
      <td>{{invoice.customerName}}</td>
      <td>{{invoice.invoice}}</td>
      <td>{{invoice.amountPaid | currency: '₦'}}</td>
      <td>{{invoice.balanceOutstanding | currency: '₦'}}</td>
      <td>
        <button type="button" class="btn btn-success" [routerLink]="['/invoiceDetails']" [queryParams]="{ id: invoice.id }">
          Edit
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Pagination Controls -->
  <nav class="mt-5" aria-label="...">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="onPageChange(currentPage - 1)" href="javascript:void(0)">Previous</a>
      </li>
      <li class="page-item" *ngFor="let page of [].constructor(Math.ceil(invoice.length / itemsPerPage)); let i = index">
        <a class="page-link" href="javascript:void(0)" (click)="onPageChange(i + 1)">{{ i + 1 }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === Math.ceil(invoice.length / itemsPerPage)">
        <a class="page-link" (click)="onPageChange(currentPage + 1)" href="javascript:void(0)">Next</a>
      </li>
    </ul>
  </nav>
</div>

