




/* Modal content (box that holds the description) */
/* Default modal styling for small screens (mobile-first approach) */
.modal-content {
  padding: 10px;
  border-radius: 5px;
  max-width: 550px; /* Makes it 90% width on small screens */

  height: 90vh;
  overflow-y: hidden;
}






.upload-container {
  text-align: center;
  margin: 20px;
}






.card-bodyOption {
  max-height: 680px;  /* You can adjust the height to your needs */

}
.custom-header {
  padding-top: 5px;  /* Reduce the top padding */
  padding-bottom: 5px; /* Reduce the bottom padding */
}

.card-header .row {
  margin-bottom: 0 !important; /* Remove margin between rows */
}

.card-header .btn {
  /* Reduce button padding */
}

.card-header img {
  width: 35px; /* Adjust image size if needed */
  height: 35px; /* Adjust image size if needed */
}
.custom-header {
  position: sticky;
  top: 0;  /* Stick to the top of the page/container */
  z-index: 1000;  /* Ensure the header stays on top of other content */
  background-color: white;  /* Optional: set a background color to prevent content underneath from showing through */
  /* Optional: adds a subtle shadow for better visibility */
}




.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
}



/* Optional: You can add some styles for the buttons */
button {
  cursor: pointer;
}






.card-body-height{
  height: 80vh;
}
.custom-hover-btn:hover {
  background-color: black; /* Primary color (Bootstrap default primary color) */
  color: white; /* Text color on hover */
  border-color:black; /* Optional: add border color to match */
}


