<div class="container mt-4">
  <div class="notepad-container p-3 border rounded bg-light">
    <div class="row">
      <div class="col-12 col-md-5"><div class="toolbar d-flex flex-wrap gap-1 mb-3">
        <button class="btn custom-btn" (click)="undo()">
          <img src="apps/notepad/undo.svg" alt="Undo">
        </button>

        <button class="btn custom-btn" (click)="redo()">
          <img src="apps/notepad/redo.svg" alt="Redo">
        </button>

        <input type="text" class="form-control form-control-sm w-50" [(ngModel)]="searchText" placeholder="Search text" />

        <button class="btn custom-btn" (click)="search()">
          <img src="apps/notepad/search.svg" alt="Search">
        </button>

        <button class="btn custom-btn" (click)="prevMatch()" [disabled]="searchResults.length === 0">
          <img src="apps/notepad/previous.svg" alt="Previous">
        </button>

        <button class="btn custom-btn" (click)="nextMatch()" [disabled]="searchResults.length === 0">
          <img src="apps/notepad/next.svg" alt="Next">
        </button>

        <div *ngIf="searchResults.length > 0" class="ms-2 text-nowrap">
          Match {{ currentSearchIndex + 1 }} of {{ searchResults.length }}
        </div>


      </div></div>
      <div class="col-md-4">
        <div class="row mb-3">
          <div class="col-auto"><label class="mt-2">Font Size:</label></div>

          <div class="col-8"> <select style="width: 100px;" class="form-select form-select-sm" [(ngModel)]="fontSize">
          <option *ngFor="let size of fontSizes" [value]="size">{{ size }}px</option>
        </select>
          </div>


      </div></div>
    </div>


    <textarea id="textArea" class="form-control" [(ngModel)]="textContent" (input)="saveState()" [style.fontSize.px]="fontSize"></textarea>
  </div>
</div>

