<div id="twoStepVerificationSection" class="card">
  <div class="card-header">
    <div class="d-flex align-items-center">
      <h4 class="mb-0">Two-step verification</h4>
      <span class="badge bg-soft-danger text-danger ms-2">Disabled</span>
    </div>
  </div>

  <!-- Body -->
  <div class="card-body">
    <p class="card-text">Start by entering your password so that we know it's you. Then we'll walk you through two more simple steps.</p>

    <form>
      <!-- Form -->
      <div class="row mb-4">
        <label for="accountPasswordLabel" class="col-sm-3 col-form-label form-label">Account password</label>

        <div class="col-sm-9">
          <input type="password" class="form-control" name="currentPassword" id="accountPasswordLabel" placeholder="Enter current password" aria-label="Enter current password">
          <small class="form-text">This is the password you use to log in to your Front account.</small>
        </div>
      </div>
      <!-- End Form -->

      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Set up</button>
      </div>
    </form>
  </div>
  <!-- End Body -->
</div>
