<div class="gradient-x-three-sm-primary">
  <div class="container content-space-1">
    <h1 class="mb-1 mt-1">Database Records</h1>
    <form>


    <div class="row">
      <div class="col-12 col-lg-8"><div class="input-card input-card-sm mb-3">
        <div class="input-card-form">
          <label for="jobTitleForm" class="form-label visually-hidden">Enter data......</label>
          <div class="input-group input-group-merge">
                <span class="input-group-prepend input-group-text">
                  <i class="bi-search"></i>
                </span>
            <input type="text" class="form-control" id="jobTitleForm" placeholder="Enter data to search" aria-label="Job, title, skills, or company">
          </div>
        </div>


        <button type="button" class="btn btn-primary">Search</button>
      </div></div>
      <div class="col-12 col-lg-4">
        <div class="tom-select-custom" >
          <select class="js-select form-select" autocomplete="off"
                  data-hs-tom-select-options='{
          "placeholder": "Select a person...",
          "hideSearch": true
        }' style="border-radius: 5px; height: 60px">
            <option value="">Any........</option>
            <option value="date">Date</option>
            <option value="description">Description</option>
            <option value="amount">Amount</option>
            <option value="payee">Payee</option>
          </select>
        </div>

      </div>
    </div>


    </form>


  </div>
</div>
<div class="container">

  <table class="table">
    <thead>
    <tr>
      <th>Date</th>
      <th>Account</th>
      <th>Reference Number</th>
      <th>Description</th>
      <th>Payee</th>
      <th>Amount</th>
      <th>Payment Mode</th>
      <th>Type</th>
    </tr>
    </thead>
    <tbody>
    <tr>

    </tr>
    </tbody>
  </table>
</div>
