<div class="card">

  <div class="card-body">

    <ul class="list-checked list-checked-lg list-checked-bg-primary">
      <li class="list-checked-item">
        <strong>Integrity:</strong> Upholding the highest ethical standards in education, research, and community
        engagement, ensuring transparency and accountability in all our actions.
      </li>
      <li class="list-checked-item">
        <strong>Sustainability:</strong> Committing to practices that promote environmental stewardship, resource
        conservation, and the long-term health of aquatic ecosystems.
      </li>
      <li class="list-checked-item">
        <strong>Innovation:</strong> Fostering a culture of creativity and adaptability, encouraging new ideas and
        technologies that enhance fisheries practices and education.
      </li>
      <li class="list-checked-item">
        <strong>Collaboration:</strong> Building strong partnerships with industries, communities, and stakeholders to
        promote knowledge sharing and collective efforts in fisheries development.
      </li>
      <li class="list-checked-item">
        <strong>Excellence:</strong> Striving for the highest quality in our academic programs, research initiatives,
        and community services, ensuring that our graduates are well-prepared for their careers.
      </li>
      <li class="list-checked-item">
        <strong>Inclusivity:</strong> Embracing diversity and promoting equal opportunities in education and
        professional development for all individuals interested in fisheries studies.
      </li>
    </ul>
  </div>
</div>
