<div class="card mt-2">


  <!-- End Header -->

  <!-- Body -->
  <div class="card-boddy p-3">
    <h4 class="card-header-title mb-2">Quick links</h4>

    <ul class="list-group list-group-flush list-group-no-gutters">

      <!-- List Group Item -->
      <li class="list-group-item">
        <div class="d-flex">
          <div class="flex-shrink-0">
            <img class="avatar avatar-xs avatar-4x3"
                 src="bg/logo.png"
                 alt="Image Description">
          </div>
          <div class="flex-grow-1 ms-3">
            <div class="row align-items-center">
              <div class="col-12 col-md-7">
                <h5 class="mb-0">Public website</h5>
                <span
                  class="d-block fs-6 text-body"> {{website}}</span>
              </div>
              <!-- End Col -->

              <div class="col-12 col-md-5 my-3 my-md-0">
                <a class="btn btn-primary btn-sm w-75 w-md-100" title="Launch importer" target="_blank">
                  Launch
                  <i class="bi-box-arrow-up-right ms-1"></i>
                </a>
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
        </div>
      </li>
      <!-- End List Group Item -->

      <!-- List Group Item -->
      <li class="list-group-item">
        <div class="d-flex">
          <div class="flex-shrink-0">
            <img class="avatar avatar-xs avatar-4x3"
                 src="bg/mail.svg" alt="Image Description">
          </div>
          <div class="flex-grow-1 ms-3">
            <div class="row align-items-center">
              <div class="col-12 col-md-7">
                <h5 class="mb-0">SahizGroup E-mail
                </h5>
                <span class="d-block fs-6 text-body">Company email service</span>
              </div>
              <!-- End Col -->

              <div class="col-12 col-md-5 my-3 my-md-0">
                <a class="btn btn-primary btn-sm w-75 w-md-100" title="Launch importer" target="_blank">
                  Launch
                  <i class="bi-box-arrow-up-right ms-1"></i>
                </a>
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="d-flex">
          <div class="flex-shrink-0">
            <img class="avatar avatar-xs avatar-4x3"
                 src="bg/inbox.svg" alt="Image Description">
          </div>
          <div class="flex-grow-1 ms-3">
            <div class="row align-items-center">
              <div class="col-12 col-md-7">
                <h5 class="mb-0">Inbox</h5>
                <span class="d-block fs-6 text-body">Cloud storage service</span>
              </div>
              <!-- End Col -->

              <div class="col-12 col-md-5 my-3 my-md-">
                <a class="btn btn-primary btn-sm w-75 w-md-100" title="Launch importer" target="_blank">
                  Launch
                  <i class="bi-box-arrow-up-right ms-1"></i>
                </a>
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
        </div>
      </li>

    </ul>
  </div>
  <!-- End Body -->
</div>
