<div class="row row-cols-2 gx-3">
  <div class="col mb-3">
    <!-- Card -->
    <div class="card card-sm card-bordered shadow-none h-100">
      <div class="">
        <h6 class="card-title">About a </h6>
      </div>

      <div class="card-footer pt-0">
        <span class="card-subtitle">43%</span>

        <div class="progress" style="height: 8px;">
          <div class="progress-bar bg-success" role="progressbar" style="width: 43%" aria-valuenow="43"
               aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <!-- End Card -->
  </div>
  <!-- End Col -->

  <div class="col mb-3">
    <!-- Card -->
    <div class="card card-sm card-bordered shadow-none h-100">
      <div class="">
        <h6 class="card-title">About a week</h6>
      </div>

      <div class="card-footer pt-0">
        <span class="card-subtitle">28%</span>

        <div class="progress" style="height: 8px;">
          <div class="progress-bar bg-success" role="progressbar" style="width: 28%" aria-valuenow="28"
               aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <!-- End Card -->
  </div>
  <!-- End Col -->


  <!-- End Col -->
</div>
