<!-- Modal Overlay -->
<div *ngIf="isModalOpen" class="modal-overlay">
  <div class="modal-content">
    <div class="card" style="max-height: 400px; overflow-y: auto;">
      <!-- Header -->
      <div class="card-header card-header-content-between border-bottom">
        <div class="row gx-1">
          <div class="col-auto">
            <button class="btn btn-primary" (click)="downloadData()">Download <i class="bi-file-earmark-arrow-down me-1"></i></button>
          </div>
          <div class="col-auto">
            <button class="btn btn-danger" (click)="closeModal()">Close</button>
          </div>
        </div>


      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="">
        <h2 class="card-header-title p-3">{{ selectedFirebase.name }}</h2>


        <pre *ngIf="selectedFirebase.data.includes('{')" class="json-container">
          <code [innerHTML]="syntaxHighlight(selectedFirebase.data)"></code>
        </pre>
      </div>
      <!-- End Body -->
    </div>

    <!-- Display Data as Plain Text (If not JSON) -->
    <p class="modal-head" *ngIf="!selectedFirebase.data.includes('{')">
      {{ selectedFirebase.data }}
    </p>
  </div>
</div>

<!-- Product Section (Hidden when Modal is Open) -->
<section *ngIf="!isModalOpen" class="container position-relative z-3 my-5">
  <div class="row">
    <div class="col-3 col-md-2 mb-3" *ngFor="let product of configu; let i = index">
      <a (click)="openModal(i)" class=" text-center">
        <div class="d-flex justify-content-center align-items-center">
          <img [src]="product.image" class="imgSize rounded-2 cursor-pointer" [alt]="product.name">

        </div>
        <p style="font-size: 12px">{{ product.name | truncateText:10 }}</p>
      </a>

    </div>
  </div>
</section>
