<!-- Modal Overlay -->
<div *ngIf="isModalOpen" class="modal-overlay">
  <div class="modal-content">
    <div class="card">
      <!-- Header -->
      <div class="card-header card-header-content-between border-bottom">

        <h4 class="card-header-title">{{ selectedFirebase.name }}</h4>
        <a class="btn btn-ghost-secondary btn-sm" href="#">
          <i class="bi-file-earmark-arrow-down me-1"></i> Download .CSV
        </a>
        <span class="close" (click)="closeModal()">&times;</span>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="">
<pre *ngIf="selectedFirebase.data.includes('{')" class="json-container">
      <code [innerHTML]="syntaxHighlight(selectedFirebase.data)"></code>
    </pre>
      </div>
      <!-- End Body -->




    </div>




    <!-- Display Data as Plain Text (If not JSON) -->
    <p class="modal-head" *ngIf="!selectedFirebase.data.includes('{')">
      {{ selectedFirebase.data }}
    </p>


    <!-- Display JSON Data with Syntax Highlighting -->

  </div>
</div>

<!-- Product Section -->
<section class="container position-relative z-3 my-5">
  <div class="row">
    <div class="col-md-3 mb-3" *ngFor="let product of products; let i = index">
      <a (click)="openModal(i)" class="card card-hover zoom-effect border-0 rounded-5 overflow-hidden">

  <img [src]="product.image" class="img-fluid imgSize" [alt]="product.name">

<h6 class="text-center">{{product.name}}</h6>


      </a>
    </div>
  </div>
</section>
