<div class="card">
  <div class="card-body">
    <ul class="list-checked list-checked-lg list-checked-bg-primary">
      <li class="list-checked-item">Provide top-notch facilities and training programs that equip graduates with
        practical skills and expertise in fisheries and aquaculture management.
      </li>
      <li class="list-checked-item">Develop academic programs leading to diplomas and certifications, emphasizing
        sustainable practices and innovative technologies in fisheries.
      </li>
      <li class="list-checked-item">Advance research focused on sustainable fisheries practices and environmental
        challenges, benefiting the socio-economic growth of Kano State.
      </li>
      <li class="list-checked-item">Promote continuous learning and scholarship, ensuring our graduates contribute
        effectively to the fisheries sector's development.
      </li>
      <li class="list-checked-item">Foster collaborations with industries and communities to enhance fisheries and
        aquaculture sectors in Kano State, addressing local environmental and economic needs.
      </li>
      <li class="list-checked-item">Support initiatives for the conservation of aquatic ecosystems and food security
        while upholding the highest educational standards in fisheries studies.
      </li>
    </ul>
  </div>
</div>
