<div class="card">
  <div class="card-body">
  <div class="row col-lg-divider">
    <div class="col-lg-6">
      <!-- Body -->
      <app-income-transactions></app-income-transactions>
      <!-- End Body -->
    </div>
    <!-- End Col -->

    <div class="col-lg-6">
      <!-- Body -->
      <app-expenses-transactions></app-expenses-transactions>
      <!-- End Body -->
    </div>

  </div>
  <!-- End Row -->

  <hr>

  <div class="row col-lg-divider">
    <div class="col-lg-6">
      <!-- Body -->
      <app-net-balance></app-net-balance>
      <!-- End Body -->
    </div>
    <!-- End Col -->

    <div class="col-lg-6">
      <!-- Body -->
      <app-profit-margin></app-profit-margin>
      <!-- End Body -->
    </div>
    <!-- End Col -->
  </div>
  </div>
</div>
