<div class="card">
  <div class="row col-lg-divider">
    <div class="col-lg-6">
      <!-- Body -->
      <div class="card-body">
        <h4>Profit Margin <i class="bi-question-circle text-body ms-1" data-bs-toggle="tooltip" data-bs-placement="top"
                             aria-label="Net sales (gross sales minus discounts and returns) plus taxes and shipping. Includes orders from all sales channels."
                             data-bs-original-title="Net sales (gross sales minus discounts and returns) plus taxes and shipping. Includes orders from all sales channels."></i>
        </h4>

        <div class="row align-items-sm-center mt-4 mt-sm-0 mb-5">
          <div class="col-sm mb-3 mb-sm-0">
            <h2 class=" text-dark me-2">$597,820.75</h2>
          </div>
          <!-- End Col -->


          <!-- End Col -->
        </div>
        <!-- End Row -->

        <!-- Bar Chart -->
        <div class="chartjs-custom mb-4" style="height: 18rem;">
          <canvas id="ecommerce-overview-1" class="js-chart" data-hs-chartjs-options="{
                          &quot;type&quot;: &quot;line&quot;,
                          &quot;data&quot;: {
                             &quot;labels&quot;: [&quot;1AM&quot;,&quot;2AM&quot;,&quot;3AM&quot;,&quot;4AM&quot;,&quot;5AM&quot;,&quot;6AM&quot;,&quot;7AM&quot;,&quot;8AM&quot;,&quot;9AM&quot;,&quot;10AM&quot;],
                             &quot;datasets&quot;: [{
                              &quot;data&quot;: [200, 200, 240, 350, 200, 350, 200, 250, 285, 220],
                              &quot;backgroundColor&quot;: &quot;transparent&quot;,
                              &quot;borderColor&quot;: &quot;#377dff&quot;,
                              &quot;borderWidth&quot;: 2,
                              &quot;pointRadius&quot;: 0,
                              &quot;hoverBorderColor&quot;: &quot;#377dff&quot;,
                              &quot;pointBackgroundColor&quot;: &quot;#377dff&quot;,
                              &quot;pointBorderColor&quot;: &quot;#fff&quot;,
                              &quot;pointHoverRadius&quot;: 0,
                              &quot;tension&quot;: 0.4
                            },
                            {
                              &quot;data&quot;: [150, 230, 382, 204, 269, 290, 200, 250, 200, 225],
                              &quot;backgroundColor&quot;: &quot;transparent&quot;,
                              &quot;borderColor&quot;: &quot;#e7eaf3&quot;,
                              &quot;borderWidth&quot;: 2,
                              &quot;pointRadius&quot;: 0,
                              &quot;hoverBorderColor&quot;: &quot;#e7eaf3&quot;,
                              &quot;pointBackgroundColor&quot;: &quot;#e7eaf3&quot;,
                              &quot;pointBorderColor&quot;: &quot;#fff&quot;,
                              &quot;pointHoverRadius&quot;: 0,
                              &quot;tension&quot;: 0.4
                            }]
                          },
                          &quot;options&quot;: {
                             &quot;scales&quot;: {
                                &quot;y&quot;: {
                                  &quot;grid&quot;: {
                                    &quot;color&quot;: &quot;#e7eaf3&quot;,
                                    &quot;drawBorder&quot;: false,
                                    &quot;zeroLineColor&quot;: &quot;#e7eaf3&quot;
                                  },
                                  &quot;ticks&quot;: {
                                    &quot;beginAtZero&quot;: true,
                                    &quot;stepSize&quot;: 100,
                                    &quot;color&quot;: &quot;#97a4af&quot;,
                                    &quot;font&quot;: {
                                      &quot;size&quot;: 12,
                                      &quot;family&quot;: &quot;Open Sans, sans-serif&quot;
                                    },
                                    &quot;padding&quot;: 10,
                                    &quot;prefix&quot;: &quot;$&quot;,
                                    &quot;postfix&quot;: &quot;k&quot;
                                  }
                                },
                                &quot;x&quot;: {
                                  &quot;grid&quot;: {
                                    &quot;display&quot;: false,
                                    &quot;drawBorder&quot;: false
                                  },
                                  &quot;ticks&quot;: {
                                    &quot;color&quot;: &quot;#97a4af&quot;,
                                    &quot;font&quot;: {
                                      &quot;size&quot;: 12,
                                      &quot;family&quot;: &quot;Open Sans, sans-serif&quot;
                                    },
                                    &quot;padding&quot;: 5
                                  }
                                }
                            },
                            &quot;plugins&quot;: {
                              &quot;tooltip&quot;: {
                                &quot;prefix&quot;: &quot;$&quot;,
                                &quot;postfix&quot;: &quot;k&quot;,
                                &quot;hasIndicator&quot;: true,
                                &quot;mode&quot;: &quot;index&quot;,
                                &quot;intersect&quot;: false,
                                &quot;lineMode&quot;: true,
                                &quot;lineWithLineColor&quot;: &quot;rgba(19, 33, 68, 0.075)&quot;
                              }
                            },
                            &quot;hover&quot;: {
                              &quot;mode&quot;: &quot;nearest&quot;,
                              &quot;intersect&quot;: true
                            }
                          }
                        }" width="635" height="432"
                  style="display: block; box-sizing: border-box; height: 288px; width: 423.333px;">
          </canvas>
        </div>
        <!-- End Bar Chart -->

        <!-- Legend Indicators -->
        <div class="row justify-content-center">
          <div class="col-auto">
            <span class="legend-indicator"></span> Yesterday
          </div>
          <!-- End Col -->

          <div class="col-auto">
            <span class="legend-indicator bg-primary"></span> Today
          </div>
          <!-- End Col -->
        </div>
        <!-- End Legend Indicators -->
      </div>
      <!-- End Body -->
    </div>
    <!-- End Col -->

    <div class="col-lg-6">
      <!-- Body -->
      <div class="card-body">
        <h4>Monthly Average Income</h4>

        <div class="row align-items-sm-center mt-4 mt-sm-0 mb-5">
          <div class="col-sm mb-3 mb-sm-0">
            <h2 class=" text-dark me-2">831,071</h2>
          </div>

        </div>
        <!-- End Row -->

        <!-- Bar Chart -->
        <div class="chartjs-custom mb-4" style="height: 18rem;">
          <canvas id="ecommerce-overview-2" class="js-chart" data-hs-chartjs-options="{
                          &quot;type&quot;: &quot;line&quot;,
                          &quot;data&quot;: {
                             &quot;labels&quot;: [&quot;1AM&quot;,&quot;2AM&quot;,&quot;3AM&quot;,&quot;4AM&quot;,&quot;5AM&quot;,&quot;6AM&quot;,&quot;7AM&quot;,&quot;8AM&quot;,&quot;9AM&quot;,&quot;10AM&quot;],
                             &quot;datasets&quot;: [{
                              &quot;data&quot;: [20, 20, 24, 15, 30, 35, 20, 28, 18, 16],
                              &quot;backgroundColor&quot;: &quot;transparent&quot;,
                              &quot;borderColor&quot;: &quot;#377dff&quot;,
                              &quot;borderWidth&quot;: 2,
                              &quot;pointRadius&quot;: 0,
                              &quot;hoverBorderColor&quot;: &quot;#377dff&quot;,
                              &quot;pointBackgroundColor&quot;: &quot;#377dff&quot;,
                              &quot;pointBorderColor&quot;: &quot;#fff&quot;,
                              &quot;pointHoverRadius&quot;: 0,
                              &quot;tension&quot;: 0.4
                            },
                            {
                              &quot;data&quot;: [15, 23, 18, 20, 36, 29, 20, 22, 20, 22],
                              &quot;backgroundColor&quot;: &quot;transparent&quot;,
                              &quot;borderColor&quot;: &quot;#e7eaf3&quot;,
                              &quot;borderWidth&quot;: 2,
                              &quot;pointRadius&quot;: 0,
                              &quot;hoverBorderColor&quot;: &quot;#e7eaf3&quot;,
                              &quot;pointBackgroundColor&quot;: &quot;#e7eaf3&quot;,
                              &quot;pointBorderColor&quot;: &quot;#fff&quot;,
                              &quot;pointHoverRadius&quot;: 0,
                              &quot;tension&quot;: 0.4
                            }]
                          },
                          &quot;options&quot;: {
                             &quot;scales&quot;: {
                                &quot;y&quot;: {
                                  &quot;grid&quot;: {
                                    &quot;color&quot;: &quot;#e7eaf3&quot;,
                                    &quot;drawBorder&quot;: false,
                                    &quot;zeroLineColor&quot;: &quot;#e7eaf3&quot;
                                  },
                                  &quot;ticks&quot;: {
                                    &quot;beginAtZero&quot;: true,
                                    &quot;stepSize&quot;: 10,
                                    &quot;color&quot;: &quot;#97a4af&quot;,
                                    &quot;font&quot;: {
                                      &quot;size&quot;: 12,
                                      &quot;family&quot;: &quot;Open Sans, sans-serif&quot;
                                    },
                                    &quot;padding&quot;: 10,
                                    &quot;postfix&quot;: &quot;k&quot;
                                  }
                                },
                                &quot;x&quot;: {
                                  &quot;grid&quot;: {
                                    &quot;display&quot;: false,
                                    &quot;drawBorder&quot;: false
                                  },
                                  &quot;ticks&quot;: {
                                    &quot;color&quot;: &quot;#97a4af&quot;,
                                    &quot;font&quot;: {
                                      &quot;size&quot;: 12,
                                      &quot;family&quot;: &quot;Open Sans, sans-serif&quot;
                                    },
                                    &quot;padding&quot;: 5
                                  }
                                }
                            },
                            &quot;plugins&quot;: {
                              &quot;tooltip&quot;: {
                                &quot;postfix&quot;: &quot;k&quot;,
                                &quot;hasIndicator&quot;: true,
                                &quot;mode&quot;: &quot;index&quot;,
                                &quot;intersect&quot;: false,
                                &quot;lineMode&quot;: true,
                                &quot;lineWithLineColor&quot;: &quot;rgba(19, 33, 68, 0.075)&quot;
                              }
                            },
                            &quot;hover&quot;: {
                              &quot;mode&quot;: &quot;nearest&quot;,
                              &quot;intersect&quot;: true
                            }
                          }
                        }" width="635" height="432"
                  style="display: block; box-sizing: border-box; height: 288px; width: 423.333px;">
          </canvas>
        </div>
        <!-- End Bar Chart -->

        <!-- Legend Indicators -->
        <div class="row justify-content-center">
          <div class="col-auto">
            <span class="legend-indicator"></span> Yesterday
          </div>
          <!-- End Col -->

          <div class="col-auto">
            <span class="legend-indicator bg-primary"></span> Today
          </div>
          <!-- End Col -->
        </div>
        <!-- End Legend Indicators -->
      </div>
      <!-- End Body -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->

  <hr>

  <div class="row col-lg-divider">
    <div class="col-lg-6">
      <!-- Body -->
      <div class="card-body">
        <h4>Total Amounts</h4>

        <div class="row align-items-sm-center mt-4 mt-sm-0 mb-5">
          <div class="col-sm mb-3 mb-sm-0">
            <h2 class=" text-dark me-2">1,348,935</h2>
          </div>
          <!-- End Col -->

          <div class="col-sm-auto">
                  <span class="h3 text-success">
                    <i class="bi-graph-up"></i> 4.7%
                  </span>
            <span class="d-block">— orders over time <span class="badge bg-soft-dark text-dark rounded-pill ms-1">+5k today</span></span>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->

        <!-- Bar Chart -->
        <div class="chartjs-custom mb-4" style="height: 18rem;">
          <canvas id="ecommerce-overview-3" class="js-chart" data-hs-chartjs-options="{
                          &quot;type&quot;: &quot;line&quot;,
                          &quot;data&quot;: {
                             &quot;labels&quot;: [&quot;1AM&quot;,&quot;2AM&quot;,&quot;3AM&quot;,&quot;4AM&quot;,&quot;5AM&quot;,&quot;6AM&quot;,&quot;7AM&quot;,&quot;8AM&quot;,&quot;9AM&quot;,&quot;10AM&quot;],
                             &quot;datasets&quot;: [{
                              &quot;data&quot;: [15, 26, 29, 20, 23, 38, 20, 30, 20, 22],
                              &quot;backgroundColor&quot;: &quot;transparent&quot;,
                              &quot;borderColor&quot;: &quot;#377dff&quot;,
                              &quot;borderWidth&quot;: 2,
                              &quot;pointRadius&quot;: 0,
                              &quot;hoverBorderColor&quot;: &quot;#377dff&quot;,
                              &quot;pointBackgroundColor&quot;: &quot;#377dff&quot;,
                              &quot;pointBorderColor&quot;: &quot;#fff&quot;,
                              &quot;pointHoverRadius&quot;: 0,
                              &quot;tension&quot;: 0.4
                            },
                            {
                              &quot;data&quot;: [20, 20, 15, 18, 20, 24, 35, 20, 35, 22],
                              &quot;backgroundColor&quot;: &quot;transparent&quot;,
                              &quot;borderColor&quot;: &quot;#e7eaf3&quot;,
                              &quot;borderWidth&quot;: 2,
                              &quot;pointRadius&quot;: 0,
                              &quot;hoverBorderColor&quot;: &quot;#e7eaf3&quot;,
                              &quot;pointBackgroundColor&quot;: &quot;#e7eaf3&quot;,
                              &quot;pointBorderColor&quot;: &quot;#fff&quot;,
                              &quot;pointHoverRadius&quot;: 0,
                              &quot;tension&quot;: 0.4
                            }]
                          },
                          &quot;options&quot;: {
                             &quot;scales&quot;: {
                                &quot;y&quot;: {
                                  &quot;grid&quot;: {
                                    &quot;color&quot;: &quot;#e7eaf3&quot;,
                                    &quot;drawBorder&quot;: false,
                                    &quot;zeroLineColor&quot;: &quot;#e7eaf3&quot;
                                  },
                                  &quot;ticks&quot;: {
                                    &quot;beginAtZero&quot;: true,
                                    &quot;stepSize&quot;: 10,
                                    &quot;color&quot;: &quot;#97a4af&quot;,
                                    &quot;font&quot;: {
                                      &quot;size&quot;: 12,
                                      &quot;family&quot;: &quot;Open Sans, sans-serif&quot;
                                    },
                                    &quot;padding&quot;: 10,
                                    &quot;postfix&quot;: &quot;k&quot;
                                  }
                                },
                                &quot;x&quot;: {
                                  &quot;grid&quot;: {
                                    &quot;display&quot;: false,
                                    &quot;drawBorder&quot;: false
                                  },
                                  &quot;ticks&quot;: {
                                    &quot;color&quot;: &quot;#97a4af&quot;,
                                    &quot;font&quot;: {
                                      &quot;size&quot;: 12,
                                      &quot;family&quot;: &quot;Open Sans, sans-serif&quot;
                                    },
                                    &quot;padding&quot;: 5
                                  }
                                }
                            },
                            &quot;plugins&quot;: {
                               &quot;tooltip&quot;: {
                                &quot;postfix&quot;: &quot;k&quot;,
                                &quot;hasIndicator&quot;: true,
                                &quot;mode&quot;: &quot;index&quot;,
                                &quot;intersect&quot;: false,
                                &quot;lineMode&quot;: true,
                                &quot;lineWithLineColor&quot;: &quot;rgba(19, 33, 68, 0.075)&quot;
                              }
                            },
                            &quot;hover&quot;: {
                              &quot;mode&quot;: &quot;nearest&quot;,
                              &quot;intersect&quot;: true
                            }
                          }
                        }" width="635" height="432"
                  style="display: block; box-sizing: border-box; height: 288px; width: 423.333px;">
          </canvas>
        </div>
        <!-- End Bar Chart -->

        <!-- Legend Indicators -->
        <div class="row justify-content-center">
          <div class="col-auto">
            <span class="legend-indicator"></span> Yesterday
          </div>
          <!-- End Col -->

          <div class="col-auto">
            <span class="legend-indicator bg-primary"></span> Today
          </div>
          <!-- End Col -->
        </div>
        <!-- End Legend Indicators -->
      </div>
      <!-- End Body -->
    </div>
    <!-- End Col -->

    <div class="col-lg-6">
      <!-- Body -->
      <div class="card-body">
        <h4>Profit Margin</h4>

        <div class="row align-items-sm-center mt-4 mt-sm-0 mb-5">
          <div class="col-sm mb-3 mb-sm-0">
            <h2 class=" text-dark me-2">52,441</h2>
          </div>
          <!-- End Col -->

          <div class="col-sm-auto">
                  <span class="h3 text-success">
                    <i class="bi-graph-up"></i> 11%
                  </span>
            <span class="d-block">— refunds over time <span class="badge bg-soft-dark text-dark rounded-pill ms-1">+21 today</span></span>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->


        <div class="row justify-content-center">
          <div class="col-auto">
            <span class="legend-indicator"></span> Yesterday
          </div>
          <!-- End Col -->

          <div class="col-auto">
            <span class="legend-indicator bg-primary"></span> Today
          </div>
          <!-- End Col -->
        </div>
        <!-- End Legend Indicators -->
      </div>
      <!-- End Body -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->
</div>
