<main id="content" role="main">
  <!-- Hero -->
  <div class="" style="background-image: url(./assets/svg/components/wave-pattern-light.svg); background-color: maroon">
    <div class="container content-space-2 content-space-lg-3">
      <div class="w-100 mx-lg-auto">
        <span class="badge bg-warning text-dark rounded-pill mb-3">{{news?.category}}</span>
        <h2 class="text-white mb-0">{{news?.title}}</h2>
      </div>
    </div>
  </div>
  <!-- End Hero -->

  <!-- Content -->
  <div class="container content-space-2 content-space-lg-0">
    <div class="row">
      <div class="col-lg-4 mt-lg-n10 mb-7 mb-lg-0">
        <!-- Sticky Block -->
        <div id="stickyBlockStartPoint" style="">
          <div class="js-sticky-block" data-hs-sticky-block-options="{
                   &quot;parentSelector&quot;: &quot;#stickyBlockStartPoint&quot;,
                   &quot;targetSelector&quot;: &quot;#header&quot;,
                   &quot;breakpoint&quot;: &quot;lg&quot;,
                   &quot;startPoint&quot;: &quot;#stickyBlockStartPoint&quot;,
                   &quot;endPoint&quot;: &quot;#stickyBlockEndPoint&quot;,
                   &quot;stickyOffsetTop&quot;: 20
                 }" style="">
            <!-- Card -->
            <div class="card">

              <div class="card-body">



                <!-- End Row -->



                <div class="mb-3">
                  <h4>Previous News</h4>
                </div>
                @for (i of News; track i.title){

                <dl class="row">
                  <dt class="col-sm-4 mb-2 mb-sm-0">
                    <div class="svg-icon text-primary">
                        <img class="card-img" [src]=i.image alt="Image Description" style="height:60px; object-fit:cover;" >



                    </div>
                  </dt>
                  <!-- End Col -->

                  <dd class="col-sm-8">
                    <a class="text-dark" [routerLink]="['/news-details', i.id]">{{i.title|truncateText: 40}}</a>

                     </dd>
                  <!-- End Col -->
                </dl>
                <hr class="my-4">
                <!-- End Row -->
                }

              </div>
              <!-- Pagination -->
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">«</span>
                      <span class="visually-hidden">Previous</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" routerLink="/news-details/ART001">1</a></li>

                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">»</span>
                      <span class="visually-hidden">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
              <!-- End Pagination -->
            </div>
            <!-- End Card -->
          </div>
        </div>
        <!-- Sticky Block -->
      </div>
      <!-- End Col -->

      <div class="col-lg-8 content-space-t-lg-2">

        <div class="row align-items-sm-center mb-5">
          <div class="col-sm-7 mb-4 mb-sm-0">
            <!-- Media -->
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <img class="avatar avatar-circle" src="./logo/logotest.svg" alt="Image Description">
              </div>

              <div class="flex-grow-1 ms-3">
                <h5 class="mb-0">
                  <a class="text-dark" >Admin</a>
                </h5>
                <span class="d-block small">{{news?.date}}</span>
              </div>
            </div>
            <!-- End Media -->
          </div>
          <!-- End Col -->

          <div class="col-sm-5">
            <div class="d-flex justify-content-sm-end align-items-center">
              <span class="text-cap mb-0 me-2">Share:</span>

              <div class="d-flex gap-2">
                <a class="btn btn-soft-secondary btn-sm btn-icon rounded-circle" href="#">
                  <i class="bi-facebook"></i>
                </a>
                <a class="btn btn-soft-secondary btn-sm btn-icon rounded-circle" href="#">
                  <i class="bi-twitter"></i>
                </a>
                <a class="btn btn-soft-secondary btn-sm btn-icon rounded-circle" href="#">
                  <i class="bi-instagram"></i>
                </a>
                <a class="btn btn-soft-secondary btn-sm btn-icon rounded-circle" href="#">
                  <i class="bi-telegram"></i>
                </a>
              </div>
            </div>
          </div>
          <!-- End Col -->
        </div>

        <div class="my-4">
          <div class="col-12">
          <img class="img-fluid rounded-2 imgsrc" [src]="news?.image" alt="Image Description">
          </div>
        </div>

        <div [innerHTML]="news?.description || '' | newlineToHtml"></div>





        <div class="container content-space-b-2">
          <div class="text-center bg-img-start py-6" style="background: url(../assets/svg/components/shape-6.svg) center no-repeat;">


            <div class="mb-5">
              <h2>{{news?.category}}</h2>
              <p class="lead">Stay Updated with the Latest Insights</p>
            </div>

            <a class="btn btn-primary btn-transition" routerLink="/about-us">Explore Instituation</a>
          </div>
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Content -->



</main>

